[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>双日滚动计划信息管理</h1>

	</div>
	<!--/page-header-->

	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div
					class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
					<h4 class="lighter">滚动计划信息列表</h4>
					<div class="widget-toolbar">
						<div class="btn-group">
							<input type="text" id="d4323" onFocus="WdatePicker({startDate:'%y-%M-01',alwaysUseStartDate:true,maxDate:'#F{$dp.$D(\'d4324\',{d:-1});}'})" value="" class="Wdate" style="font-weight: bold;"/> 到  
							<input type="text" id="d4324" onFocus="WdatePicker({startDate:'%y-%M-01',alwaysUseStartDate:true,minDate:'#F{$dp.$D(\'d4323\',{d:1});}'})" value="" class="Wdate" style="font-weight: bold;"/>&nbsp;
							<button class="btn btn-small btn-info"
								onclick="dataTable.refresh();">
								<i class="icon-refresh"></i>刷新
							</button>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<table id="rollingPlanTable"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center"><label> <input type="checkbox"
											onclick="checkAll(this);" /> <span class="lbl"></span></label></th>
									<th>序号</th>
									<th>作业条目编号</th>
									<th>机组号</th>
									<th>子项</th>
									<th>图纸号</th>
									<th>系统号</th>
									<th>房间号</th>
									<th>工程量类别</th>
									<th>工程量名称</th>
									<th>工程量编号</th>
									<th>焊口号</th>
									<th>工程量</th>
									<th>规格</th>
									<th>材质</th>
									<th>核级</th>
									<th>单位</th>
									<th>点值</th>
									<th>质量计划号</th>
									<th>计划施工日期</th>
									<th>施工班组</th>
									<th>状态</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>

						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS HERE -->
	</div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID" : "#rollingPlanTable",
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns" : [ {
				"data" : "id",
				"sortable" : false
			}, {
				"data" : "no",
	    		  "sortable": false
			}, {
				"data" : "weldlistno",
	    		  "sortable": false
			}, {
				"data" : "unitno",
	    		  "sortable": false
			}, {
				"data" : "subItem",
	    		  "sortable": false
			}, {
				"data" : "drawno",
	    		  "sortable": false
			}, {
				"data" : "systemno",
	    		  "sortable": false
			}, {
				"data" : "roomno",
	    		  "sortable": false
			}, {
				"data" : "projectType",
	    		  "sortable": false
			}, {
				"data" : "projectname",
	    		  "sortable": false
			}, {
				"data" : "projectno",
	    		  "sortable": false
			}, {
				"data" : "weldno",
	    		  "sortable": false
			}, {
				"data" : "projectcost",
	    		  "sortable": false
			}, {
				"data" : "specification",
	    		  "sortable": false
			}, {
				"data" : "materialtype",
	    		  "sortable": false
			}, {
				"data" : "corelevel",
	    		  "sortable": false
			}, {
				"data" : "unit",
	    		  "sortable": false
			}, {
				"data" : "spot",
	    		  "sortable": false
			}, {
				"data" : "qualityplanno",
	    		  "sortable": false
			}, {
				"data" : "plandate",
	    		  "sortable": false
			}, {
				"data" : "consteam",
	    		  "sortable": false
			}, {
				"data" : "status",
	    		  "sortable": false
			}, {
				"data" : "remark",
	    		  "sortable": false
			}, {
				"data" : "links",
				"sortable" : false
			} ],
			"url" : "${path}${current_uri}"
		});
		
		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();
		
		searchInput.bind('blur keyword', function() {
			isSearch(function(){
				var searchInput=$(".dataTables_filter :input :first");
				$('#rollingPlanTable').DataTable().search(searchInput.val()).draw();
			});
		});

		searchInput.keypress(function(e) {  
			if (e.which == 13) {
				var searchInput=$(".dataTables_filter :input :first");
				$('#rollingPlanTable').DataTable().search(searchInput.val()).draw();
			}
		});
	})
</script>
