[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>原始双日滚动计划信息管理</h1>

	</div>
	<!--/page-header-->

	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div
					class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
					<h4 class="lighter">原始滚动计划信息列表</h4>
					<div class="widget-toolbar">
						<div class="btn-group">
							[@ec_privilege_check uri="${current_uri}/import"]
							<button class="btn btn-small btn-success"
								onclick="batchConfirm(dataTable.tableID, '${path}${AUTH_MENU.privilege.uri!}', '请选择相应的计划','确定导入这些项？');">
								<i class="icon-arrow-up"></i>${AUTH_MENU.name}
							</button>
							[/@ec_privilege_check]
							<button class="btn btn-small btn-info"
								onclick="dataTable.refresh();">
								<i class="icon-refresh"></i>刷新
							</button>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<table id="rollingPlanOriginalTable"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center"><label> <input type="checkbox"
											onclick="checkAll(this);" /> <span class="lbl"></span></label></th>
									<th>序号</th>
									<th>焊口/支架号</th>
									<th>机组号</th>
									<th>区域号</th>
									<th>图纸号</th>
									<th>焊口控制单号</th>
									<th>RCCM</th>
									<th>专业</th>
									<th>材质类型</th>
									<th>点值</th>
									<th>工程量</th>
									<th>工时</th>
									<th>质量计划号</th>
									<th>计划施工日期</th>
									<th>操作</th>
								</tr>
							</thead>

						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS HERE -->
	</div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID" : "#rollingPlanOriginalTable",

			"searching": false,
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns" : [ {
				"data" : "id",
				"sortable" : false
			}, {
				"data" : "no",
	    		  "sortable": false
			}, {
				"data" : "weldno",
	    		  "sortable": false
			}, {
				"data" : "unitno",
	    		  "sortable": false
			}, {
				"data" : "areano",
	    		  "sortable": false
			}, {
				"data" : "drawno",
	    		  "sortable": false
			}, {
				"data" : "weldlistno",
	    		  "sortable": false
			}, {
				"data" : "rccm",
	    		  "sortable": false
			}, {
				"data" : "speciality",
	    		  "sortable": false
			}, {
				"data" : "materialtype",
	    		  "sortable": false
			}, {
				"data" : "workpoint",
	    		  "sortable": false
			}, {
				"data" : "qualitynum",
	    		  "sortable": false
			}, {
				"data" : "worktime",
	    		  "sortable": false
			}, {
				"data" : "qualityplanno",
	    		  "sortable": false
			}, {
				"data" : "consdate",
	    		  "sortable": false
			}, {
				"data" : "links",
				"sortable" : false
			} ],
			"url" : "${path}${current_uri}"
		});
		
		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();
		
		searchInput.bind('blur', function() {
			var searchInput=$(".dataTables_filter :input :first");
			$('#rollingPlanOriginalTable').DataTable().search(searchInput.val()).draw();
		});

		searchInput.keypress(function(e) {  
			if (e.which == 13) {
				var searchInput=$(".dataTables_filter :input :first");
				$('#rollingPlanOriginalTable').DataTable().search(searchInput.val()).draw();
			}
		});
	})
</script>
