html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video,strong { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; word-spacing: normal; word-break: break-all; word-wrap: inherit; list-style:none;}
body { margin: 0; font-family: '微软雅黑', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 62.5%; line-height: 20px; color: #000; background-color: #FFF; -webkit-user-select: none; -webkit-user-drag: none; -webkit-text-size-adjust: none; background:#ddd;}
div, a { outline: 0 !important; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a { text-decoration: none; color:#fff;}
*{margin:0; padding:0;}
.w_box{ max-width:640px; margin:0 auto;}