/*头部信息*/
header{ overflow: hidden; background: #23282b; padding:1rem; color:#fff; font-size:1rem;}
header span{ float:right; font-size: 1rem;}
header span.icon_4{ float:left; padding-right:.5rem;}
/*底部菜单*/
.footer_nav,.footer_sub { width: 100%; background: #fff; text-align: center; border-top: 1px solid #ccc; position: fixed; left: 0; bottom: 0; z-index:99;}
.footer_sub input{ background:#029d35; line-height:3rem; color:#fff; display:block; width:100%; border:none; outline:none; font-weight:bold;}
.footer_nav ul { display: block; width: 100%; display: -webkit-box; display: box; -webkit-box-orient: horizontal; }
.footer_nav ul li { font-size: 12px; padding-top: 5px; line-height: 20px; margin: 0; border-radius: 0!important; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; box-flex: 1; -webkit-box-sizing: border-box; text-align: center; }
.footer_nav ul li a { color: #9c9c9c; text-decoration: none; display: block; }
.footer_nav ul li i { display: inline-block; width:2rem; height:2rem; vertical-align: top; margin-bottom: 3px; margin-top: 2px; font-size:2rem}
.footer_nav ul li.current div,.footer_nav ul li.current i{ color: #029d35; }
/*首页内容*/
nav{ text-align:center; background:#fff; overflow:hidden;}
nav a{ width:16.5%; display:inline-block; line-height:3rem; color:#333;float: left; font-size:1rem;}
nav a.current{ color:#fff; background:#029d35;}
ul.h_main{ padding:.8rem 0;}
ul.h_main li{ width:50%; text-align:center; float:left; padding:.8rem 0;}
ul.h_main li a{ width:6rem; height:6rem; border-radius:50%; line-height:6rem; color:#fff; position:relative; background:#029c90; display:inline-block; font-size:1rem;}
ul.h_main li a span{ position:absolute; width:1.5rem; height:1.5rem; line-height:1.5rem; border-radius:50%; color:#fff; background:#e40001; top:0; right:.5rem;}
ul.h_main li.bgc_1 a{background:#029d35;}
ul.h_main li.bgc_2 a{background:#0176e7;}
ul.h_main li.bgc_3 a{background:#e66200;}
ul.h_main li.bgc_4 a{background:#e78d01;}
/*分配施工*/
.fpsg ul,.fpsg_list ul,.hkzj_list ul,.wdwt ul,.wdwt_list ul,.sgqr ul,.sgqr_list ul{background:#fff; overflow:hidden; clear:both;}
.fpsg ul li,.fpsg_list ul li,.hkzj_list ul li,.wdwt ul li,.wdwt_list ul li,.sgqr ul li,.sgqr_list ul li{ width:18%; text-align:center; line-height:3rem; float:left; position:relative;}
.fpsg ul li:first-child,.fpsg_list ul li:first-child,.sgqr ul li:first-child,.sgqr_list ul li:first-child{width:40%;}
.fpsg ul li:last-child,.fpsg_list ul li:last-child{width:24%;}
.sgqr ul li:last-child,.sgqr_list ul li:last-child{width:60%;}
.fpsg ul li,.wdwt ul li,.sgqr ul li{ background:#029d35; color:#fff;}
.fpsg_list ul li:after,.hkzj_list ul li:after,.wdwt_list ul li:after,.sgqr_list ul li:after{ border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; width:100%; display:block;height:3rem; content:''; position:absolute; top: -1px;left: -1px; z-index:0;}
/*我的问题*/
.wdwt ul li,.wdwt_list ul li{ width:20%;}
.wdwt ul li.w_30,.wdwt_list ul li.w_30{ width:30%;}
.wdwt ul li.w_40,.wdwt_list ul li.w_40{ width:40%;}
.wdwt ul li.w_50,.wdwt_list ul li.w_50{ width:50%;}
.wdwt_list ul li>input[type="button"]{ position:absolute; top:.7rem; width:5rem;left:50%; margin-left:-2.5rem;}
/*焊口_支架*/
.hkzj ul li,.hkzj_list ul li{ width:60%;}
.hkzj ul li:first-child,.hkzj_list ul li:first-child{width:30%;}
.hkzj ul li:last-child,.hkzj_list ul li:last-child{width:10%;}
.hkzj_list ul li input{ position:relative; top:1rem; color:#029d35; -webkit-appearance:none; background:#029d35; border:none; z-index:9;}
.hkzj_list ul li input:before{ width:.8rem; height:.8rem; display:block; content:'';}
.hkzj_list ul li input:checked:before{ background:#fff; content:"\ea52";}
/*焊口工序情况*/
.gxxx,.hkmx{ background:#fff; margin: .5rem 0 0; line-height:3rem;}
.gxxx ul{counter-reset: li}
.gxxx ul li{ border-bottom:1px solid #ddd; overflow:hidden; position:relative; padding-left:8%;}
.gxxx ul li:before{content: counter(li);counter-increment: li; height:3rem; position:absolute; top:0; left:2%;}
.gxxx ul li h3,.gxxx ul li span{ display:inline-block; width:50%; float:left; height:3rem; overflow:hidden;}
.gxxx ul li span{ text-align:center;}
.gxxx ul li span a{ background:#029d35; display:inline-block; padding:0 .5rem; line-height:1.2rem; margin-top:1rem;}
.gxxx ul li span a:last-child{ margin-left:1rem;}
/*焊口明细*/
.hkmx ul li{ border-bottom:1px solid #ddd; overflow:hidden; padding:0 .5rem;}
.hkmx ul li span{ float:left; display:inline-block; line-height:3rem; min-height:3rem; width:40%; font-weight:bold;}
.hkmx ul li span:last-child{ width:60%;}
.hkmx>a{ color:#000; display:block; line-height:3rem;}
textarea,input{ border:1px solid #ddd;}
.hkmx ul li input.zpg,.hkmx ul li span>input,.hkmx ul li span textarea{ width:6rem; height:1.6rem; line-height:1.6rem;}
.hkmx ul li span>input,.hkmx ul li span textarea{ width:12rem; margin-top:.7rem;}
.hkmx ul li input.w_8{width:8rem;}
.hkmx ul li span textarea{height:8rem; margin:.7rem 0;}
.hkmx ul li span b{ position:relative; display:block; height:2rem; line-height:2rem; padding-left:6rem; margin:.5rem 0;}
.hkmx ul li input.file,.hkmx ul li span b:before{width:5rem; line-height:1.6rem; height:1.6rem; display:block; top:.2rem; left:0;}
.hkmx ul li input.file{ opacity:0; position:absolute;}
.hkmx ul li span b:before{ color:#fff; content:'选择文件'; background:#029d35; position:absolute; text-align:center;}
.hkmx ul li span>div{ margin:.5rem 0;}
.hkmx ul li span>div>a{ display:inline-block; line-height:1.6rem; width:4rem; background:#F33; color:#fff; text-align:center; margin-left:.5rem;}
.hkmx ul li span>div input[type="button"],.wdwt_list ul li>input[type="button"]{ background:#029d35; color:#fff; border:none; outline:none; padding:.2rem;}
.content{padding:.5rem;}
.content>*{ width:100%;}
/*施工确认*/
.sgqr_nav{ margin:.5rem 0;}
.sgqr_nav a{ line-height:3rem; width:50%; float:left; background:#fff; text-align:center;}
/*公共样式*/
.m0 { margin: 0; }
.mt52 { margin-bottom: 60px; overflow:hidden;}
.mt15 { margin-top: 15px; }
.p10 { padding: 10px; }
.b1_b{border-bottom: 1px solid #d9d9d9;}
.f_s1 { font-size: 1rem; }
.t_i2 { text-indent: 2rem; }
.b_b{background: #0D0D37;}
.u_lbt li, .zw_menu { border-bottom: 1px solid #e5e5e5; }
.clear { clear: both; }
select {width: 70%;height: 1.6rem;position: relative;top: .7rem;}