@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?wflitf');
	src:url('../fonts/icomoon.eot?#iefixwflitf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?wflitf') format('woff'),
		url('../fonts/icomoon.ttf?wflitf') format('truetype'),
		url('../fonts/icomoon.svg?wflitf#dudufont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_3:before {
	content: "\e922";
}
.icon_1:before {
	content: "\e926";
}
.icon_2:before {
	content: "\e9d9";
}
.icon_5:before {
	content: "\ea0a";
}
.icon_4:before {
	content: "\ea40";
}
.icon_6:before {
	content: "\ea52";
}
