[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>流程文件管理</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">流程文件列表</h4>
                    <div class="widget-toolbar">
                        [@ec_privilege_check uri="${current_uri}/upload"]
                            <button class="btn btn-small btn-success" onclick="appendFile('${path}${AUTH_MENU.privilege.uri!}');" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="flowzipTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onchange="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>序号</th>
                                    <th>流程文件名</th>
                                    <th class="hidden-phone">上传时间</th>
                                    <th class="hidden-phone">文件版本</th>
                                    <th class="hidden-phone">状态</th>
                                    <th class="hidden-phone">发布ID</th>
                                    <th class="hidden-phone">发布名称</th>
                                    <th class="hidden-phone">发布时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID":"#flowzipTable",
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"filename",
			    		  "sortable": false
			            },
			            {
			    		  "data":"uploadDate"
			            },
			            {
			    		  "data":"version"
			            },
			            {
			    		  "data":"status"
			            },
			            {
			    		  "data":"deploymentId"
			            },
			            {
			    		  "data":"deploymentName"
			            },
			            {
			    		  "data":"deploymentDate"
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>



<div class="easyui-layout" data-options="fit:true"
	style="width: 600px; height: 750px;">
	<div data-options="region:'center',border:false,split:true">
		<div class="EC-right-content">
<h2 class="EC-title-1">当前位置:<i class="icon-user EC-icon-layout"></i>[@EC.location /]</h2>
			<div id="rdFlowzipToolBar" class="datagrid-toolbar"
				style="padding: 5px;">
				<table cellspacing="0" cellpadding="0">
					<tr>
						[@ec_privilege_check uri="/rd/flowzip/upload"]
						<td><a href="javascript:void(0);"
							onclick="openDialog('${path!}/rd/flowzip/upload','上传','icon-add');"
							class="easyui-linkbutton"
							data-options="iconCls:'icon-add',plain:true">上传</a></td>
						<td><div class="datagrid-btn-separator"></div></td>
						[/@ec_privilege_check] [@ec_privilege_check
						uri="/rd/flowzip/delete"]
						<td><a href="javascript:void(0);"
							onclick="delDialog('#rdFlowzipTable','${path!}/rd/flowzip/delete');"
							class="easyui-linkbutton"
							data-options="iconCls:'icon-remove',plain:true">删除</a></td>
						<td><div class="datagrid-btn-separator"></div></td>
						[/@ec_privilege_check]
						<td><a href="javascript:void(0);"
							onclick="refreshData('#rdFlowzipTable','${path}/rd/flowzip');"
							class="easyui-linkbutton"
							data-options="iconCls:'icon-reload',plain:true">刷新</a></td>
					</tr>
				</table>
			</div>
			<script type="text/javascript">
				function callbackDeploy(data) {
					if (data == "true") {
						$.messager.alert("成功", "发布成功", "info");
					} else {
						$.messager.alert("失败", "发布失败", "error");
					}
				}
				function rowformater(value, row, index) {
					var opt = "";
					if (row.action == 0) {
						opt += "<a href=\"javascript:void(0);\" class=\"EC-btn-add\" onclick=\"optDialog({selector:'#rdFlowzipTable',title:'发布流程',content:'您确定要发布该流程?',url:'${path!}/rd/flowzip/deploy?id="+row.id+"',callback:callbackDeploy});\">发布</a>";
					}
					return opt;
				}
			</script>
			<table id="rdFlowzipTable" title="流程压缩包列表" class="easyui-datagrid"
				data-options="
		        	singleSelect:false
		        	,method:'post'
			        ,url:'${path}/rd/flowzip'
			        ,iconCls:'icon-log'
			        ,fitColumns:true
			        ,pagination:false
			        ,pageSize:20
			        ,toolbar:'#rdFlowzipToolBar'
			        ,onLoadSuccess:function(data){
			        	if(data.total == 0){
			        		$('#rdFlowzipTable').datagrid('appendRow',{
			        			id: '没有记录'
			        		});
			        		$('#rdFlowzipTable').datagrid('mergeCells',{
			        			index: 0,
			        			field: 'id',
			        			colspan:10
			        		});
			        	}
			        },onLoadError:function(){
			        	$.messager.alert('载入数据错误!','error');
			        }">
				<thead>
					<tr>
						<th data-options="field:'aid',checkbox:true">ID</th>
						<th data-options="field:'id',width:100,align:'center',sortable:true,styler:tdPadding">序号</th>
						<th data-options="field:'filename',width:100,align:'center',sortable:true">文件名</th>
						<th data-options="field:'path',width:100,align:'center',sortable:true">相对路径</th>
						<th data-options="field:'uploadDate',width:100,align:'center',sortable:true">上传时间</th>
						<th data-options="field:'version',width:100,align:'center',sortable:true">文件版本</th>
						<th data-options="field:'status',width:100,align:'center',sortable:true">状态</th>
						<th data-options="field:'deploymentId',width:100,align:'center',sortable:true">发布ID</th>
						<th data-options="field:'deploymentName',width:100,align:'center',sortable:true">发布名称</th>
						<th data-options="field:'deploymentDate',width:100,align:'center',sortable:true">发布时间</th>
						<th data-options="field:'action',width:100,align:'center',formatter:rowformater">操作</th>
					</tr>
				</thead>

			</table>
		</div>
	</div>
</div>