[@ec_rollingPlan_original drawno="${form.drawno!}" weldno="${form.weldno!}";rp]
{
"data":[
[#if rp??]
[#if rp.workSteps?? && (rp.workSteps?size > 0)]
[#list rp.workSteps as ws]
    {
    "id":"<label><input type='checkbox' name='ids' value='${ws.id!}'/><span class='lbl'></span></label>"
    ,"stepno":"${ws.stepno!}"
    ,"no":"${ws_index+1!}"
    ,"stepname":"${ws.stepname!}"
    ,"operator":"${ws.operator!}"
    ,"operatedate":"${ws.operatedate!}"
    ,"noticeaqc1":"${ws.noticeaqc1!}"
    ,"witnesseraqc1":"${ws.witnesseraqc1!}"
    ,"witnessdateaqc1":"${ws.witnessdateaqc1!}"
    ,"noticeaqc2":"${ws.noticeaqc2!}"
    ,"witnesseraqc2":"${ws.witnesseraqc2!}"
    ,"witnessdateaqc2":"${ws.witnessdateaqc2!}"
    ,"noticeaqa":"${ws.noticeaqa!}"
    ,"witnesseraqa":"${ws.witnesseraqa!}"
    ,"witnessdateaqa":"${ws.witnessdateaqa!}"
    ,"noticeb":"${ws.noticeb!}"
    ,"witnesserb":"${ws.witnesserb!}"
    ,"witnessdateb":"${ws.witnessdateb!}"
    ,"noticec":"${ws.noticec!}"
    ,"witnesserc":"${ws.witnesserc!}"
    ,"witnessdatec":"${ws.witnessdatec!}"
    ,"noticed":"${ws.noticed!}"
    ,"witnesserd":"${ws.witnesserd!}"
    ,"witnessdated":"${ws.witnessdated!}"
    ,"links":[
    	{}
    	]
    }
    [#if ws_index != (rp.workSteps?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
[/#if]
]}
[/@ec_rollingPlan_original]