[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>滚动计划表名词设置 <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
    <span>在解析上传的Excel文件这个操作中，指定‘Excel滚动计划标签名’和‘Excel工序步骤标签名’用于确定解析过程中所需要找的Sheet名称。</span>
    <br clear="all"/>
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/planningtable" method="post" id="planningtableForm">
            <div class="control-group">
                <label class="control-label" for="rollingPlan">Excel滚动计划标签名:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="rollingPlan" name="rollingPlan" value="${planningtableMap.rollingPlan!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="workStep">Excel工序步骤标签名:</label>
                <div class="controls">
                    <input type="text" id="workStep" placeholder="" name="workStep" value="${planningtableMap.workStep!}">
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#planningtableForm",
			rules : {
				rollingPlan : {
        			required : true,
        			maxlength:20
        		},
        		workStep : {
        			required : true,
        			maxlength:20
        		}
        	}
		})
    }); 
</script>
