[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>见证人名词设置 <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
    <span>在分派见证人这个操作中，指定以下值用于找到见证组长的列表和各级见证人列表。-- 与职务管理中的职务对应</span>
    <br clear="all"/>
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/witnesstype" method="post" id="witnesstypeForm">
            <div class="control-group">
                <label class="control-label" for="witnessDepartment">见证部门标签名:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="witnessDepartment" name="witnessDepartment" value="${witnesstypeMap.witnessDepartment!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="witnessTeam">见证组组长标签名:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="witnessTeam" name="witnessTeam" value="${witnesstypeMap.witnessTeam!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="W">W级见证人标签名:</label>
                <div class="controls">
                    <input type="text" id="W" placeholder="" name="W" value="${witnesstypeMap.W!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="H">H级见证人标签名:</label>
                <div class="controls">
                    <input type="text" id="H" placeholder="" name="H" value="${witnesstypeMap.H!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="R">R级见证人标签名:</label>
                <div class="controls">
                    <input type="text" id="R" placeholder="" name="R" value="${witnesstypeMap.R!}">
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$.validator.addMethod("notEqual",function(value, element, param) {               
    var target = $(param).unbind(".validate-equalTo").bind("blur.validate-equalTo", function() {$(element).valid();});
    var targetValue = target.val();
    return !(value == targetValue);
},"输入内容不能相同"); 
</script>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#witnesstypeForm",
			rules : {
				witnessDepartment : {
        			required : true,
        			maxlength:20,
        		},
				witnessTeam : {
        			required : true,
        			maxlength:20,
        			notEqual:"#W"
        		},
				W : {
        			required : true,
        			maxlength:20,
        			notEqual:"#H"
        		},
				H : {
        			required : true,
        			maxlength:20,
        			notEqual:"#R"
        		},
        		R : {
        			required : true,
        			maxlength:20,
        			notEqual:"#witnessTeam"
        		}
        	}
		})
    }); 
</script>
