[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>焊口/支架名词设置 <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
    <span>在滚动计划中用于标记哪个是焊口，哪个是支架，哪一个工序是焊工完成的工序。</span>
    <br clear="all"/>
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/welddistinguish" method="post" id="welddistinguishForm">
            <div class="control-group">
                <label class="control-label" for="weldHK">焊口标签名:</label>
                <div class="controls">
                    <input type="text" id="weldHK" placeholder="" name="weldHK" value="${welddistinguishMap.weldHK!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="weldZJ">支架标签名:</label>
                <div class="controls">
                    <input type="text" id="weldZJ" placeholder="" name="weldZJ" value="${welddistinguishMap.weldZJ!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="welder">焊工工序标签名:</label>
                <div class="controls">
                    <input type="text" id="welder" placeholder="" name="welder" value="${welddistinguishMap.welder!}">
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#welddistinguishForm",
			rules : {
				weldHK : {
        			required : true,
        			maxlength:20
        		},
        		weldZJ : {
        			required : true,
        			maxlength:20
        		},
        		welder : {
        			required : true,
        			maxlength:20
        		}
        	}
		})
    }); 
</script>
