[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>施工部门名词设置 <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
    <span>在分派到班组这个操作中，指定‘施工部门标签名’用于找到所有班组信息。</span>
    <br clear="all"/>
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/assigntype" method="post" id="assigntypeForm">
            <div class="control-group">
                <label class="control-label" for="consteam">施工部门标签名:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="consteam" name="consteam" value="${assigntypeMap.consteam!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="team">班长标签名:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="team" name="team" value="${assigntypeMap.team!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="endman">组长标签名:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="endman" name="endman" value="${assigntypeMap.endman!}">
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#assigntypeForm",
			rules : {
				consteam : {
        			required : true,
        			maxlength:20
        		}
				, team : {
        			required : true,
        			maxlength:20
        		}
				, endman : {
        			required : true,
        			maxlength:20
        		}
        	}
		})
    }); 
</script>
