[@EC.breadcrumbs/]


<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>${(setEntrySelf.setvalue)!} (说明：这里的设置项涉及APP的功能使用，请确认清楚再操作。)<small>请先选择一类设置项</small></h1>
    </div>
        <div style="float:left;width:14%;height:450px;">
    
        [#if varlist?? && (varlist?size > 0)]
		[#list varlist as u]
            <div class="control-group">
            	<a href="javascript:void(0)" onclick="setDinamicDiv('${(u.setkey)!}');" >
            	${(u.setvalue)!}
            	</a>
            </div>
		[/#list]
		[/#if]
    </div>
    
    <div class="row-fluid" style="float:left;width:70%;height:450px;">
    <span></span>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/variableSet" method="post" id="variableSetForm" style="border:1px solid #000;">
        <input type="hidden" id="typeupdate" name="type" value="">
        <div id="varsetdiv">
        
        [#if varlist?? && (varlist?size > 0)]
			[#list varlist as u]
            <div class="control-group">
                <div class="controls">
                    <input type="text" readonly="readonly" placeholder="" id="variableKey_${(u.id)!}" name="variableKey_${(u.id)!}" value="${(u.setkey)!}">
                -&nbsp;<input type="text" placeholder="" id="variableValue_${(u.id)!}" name="variableValue_${(u.id)!}" value="${(u.setvalue)!}">
                </div>
            </div>
			[/#list]
		[/#if]
        </div>
            <div class="form-actions">
            <button class="btn btn-success" id="addnewVariableSet"><i class="icon-plus"></i>添加
             </button>
             &nbsp;&nbsp;
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#variableSetForm",
			rules : {
        	}
		})
    }); 
    


    var setDinamicDiv = function(type){
		$("#typeupdate").val(type);
    	var pam = {
    		
    		'type':type
    	};
    	$.get('${path}/variable/variableSet?type='+type+'&_='+getTime(),pam,function(data){
    		$("#varsetdiv").html('');
    		$.each(data,function(i,nd){
    			var exp = nd.markExplain==null?"":nd.markExplain;
    		var htmlx='';
    			htmlx += '<div class="control-group"><div style="padding-left:18px;">' ;
    			htmlx +='<input type="text" readonly="readonly" placeholder="" id="variableKey_'+nd.id+'" name="variableKey_'+nd.id+'" value="'+nd.setkey+'">';
    			htmlx +='-&nbsp;<input type="text" placeholder="" id="variableValue_'+nd.id+'" name="variableValue_'+nd.id+'" value="'+nd.setvalue+'">'+exp+'</div></div>';
    			
    			$("#varsetdiv").append(htmlx);
    			$("#typeupdate").val(nd.type);
    		});
    		
    		
    	},'json');
    	
    	return false ;
    }
    
    var newvari = 0;
    $("#addnewVariableSet").click(function(){
    	newvari ++;
    			var htmlx='';
    			htmlx += '<div class="control-group"><div style="padding-left:18px;">' ;
    			htmlx +='<input type="text" placeholder="" id="variableKey_newvar'+newvari+'" name="variableKey_newvar'+newvari+'" value="">';
    			htmlx +='-&nbsp;<input type="text" placeholder="" id="variableValue_newvar'+newvari+'" name="variableValue_newvar'+newvari+'" value=""></div></div>';
    			
    			$("#varsetdiv").append(htmlx);
    	
    	
    });

</script>