[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>滞后时间设置 <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
    <span>在统计信息时，多少天算是滞后。</span>
    <br clear="all"/>
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/hysteresis" method="post" id="hysteresisForm">
            <div class="control-group">
                <label class="control-label" for="hysteresis">滞后时间设置(天):</label>
                <div class="controls">
                    <input type="text" id="hysteresis" placeholder="" name="hysteresis" value="${hysteresisMap.hysteresis!}">
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#hysteresisForm",
			rules : {
        		hysteresis : {
        			required : true,
        			digits: true,
        			maxlength:20
        		}
        	}
		})
    }); 
</script>
