<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>${(u.setvalue)!} <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
    <span></span>
    <br clear="all"/>
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/variableSet" method="post" id="variableSetForm">
        
        [#if varlist?? && (varlist?size > 0)]
			[#list varlist as u]
            <div class="control-group">
                <label class="control-label" for="consteam">
                <input type="text" placeholder="" id="variableKey_${(u.id)!}" name="variableKey_${(u.id)!}" value="${(u.setkey)!}">
                :</label>
                <div class="controls">
                    <input type="text" placeholder="" id="variableValue_${(u.id)!}" name="variableValue_${(u.id)!}" value="${(u.setvalue)!}">
                </div>
            </div>
			[/#list]
		[/#if]
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#variableSetForm"
		})
    }); 
</script>
