﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:31px;
  width:400px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:50px;
  width:200px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:71px;
  top:110px;
  width:370px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u6 {
  position:absolute;
  left:71px;
  top:94px;
  width:44px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:70px;
  top:140px;
  width:370px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u9 {
  position:absolute;
  left:71px;
  top:124px;
  width:57px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:71px;
  top:203px;
  width:370px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u12 {
  position:absolute;
  left:71px;
  top:187px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:70px;
  top:172px;
  width:370px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u15 {
  position:absolute;
  left:70px;
  top:156px;
  width:57px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:71px;
  top:234px;
  width:370px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u18 {
  position:absolute;
  left:71px;
  top:218px;
  width:79px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:59px;
  top:520px;
  width:400px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:383px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:400px;
  height:1px;
}
#u21 {
  position:absolute;
  left:156px;
  top:92px;
  width:154px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:156px;
  top:121px;
  width:154px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:155px;
  top:151px;
  width:275px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:156px;
  top:184px;
  width:154px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:155px;
  top:216px;
  width:154px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:340px;
  top:430px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:71px;
  top:363px;
  width:189px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u28 {
  position:absolute;
  left:71px;
  top:394px;
  width:189px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u29 {
  position:absolute;
  left:71px;
  top:424px;
  width:189px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u30 {
  position:absolute;
  left:71px;
  top:455px;
  width:189px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u31 {
  position:absolute;
  left:71px;
  top:485px;
  width:189px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u32 {
  position:absolute;
  left:71px;
  top:510px;
  width:189px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u33 {
  position:absolute;
  left:71px;
  top:353px;
  width:53px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:71px;
  top:383px;
  width:53px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:71px;
  top:414px;
  width:46px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:71px;
  top:445px;
  width:14px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:71px;
  top:471px;
  width:14px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:71px;
  top:497px;
  width:14px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:167px;
  top:355px;
  width:14px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:167px;
  top:387px;
  width:14px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:167px;
  top:416px;
  width:10px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:167px;
  top:447px;
  width:14px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:167px;
  top:475px;
  width:10px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:167px;
  top:501px;
  width:14px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:71px;
  top:266px;
  width:370px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u58 {
  position:absolute;
  left:71px;
  top:250px;
  width:85px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:155px;
  top:248px;
  width:154px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u60_input:disabled {
  color:grayText;
}
#u61 {
  position:absolute;
  left:71px;
  top:294px;
  width:370px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u62 {
  position:absolute;
  left:71px;
  top:278px;
  width:72px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:155px;
  top:276px;
  width:154px;
  height:22px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u64_input:disabled {
  color:grayText;
}
#u65 {
  position:absolute;
  left:71px;
  top:322px;
  width:370px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u66 {
  position:absolute;
  left:71px;
  top:306px;
  width:85px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:155px;
  top:304px;
  width:154px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u68_input:disabled {
  color:grayText;
}
