[@workflow_zips 
	queryType = "list"
	pageable=0
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as f]
    {
    "id":"<label><input type='checkbox' name='ids' value='${f.id!}'/><span class='lbl'></span></label>"
    ,"filename":"${f.filename!}"
	,"uploadDate":"${f.uploadDate?string('yyyy-MM-dd HH:mm:ss')}"
	,"version":"${f.version}"
	,"status":"[@EC.rd_status code=f.status/]"
	,"deploymentId":"${f.deploymentId!}"
	,"deploymentName":"${f.deploymentName!}"
	,"deploymentDate":"${(f.deploymentDate?string('yyyy-MM-dd HH:mm:ss'))!}"
    ,"links":[
    	[#if (f.status == 0)]
    	[@ec_privilege_check uri="/workflow/zips/deploy"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${f.id!}','您即将要发布[${f.filename!}]-[版本:${f.version}],点击[确认]进行发布,否则请[取消]')"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	[/#if]
    	
    	[@ec_privilege_check uri="/workflow/zips/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${f.id!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if f_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@workflow_zips]