[@ec_rollingPlan 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=1
	searchValue = "${form.searchValue!}"
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as rp]
    {
    "id":"<label><input type='checkbox' name='ids' value='${rp.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${rp.id!}"
    ,"no":"${rp_index+1!}"
    ,"weldlistno":"${rp.weldlistno!}"
    ,"unitno":"${rp.unitno!}"
    ,"subItem":"${rp.subItem!}"
    ,"drawno":"${rp.drawno!}"
    ,"systemno":"${rp.systemno!}"
    ,"roomno":"${rp.roomno!}"
    ,"projectType":"${rp.projectType!}"
    ,"projectname":"${rp.projectname!}"
    ,"projectno":"${rp.projectno!}"
    ,"workpoint":"${rp.workpoint!}"
    ,"weldno":"${rp.weldno!}"
    ,"projectcost":"${rp.projectcost!}"
    ,"specification":"${rp.specification!}"
    ,"materialtype":"${rp.materialtype!}"
    ,"corelevel":"${rp.corelevel!}"
    ,"unit":"${rp.unitno!}"
    ,"spot":"${rp.spot!}"
    ,"qualityplanno":"${rp.qualityplanno!}"
    ,"plandate":"${rp.plandate!}"
    ,"consteam":"[#if rp.consteam??][@ec_user id=rp.consteam;u][#if u??]${u.realname!}[/#if][/@ec_user][/#if]"
    ,"status":"${rp.status!}"
    ,"remark":"${rp.remark!}"
    
    ,"links":[
    	[@ec_privilege_check uri="/construction/monitor/assign"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?ids=${rp.id!}'});"
		    	,"icon":"icon-edit"
		    	,"clz":"btn-danger"
	    	},
	    [/@ec_privilege_check]
    	[#if rp.workSteps?? && rp.workSteps?size > 0]
	    	{
		    	"title":"工序步骤"
		    	,"onclick":"loadFile('${path}/baseservice/rollingplan/workstep?autoidup=${rp.id!}')"
		    	,"icon":"icon-cogs"
		    	,"clz":"btn-pink"
	    	},
    	[/#if]
    	{}
    	]
    }
    [#if rp_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
],
"recordsTotal": ${count!0},
"recordsFiltered": ${count!0}
}
[/@ec_rollingPlan]