    <!-- Edit Price Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>添加工序信息</h4>
                </div>
                <form class="form-horizontal" action="${path}/baseservice/rollingplan/workstep/add" method="post" id="addWorkStep" >
                       <div class="modal-body">
                       <input type="hidden" name="autoidup" value="${autoidup}"/>
					<div class="control-group">
						<label class="control-label" for="stepno">步骤号:</label>
						<div class="controls">
							<input type="text" name="stepno" id="stepno" placeholder=""  value=""/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="stepname">步骤名:</label>
						<div class="controls">
							<input type="text" name="stepname" id="stepname" placeholder=""  value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeaqc1">通知点A-QC1:</label>
						<div class="controls">
							<input type="text" name="noticeaqc1" id="noticeaqc1" placeholder="" value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeaqc2">通知点A-QC2:</label>
						<div class="controls">
							<input type="text" name="noticeaqc2" id="noticeaqc2" placeholder="" value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeaqa">通知点A-QA:</label>
						<div class="controls">
							<input type="text" name="noticeaqa" id="noticeaqa" placeholder="" value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeb">通知点B:</label>
						<div class="controls">
							<input type="text" name="noticeb" id="noticeb" placeholder="" value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticec">通知点C:</label>
						<div class="controls">
							<input type="text" id="noticec" name="noticec"  value=""/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticed">通知点D:</label>
						<div class="controls">
							<input type="text" id="noticed" name="noticed"  value=""/>
						</div>
					</div>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
$(function() {
	formValidtor.modalValid({
		handler : "#addWorkStep",
		rules : {
			stepno : {
				required : true,
				digits : true,
				maxlength:20
				
			},
			stepname : {
				required : true,
				maxlength:20
			}
		}
	})
});
</script>
        </div>
    </div>

