[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>作业问题</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
<!--                     <h4 class="lighter">问题列表</h4> -->
                    <div style="float: left;">
						<ul class="nav nav-tabs" id="myTab" >
	                    [#if loginRole == 'monitor']
							<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=NEED_ASSIGN', true);" >待指派</a></li>
							<li class="active"><a data-toggle="tab" href="#dataMain"  onclick="dataTable.reload('custom=NEED_SOLVE', true);" >未解决</a></li>
							<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=SOLVED', true);">已解决</a></li>
	                    [#elseif loginRole == 'team']
	                   		<li class="active"><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=NEED_SOLVE', true);" >待解决</a></li>
							<li><a data-toggle="tab" href="#dataMain"  onclick="dataTable.reload('custom=NEED_CONFIRM', true);" >待确认</a></li>
							<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=SOLVED', true);">已解决</a></li>
	                    [#elseif loginRole == 'solver']
	                    	<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=PRE', true);" >待处理</a></li>
							<li><a data-toggle="tab" href="#dataMain"  onclick="dataTable.reload('custom=DONE', true);" >已反馈</a></li>
							<li class="active"><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=NEED_SOLVE', true);">未解决</a></li>
							<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=SOLVED', true);">已解决</a></li>
	                    [#elseif loginRole == 'coordinator']
	                    	<li class="active"><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=NEED_ASSIGN', true);" >待指派</a></li>
							<li><a data-toggle="tab" href="#dataMain"  onclick="dataTable.reload('custom=ASSIGNED', true);" >已指派</a></li>
							<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=SOLVED', true);">已解决</a></li>
	                    [#else]
	                    	<li class="active"><a data-toggle="tab" href="#dataMain"  onclick="dataTable.reload('custom=NEED_SOLVED', true);" >待解决</a></li>
							<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('custom=MYSOLVED', true);">已解决</a></li>
						[/#if]
						</ul>
					</div>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                            
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="workStepProblemTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                	<th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label>
                                    </th>
                                	<th>序号</th>
                                    <th>问题描述</th>
                                    <th>问题类型</th>
                                    <th>创建时间</th>
                                    <th>创建人</th>
                                    <th>问题状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>
[#if chooseUser]
<div class="modal" id="chooseUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>选择人员
				</h4>
			</div>
			<form class="form-horizontal" action="" method="post" id="assginForm">
				<input type="hidden" name="questionId" value="${questionId!}" /> <input
					type="hidden" name="loginId" value="${user.id}" />
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="designatedUserId">选择查看人:</label>
						<div class="controls">
							<select id="userId" name="userId" class="form-control">
								[#if (childrenUsers)?? &&(childrenUsers?size > 0)] 
								[#list childrenUsers as u]
								<option value='${(u.id)!}'>${(u.realname)!}</option>
								[/#list]
								[/#if]
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="ok" type="button" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
				</div>
			</form>
		</div>
	</div>
</div>
[/#if]

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide" : true,
			"tableID" : "#workStepProblemTable",
			'bSort' : false,
			"bFilter" : false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns" : [ {
				"data" : "id",
				"sortable" : false
			}, {
				"data" : "no"
			}, {
				"data" : "describe"
			}, {
				"data" : "questionType"
			}, {
				"data" : "questionTime"
			}, {
				"data" : "owner"
			}, {
				"data" : "status"
			}, {
				"data" : "links",
				"sortable" : false
			}, ],
			"url" : "${path}${current_uri}",
			"order" : [ [ 0, "asc" ] ]
		});

		
		$('#chooseUserModal').modal();
		$("#ok").click(function(){
			dataTable.reload();
			$('#chooseUserModal').modal('hide');
		});
	})
</script>
