
    <div class="modal" id="handleFormModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>直接处理问题</h4>
                </div>
                <form class="form-horizontal" action="${path}/hdxt/api/question/feedback" method="post" id="handleForm" >
                <input type="hidden" name="questionId" value="${questionId!}" />
                <input type="hidden" name="loginId" value="${user.id}" />
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="describe">处理方案:</label>
						<div class="controls">
							<textarea name="describe" id="describe" rows="" cols=""></textarea>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="describe">选择图片:</label>
						<div class="controls">
							<input type="file" name="file" id="file"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#handleForm").validate({
			rules : {
				describe : {
					required : true,
				},
				file:{
					accept: ["jpg", "png", "gif"]
				}
			},
			submitHandler : function(form) {
				doUpload(form);
			}
		});
	});
	
	//提交表单数据及图片
	function doUpload(form) {
	     var formData = new FormData($(form)[0]);  
	     $.ajax({  
	          url: $(form).attr('action'),  
	          type: 'POST',  
	          data: formData,  
	          async: false,  
	          cache: false,  
	          contentType: false,  
	          processData: false,  
	          dataType:'json',
	          success: function (data) {  
	        	  $.parseJSON(data);
	              if(data.responseResult){
	            	  modal.close();
	            	  tips.success(data.message);
	            	  loadFile('${path}/hd/workstep/question?_'+getTime());
	              }else{
	            	  modal.close();
	            	  tips.error(data.message);
	              }
	          }
	     });  
	} 
</script>
        </div>
    </div>

