[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>我已完成的任务 </h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">我的滚动计划信息列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
	                        <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
	                            <i class="icon-refresh"></i>刷新
	                        </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="rollingPlanTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label>
                                    </th>
                                    <th>序号</th>
                                    <th>图纸号</th>
                                    <th>焊口/支架号</th>
                                    <th>计划施工日期</th>
                                    <th>施工班组</th>
                                    <th>施工组长</th>
                                    <th>当前状态</th>
                                    <th>焊工</th>
                                    <th>焊接时间</th>
                                    <th>QC</th>
                                    <th>QC确认时间</th>
                                    <th>QC状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID":"#rollingPlanTable",
// 			"lengthChange": true,
// 			"searching": false,
// 			"processing" : true,
// 			"serverSide" : true,
// 			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no"
			            },
			            {
			    		  "data":"drawno"
			            },
			            {
			    		  "data":"weldno"
			            },
			            {
			    		  "data":"consdate"
			            },
			            {
			    		  "data":"consteam"
			            },
			            {
			    		  "data":"consendman"
			            },
			            {
			    		  "data":"isend"
			            },
			            {
			    		  "data":"welder"
			            },
			            {
			    		  "data":"welddate"
			            },
			            {
			    		  "data":"qcman"
			            },
			            {
			    		  "data":"qcdate"
			            },
			            {
			    		  "data":"qcsign"
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}",
	      "order": [[ 2, "asc" ]]
		});

		
		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();
		
		searchInput.bind('blur keyup', function() {
			isSearch(function(){
				var searchInput=$(".dataTables_filter :input :first");
				$('#rollingPlanTable').DataTable().search(searchInput.val()).draw();
			});
		});

		searchInput.keypress(function(e) {  
			if (e.which == 13) {
				var searchInput=$(".dataTables_filter :input :first");
				$('#rollingPlanTable').DataTable().search(searchInput.val()).draw();
			}
		});
	})
</script>
