[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>单价名词设置 <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
    <span>在增加和修改单价这个操作中，指定‘工程量标签名’‘工时标签名’和‘点值标签名’用于确定这三个显示信息。</span>
    <br clear="all"/>
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/variable/price" method="post" id="priceForm">
            <div class="control-group">
                <label class="control-label" for="GCL">工程量标签名:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="GCL" name="GCL" value="${priceMap.GCL!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="DZ">点值标签名:</label>
                <div class="controls">
                    <input type="text" id="DZ" placeholder="" name="DZ" value="${priceMap.DZ!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="GS">工时标签名:</label>
                <div class="controls">
                    <input type="text" id="GS" placeholder="" name="GS" value="${priceMap.GS!}">
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#priceForm",
			rules : {
				GCL : {
        			required : true,
        			maxlength:20
        		},
        		DZ : {
        			required : true,
        			maxlength:20
        		},
        		GS : {
        			required : true,
        			maxlength:20
        		}
        	}
		})
    }); 
</script>
