[@ec_rollingPlan id="${form.autoidup!}";rp]
{
"data":[
[#if rp??]
[#if rp.workSteps?? && (rp.workSteps?size > 0)]
[#list rp.workSteps as ws]
    {
    "id":"<label><input type='checkbox' name='ids' value='${ws.id!}'/><span class='lbl'></span></label>"
    ,"stepno":"${ws.stepno!}"
    ,"no":"${ws_index+1!}"
    ,"stepname":"${ws.stepname!}"
    ,"operator":"${ws.operator!}"
    ,"noticeaqc1":"${ws.noticeaqc1!}"
    ,"witnesseraqc1":"${ws.witnesseraqc1!}"
    ,"witnessdateaqc1":"${ws.witnessdateaqc1!}"
    ,"noticeaqc2":"${ws.noticeaqc2!}"
    ,"witnesseraqc2":"${ws.witnesseraqc2!}"
    ,"witnessdateaqc2":"${ws.witnessdateaqc2!}"
    ,"noticeaqa":"${ws.noticeaqa!}"
    ,"witnesseraqa":"${ws.witnesseraqa!}"
    ,"witnessdateaqa":"${ws.witnessdateaqa!}"
    ,"noticeb":"${ws.noticeb!}"
    ,"witnesserb":"${ws.witnesserb!}"
    ,"witnessdateb":"${ws.witnessdateb!}"
    ,"noticec":"${ws.noticec!}"
    ,"witnesserc":"${ws.witnesserc!}"
    ,"witnessdatec":"${ws.witnessdatec!}"
    ,"noticed":"${ws.noticed!}"
    ,"witnesserd":"${ws.witnesserd!}"
    ,"witnessdated":"${ws.witnessdated!}"
    
    [#if ws.stepflag?? && ws.stepflag == "UNDO"]
    	,"stepflag":"未开始"
    [#elseif ws.stepflag?? && ws.stepflag == "DONE"]
     	,"stepflag":"完成"
    [#elseif ws.stepflag?? && ws.stepflag == "SKIP"]
    	,"stepflag":"跳过"
    [#elseif ws.stepflag?? && ws.stepflag == "PAUSE"]
    	,"stepflag":"停滞"
    [#elseif ws.stepflag?? && ws.stepflag == "PREPARE"]
    	[#if ws.rollingPlan.rollingplanflag??]
	    	,"stepflag":"停滞"
	    [#else]
	    	,"stepflag":"正在进行"
	    [/#if]
    [#else]
    	,"stepflag":"未知状态"
    [/#if]
    
    ,"links":[
   		[#if (ws.noticeaqc1?? && ws.noticeaqc1 != '') || (ws.noticeaqc2?? && ws.noticeaqc2 != '') || (ws.noticeaqa?? && ws.noticeaqa != '') || (ws.noticeb?? && ws.noticeb != '') || (ws.noticec?? && ws.noticec != '') || (ws.noticed?? && ws.noticed != '')]
    		[#if ws.workStepWitnesses?? && ws.workStepWitnesses?size > 0]
		    	[@ec_privilege_check uri="/construction/mytask/witness/view"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
			    	,"icon":"icon-star"
			    	,"clz":"btn-success"
		    	},
		    	[/@ec_privilege_check]
		    	[#if ws.noticeresult?? && ws.noticeresult?number > 1]
		    	[#else]
			    	[@ec_privilege_check uri="/construction/mytask/witness/edit"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
				    	,"icon":"icon-edit"
				    	,"clz":"btn-warning"
			    	},
			    	[/@ec_privilege_check]
		    	[/#if]
		    [#else]
		    	[@ec_privilege_check uri="/construction/mytask/witness"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
			    	,"icon":"icon-bullhorn"
			    	,"clz":"btn-info"
		    	},
		    	[/@ec_privilege_check]
    		[/#if]
   		[/#if]
    
    	[#if ws.stepflag?? && ws.stepflag == "PREPARE"]
    		[#if ws.rollingPlan.rollingplanflag?? && rp.rollingplanflag == 'PROBLEM']
    		
    		[#else]
	    		[#if (ws.noticeaqc1?? && ws.noticeaqc1 != '') || (ws.noticeaqc2?? && ws.noticeaqc2 != '') || (ws.noticeaqa?? && ws.noticeaqa != '') || (ws.noticeb?? && ws.noticeb != '') || (ws.noticec?? && ws.noticec != '') || (ws.noticed?? && ws.noticed != '')]
		    		[#if ws.workStepWitnesses?? && ws.workStepWitnesses?size > 0]
				    	[#if ws.noticeresult?? && ws.noticeresult?number > 1]
					    	[@ec_privilege_check uri="/construction/mytask/workstep/result"]
					    	{
						    	"title":"${AUTH_MENU.name!}"
						    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
						    	,"icon":"icon-check"
						    	,"clz":"btn-info"
					    	},
					    	[/@ec_privilege_check]
				    	[/#if]
		    		[/#if]
				[#else]
			    	[@ec_privilege_check uri="/construction/mytask/workstep/result"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
				    	,"icon":"icon-check"
				    	,"clz":"btn-info"
			    	},
			    	[/@ec_privilege_check]
	    		[/#if]
		    [/#if]
    	[/#if]
    	
    	[#if ws.stepflag?? && ws.stepflag == "PAUSE"]
	    	{
		    	"title":"暂停状态"
		    	,"onclick":""
		    	,"icon":"icon-edit"
		    	,"clz":"btn-info"
	    	},
    	[/#if]
    	
    	[#if ws.stepflag?? && ws.stepflag == "DONE"]
	    	[@ec_privilege_check uri="/construction/mytask/workstep/result/edit"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
		    	,"icon":"icon-edit"
		    	,"clz":"btn-info"
	    	},
	    	[/@ec_privilege_check]
	    	[#--if ws.noticeaqc1?? || ws.noticeaqc2?? || ws.noticeaqa?? || ws.noticeb?? || ws.noticec?? || ws.noticed??]
	    		[#if ws.workStepWitnesses?? && ws.workStepWitnesses?size > 0]
			    	[@ec_privilege_check uri="/construction/mytask/witness/view"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
				    	,"icon":"icon-star"
				    	,"clz":"btn-success"
			    	},
			    	[/@ec_privilege_check]
    			[/#if]
    		[/#if --]
    	[/#if]
    	{}
    	]
    }
    [#if ws_index != (rp.workSteps?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
[/#if]
]}
[/@ec_rollingPlan]