[@ec_rollingPlan 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=0
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as rp]
    {
    "id":"<label><input type='checkbox' name='ids' value='${rp.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${rp.id!}"
    ,"no":"${rp_index+1!}"
    ,"drawno":"${rp.drawno!}"
    ,"weldno":"${rp.weldno!}"
    ,"consdate":"${rp.plandate!}"
    
    [#if rp.consteam?? && rp.consteam != ""]
    	,"consteam":"${rp.consteamName!}"
    [#else]
     	,"consteam":"--未指派施工班组--"
    [/#if]
    
    [#if rp.consendman?? && rp.consendman != ""]
    	,"consendman":"${rp.consendmanName!}"
    [#else]
     	,"consendman":"--未指派施工组长--"
    [/#if]
    
    [#if rp.rollingplanflag?? && rp.rollingplanflag == 'PROBLEM']
    	,"isend":"处理中"
    [#else]
	    [#if rp.isend?? && rp.isend == 0]
	    	,"isend":"初始"
	    [#elseif rp.isend?? && rp.isend == 1]
	     	,"isend":"施工"
	    [#elseif rp.isend?? && rp.isend == 2]
	     	,"isend":"完成"
	    [#elseif rp.isend?? && rp.isend == 3]
	     	,"isend":"退回"
	    [#elseif rp.isend?? && rp.isend == 4]
	     	,"isend":"计划"
	    [#else]
	    	,"isend":"未知状态"
	    [/#if]
	 [/#if]
	 
	,"welder":"${rp.welder!}"
    ,"qcman":"${rp.qcman!}"
    [#if rp.welddate??]
    	,"welddate":"${rp.welddate?string('yyyy-MM-dd HH:mm:ss')}"
    [#else]
    	,"welddate":"-"
    [/#if]
    
    [#if rp.qcdate??]
    	,"qcdate":"${rp.qcdate?string('yyyy-MM-dd HH:mm:ss')}"
    [#else]
    	,"qcdate":"-"
    [/#if]
    
    [#if rp.qcsign?? && rp.qcsign == 0]
     	,"qcsign":"未确认"
    [#elseif rp.qcsign?? && rp.qcsign == 1]
     	,"qcsign":"确认"
    [#elseif rp.qcsign?? && rp.qcsign == 2]
     	,"qcsign":"退回"
    [#else]
    	,"qcsign":"未知状态"
    [/#if]
    
    ,"links":[
    	[#if rp.workSteps?? && rp.workSteps?size > 0]
	    	[@ec_privilege_check uri="/construction/mytask/view"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?autoidup=${rp.id!}')"
		    	,"icon":"icon-arrow-right"
		    	,"clz":"btn-warning"
	    	},
	    	[/@ec_privilege_check]
	    	[#-- 
	    	[#if rp.isend?? && rp.isend == 2]
	    		[#if rp.qcman?? || rp.welder??]
	    			[@ec_privilege_check uri="/construction/mytask/rollingplan/result/edit"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
				    	,"icon":"icon-edit"
				    	,"clz":"btn-info"
			    	},
			    	[/@ec_privilege_check]
	    		[#else]
			     	[@ec_privilege_check uri="/construction/mytask/rollingplan/result"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
				    	,"icon":"icon-plus"
				    	,"clz":"btn-danger"
			    	},
			    	[/@ec_privilege_check]
			    [/#if]
		    [/#if]
		     --]
		[#else]
			[#if rp.isend == 2 && (rp.qcman?? || rp.welder??)]
    			[@ec_privilege_check uri="/construction/mytask/rollingplan/result/edit"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
			    	,"icon":"icon-edit"
			    	,"clz":"btn-info"
		    	},
		    	[/@ec_privilege_check]
    		[#else]
		     	[@ec_privilege_check uri="/construction/mytask/rollingplan/result"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
			    	,"icon":"icon-plus"
			    	,"clz":"btn-danger"
		    	},
		    	[/@ec_privilege_check]
		    [/#if]
	    	
		[/#if]
		 [@ec_privilege_check uri="/hd/workstep/problem/rollingplan"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?rollingPlanId=${rp.id!}');"
		    	,"icon":"icon-external-link"
		    	,"clz":"btn-purple"
	    	},
	    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if rp_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_rollingPlan]