[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>见证情况统计</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <div style="float: left;">
						<ul class="nav nav-tabs" id="myTab" >
	                    	<li class="active"><a data-toggle="tab" href="#statisticsPlanAssign"  onclick="dataTable.reload('', true);" >全部</a></li>
	                    	<li><a data-toggle="tab" href="#statisticsPlanAssign"  onclick="dataTable.reload('custom=GDJH', true);" >管道</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=JXJH', true);">机械</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=DQJH', true);">电气</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=TFJH', true);">通风</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=YBJH', true);">仪表</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=ZXT', true);">主系统</a></li>
							
												
						</ul>
					</div>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                            
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="statisticsPlanAssign" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                	<th class="center">序号</th>
                                    <th>创建时间</th>
                                    <th>总量</th>
                                    <th>已分派见证组长</th>
                                    <th>未分派见证组长</th>
                                    <th>已分派见证组员</th>
                                    <th>未分派见证组员</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide" : true,
			"tableID" : "#statisticsPlanAssign",
			'bSort' : false,
			"bFilter" : false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns" : [ 
			              {
				"data" : "no"
			}, {
				"data" : "createdOn"
			}, {
				"data" : "total"
			}, {
				"data" : "noAssignTeam"
			}, {
				"data" : "assignedTeam"
			}, {
				"data" : "noAssignWitess"
			}, {
				"data" : "assignedWitness"
			}, {
				"data" : "links",
				"sortable" : false
			}, ],
			"url" : "${path}${current_uri}",
			"order" : [ [ 0, "asc" ] ]
		});

		
	})
</script>
