[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>质量情况统计</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <div style="float: left;">
						<ul class="nav nav-tabs" id="myTab" >
	                    	<li class="active"><a data-toggle="tab" href="#statisticsPlanAssign"  onclick="dataTable.reload('', true);" >全部</a></li>
	                    	<li><a data-toggle="tab" href="#statisticsPlanAssign"  onclick="dataTable.reload('custom=1', true);" >成品保护</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=2', true);">清洁度</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=3', true);">标识</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=4', true);">防异物</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=6', true);">预制</a></li>
							<li><a data-toggle="tab" href="#statisticsPlanAssign" onclick="dataTable.reload('custom=5', true);">安装</a></li>
						</ul>
					</div>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                            
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="statisticsPlanAssign" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                	<th class="center">序号</th>
                                    <th>创建时间</th>
                                    <th>总量</th>
                                    <th>待QC主任指派QC</th>
                                    <th>待QC指派整改队伍</th>
                                    <th>待责任部门整改</th>
                                    <th>待整改部门整改</th>
                                    <th>待QC核实整改结果</th>
                                    <th>问题关闭</th>
                                    <th>问题结束</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide" : true,
			"tableID" : "#statisticsPlanAssign",
			'bSort' : false,
			"bFilter" : false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns" : [ 
			              {
				"data" : "no"
			}, {
				"data" : "createdOn"
			}, {
				"data" : "total"
			}, {
				"data" : "PreQCLeaderAssign"
			}, {
				"data" : "PreQCAssign"
			}, {
				"data" : "PreUpRenovete"
			}, {
				"data" : "PreRenovete"
			}, {
				"data" : "PreQCverify"
			}, {
				"data" : "Closed"
			}, {
				"data" : "Finished"
			}, {
				"data" : "links",
				"sortable" : false
			}, ],
			"url" : "${path}${current_uri}",
			"order" : [ [ 0, "asc" ] ]
		});

		
	})
</script>
