[@ec_exam
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	section = "${form.section!}"
	module = "${form.module!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#assign var = ((current - 1) * pagesize) + 1]
[#list list as r]
    {
    "id":"<label><input type='checkbox' name='ids' value='${r.id!}'/><span class='lbl'></span></label>"
    ,"number":"${r.number!}"
    ,"type":"[#if r.type??][#if r.type == 'SINGLE']单项选择[#elseif r.type == 'MULTIPLE']多项选择[#elseif r.type == 'YES_OR_NO']判断[/#if][/#if]"
    ,"subject":"[@EC.ec_text_max value=r.subject length=32 /]"
    ,"score":"${r.score!}"
    ,"links":[
    	[@ec_privilege_check uri="/hd/exam/edit"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?id=${r.id!}');"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
	    	,"showTitleInLink":true
    	},
    	[/@ec_privilege_check]
    	
    	[@ec_privilege_check uri="/hd/exam/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${r.id!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
	    	,"showTitleInLink":true
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if r_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_exam]