﻿[@ec_hse_problem
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	problemStatus = "${form.problemStatus!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"no":"${p_index+1!}"
    ,"problemTitle":"${p.problemTitle!}"
    ,"unit":"${p.unit!}"
    ,"wrokshop":"${p.wrokshop!}"
    ,"eleration":"${p.eleration!}"
    ,"roomno":"${p.roomno!}"
    ,"responsibleDept":"${p.responsibleDept!}"
    ,"responsibleTeam":"${p.responsibleTeam!}"
    ,"description":"${p.description!}"
    [#if p.problemStatus??]
    	[#if p.problemStatus == 'Need_Handle']
	    	,"problemStatus":"待审核"
    	[#elseif p.problemStatus == 'Renovating']
    		,"problemStatus":"待整改"
    	[#elseif p.problemStatus == 'Need_Check']
    		,"problemStatus":"待核实"
    	[#elseif (p.problemStatus == 'None')]
    		,"problemStatus":"已关闭"
    	[#elseif (p.problemStatus == 'Finish')]
    		,"problemStatus":"已结束"
    	[#else]
    		,"problemStatus":"-"
    	[/#if]
    [#else]
    	,"status":"-"
    [/#if]
    [#if p.createDate??]
    	,"createDate":"${p.createDate?string('yyyy-MM-dd HH:mm:ss')}"
    [#else]
    	,"createDate":"-"
    [/#if]
    ,"links":[
    	[@ec_privilege_check uri="/hd/hseproblem/view"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}');"
	    	,"icon":"icon-search"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_hse_problem]