﻿[@ec_quality_problem
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	status="${form.status!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"no":"${p.id!}"
    ,"unit":"${p.unit!}"
    ,"subitem":"${p.subitem!}"
    ,"floor":"${p.floor!}"
    ,"roomnum":"${p.roomnum!}"
    ,"system":"${p.system!'-'}"
    ,"responsibleDept":"${p.responsibleDept2!}"
    ,"responsibleTeam":"${p.responsibleTeam2!}"
    ,"problemDescription":"${p.problemDescription!}"
    [#if p.createDate??]
    	,"createDate":"${p.createDate?string('yyyy-MM-dd HH:mm:ss')}"
    [#else]
    	,"createDate":"-"
    [/#if]
    [#if p.qualityFlag?? && p.qualityFlag?string=='true']
    	,"qualityFlag":"是"
    [#else]
    	,"qualityFlag":"否"
    [/#if]
    [#if p.status??]
    	[#if p.status == 'PreQCLeaderAssign']
	    	,"status":"待分派"
    	[#elseif p.status == 'PreQCAssign']
    		,"status":"待指派"
    	[#elseif p.status == 'PreRenovete']
    		,"status":"整改中"
    	[#elseif p.status == 'PreUpRenovete']
    		,"status":"待整改"
    	[#elseif p.status == 'PreQCverify']
    		,"status":"待审核"
    	[#elseif (p.status == 'Closed')]
    		,"status":"已关闭"
    	[#elseif (p.status == 'Finished')]
    		,"status":"已完成"
    	[#else]
    		,"status":"-"
    	[/#if]
    [#else]
    	,"status":"-"
    [/#if]
    ,"links":[
    	[@ec_privilege_check uri="/hd/quality/view"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}');"
	    	,"icon":"icon-search"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_quality_problem]