[@ec_user 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
	custom="${form.custom!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
	[#assign rolename=""/]
	[#assign department="-"/]
	[#assign paprentDepartment="-"/]
	[#if (u.roles)?? && (u.roles?size > 0)]
		[#list u.roles as role]
			[#assign rolename="${rolename!} ${(role.name)!}"/]
		[/#list]
	[#else]
		[#assign rolename="-"/]
	[/#if]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
    ,"no":${u_index+1!}
    ,"name":"${u.name!}"
    ,"realname":"${u.realname!}"
    ,"role":"${rolename!}"
    [#-- 绩效考核使用 --]
			[#if (u.custom)??]
				,"role2":				
				[#if (u.custom=='atThe')]"<label><select name='personnelCategory' class='EC-form-select easyui-validatebox select130'><option value='tip'>请选择类别...</option><option value='atThe' selected='selected'>部门正、副职</option><option value='director'>室主任/主管</option><option value='employees'>普通员工</option></select><span class='lbl'></span></label>"
				[#elseif (u.custom=='director')]"<label><select name='personnelCategory' class='EC-form-select easyui-validatebox select130'><option value='tip'>请选择类别...</option><option value='atThe'>部门正、副职</option><option value='director' selected='selected'>室主任/主管</option><option value='employees'>普通员工</option></select><span class='lbl'></span></label>"
				[#elseif (u.custom=='employees')]"<label><select onchange='modifyCategory(${u.id!},this.value);' name='personnelCategory' class='EC-form-select easyui-validatebox select130'><option value='tip'>请选择类别...</option><option value='atThe'>部门正、副职</option><option value='director'>室主任/主管</option><option value='employees' selected='selected'>普通员工</option></select><span class='lbl'></span></label>"
				[#else]"<label><select onchange='modifyCategory(${u.id!},this.value);' name='personnelCategory' class='EC-form-select easyui-validatebox select130 optionyellow'><option value='tip'>请选择类别...</option><option value='atThe'>部门正、副职</option><option value='director'>室主任/主管</option><option value='employees'>普通员工</option></select><span class='lbl'></span></label>"
				[/#if]
			[#else]
			,"role2":"<label><select onchange='modifyCategory(${u.id!},this.value);' name='personnelCategory' class='EC-form-select easyui-validatebox select130 optionyellow'><option value='tip'>请选择类别...</option><option value='atThe'>部门正、副职</option><option value='director'>室主任/主管</option><option value='employees'>普通员工</option></select><span class='lbl'></span></label>"
			[/#if]
    ,"parent":"${(u.parent.realname)!'-'}"
    ,"department":"${(u.department.name)!'-'}"
    ,"paprentDepartment":"${(u.department.parent.name)!'-'!}"
    ,"links":[
    [#-- 绩效考核使用 --]
			[#if (form.custom)??]

				[@ec_privilege_check uri="/kpi/lib/libManger"]
				{
				"title":"管理${u.realname!}的指标库"
				,"onclick":"getValue();loadFile('${path}${AUTH_MENU.privilege.uri!}?sId=${u.id!}');"
				,"icon":"icon-edit"
				,"clz":"btn-info"
				},
				[/@ec_privilege_check]
    [#-- 人员列表使用 --]
			[#else]

				[@ec_privilege_check uri="/management/user/edit"]
				{
					"title":"${AUTH_MENU.name!}"
					,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}'});"
					,"icon":"icon-edit"
					,"clz":"btn-info"
				},
				[/@ec_privilege_check]

				[@ec_privilege_check uri="/management/user/role"]
				{
					"title":"${AUTH_MENU.name!}"
					,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}'});"
					,"icon":"icon-key"
					,"clz":"btn-success"
				},
				[/@ec_privilege_check]

				[@ec_privilege_check uri="/management/user/role"]
				{
					"title":"直接分配岗位(项目部用)"
					,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}&func=roleDirect'});"
					,"icon":"icon-key"
					,"clz":"btn-success"
				},
				[/@ec_privilege_check]

				[@ec_privilege_check uri="/management/user/password"]
				{
					"title":"${AUTH_MENU.name!}"
					,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}'});"
					,"icon":"icon-unlock"
					,"clz":"btn-yellow"
				},
				[/@ec_privilege_check]

				[@ec_privilege_check uri="/management/user/delete"]
				{
					"title":"${AUTH_MENU.name!}"
					,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${u.id!}')"
					,"icon":"icon-trash"
					,"clz":"btn-danger"
				},
				[/@ec_privilege_check]

			[/#if]

			{}
			]


    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_user]