
    <div class="modal" id="assignTeamModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>执行分派</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/hseproblem/check" method="post" id="assignTeam" >
                <input type="hidden" name="id" value="${problemId!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="responsibleTeam">责任班组:</label>
                            <div class="controls">
	                            <select id="responsibleTeam" name="responsibleTeam" class="form-control">
                				[#if (resultData)?? && (resultData?size > 0)]
	                				[#list resultData as r]
	                					[#if teamId?? && (teamId==r.id)]
	                					<option selected="selected" value='${(r.id)!}'>${(r.name)!}</option>
	                					[#else]
		                            	<option value='${(r.id)!}'>${(r.name)!}</option>
	                					[/#if]
	                            	[/#list]
                 				[/#if]
	                            </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="targetdate">整改期限:</label>
                            <div class="controls">
                                <input id="targetdate" name="targetdate" class="input-sm"  type="text" onFocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
    $(document).ready(function(){
		$("#assignTeam").validate({
			rules:{
				responsibleTeam:{
					required: true,
				},
				targetdate:{
					required: true,
				},
        	},
			submitHandler:function(form){
				$.ajax({
					url : $(form).attr('action'),
					data : $(form).serialize(),
					type : 'post',
					success : function(data) {
						if (data == 'true') {
							modal.close();
							tips.success("操作成功！");
							loadFile('${path}/hd/hseproblem/view?id=${problemId!}');
						} else {
							modal.close();
							tips.error("操作失败！");
						}
					}
				});
			}
		});
	}); 
</script>
        </div>
    </div>

