
    <div class="modal" id="assignTeamModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>编制人核实问题</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/hseproblem/a_verify" method="post" id="verifyForm" >
                <input type="hidden" name="id" value="${problemId!}" />
                <div class="modal-body">
                     <div class="control-group">
                         <label class="control-label" for="checkResult">核实结果:</label>
                         <div class="controls">
							<select id="checkResult" name="checkResult" class="form-control">
								<option value="1">整改合格</option>
								<option value="2">整改不合格</option>
							</select>
						</div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
    $(document).ready(function(){
		$("#verifyForm").validate({
			rules:{
				responsibleTeam:{
					checkResult: true,
				}
        	},
			submitHandler:function(form){
				$.ajax({
					url : $(form).attr('action'),
					data : $(form).serialize(),
					type : 'post',
					success : function(data) {
						if (data == 'true') {
							modal.close();
							tips.success("操作成功！");
							loadFile('${path}/hd/hseproblem/view?id=${problemId!}');
						} else {
							modal.close();
							tips.error("操作失败！");
						}
					}
				});
			}
		});
	}); 
</script>
        </div>
    </div>

