[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>安全问题详情</h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
           <form class="form-horizontal" action="${path}/hd/hseproblem/check" method="post" id="HseProblem" >
              <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
              <div class="modal-body">
                [#if hpResult??]
                  <div class="control-group">
                      <label class="control-label" for="code1Id">标题:</label>
                      <div class="controls">
                      	<input type="text" name="code1Desc" id="code1Desc" value="${(hpResult.problemTitle)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="code2Id">二级编码:</label>
                      <div class="controls">
                      	<input type="text" name="code2Desc" id="code2Desc" value="${(hpResult.code2Desc)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="code3Id">隐患描述:</label>
                      <div class="controls">
                      	<input type="text" name="code3Desc" id="code3Desc" value="${(hpResult.code3Desc)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="unit">机组:</label>
                      <div class="controls">
                          <input type="text" name="unit" id="unit" value="${(hpResult.unit)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="wrokshop">厂房:</label>
                      <div class="controls">
                          <input type="text" name="wrokshop" id="wrokshop" value="${(hpResult.wrokshop)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="eleration">标高:</label>
                      <div class="controls">
                          <input type="text" name="eleration" id="eleration"  value="${(hpResult.eleration)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="roomno">房间号:</label>
                      <div class="controls">
                          <input type="text" name="roomno" id="roomno"  value="${(hpResult.roomno)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleDeptId">责任部门:</label>
                      <div class="controls">
                          <input type="text" id="responsibleDeptId"  value="${(hpResult.responsibleDept.deptName)!}" disabled/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleTeamId">责任班组:</label>
                      <div class="controls">
                          <input type="text" id="responsibleTeamId"  value="${(hpResult.responsibleTeam.deptName)!}" disabled="disabled"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="description">问题描述:</label>
                      <div class="controls">
                      	<textarea name="description" id="description" placeholder="" rows="" cols="" disabled>${(hpResult.problemDescription)!}</textarea>
                      </div>
                  </div>
              [#if (hpResult.hseProblemSolve)?? && (hpResult.hseProblemSolve?size > 0)]
              	[#list hpResult.hseProblemSolve as h]
              		[#if (h.solveStep == 'teamSolve') || (h.solveStep == 'teamSolveAgain')]
              		<div class="control-group">
                      <label class="control-label" for="description">整改描述:</label>
                      <div class="controls">
                      	<textarea name="description" id="description" placeholder="" rows="" cols="" disabled>${(h.solveDescription)!}</textarea>
                      </div>
                  	</div>
              		[#else]
              		[/#if]
              	[/#list]
              [/#if]
              
              [#if (hpResult.files)?? && (hpResult.files?size > 0)]
                  <div class="control-group">
                      <label class="control-label" for="file">问题照片:</label>
                      <div class="controls">
		                [#list hpResult.files as f]
		                  [#if f.fileType == 'before']
		                  <img alt="" src="${path}${(f.path)!}">
		                  [/#if]
		                [/#list]
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="file">整改照片:</label>
                      <div class="controls">
                        [#list hpResult.files as f]
		                  [#if f.fileType == 'after' || f.fileType == 'after']
		                  <img alt="" src="${path}${(f.path)!}">
		                  [/#if]
		                [/#list]
                      </div>
                  </div>
              [/#if]
				 <div class="control-group">
                      <label class="control-label" for="responsibleTeamId">当前状态:</label>
                      <div class="controls">
                      [#if (hpResult.problemStatus == 'Need_Handle')]
                          <p class="form-control"><font color="red"><strong>待审核</strong></font></p>
                      [#elseif (hpResult.problemStatus == 'Renovating')]
                      	  <p class="form-control"><font color="red"><strong>待整改</strong></font></p>
                      [#elseif (hpResult.problemStatus == 'Need_Check')]
                      	  <p class="form-control"><font color="red"><strong>待核实</strong></font></p>
                      [#elseif (hpResult.problemStatus == 'None')]
                      	  <p class="form-control"><font color="red"><strong>已关闭</strong></font></p>
                      [#elseif (hpResult.problemStatus == 'Finish')]
                      	  <p class="form-control"><font color="red"><strong>已结束</strong></font></p>
               		  [/#if]
               		   </div>
                  </div>
              </div>
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadFile('${path}/hd/hseproblem');">返回列表</button>
                [#if (hpResult.problemStatus == 'Need_Handle')]
                  [@ec_privilege_check uri="/hd/hseproblem/close"]
                  <button type="button" class="btn btn-primary" onclick="confirm('${path}${AUTH_MENU.privilege.uri!}?id=${hpResult.id!}','确认要关闭当前安全问题？')"><i class="icon-remove"></i>关闭问题</button>
                  [/@ec_privilege_check]
                  [@ec_privilege_check uri="/hd/hseproblem/check"]
                  <button type="button" class="btn btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${hpResult.id!}'});"><i class="icon-ok"></i>确认分派</button>
                  [/@ec_privilege_check]
                [#elseif (hpResult.problemStatus == 'Renovating')]
                  [@ec_privilege_check uri="/hd/hseproblem/renovate"]
                  <button type="button" class="btn btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${hpResult.id!}'});"><i class="icon-ok"></i>整改完成</button>
                  [/@ec_privilege_check]
                  [@ec_privilege_check uri="/hd/hseproblem/returnToEditor"]
                  <button type="button" class="btn btn-primary" onclick="confirm('${path}${AUTH_MENU.privilege.uri!}?id=${hpResult.id!}','确认退回编制人当前安全问题？')"><i class="icon-remove"></i>退回编制人</button>
                  [/@ec_privilege_check]
                [#elseif (hpResult.problemStatus == 'Need_Check')]
                  [@ec_privilege_check uri="/hd/hseproblem/verify"]
                  <button type="button" class="btn btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${hpResult.id!}'});"><i class="icon-ok"></i>核实结果</button>
                  [/@ec_privilege_check]
                  [#elseif (hpResult.problemStatus == 'Need_A_Check')]
                  [@ec_privilege_check uri="/hd/hseproblem/a_verify"]
                  <button type="button" class="btn btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${hpResult.id!}'});"><i class="icon-ok"></i>编制核实结果</button>
                  [/@ec_privilege_check]
                [#else]
                [/#if]
                <button class="btn btn-info" onclick="javascript:loadFile('${path}${current_uri}?id=${hpResult.id!}');">
    				<i class="icon-refresh"></i>刷新
				</button>
              </div>
             [/#if]
           </form>
							
         </div>
    </div>
    <script type="text/javascript">
	
	</script>
</div>

