[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>会议管理</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                   <h4 class="lighter">会议信息列表</h4>
					<div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
						<div style="float: left;">
							<ul class="nav nav-tabs" id="myTab" >
								<li class="active"><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('type=SEND', true);" >
										已发送
										</a></li>
								<li><a data-toggle="tab" href="#dataMain"  onclick="dataTable.reload('type=RECEIVE', true);" >
										已接收
										</a></li>
								<li><a data-toggle="tab" href="#dataMain" onclick="dataTable.reload('type=DRAFT', true);">
										草稿
										</a></li>
							</ul>
						</div>
						<div class="widget-toolbar">
	                        <div class="btn-group">
	                        [@ec_privilege_check uri="${current_uri}/add"]
	                            <button class="btn btn-small btn-success" onclick="loadFile('${path}${AUTH_MENU.privilege.uri!}');" >
	                                <i class="icon-plus"></i>${AUTH_MENU.name}
	                            </button>
	                        [/@ec_privilege_check]
	                        [@ec_privilege_check uri="${current_uri}/delete"]
	                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
	                                <i class="icon-remove"></i>${AUTH_MENU.name}
	                            </button>
	                        [/@ec_privilege_check]
	                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
	                                <i class="icon-refresh"></i>刷新
	                            </button>
	                        </div>
	                    </div>
				</div>
				<div class="widget-body">
				  <div id="dataMain" class="tab-pane in active">
				  	<div class="widget-main">
                        <table id="conferenceTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>主题</th>
                                    <th>主持人</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
				  </div>
				</div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			"tableID":"#conferenceTable",
			"searching": false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"subject",
			    		  "sortable": false
			            },
			            {
			    		  "data":"host",
			    		  "sortable": false
			            },
			            {
			    		  "data":"startTime",
			    		  "sortable": false
			            },
			            {
			    		  "data":"endTime",
			    		  "sortable": false
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>
