[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>已分派的见证</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">见证列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="/witness/witnesser/modify"]
                            <button class="btn btn-small btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}', datatable: dataTable.tableID});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="/witness/witnesser/release"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="witnessAssignTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>序号</th>
                                    <th>图纸号</th>
                                    <th>焊口号</th>
                                    <th>质量计划号</th>
                                    <th>工序号</th>
                                    <th>地点</th>
                                    <th>时间</th>
                                    <th>见证人</th>
                                    <th>通知点A-QC1</th>
									<th>通知点A-QC2</th>
									<th>通知点CZEC_QC</th>
									<th>通知点CZEC_QA</th>
									<th>通知点PAEC</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	var ip = (window.location.href).split("/")[2];
	function export_to_excel() {
		window.open("http://"+ip+"/easycms-website/witness/");
	}
	$(function() {
		dataTable.initTable({
			"tableID":"#witnessAssignTable",
			"searching": false,
// 			"lengthChange": true,
// 			"searching": false,
// 			"processing" : true,
// 			"serverSide" : true,
// 			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no",
			    		  "sortable": false
			            },
			            {
			    		  "data":"drawno",
			    		  "sortable": false
			            },
			            {
			    		  "data":"weldno",
			    		  "sortable": false
			            },
			            {
			    		  "data":"qualityplanno",
			    		  "sortable": false
			            },
			            {
			    		  "data":"stepno",
			    		  "sortable": false
			            },
			            {
			    		  "data":"witnessaddress",
			    		  "sortable": false
			            },
			            {
			    		  "data":"witnessdate",
			    		  "sortable": false
			            },
			            {
			    		  "data":"witnesser",
			    		  "sortable": false
			            },
			            {
		            	  "data":"noticeaqc1",
			    		  "sortable": false
		            	},
		            	{
		            	  "data":"noticeaqc2",
			    		  "sortable": false
		            	},
		            	{
		            	  "data":"noticeczecqc",
			    		  "sortable": false
		            	},
		            	{
		            	  "data":"noticeczecqa",
			    		  "sortable": false
		            	},
		            	{
		            	  "data":"noticepaec",
			    		  "sortable": false
		            	},
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>
