    <!-- Edit Price Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>工序见证详情</h4>
                </div>
                [@ec_workStep_tf id=form.id;item]
                [#if item??]
                	<div class="modal-body">
                        <div class="control-group">
                            	工序号:   ${item.stepno!}
                        </div>
                        <div class="control-group">
                            	工序名称:	${item.stepname!}
                        </div>
                        <div class="control-group">
                            	当前状态:
                            	[#if item.status??]
	                                [#if item.status=='PROGRESSING']
	                               		 施工中
	                                [#elseif item.status=='COMPLETED']
	                                	已完成
	                                [#elseif item.status=='UNPROGRESSING']
	                                	未施工
	                                [#elseif item.status=='PAUSE']
	                                	停滞中
	                                [/#if]
                                [/#if]
                        </div>
                        <hr/>
                        
                        [#if item.witnessInfo??]
                        	[#if item.witnessInfo?? && (item.witnessInfo?size > 0)]
							[#list item.witnessInfo as p]
								<div class="control-group">
				                     	${p.noticePoint!}-[#if p.witnesser??]${p.witnesser.realname!}[/#if](${p.noticeType!})[#if p.witnessFlag??][#if p.witnessFlag == 'EXPIRED']已过期[#elseif p.witnessFlag == 'CANCEL']已取消[/#if][/#if]
				                     	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				                     	[#if p.result??]
				                     		[#if p.result == 'UNWITNESS']
				                     			未见证
				                     		[#elseif p.result == 'UNQUALIFIED']
				                     			不合格
				                     		[#elseif p.result == 'QUALIFIED']
				                     			合格
				                     		[#elseif p.result == 'AUTO_QUALIFIED']
				                     			自动合格
					                     	[/#if]
				                     	[/#if]
				                </div>
								<div class="control-group">
				                     	见证时间:
				                     	[#if p.realWitnessDate??]
									    	${p.realWitnessDate?string('yyyy-MM-dd HH:mm:ss')}
									    [#else]
									    	[#if p.witnessDate??]
										    	${p.witnessDate?string('yyyy-MM-dd HH:mm:ss')}
										    [#else]
										    	-
										    [/#if]
									    [/#if]
				                </div>
								<div class="control-group">
				                     	见证地点:	
				                     	[#if p.realWitnessAddress??]
				                     		${p.realWitnessAddress}
				                     	[#else]
				                     		${p.witnessAddress}
				                     	[/#if]
				                </div>
							[/#list]
						[/#if]
                    [/#if]
                            
                	</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
                [/#if]
                [/@ec_workStep_tf]
            </div>
        </div>
    </div>

