[@ec_price 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"no":"${p_index+1!}"
    ,"ids":"${p.id!}"
    ,"speciality":"${p.speciality!}"
    ,"pricetype":"${p.pricetype!}"
    ,"unitprice":"${p.unitprice!}"
    ,"remark":"${p.remark!}"
    ,"links":[
    	[@ec_privilege_check uri="/baseservice/price/edit"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	
    	[@ec_privilege_check uri="/baseservice/price/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${p.id!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
    	},
    	[/@ec_privilege_check]
    	
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_price]