[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>流程文件管理</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">流程文件列表</h4>
                    <div class="widget-toolbar">
                    
                    
                        [@ec_privilege_check uri="${current_uri}/upload"]
                     		[@EC.upload 
                     			url = "${path}${AUTH_MENU.privilege.uri!}"
                     			buttonClass = "btn btn-small btn-info"
                     			buttonText = "${AUTH_MENU.name}"
                     			fileTypeExts = "*.zip"
                     			callback = "dataTable.refresh();tips.success('上传成功!')"
                     		/]
                            <!-- <button class="btn btn-small btn-success" onclick="modal.open({id:'upload'});" >
                                <i class="icon-plus"></i>
                            </button> -->
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="flowzipTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>流程文件名</th>
                                    <th class="hidden-phone">上传时间</th>
                                    <th class="hidden-phone">文件版本</th>
                                    <th class="hidden-phone">状态</th>
                                    <th class="hidden-phone">发布ID</th>
                                    <th class="hidden-phone">发布名称</th>
                                    <th class="hidden-phone">发布时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID":"#flowzipTable",
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"filename",
			    		  "sortable": false
			            },
			            {
			    		  "data":"uploadDate"
			            },
			            {
			    		  "data":"version"
			            },
			            {
			    		  "data":"status"
			            },
			            {
			    		  "data":"deploymentId"
			            },
			            {
			    		  "data":"deploymentName"
			            },
			            {
			    		  "data":"deploymentDate"
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>