[@ec_rollingplan_question 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	rollingPlanType = "${form.rollingPlanType!}"
	custom = "${form.custom!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
  	,"no":"${p.id}"
    ,"describe":"${p.describe}"
    [#if p.questionType == 'technicalMatters']
	,"questionType":"技术问题"
    [#elseif p.questionType == 'coordinationProblem']
    ,"questionType":"协调问题"
    [#elseif p.questionType == 'resourceMatters']
    ,"questionType":"物资问题"
    [/#if]
    ,"questionTime":"${p.questionTime}"
    [#if p.owner??]
    ,"owner":"${p.owner.realname}"
    [/#if]
    [#if p.status == 'pre']
    ,"status":"待解决"
    [#elseif p.status == 'undo']
    ,"status":"待确认"
    [#elseif p.status == 'unsolved']
    ,"status":"仍未解决"
    [#elseif p.status == 'solved']
    ,"status":"已解决"
    [#else]
    ,"status":"${p.status}"
    [/#if]
    ,"links":[
    	[@ec_privilege_check uri="/hd/workstep/question/detail"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?qid=${p.id!}')"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_rollingplan_question]