[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">月度绩效考核结果汇总列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/report"]
                            <button class="btn btn-small btn-info" onclick="report();">
                                <i class="icon-info"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}${current_uri}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="pendingTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled">
	                                    <label>
	                                        <input type="checkbox" onclick="checkAll(this);"/>
	                                        <span class="lbl"></span>
	                                    </label> 
                                    </th>
                                    <th>时间</th>
                                    <th>部门</th>
                                    <th>姓名</th>
                                    <th>自评分</th>
                                    <th>干系人评分</th>
                                    <th>直接上级评分</th>
                                    <th>总经理评分</th>
                                    <th>综合得分</th>
                                    <th>查看</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">

//导出指标库Excel
function report(){
var url = "${path}/kpi/summary/sheet/report";
var forval = $(".dataTables_filter :input :first");
if(forval.val()!=null && forval.val()!=""){
	url += "?search[value]="+forval.val();
}
$.ajax({
    type: "GET",
    url: url,
    success: function(response, status, request) {
        var disp = request.getResponseHeader('Content-Disposition');
        if (disp && disp.search('attachment') != -1) {  //判断是否为文件
            var form = $('<form method="POST" action="' + url + '">');
            form.append($('<input type="hidden" name="" value="">'));
            $('body').append(form);
            form.submit(); //自动提交
        }
    }
});
}


	$(function() {
		dataTable.initTable({
			"tableID":"#pendingTable",
            "lengthChange": true,
            "processing" : true,
            "serverSide" : true,
            "autoWidth": true,
            "bSort": false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },{
			            	'data':'month'
			            },
			            {
			    		  "data":"departmentName"
			            },
			            {
			    		  "data":"realName"
			            },
			            {
			    		  "data":"selfScoring"
			            },
			            {
			    		  "data":"stakeholderScoring"
			            },
			            {
			    		  "data":"directSuperiorScoring"
			            },
			            {
			    		  "data":"generalManagerScoring"
			            },
			            {
				    		  "data":"compositeScoring"
				        },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}",
	      "order": [[1, "asc" ]]
		});
	});
</script>
