
<div class="modal" id="assignTeamModal" tabindex="-1" role="dialog"  style="width: 1000px;">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>查询绩效</h4>

            </div>
			<form class="form-horizontal" action="${path}/kpi/link/done/score" method="post" id="kpiLibForm" target="main-content">
			<div class="modal-body">
			<div class="row-fluid">
			        <div class="span12">
			            <div class="widget-box">
			                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
			                    <div class="text-center">
			                    [#if (ownBase)?? ]
							        <span class="label label-info">岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
							        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
										&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
							         </span>
						        [#else]
						        [/#if]
			                    </div>
			                </div>
			                <div class="widget-body">
			                    <div class="widget-main">
			                        <table id="userTable" class="table table-striped table-bordered table-hover" style="word-break:break-all;"> 
			                            <thead>
			                                <tr>
			                                    <th class="center sorting_disabled" colspan="2">指标名称</th>
			                                    [#if ownBase.personnelCategory == 'employees' ]
			                                    	<th class="hidden-480 center" colspan="2">直接上级及评分</th>
			                                    [#else]
			                                    	<th class="hidden-480 center" colspan="2">干系人及评分</th>
								       	 		[/#if]
			                                    <th class="hidden-480" width="12%">完成时间</th>
			                                    <th class="hidden-phone" width="8%">权重</th>
			                                    <th style="text-align:center;" width="10%">自评分</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                            [#if generalList?? && (generalList?size > 0)]
										[#list generalList as u]
											<tr>
											[#if u_index == 0]
											<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
											[/#if]
											<td width="40%">${(u.lib.kpiName)!}</td>
											[#if ownBase.personnelCategory == 'employees' ]
			                                    	<td width="10%">${(ownBase.immediateSuperior.realname)!} </td>
			                                    	<td id="stakeholderScore_${(u.id)!}" width="10%">${(u.stakeholderScoring)!}${(u.stakeholderScoringReason)!}${(u.oneTicketVetoReason)!}</td>
			                                [#else]
			                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
			                                    	<td id="stakeholderScore_${(u.id)!}" width="10%">${(u.stakeholderScoring)!}${(u.stakeholderScoringReason)!}${(u.oneTicketVetoReason)!}</td>
								       	 	[/#if]
											<td>${(u.finishTime?string("yyyy-MM-dd"))!}</td>
											<td>${(u.weight)!0}%</td>
											<td id="selfScore_${(u.id)!}" align="center" style="text-align:center;">
													${(u.selfScoring)!}${(u.selfReason)!}
											</td>
										    </tr>
										[/#list]
										[/#if]
			
			                            [#if purposeList?? && (purposeList?size > 0)]
										[#list purposeList as u]
											<tr>
											[#if u_index == 0]
											<td style="text-align:center;" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
											[/#if]
											<td width="40%">${(u.lib.kpiName)!}</td>
											[#if ownBase.personnelCategory == 'employees' ]
			                                    	<td width="10%">${(ownBase.immediateSuperior.realname)!} </td>
			                                    	<td id="stakeholderScore_${(u.id)!}" width="5%">${(u.stakeholderScoring)!}${(u.stakeholderScoringReason)!}${(u.oneTicketVetoReason)!}</td>
			                                [#else]
			                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
			                                    	<td id="stakeholderScore_${(u.id)!}" width="5%">${(u.stakeholderScoring)!}${(u.stakeholderScoringReason)!}${(u.oneTicketVetoReason)!}</td>
								       	 	[/#if]
											<td>${(u.finishTime?string("yyyy-MM-dd"))!}</td>
											<td>${(u.weight)!0}%</td>
											<td id="selfScore_${(u.id)!}" align="center" style="text-align:center;">
													${(u.selfScoring)!}${(u.selfReason)!}
											</td>
										    </tr>
										[/#list]
										[/#if]
											<tr>
											<td style="text-align:center;" valign="center" colspan="3"> </td>
											<td width="10%" id="sumstakeholderScore"></td>
											<td></td><td></td>
											<td align="center" style="text-align:center;" id="sumselfScore"></td>
										    </tr>
								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="4">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
										</tbody>
			                        </table>
			                        <div class="mycode">
									    <ul>
									        [#if ownBase.personnelCategory == 'atThe' ]
									        	<li>分管领导评分: ${main.directSuperiorScoring!}</li>
			                                   	<li>总经理评分: ${main.generalManagerScoring!}</li>
			                                [/#if]
			                                [#if ownBase.personnelCategory == 'director' ]
			                                   	<li>部门经理评分:${main.directSuperiorScoring!} </li>
			                                [/#if]
										        <li>综合评分:&nbsp;${main.compositeScoring!}</li>
									    </ul>
									</div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<input type="hidden" name="sId" value="${main.id}"/>
			</form>
        </div>
    </div>
</div>
[#if (ownBase.id)?? ]
<script type="text/javascript">

var plusStakeholderScoreSum = function(ScoreID,sumScoreID){
	try{
		
		var tt = $("td[id^='"+ScoreID+"_']");
		var total =0;
		$.each(tt,function(ind,nd){
			var tval= $(nd).text();
			/* tval = tval.replace('%',''); */
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#"+sumScoreID+"").text(total);
			}
		});
	}catch(e){
	}
}

    $(function() {
    	
        $("#kpiLibForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
                        modal.close();
//                        dataTable.refresh();
                        loadFile('${path}${current_uri}?sId=${main.id}&_'+getTime());
                    }
                });
            }
        });
    	
        plusStakeholderScoreSum('stakeholderScore','sumstakeholderScore');
        plusStakeholderScoreSum('selfScore','sumselfScore');
    });
    
    
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]

