[@EC.breadcrumbs/]
<style type="text/css">
<!--
   .mycode{ width:100%; height: 30px;}  
    .mycode ul{ width:100%;}  
    .mycode li{ width:200px; float:left; display:block;}   
-->
</style>

      [@ec_privilege_check uri="/kpi/score/pending"]
      		<div style="position:fixed;width:100%;height:30px;right:20px;top:80px;z-index:1000; ">
            <button class="btn btn-small btn-info" style="float:right;" data-loading-text="正在打开..." onclick="loadFile('${path}/kpi/score/pending?custom=kpimodule&_'+getTime());"><i class="icon-ok"></i>返回列表</button>
           </div>
      [/@ec_privilege_check]
<form class="form-horizontal" action="${path}/kpi/link/done/score" method="post" id="kpiLibForm" target="main-content">
<div id="page-content" class="clearfix">
    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher">月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;待&nbsp;评&nbsp;分</h4>
    </div>
    
<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
					        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
 							&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                        
    [#if (main.currentStatus!"")=='selfShowInit']
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                            [/#if]
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?sId=${main.id}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled" colspan="2">指标名称</th>
                                    [#if ownBase.personnelCategory == 'atThe' ]
                                    <th class="hidden-480 center" colspan="2">干系人及评分</th>
                                    [#else]
                                    <th class="hidden-480 center">干系人</th>
                                    [/#if]
                                    <th class="hidden-480">完成时间</th>
                                    <th class="hidden-phone">权重</th>
                                    <th style="text-align:center;">自评分</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								[#if ownBase.personnelCategory == 'atThe' ]
                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
                                    	<td id="stakeholderScoring_${(u.id)!}" class="center" width="10%">${(u.stakeholderScoring)!}</td>
                                [#else]
                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
					       	 	[/#if]
								
								<td>${u.finishTime?string("yyyy-MM-dd")}</td>
								<td>${u.weight}%</td>
								<td id="selfScoring_${(u.id)!}" align="center" style="text-align:center;">
								
<!-- 									<div class="col-sm-9"> -->
										${(u.selfScoring)!}
<!-- 									</div> -->
								
								</td>
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								[#if ownBase.personnelCategory == 'atThe' ]
                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
                                    	<td id="stakeholderScoring_${(u.id)!}" class="center" width="10%">${(u.stakeholderScoring)!}</td>
                                [#else]
                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
					       	 	[/#if]
								<td>${u.finishTime?string("yyyy-MM-dd")}</td>
								<td>${u.weight}%</td>
								<td id="selfScoring_${(u.id)!}" align="center" style="text-align:center;">
									
<!-- 									<div class="col-sm-9"> -->
										${(u.selfScoring)!}
<!-- 									</div> -->
								</td>
							    </tr>
							[/#list]
							[/#if]
							
								<tr>
								<td style="text-align:center;" valign="center" colspan="3"> </td>
								<td align="center" style="text-align:center;" id="sumstakeholderScore"></td>
								<td></td><td></td>
								<td style="text-align:center;" width="10%" id="sumweightdiv"></td>

							    </tr>
								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="4">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
							</tbody>
                        </table>
                        <div class="mycode">
						    <ul>
						    [#if ownBase.personnelCategory == 'atThe' ]
						        	<li>分管领导评分:&nbsp;<input id="directSuperiorScoring" name="directSuperiorScoring" value="${main.directSuperiorScoring!}" style="width:60px;"/></li>
                                   	<li>总经理评分: ${main.generalManagerScoring!}</li>
                                [/#if]
						        <li>
                        综合评分:${main.compositeScoring!}
						        </li>
<!-- 						        <li> -->
<!--                         考核系数:${main.kpiCoefficient!} -->
<!-- 						        </li> -->
						    </ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>


</div>
<input type="hidden" name="sId" value="${main.id}"/>

[#if (main.currentStatus=='4.chargeLeaderScore')]

    <div class="modal-footer" style="clear:both;">
[@ec_privilege_check uri="/kpi/link/done/score"]
        <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>保存并提交</button>
[/@ec_privilege_check]
    </div>
[#else]
<br/>

[/#if]
</form>
    
[#if (ownBase.id)?? ]
<script type="text/javascript">

var plustakeholderScoringSum = function(){
	try{
		
		var tt = $("td[id^='stakeholderScoring_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval= $(nd).text();
			/* tval = tval.replace('%',''); */
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumstakeholderScore").text(total);
			}
		});
	}catch(e){
	}
}
var plusWeightSum = function(){
	try{
		
		var tt = $("td[id^='selfScoring_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval= $(nd).text();
			/* tval = tval.replace('%',''); */
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumweightdiv").text(total);
			}
		});
	}catch(e){
	}
}

    $(function() {
    	

        $("#kpiLibForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
                        modal.close();
                        loadFile('${path}/kpi/score/pending?sId=${main.id}&_'+getTime());
                    }
                });
            }
        });
        plustakeholderScoringSum();
        plusWeightSum();
    	
    });
    
    
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]
