[@EC.breadcrumbs/]
<style>
<!--
.tank_box5{background-color: rgba(0,0,0,0.2);width: 100%;z-index: 200;position: fixed;top:0;height: 100%;display: none;}
.tank_box5 .diz_bj{padding:0 20px;box-sizing:border-box;width:100%;max-width:640px;z-index: 201;margin:110px auto 0;}
.tank_box5 .xnum_div{background: #fff;padding: 15px 10px 0;border-radius: 8px;}
.tank_box5 .shur_div{height: 45px;border: 1px solid #dddddd;border-radius: 5px;position: relative;}
.tank_box5 .shur_div input{width:100%;color:#383838;border: none;outline: none;height: 45px;background: transparent;text-indent: 15px;}
.tank_box5 .shur_div .fdj_img{position: absolute;right: 10px;display: block;width: 40px;top:3px;}
.tank_box5 .close_xhao{width:30px;height: 30px;margin: 15px auto 0;}
.tank_box5 .close_xhao img{width: 100%;}
.tank_box5 .yzm_ttt{border: 1px solid #dddddd;border-radius: 5px;outline: none;height: 45px;line-height: 45px;width: 100%;text-indent:15px;color:#383838;}
.tank_box5 .msgs{position:absolute;right:0;top:0;cursor:pointer;height:46px;text-decoration:none;line-height:46px;width: 90px;color: #927744;font-size: 14px;text-align: center;display: block;border-radius:5px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
.tank_box5 .msgs1{height:46px;text-decoration:none;line-height:46px;width: 90px;color: #999;font-size: 14px;text-align: center;display: block;float: left;border-radius:5px;margin-left:10px;}
-->
</style>

<form class="form-horizontal" action="${path}/kpi/link/done/selfScore" method="post" id="kpiLibForm" target="main-content">
<div id="page-content" class="clearfix">
<!--     <div class="page-header position-relative"> -->
<!--         <button type="button" class="btn btn-small btn-default" data-dismiss="modal" onclick="loadFile('${path}/kpi/mylib/show?sId=${main.id}&_'+getTime());">次月考核制定</button> -->
<!--         <button type="button" class="btn btn-small btn-info" data-dismiss="modal" >本月考核自评</button> -->
<!--         <button type="button" class="btn btn-small btn-default" data-dismiss="modal" onclick="loadFile('${path}/kpi/mylib/openScoreUI?sId=${main.id}&_'+getTime());">查询我的绩效</button> -->
    
         

<!--     </div>/page-header -->


    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher">月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;自&nbsp;评</h4>
    </div>
    
<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(Session.user.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
					        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
 							&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        <select title="切换考核月" id="year" name="year" style="margin-left:30px;width:110px;" onchange="yearbuttonshow(this.value);">
						    	[#list yyyymm as y]
						    		[#if (y)??&&(y==cyyyymm) ]
						    		<option value="${y}" selected="selected">${y}</option>
						    		[#else]
						    		<option value="${y}">${y}</option>
					        		[/#if]
						    	[/#list]
						    </select>
                        
                        [@ec_privilege_check uri="${current_uri}/add"]
                        
    [#if (main.currentStatus!"")=='selfShowInit']
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                            [/#if]
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?sId=${main.id}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover" style="table-layout: fixed;"> 
                            <thead>
                                <tr>
                                <th width="5%"></th>
                                    <th class="center sorting_disabled"  width="45%"> 指标名称</th>
                                    <th class="hidden-480" width="10%">干系人</th>
                                    <th class="hidden-480">完成时间</th>
                                    <th class="hidden-phone">权重</th>
                                    <th style="text-align:center;">自评分<br/>(权重的120%以内)</th>
                                    <th style="text-align:center;" id="thReason" width="8%">自评理由</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="45%">${(u.lib.kpiName)!}</td>
								<td width="10%">${(u.lib.stakeholder.realname)!}</td>
								<td>
								[#if (u.finishTime)?? ]
									${u.finishTime?string("yyyy-MM-dd")}								
								[/#if]
								</td>
								<td id="weight_${(u.id)!}">
								[#if (u.weight)?? ]
									${u.weight}%								
								[/#if]
								</td>
								<td width="15%" align="center" style="text-align:center;">
									<div class="col-sm-9">
										<input id="melibselfScoring_${(u.id)!}" name="melibselfScoring_${(u.id)!}" class="input-sm" style="width:30px;" type="text" value="${(u.selfScoring)!}" onkeyup="scorever(this,${(u.id)});"/>
									</div>
								</td>
								<td width="8%" id="tdReason_${(u.id)!}">
								[#if (u.selfReason)??]
									[#if u.selfReason != ""]
									<div id="btnReason_${(u.id)!}">
										<button type="button" class="btn btn-small btn-default" title="自评分理由"  
										data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" 
										data-content="${(u.selfReason)!}">
										查看
										</button>
									</div>
									[/#if]
								[/#if]
									<span id="spanReason_${(u.id)!}" style="display: none;">${(u.selfReason)!}</span>
									<textarea id="melibselfReason_${(u.id)!}" name="melibselfReason_${(u.id)!}" title=""  placeholder="请输入自评理由"  class="input-sm" style="display: none;width: 90%;" rows="2" cols="2">${(u.selfReason)!}</textarea>
								</td>
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td width="5%" style="text-align:center;" rowspan="${purposeList?size}">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="45%">${(u.lib.kpiName)!}</td>
								<td>${(u.lib.stakeholder.realname)!}</td>
								<td>
								[#if (u.finishTime)?? ]
									${u.finishTime?string("yyyy-MM-dd")}								
								[/#if]
								</td>
								<td id="weight_${(u.id)!}">
								[#if (u.weight)?? ]
									${u.weight}%								
								[/#if]
								</td>
								<td width="15%" align="center" style="text-align:center;">
									<div class="col-sm-9">
										<input id="melibselfScoring_${(u.id)!}" name="melibselfScoring_${(u.id)!}" class="input-sm" style="width:30px;" type="text" value="${(u.selfScoring)!}" onkeyup="scorever(this,${(u.id)});"/>
									</div>
								</td>	
								<td width="8%" id="tdReason_${(u.id)!}">
								[#if (u.selfReason)??]
									[#if u.selfReason != ""]
									<div id="btnReason_${(u.id)!}">
										<button type="button" class="btn btn-small btn-default" title="自评分理由"  
										data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" 
										data-content="${(u.selfReason)!}">
										查看
										</button>
									</div>
									[/#if]
								[/#if]
									<span id="spanReason_${(u.id)!}" style="display: none;">${(u.selfReason)!}</span>
									<textarea id="melibselfReason_${(u.id)!}" name="melibselfReason_${(u.id)!}" title="" placeholder="请输入自评理由" class="input-sm" style="display: none;width: 90%;" rows="2" cols="2">${(u.selfReason)!}</textarea>
								</td>
								
							    </tr>
							[/#list]
							[/#if]
								<tr>
								<td width="70%" style="text-align:center;" valign="center" colspan="4"> </td>
								<td width="10%" id="sumweightdiv">
								</td>
								<td width="15%" align="center" style="text-align:center;" id="sumSelfScore">
								
								</td>
								<td width="5%"></td>
							    </tr>
								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="5">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
							</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
                        评分不能大于权重的120%，下限不设
    </div>


</div>
<input type="hidden" name="sId" value="${main.id}"/>
<input type="hidden" name="currentStatus" value="${main.currentStatus}"/>

<!-- <div class="tank_box5" style="display: none;" id="tq_yanz"> -->
<!--     <div class="diz_bj"> -->
<!--         <div class="xnum_div" style="padding:15px;"> -->
<!--             <div class="yanz_tq" style="margin-bottom: 0px;">自评分大于权重，请输入自评理由 -->
<!--             <div class="shur_div" style="margin-bottom:15px;margin-top:15px;"> -->
<!--             	<input type="text" id="selfreason" name="selfreason" placeholder="请输入自评理由" maxlength="200" /> -->
<!--             </div> -->
<!--             <div class="tq_btn"> -->
<!--                 <a class="btn btn-small btn-danger" onclick="setReasonFun();">确定</a> -->
<!--                 <a class="btn btn-small btn-refresh" onclick="$('#tq_yanz').hide();">关闭</a> -->
<!--             </div> -->
<!--         </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->

[#if main.currentStatus=='2.selfScore']

    <div class="modal-footer" style="clear:both;">
[@ec_privilege_check uri="/kpi/link/done/selfScore"]
        <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>保存并提交</button>
[/@ec_privilege_check]
    </div>
[#else]
<br/>

[/#if]
</form>
    
[#if (ownBase.id)?? ]
<script>
/* 显示自评分理由 */
$(function () { 
	$("[data-toggle='popover']").popover();
});
</script>
<script type="text/javascript">

function scorever(ths,id){
	
	ths.value=ths.value.replace(/\D/g,'');
	
	var youscore = $("#melibselfScoring_"+id).val();
	var youweight=$("#weight_"+id).html();
	youweight = parseInt(youweight.replace(/\D/g,''));

	var youmax = youweight*120/100;

	var resultmax = parseInt(youmax);
	
	if(ths.value>resultmax){
		ths.value=resultmax;
	}
	plusSelfScoreSum();
}

var plusWeightSum = function(){
	try{
		
		var tt = $("td[id^='weight_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval= $(nd).text();
			tval = tval.replace('%','');
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumweightdiv").text(total+"%");
			}
		});
	}catch(e){
	}
}
var plusSelfScoreSum = function(){
	try{
		
		var tt = $("input[name^='melibselfScoring_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval= $(nd).val();
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumSelfScore").text(total);
			}
		});
	}catch(e){
	}
}
var melibselfId_tmp = "";

function setReasonFun(){
	$("#melibselfReason_"+melibselfId_tmp).val($("#selfreason").val());
	$("#melibselfReason_"+melibselfId_tmp).show();
	
	if($("#selfreason").val()==null || $("#selfreason").val().trim()==''){
		bootbox.alert('请输入原因');
		return ;
	}
	
	$('#tq_yanz').hide();
}


    $(function() {
        $("#kpiLibForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
						if(data=='true'){
							bootbox.alert('保存成功!');
	                        loadFile('${path}/kpi/mylib/selfScoreUI?sId=${sId}&_'+getTime());
						}else if(data=='false'){
							alert('保存失败!');
						}else{
							bootbox.alert(data);
						}
                    }
                });
            }
        });
        
        
        $("input[name^='melibselfScoring_']").on("blur", function (e) {
        	e.preventDefault();

        	melibselfId_tmp = $(this).attr("id").split("_")[1];
        	var score = $(this).val();
        	
        	var weight = $("#weight_"+melibselfId_tmp).html();
        	weight = weight.replace("%","");
        	score=parseInt(score);
        	weight=parseInt(weight);
//         	alert(melibselfId_tmp+" score="+ score+" weight="+weight+"=score>weight="+(score>weight))

        	if(score>weight){
        		$("#btnReason_"+melibselfId_tmp).hide();
        		$("#melibselfReason_"+melibselfId_tmp).val($("#spanReason_"+melibselfId_tmp).text());
        		$("#melibselfReason_"+melibselfId_tmp).show();
        		$("#thReason").attr("width","20%");
        		$("#melibselfReason_"+melibselfId_tmp).focus();
//         		20171020zengmao修改
//             	$("#selfreason").val($("#melibselfReason_"+melibselfId_tmp).val());
//     			$("#tq_yanz").show();
        	}
        	
        	if(score<=weight){
            	$("#melibselfReason_"+melibselfId_tmp).val("");
            	$("#melibselfReason_"+melibselfId_tmp).hide();
            	$("#thReason").attr("width","8%");
            	$("#btnReason_"+melibselfId_tmp).show();
        	}
        	

        });
        
        plusWeightSum();
        plusSelfScoreSum();
    });
    
    function yearbuttonshow(val){
    	
    	loadFile("${path}${current_uri}?yyyymm="+val+"&_"+Math.random());
    }
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]
