[@EC.breadcrumbs/]
<style type="text/css">
<!--
   .mycode{ width:100%; height: 30px;}  
    .mycode ul{ width:100%;}  
    .mycode li{ width:200px; float:left; display:block;}   
-->
</style>

      [@ec_privilege_check uri="/kpi/score/pending"]
      		<div style="position:fixed;width:100%;height:30px;right:20px;top:80px;z-index:1000; ">
            <button class="btn btn-small btn-info" style="float:right;" data-loading-text="正在打开..." onclick="loadFile('${path}/kpi/score/pending?custom=kpimodule&_'+getTime());"><i class="icon-ok"></i>返回列表</button>
           </div>
      [/@ec_privilege_check]
<form class="form-horizontal" action="${path}/kpi/link/done/score" method="post" id="kpiLibForm" target="main-content">
<div id="page-content" class="clearfix">
    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher">月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;待&nbsp;评&nbsp;分</h4>
    </div>
    
<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
					        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
 							&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                        
    [#if (main.currentStatus!"")=='selfShowInit']
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                            [/#if]
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?sId=${main.id}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover" style="word-break:break-all;"> 
                            <thead>
                                <tr>
                                	<th></th>
                                    <th class="center sorting_disabled">指标名称</th>
                                    <th>干系人</th>
                                    <th width="10%">完成时间</th>
                                    <th width="5%">权重</th>
                                    <th style="text-align:center;">自评分</th>
                                    <th width="8%">自评分理由</th>
                                    <th style="text-align:center;">直接上级评分<br/>(权重的120%以内)</th>
                                    <th width="5%" id="thReason">上级评分理由</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="35%">${(u.lib.kpiName)!}</td>
								<td width="10%">${(u.lib.stakeholder.realname)!}</td>
								<td>${u.finishTime?string("yyyy-MM-dd")}</td>
								<td id="weight_${(u.id)!}">${u.weight}%</td>
								<td id="selfScoring_${(u.id)!}" style="text-align:center;">
								
<!-- 									<div class="col-sm-9"  > -->
										${(u.selfScoring)!}
<!-- 									</div> -->
								
								</td>
								<td width="8%" title="${(u.selfReason)!}" >
								[#if (u.selfReason)??]
									[#if u.selfReason != ""]
									<div id="btnReason_${(u.id)!}">
										<button type="button" class="btn btn-small btn-default" title="自评分理由"  
										data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" 
										data-content="${(u.selfReason)!}">
										查看
										</button>
									</div>
									[/#if]
								[/#if]
								</td>
								<td align="center" style="text-align:center;">
									<input id="stakeholderScore_${(u.id)!}" name="stakeholderScore_${(u.id)!}" class="input-sm" style="width:40px;" type="text" value="${(u.stakeholderScoring)!}" onkeyup="scorever(this,${(u.id)});"/>
								</td>
								
								<td title="${(u.stakeholderScoringReason)!}" width="5%" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">
									<span id="spanReason_${(u.id)!}" style="width:5px;">${(u.stakeholderScoringReason)!}</span>
									<textarea id="melibselfReason_${(u.id)!}" name="melibselfReason_${(u.id)!}" title=""  placeholder="请输入评分理由"  class="input-sm" style="display: none;width: 90%;" rows="2" cols="2">${(u.selfReason)!}</textarea>
								</td>
								
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="35%">${(u.lib.kpiName)!}</td>
								<td width="10%">${(u.lib.stakeholder.realname)!}</td>
								<td >${u.finishTime?string("yyyy-MM-dd")}</td>
								<td id="weight_${(u.id)!}">${u.weight}%</td>
								<td id="selfScoring_${(u.id)!}" style="text-align:center;">
									
<!-- 									<div class="col-sm-9" id="selfScoring_${(u.id)!}"> -->
										${(u.selfScoring)!}
<!-- 									</div> -->
								</td>
								<td width="8%" title="${(u.selfReason)!}" >
								[#if (u.selfReason)??]
									[#if u.selfReason != ""]
									<div id="btnReason_${(u.id)!}">
										<button type="button" class="btn btn-small btn-default" title="自评分理由"  
										data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" 
										data-content="${(u.selfReason)!}">
										查看
										</button>
									</div>
									[/#if]
								[/#if]
								</td>
								<td align="center" style="text-align:center;">
									<input id="stakeholderScore_${(u.id)!}" name="stakeholderScore_${(u.id)!}" class="input-sm" style="width:40px;" type="text" value="${(u.stakeholderScoring)!}" onkeyup="scorever(this,${(u.id)});"/>									
								</td>
								
								<td title="${(u.stakeholderScoringReason)!}" width="5%" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">
									<span id="spanReason_${(u.id)!}" style="width:5px;">${(u.stakeholderScoringReason)!}</span>
									<textarea id="melibselfReason_${(u.id)!}" name="melibselfReason_${(u.id)!}" title=""  placeholder="请输入评分理由"  class="input-sm" style="display: none;width: 90%;" rows="2" cols="2">${(u.selfReason)!}</textarea>
								</td>
								
							    </tr>
							[/#list]
							[/#if]
<!-- 							20171020zengmao添加 -->
							<tr>
								<td style="text-align:center;" valign="center" colspan="5"> </td>
								<td style="text-align:center;" width="10%" id="sumweightdiv"></td>
								<td></td>
								<td align="center" style="text-align:center;" id="sumstakeholderScore"></td>
								<th></th>
							    </tr>
								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="4">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
							</tbody>
                        </table>
                        <div class="mycode">
						    <ul>
<!-- 						        <li> -->
<!--                         直接上级评分:&nbsp;<input id="directSuperiorScoring" name="directSuperiorScoring" value="${main.directSuperiorScoring!}" style="width:60px;"/> -->
<!-- 						        </li> -->
						        <li>
                        综合评分:${main.compositeScoring!}
						        </li>

<!-- 						        <li> -->
<!--                         考核系数:${main.kpiCoefficient!} -->
<!-- 						        </li> -->
						    </ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>


</div>
<input type="hidden" name="sId" value="${main.id}"/>

[#if (main.currentStatus=='3.parentScore')]

    <div class="modal-footer" style="clear:both;">
[@ec_privilege_check uri="/kpi/link/done/score"]
        <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>保存并提交</button>
[/@ec_privilege_check]
    </div>
[#else]
<br/>

[/#if]
</form>
    
[#if (ownBase.id)?? ]
<script>
/* 显示自评分理由 */
$(function () { 
	$("[data-toggle='popover']").popover();
});
</script>
<script type="text/javascript">
/* 20171020zengmao添加 */

function scorever(ths,id){
	
	ths.value=ths.value.replace(/\D/g,'');
	
	var youscore = $("#stakeholderScore_"+id).val();
	var youweight=$("#weight_"+id).html();
	youweight = parseInt(youweight.replace(/\D/g,''));

	var youmax = youweight*120/100;

	var resultmax = parseInt(youmax);
	
	if(ths.value>resultmax){
		ths.value=resultmax;
	}
	plusStakeholderScoreSum();
}

var plusWeightSum = function(){
	try{
		
		var tt = $("td[id^='selfScoring_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval= $(nd).text();
			/* tval = tval.replace('%',''); */
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumweightdiv").text(total);
			}
		});
	}catch(e){
	}
}
var plusStakeholderScoreSum = function(){
	try{
		
		var tt = $("input[name^='stakeholderScore_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval = $(nd).val();

			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumstakeholderScore").text(total);					
			}
		});
	}catch(e){
	}
}

    $(function() {
        $("#kpiLibForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
                        modal.close();
                        loadFile('${path}/kpi/score/pending?sId=${main.id}&_'+getTime());
                    }
                });
            }
        });

        $("input[name^='stakeholderScore_']").on("blur", function (e) {
        	e.preventDefault();

        	melibselfId_tmp = $(this).attr("id").split("_")[1];
        	var score = $(this).val();
        	
        	var weight = $("#weight_"+melibselfId_tmp).html();
        	weight = weight.replace("%","");
        	score=parseInt(score);
        	weight=parseInt(weight);

        	if(score>weight){
        		$("#spanReason_"+melibselfId_tmp).hide();
        		$("#melibselfReason_"+melibselfId_tmp).val($("#spanReason_"+melibselfId_tmp).text());
        		$("#melibselfReason_"+melibselfId_tmp).show();
        		$("#thReason").attr("width","20%");
        		$("#melibselfReason_"+melibselfId_tmp).focus();
        	}
        	
        	if(score<=weight){
            	$("#melibselfReason_"+melibselfId_tmp).val("");
            	$("#melibselfReason_"+melibselfId_tmp).hide();
            	$("#thReason").attr("width","5%");
            	$("#spanReason_"+melibselfId_tmp).show();
        	}
        	

        });
        
        
        plusWeightSum();
        plusStakeholderScoreSum();
    });
    
    
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]
