[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>工序步骤信息管理</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    [@ec_rollingPlan id=autoidup;rp]
                    <h4 class="lighter">焊口${rp.weldno!}工序步骤列表</h4>
                    [/@ec_rollingPlan]
                     <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="/construction/mytask"]
                            <button class="btn btn-small btn-purple" onclick="loadFile('${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-arrow-left"></i>返回上一级
                            </button>
                        [/@ec_privilege_check]
	                        <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
	                            <i class="icon-refresh"></i>刷新
	                        </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="workStepTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                     <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>序号</th>
                                    <th>步骤号</th>
                                    <th>步骤名称</th>
                                    <th>通知点A-QC1</th>
                                    <th>通知点A-QC2</th>
                                    <th>通知点A-QA</th>
                                    <th>通知点B</th>
                                    <th>通知点C</th>
                                    <th>通知点D</th>
                                    <th>当前状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		$.extend( $.fn.dataTable.defaults, {
			"order": [[ 1, "asc" ]]
		});
		
		dataTable.initTable({
			"tableID":"#workStepTable",
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no"
			            },
			            {
			    		  "data":"stepno"
			            },
			            {
			    		  "data":"stepname"
			            },
			            {
			    		  "data":"noticeaqc1"
			            },
			            {
			    		  "data":"noticeaqc2"
			            },
			            {
			    		  "data":"noticeaqa"
			            },
			            {
			    		  "data":"noticeb"
			            },
			            {
			    		  "data":"noticec"
			            },
			            {
			    		  "data":"noticed"
			            },
			            {
			    		  "data":"stepflag"
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}?autoidup=${autoidup!}",
	      "order": [[ 2, "asc" ]]
		});
	})
</script>
