    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>工序回填多个</h4>
                </div>
                [#if form.ids?? && form.ids?size > 0]
                	[#assign allBackFilledFlag = false /]
                	[#assign backFillWorkStepIdFlag = false /]
                	[#assign plandate = "" /]
					<div class="control-group" style="margin-left: 20px;max-height: 100px;overflow-y: scroll;">
                	[#list form.ids as id]
		                [@ec_rollingPlan id=id;rollingPlan]
			                [#if rollingPlan??]
				                [#if rollingPlan.allBackFilled?? && rollingPlan.allBackFilled == true]
				                	[#assign allBackFilledFlag = true]
				                [/#if]
				                [#if !plandate?? || plandate == "" || plandate?substring(0,10)?date('yyyy-MM-dd') gt rollingPlan.plandate?substring(0,10)?date('yyyy-MM-dd')]
				                	[#assign plandate = rollingPlan.plandate]
				                [/#if]
				                [#if rollingPlan.backFillWorkStepId?? && rollingPlan.backFillWorkStepId?size > 0]
				                	[#assign backFillWorkStepIdFlag = true]
						            <label style="color: grey;">图纸号：${rollingPlan.drawno!} 焊口/支架号：${rollingPlan.weldno!}</label>
				                [/#if]
		                	[/#if]
		               [/@ec_rollingPlan]
	               [/#list]
				   </div>
	               [#if backFillWorkStepIdFlag == true]
	                <form class="form-horizontal" action="${path}/construction/mytask/workstep/result/multiple" method="post" id="addWorkStepResultMultiple" >
	                <div class="modal-body">
	                      <div class="control-group">
	                      	 [#list form.ids as id]
	                         	<input type="hidden" name="ids" value="${id!}"/>
	                         [/#list]
	                         [#if plandate??]
	                         <input type="hidden" id="firstTime" name="firstTime" value="${plandate?substring(0,10)} 00:00:00"></input>
	                         [/#if]
	                         <label class="control-label" for="operater">操作者:</label>
	                         <div class="controls">
	                         	<input id="operater" type="text" name="operater" value="${operater!}"/> 
	                         </div>
	                      </div>
	                      <div class="control-group">
	                         <label class="control-label" for="operatedate">完成日期:</label>
	                         <div class="controls">
	                         	<input id="operatedate" type="text" class="Wdate" name="operatedate" readonly="readonly" onkeydown="repeal(event);"  placeholder="完成时间" onFocus="dateTimePannel([#if plandate??]{min:'firstTime'}[/#if]);"/> 
	                         </div>
	                      </div>
	                      <div class="control-group">
	                         <label class="control-label" for="operatedesc">描述:</label>
	                         <div class="controls">
	                        	 <textarea name="operatedesc" id="operatedesc" class="EC-form-textarea easyui-validatebox" placeholder="回填信息的描述内容不能超过500个字符" rows="6" cols="40">合格</textarea>
	                    	 </div>
	                     </div>
	                [#if allBackFilledFlag == true]
	                <hr/>
	                 	<div class="control-group">
	                         <label class="control-label" for="qcman">QC确认人:</label>
	                         <div class="controls">
	                         	<input id="qcman" type="text" name="qcman"/> 
	                         </div>
	                      </div>
	                      <div class="control-group">
	                         <label class="control-label" for="qcsign">QC检查完成:</label>
	                         <div class="controls">
	                         	<select name="qcsign" id="qcsign">
	                         		<option value="1">确认</option>
	                         		<option value="0">未确认</option>
	                         		<option value="2">退回</option>
	                         	</select> 
	                         </div>
	                      </div>
	                      [#if user.defaultAdmin]
	                     	<div class="control-group">
	                         <label class="control-label" for="qcdate">QC确认日期:</label>
	                         <div class="controls">
	                         	<input id="qcdate" type="text" class="Wdate" name="qcdate" readonly="readonly" onkeydown="repeal(event);"  placeholder="QC确认日期" onFocus="dateTimePannel();"/> 
	                         </div>
	                      	</div>
	                      [/#if]
	                [/#if]
	                 </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
	                </div>
	               </form>
		           [#else]
		               	你所选择的条目均不用回填。
	               [/#if]
	           [#else]
	               	你没有选择任何的滚动计划。
               [/#if]
            </div>
        </div>
<script type="text/javascript" src="${path}/resources/plugins/textAreaCounter/jquery.textareaCounter.js"></script>
<style type="text/css">
	.originalTextareaInfo {
		font-size: 12px;
		color: #000000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
	.warningTextareaInfo {
		font-size: 12px;
		color: #FF0000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
</style> 
<script type="text/javascript">
$(document).ready(function () {
	var optionsDesc = {
			'maxCharacterSize': 500,
			'originalStyle': 'originalTextareaInfo',
			'warningStyle' : 'warningTextareaInfo',
			'warningNumber': 50,
			'displayFormat' : '#input/#max 个字符'
	};
	$('#operatedesc').textareaCount(optionsDesc);
});

	$(function(){
		formValidtor.modalValid({
			handler:"#addWorkStepResultMultiple",
			rules : {
				operater : {
        			required : true,
        			maxlength:20
        		},
        		qcman : {
        			required : true,
        			maxlength:20
        		},
        		qcsign : {
        			required : true
        		},
        		qcdate : {
        			required : true
        		},
				operatedate : {
        			required : true
        		}
        	}
		})
	}); 
</script>
    </div>
