    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>计划信息表回填信息</h4>
                </div>
                [@ec_rollingPlan id=form.id;rp]
                <label style="color: grey;">图纸号：${rp.drawno!} 焊口/支架号：${rp.weldno!}</label>
                <form class="form-horizontal" action="${path}/construction/mytask/rollingplan/result/edit" method="post" id="editRollingPlanResult" >
                <div class="modal-body">
                      <div class="control-group">
                         <input type="hidden" name="id" id="id" value="${form.id!}"/>
                         <input type="hidden" id="firstTime" name="firstTime" value="${rp.plandate?substring(0,10)} 00:00:00"></input>
                         <label class="control-label" for="welder">焊工:</label>
                         <div class="controls">
                         	<input id="welder" type="text" name="welder" value="${rp.welder!}"/> 
                         </div>
                      </div>
                      <div class="control-group">
                         <label class="control-label" for="enddate">完成日期:</label>
                         <div class="controls">
                         	<input id="enddate" type="text" class="Wdate" name="enddate" value="${rp.enddate?string('yyyy-MM-dd HH:mm:ss')}" readonly="readonly" onkeydown="repeal(event);"  placeholder="完成时间" onFocus="dateTimePannel({min:'firstTime'});"/> 
                         </div>
                      </div>
                      <div class="control-group">
                         <label class="control-label" for="remark">描述:</label>
                         <div class="controls">
                        	 <textarea name="remark" id="remark" class="EC-form-textarea easyui-validatebox" placeholder="完成信息的描述内容不能超过500个字符" rows="6" cols="40">${rp.remark!}</textarea>
                    	 </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label" for="qcman">QC确认人:</label>
                         <div class="controls">
                         	<input id="qcman" type="text" name="qcman" value="${rp.qcman!}"/> 
                         </div>
                      </div>
                      <div class="control-group">
                         <label class="control-label" for="qcsign">QC检查完成:</label>
                         <div class="controls">
                         	<select name="qcsign" id="qcsign">
                         		<option value="0" [#if rp.qcsign?? && rp.qcsign == 0]
                         		selected="selected"
                         		[/#if]>未确认</option>
                         		<option value="1" [#if rp.qcsign?? && rp.qcsign == 1]
                         		selected="selected"
                         		[/#if]>确认</option>
                         		<option value="2" [#if rp.qcsign?? && rp.qcsign == 2]
                         		selected="selected"
                         		[/#if]>退回</option>
                         	</select> 
                         </div>
                      </div>
                     [#if user.defaultAdmin]
                     	<div class="control-group">
                         <label class="control-label" for="qcdate">QC确认日期:</label>
                         <div class="controls">
	                     [#if rp.qcdate??]
                         	<input id="qcdate" type="text" class="Wdate" name="qcdate" value="${rp.qcdate?string('yyyy-MM-dd HH:mm:ss')}" readonly="readonly" onkeydown="repeal(event);"  placeholder="完成时间" onFocus="dateTimePannel();"/> 
	                     [#else]	
	                   		<input id="qcdate" type="text" class="Wdate" name="qcdate" readonly="readonly" onkeydown="repeal(event);"  placeholder="完成时间" onFocus="dateTimePannel();"/> 
	                   	[/#if]
                         </div>
                      </div>
                     [#else]
                     <div class="control-group">
                         <label class="control-label">QC确认日期:</label>
                         <div class="controls">
                         	[#if rp.qcdate??]
                         		${rp.qcdate?string('yyyy-MM-dd HH:mm:ss')}
                         	[/#if]
                         </div>
                      </div>
                     [/#if]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
               </form>
               [/@ec_rollingPlan]
            </div>
        </div>
<script type="text/javascript" src="${path}/resources/plugins/textAreaCounter/jquery.textareaCounter.js"></script>
<style type="text/css">
	.originalTextareaInfo {
		font-size: 12px;
		color: #000000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
	.warningTextareaInfo {
		font-size: 12px;
		color: #FF0000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
</style> 
<script type="text/javascript">
$(document).ready(function () {
	var optionsDesc = {
			'maxCharacterSize': 500,
			'originalStyle': 'originalTextareaInfo',
			'warningStyle' : 'warningTextareaInfo',
			'warningNumber': 50,
			'displayFormat' : '#input/#max 个字符'
	};
	$('#operatedesc').textareaCount(optionsDesc);
});

	$(function(){
		formValidtor.modalValid({
			handler:"#editRollingPlanResult",
			rules : {
				welder : {
        			required : true,
        			maxlength:20
        		},
        		qcman : {
        			required : true,
        			maxlength:20
        		},
        		qcsign : {
        			required : true
        		},
        		enddate : {
        			required : true
        		}
        	}
		})
	}); 
</script>
    </div>
