    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>工序批量回填</h4>
                </div>
                [@ec_rollingPlan id=form.id;rollingPlan]
                [#if rollingPlan??]
                <div class="control-group" style="margin-left: 20px;">
	                <label style="color: grey;">图纸号：${rollingPlan.drawno!} 焊口/支架号：${rollingPlan.weldno!}</label>
	                [#if rollingPlan.backFillWorkStepId?? && rollingPlan.backFillWorkStepId?size > 0]
						[#list rollingPlan.backFillWorkStepId as rpbf]
							[@ec_workStep id=rpbf;ws]
		                		[#if ws??]
		                			<small>${ws.stepno!} . ${ws.stepname!}</small><br/>
		                		[/#if]
	               			[/@ec_workStep]
	                	[/#list]
	                [/#if]
                </div>
                [#if rollingPlan.backFillWorkStepId?? && rollingPlan.backFillWorkStepId?size > 0]
                <form class="form-horizontal" action="${path}/construction/mytask/workstep/result/batch" method="post" id="addWorkStepResultBatch" >
                <div class="modal-body">
                      <div class="control-group">
                         <input type="hidden" name="id" id="id" value="${form.id!}"/>
                         <input type="hidden" id="firstTime" name="firstTime" value="${rollingPlan.plandate?substring(0,10)} 00:00:00"></input>
                         <label class="control-label" for="operater">操作者:</label>
                         <div class="controls">
                         	<input id="operater" type="text" name="operater" value="${operater!}"/> 
                         </div>
                      </div>
                      <div class="control-group">
                         <label class="control-label" for="operatedate">完成日期:</label>
                         <div class="controls">
                         	<input id="operatedate" type="text" class="Wdate" name="operatedate" readonly="readonly" onkeydown="repeal(event);"  placeholder="完成时间" onFocus="dateTimePannel({min:'firstTime'});"/> 
                         </div>
                      </div>
                      <div class="control-group">
                         <label class="control-label" for="operatedesc">描述:</label>
                         <div class="controls">
                        	 <textarea name="operatedesc" id="operatedesc" class="EC-form-textarea easyui-validatebox" placeholder="回填信息的描述内容不能超过500个字符" rows="6" cols="40">合格</textarea>
                    	 </div>
                     </div>
                [#if rollingPlan.allBackFilled?? && rollingPlan.allBackFilled == true]
                <hr/>
                 	<div class="control-group">
                         <label class="control-label" for="qcman">QC确认人:</label>
                         <div class="controls">
                         	<input id="qcman" type="text" name="qcman"/> 
                         </div>
                      </div>
                      <div class="control-group">
                         <label class="control-label" for="qcsign">QC检查完成:</label>
                         <div class="controls">
                         	<select name="qcsign" id="qcsign">
                         		<option value="1">确认</option>
                         		<option value="0">未确认</option>
                         		<option value="2">退回</option>
                         	</select> 
                         </div>
                      </div>
                      [#if user.defaultAdmin]
                     	<div class="control-group">
                         <label class="control-label" for="qcdate">QC确认日期:</label>
                         <div class="controls">
                         	[#if rollingPlan.qcdate??]
                         		<input id="qcdate" type="text" class="Wdate" name="qcdate" value="${rollingPlan.qcdate?string('yyyy-MM-dd HH:mm:ss')}" readonly="readonly" onkeydown="repeal(event);"  placeholder="QC确认日期" onFocus="dateTimePannel();"/> 
                         	[#else]	
                         		<input id="qcdate" type="text" class="Wdate" name="qcdate" readonly="readonly" onkeydown="repeal(event);"  placeholder="QC确认日期" onFocus="dateTimePannel();"/> 
                         	[/#if]
                         </div>
                      	</div>
                      [/#if]
                [/#if]
                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
               </form>
               		[#else]
		               	你所选择的条目均不用回填。
	               [/#if]
               [#else]
               		工序未找到。
               [/#if]
               [/@ec_rollingPlan]
            </div>
        </div>
<script type="text/javascript" src="${path}/resources/plugins/textAreaCounter/jquery.textareaCounter.js"></script>
<style type="text/css">
	.originalTextareaInfo {
		font-size: 12px;
		color: #000000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
	.warningTextareaInfo {
		font-size: 12px;
		color: #FF0000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
</style> 
<script type="text/javascript">
$(document).ready(function () {
	var optionsDesc = {
			'maxCharacterSize': 500,
			'originalStyle': 'originalTextareaInfo',
			'warningStyle' : 'warningTextareaInfo',
			'warningNumber': 50,
			'displayFormat' : '#input/#max 个字符'
	};
	$('#operatedesc').textareaCount(optionsDesc);
});

	$(function(){
		formValidtor.modalValid({
			handler:"#addWorkStepResultBatch",
			rules : {
				operater : {
        			required : true,
        			maxlength:20
        		},
        		qcman : {
        			required : true,
        			maxlength:20
        		},
        		qcsign : {
        			required : true
        		},
        		qcdate : {
        			required : true
        		},
				operatedate : {
        			required : true
        		}
        	}
		})
	}); 
</script>
    </div>
