[@ec_examScore
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
	custom="${form.custom!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
    ,"no":${u_index+1!}
    ,"realname":"${u.realname!}"
    ,"examDate":"${u.examDate?string('yyyy-MM-dd HH:mm:ss')!}"
    ,"examType":"${u.examType!}"
    ,"examScore":"${u.examScore}"
    ,"examResult":"${u.examResult!}"
    ,"links":[

			{}
			]


    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_examScore]