[@ec_learning
	queryType = "list"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!20}" 
	pageable=1
;list]
[#if list?? && (list?size > 0)]
	<ul class="ace-thumbnails">
	[#list list as r]
	    <li><a href="javascript:void(0);" onclick="javascript:loadFile('${path!}/hd/learning/detail?id=${r.id!}');"
			data-rel="colorbox"> <img alt="${r.title!}" height="180px" style="height: 180px;min-height: 180px;"
			[#assign cover = '']
			[#if r?? && r?size > 0]
				[#list r.learningFiles as item]
					[#if item.coverPath??]
						[#assign cover = item.coverPath]
						[#break]
					[/#if]
				[/#list]
			[/#if]
			[#if cover?? && cover != '']
				src="${path!}${cover!}"
			[#else]
				src="${path!}/resources/images/default.jpg"
			[/#if]
				 />
				<div class="text">
					<div class="inner">点击查看详情</div>
				</div>
		</a>
		<div class="text-center">
	          [#if r.type??]<span style="padding: 2px;border: thin solid blue;"">[#if r.type == 'VIDEO']视频[#elseif r.type == 'IMAGE_TEXT']图文[/#if]</span>[/#if]<label style="display: inline-block;">${r.title!}</label>
	    </div>
		</li>
	[/#list]
	</ul>
	<br clear="ALL"/>
	<nav style="text-align: center">
		[@EC.paginate currentPage=current totalPage=pagecount actionUrl="${path!}/hd/learning" custom=form.custom /]
	</nav>
[/#if]
[/@ec_learning]