[@ec_learned_history 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
	custom="${form.custom!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
	[#if (u.endDate)?? ]
		[#assign endDate="${u.endDate?string('yyyy-MM-dd HH:mm:ss')!}"/]
	[#else]
		[#assign endDate="-"/]
	[/#if]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
    ,"no":${u_index+1!}
    ,"name":"${u.userName!}"
    ,"startDate":"${u.startDate?string('yyyy-MM-dd HH:mm:ss')!}"
    ,"endDate":"${endDate}"
	[#if (u.duration)?? ]
		[#assign duration="${u.duration!}"/]
	[#else]
		[#assign duration="-"/]
	[/#if]
    ,"duration":"${duration!}"
    ,"links":[

			{}
			]


    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_learned_history]