[@ec_learning_section 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#assign var = ((current - 1) * pagesize) + 1]
[#list list as r]
    {
    "id":"<label><input type='checkbox' name='ids' value='${r.id!}'/><span class='lbl'></span></label>"
    ,"no":${var + r_index}
    ,"name":"${r.name!}"
    ,"links":[
    	[@ec_privilege_check uri="/hd/learning/section/edit"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${r.id!}'});"
	    	,"icon":"icon-edit"
	    	,"clz":"btn"
	    	,"showTitleInLink":true
    	},
    	[/@ec_privilege_check]
    	
[#--
    	[@ec_privilege_check uri="/hd/learning/section/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${r.id!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
    	},
    	[/@ec_privilege_check]
--]    	
    	[#if r.needsSub?? && r.needsSub == true]
	    	[@ec_privilege_check uri="/hd/learning/module"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?custom=${r.type!}')"
		    	,"icon":"icon-search"
		    	,"clz":"btn-warning"
	    		,"showTitleInLink":true
	    	},
	    	[/@ec_privilege_check]
    	[#else]
    		[@ec_privilege_check uri="/hd/learning/fold"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?section=${r.type!}')"
		    	,"icon":"icon-th"
		    	,"clz":"btn-info"
	    		,"showTitleInLink":true
	    	},
	    	[/@ec_privilege_check]
    		[@ec_privilege_check uri="/hd/exam"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?section=${r.type!}')"
		    	,"icon":"icon-book"
		    	,"clz":"btn-primary"
	    		,"showTitleInLink":true
	    	},
	    	[/@ec_privilege_check]
    	[/#if]
    	{}
    	]
    }
    [#if r_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_learning_section]