[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>安全文明施工统计</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <div style="float: left;">
						<ul class="nav nav-tabs" id="myTab" >
							
												
						</ul>
					</div>
                    <div class="widget-toolbar">

                        [@ec_privilege_check uri="/hd/hseproblem/deleteNotHandle"]
                        <button class="btn btn-small btn-danger" id="deleteNotHandle">
                            <i class="icon-plus"></i>${AUTH_MENU.name}
                        </button>
                        [/@ec_privilege_check]

                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                            
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="statisticsPlanAssign" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                	<th class="center">序号</th>
                                    <th>创建时间</th>
                                    <th>标题</th>
                                    <th>总量</th>
                                    <th>新问题</th>
                                    <th>待整改</th>
                                    <th>待审核</th>
                                    <th>重新整改</th>
                                    <th>二次审核</th>
                                    <th>完成</th>
                                    
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">

	$(function() {

		dataTable.initTable({
			"serverSide" : true,
			"tableID" : "#statisticsPlanAssign",
			'bSort' : false,
			"bFilter" : false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns" : [  {
				"data" : "no"
			}, {
				"data" : "createdOn"
			}, {
				"data" : "problemTitle"
			}, {
				"data" : "total"
			}, {
				"data" : "isNew"
			}, {
				"data" : "isNeedRenovate"
			}, {
				"data" : "isNeedCheck"
			}, {
				"data" : "isRenovateAgain"
			}, {
				"data" : "isCheckAgain"
			}, {
				"data" : "isFinished"
			}, {
				"data" : "links",
				"sortable" : false
			}, ],
			"url" : "${path}${current_uri}",
			"order" : [ [ 0, "asc" ] ]
		});

		$("#deleteNotHandle").on('click',function () {

            var url = "${path}/hd/hseproblem/deleteNotHandle";
            console.log(url);
            $.post(url,null,function (data) {
                console.log(data);
                if (data) {

                    alert('删除完成！');
                    dataTable.refresh();
                }else{

                    alert('删除出错！');
                }
            })
        })
	})
</script>
