[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>我完成的见证</h1>

	</div>
	<!--/page-header-->

	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div
					class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
					<h4 class="lighter">我的见证列表</h4>
					<div class="widget-toolbar">
						<div class="btn-group">
							<button class="btn btn-small btn-info"
								onclick="dataTable.refresh();">
								<i class="icon-refresh"></i>刷新
							</button>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<table id="witnessTable"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center"><label> <input type="checkbox"
											onclick="checkAll(this);" /> <span class="lbl"></span></label></th>
									<th>序号</th>
									<th>图纸号</th>
									<th>焊口号</th>
									<th>工序名称</th>
									<th>见证时间</th>
									<th>见证地点</th>
									<th>通知点</th>
                                    <th>通知点类型</th>
									<th>见证结果</th>
									<th>操作</th>
								</tr>
							</thead>

						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS HERE -->
	</div>
</div>

<script type="text/javascript">
	var ip = (window.location.href).split("/")[2];
	function export_to_excel() {
		window.open("http://"+ip+"/easycms-website/witness/download?action=complete");
	}
	$(function() {
		dataTable.initTable({
			"tableID":"#witnessTable",
			"searching": false,
// 			"lengthChange": true,
// 			"searching": false,
// 			"processing" : true,
// 			"serverSide" : true,
// 			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no",
			    		  "sortable": false
			            },
			            {
			    		  "data":"drawno",
			    		  "sortable": false
			            },
			            {
			    		  "data":"weldno",
			    		  "sortable": false
			            },
			            {
			    		  "data":"stepname",
			    		  "sortable": false
			            },
			            {
			    		  "data":"witnessdate",
			    		  "sortable": false
			            },
			            {
			    		  "data":"witnessaddress",
			    		  "sortable": false
			            },
			            {
		            	  "data":"noticeType",
			    		  "sortable": false
		            	},
		            	{
		            	  "data":"noticePoint",
			    		  "sortable": false
		            	},
			            {
			    		  "data":"isok",
			    		  "sortable": false
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>
