    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>见证结果</h4>
                </div>
                [@ec_witnesser_or id=form.id; item]
                [#if item??]
                <div class="modal-body">
                	[#if item.noticePoint != 'QC2']
	                	<div class="control-group">
								见证时间:  [#if item.realWitnessDate??]
									${item.realWitnessDate?string('yyyy-MM-dd HH:mm:ss')}
								[#else]
									[#if item.realWitnessDate??]
										${item.witnessDate?string('yyyy-MM-dd HH:mm:ss')}
									[/#if]
								[/#if]
						</div>
	                    <div class="control-group">
	                         	见证地点:  [#if item.realWitnessAddress?? && item.realWitnessAddress != '']${item.realWitnessAddress!}[#else]${item.witnessAddress!}[/#if]
	                     </div>
	                    <div class="control-group">
	                         	发起人:  ${item.launcherName!}
	                     </div>
	                    <div class="control-group">
	                         	见证结果:  
	                         [#if item.result?? && item.result == 'UNWITNESS']
							    未见证
						    [#elseif item.result?? && item.result == 'UNQUALIFIED']
							    不合格
						    [#elseif item.result?? && item.result == 'QUALIFIED']
							    合格
							[#else]
							    未知状态
						    [/#if]
	                     </div>
	                     <div class="control-group">
	                           	 简要描述:${item.noticeresultdesc!}
	                    </div>
	                    [#if item.result == 'UNQUALIFIED']
	                    <div class="control-group">
	                         		不合格分类:  ${item.failType!}
	                     </div>
	                     <div class="control-group">
	                            	不合格描述:${item.remark!}
	                    </div>
	                     <div class="control-group" style="margin-bottom: 0px;">
	                        	<label class="control-label" style="width: 500px;text-align: left;">附件:</label>
	                        	<br clear="all"/>
	                        	[#if item.witnessFiles?? && item.witnessFiles?size > 0]
	                        		[#list item.witnessFiles as wf]
	                        			<a href="${path!}/hdxt/api/files/witness/${wf.path!}" target="_blank" alt="${wf.fileName!}">${wf.fileName!}</a><br/>
	                        		[/#list]
	                        	[/#if]
	                     </div>
	                     [/#if]
                     [#else]
	                     <div class="control-group">
	                         	发起人:  ${item.launcherName!}
	                     </div>
	                    <div class="control-group">
	                         	见证结果:  
	                         [#if item.result?? && item.result == 'UNWITNESS']
							    未见证
						    [#elseif item.result?? && item.result == 'UNQUALIFIED']
							    不合格
						    [#elseif item.result?? && item.result == 'QUALIFIED']
							    合格
							[#else]
							    未知状态
						    [/#if]
	                     </div>
                     [/#if]
                     [#if item.subWitness?? && item.subWitness?size > 0]
                     	<div class="control-group">
                     		所有见证条目及其子项如下:
                     	</div>
                     	[#list item.subWitness as sub]
                     	<hr/>
                     		<div class="control-group">
				                     	${sub.noticePoint!}-[#if sub.witnesser??]${sub.witnesser.realname!}[/#if](${sub.noticeType!})[#if sub.witnessFlag??][#if sub.witnessFlag == 'EXPIRED']已过期[#elseif sub.witnessFlag == 'CANCEL']已取消[/#if][/#if]
				                     	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				                     	[#if sub.result??]
				                     		[#if sub.result == 'UNWITNESS']
				                     			未见证
				                     		[#elseif sub.result == 'UNQUALIFIED']
				                     			不合格
				                     		[#elseif sub.result == 'QUALIFIED']
				                     			合格
				                     		[#elseif sub.result == 'AUTO_QUALIFIED']
				                     			自动合格
					                     	[/#if]
				                     	[/#if]
				                </div>
								<div class="control-group">
				                     	见证时间:
				                     	[#if item.realWitnessDate??]
									    	${item.realWitnessDate?string('yyyy-MM-dd HH:mm:ss')}
									    [#else]
									    	[#if item.witnessDate??]
										    	${item.witnessDate?string('yyyy-MM-dd HH:mm:ss')}
										    [#else]
										    	-
										    [/#if]
									    [/#if]
				                </div>
								<div class="control-group">
				                     	见证地点:	
				                     	[#if sub.realWitnessAddress??]
				                     		${sub.realWitnessAddress}
				                     	[#else]
				                     		${sub.witnessAddress}
				                     	[/#if]
				                </div>
		                     <div class="control-group">
		                          	简要描述:${sub.noticeresultdesc!}
		                    </div>
		                    [#if item.result == 'UNQUALIFIED']
		                    <div class="control-group">
		                         	不合格分类:  ${item.failType!}
		                     </div>
		                     <div class="control-group">
		                           	 不合格描述:${sub.remark!}
		                    </div>
		                     <div class="control-group" style="margin-bottom: 0px;">
		                        	<label class="control-label" style="width: 500px;text-align: left;">附件:</label>
		                        	<br clear="all"/>
		                        	[#if sub.witnessFiles?? && sub.witnessFiles?size > 0]
		                        		[#list sub.witnessFiles as wf]
		                        			<a href="${path!}/hdxt/api/files/witness/${wf.path!}" target="_blank" alt="${wf.fileName!}">${wf.fileName!}</a><br/>
		                        		[/#list]
		                        	[/#if]
		                     </div>
		                     [/#if]
                     	[/#list]
                     [/#if]
                </div>
                [/#if]
                [/@ec_witnesser_or]
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
