    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>分派见证</h4>
                </div>
                <form class="form-horizontal" action="${path}/witness/witnesser/assign" method="post" id="addWitnessLaunch" >
                <div class="modal-body">
                	[@ec_witness id=form.id;wsw]
	                	[#if wsw??]
	                		<input type="hidden" id="id" name="id" value="${wsw.id!}"/>
	                		<input type="hidden" id="stepno" name="stepno" value="${wsw.stepno!}"/>
	                	
	                     	[#if wsw.noticePoint?? && wsw.noticePoint != "" && wsw.noticeType?? && wsw.noticeType != ""]
			                <div class="control-group">
			                   <label class="control-label" for="witness">通知点-${wsw.noticePoint!}(${wsw.noticeType!})-见证人:</label>
			                      <div class="controls">
			                        <select name="witness" id="witness">
			                        	[#if member??]
			                      		    [#list member as u]
							                     <option value="${u.id!}">${u.realname!}</option>
			                               	[/#list]
			                           [/#if]
									</select>
		                        </div>
		                    </div>
	                        [/#if]
                        [/#if]
                    [/@ec_witness]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
              </form>
            </div>
        </div>
<script type="text/javascript">
	$(function(){
		formValidtor.modalValid({
			handler:"#addWitnessLaunch",
			rules : {
        		witness : {
        			required : true
        		}
        	}
		})
	}); 
</script>
    </div>
