    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>反馈见证结果</h4>
                </div>
                <form class="form-horizontal" action="${path}/witness/myevent/launch" method="post" id="addWitnessResult">
                 <input type="hidden" name="id" id="id" value="${form.id!}"/>
                <div class="modal-body">
                	<div class="control-group">
						<label class="control-label" for="witnessdate">见证时间:</label>
						<div class="controls">
							<input id="witnessdate" type="text" class="EC-form-input EC-form-search Wdate" name="witnessdate" readonly="readonly" onkeydown="repeal(event);" onFocus="dateTimePannel();"/> 
						</div>
					</div>
                    <div class="control-group">
                         <label class="control-label" for="witnessaddress">见证地点:</label>
                         <div class="controls">
                         	<input type="text" name="witnessaddress" id="witnessaddress" placeholder="" />
                         </div>
                     </div>
                    <div class="control-group">
                         <label class="control-label" for="dosage">实际用量:</label>
                         <div class="controls">
                         	<input type="text" name="dosage" id="dosage" placeholder="" />
                         </div>
                     </div>
                    [#assign QC2Member = 'false']
			        [#if Session.user.roleType??]
			        	[#if Session.user.roleType?? && Session.user.roleType?size > 0]
			        		[#list Session.user.roleType as rt]
			        			[#if rt == 'witness_member_qc2']
			        				[#assign QC2Member = 'true']
			        			[/#if]
			        		[/#list]
			        	[/#if]
			        [/#if]
			        [#if QC2Member == 'true']
				        [@ec_witness id=form.id;p]
				        [#if p?? && (p.noticePoint == 'CZEC_QC' || p.noticePoint == 'CZEC_QA' || p.noticePoint == 'PAEC')]
				        <div class="control-group">
	                         <label class="control-label" for="substitute">被代替人:</label>
	                         <div class="controls">
	                         	<input type="text" name="substitute" id="substitute" placeholder="" />
	                         </div>
	                     </div>
	                     [/#if]
	                     [/@ec_witness]
			        [/#if]
                    <div class="control-group">
                         <label class="control-label" for="isok">见证结果:</label>
                         <div class="controls">
                         	<select id="isok" name="isok">
                         		[#list form.fakeMap as fm]
					                 <option value="${fm.key!}">${fm.value!}</option>
			                    [/#list]
							</select>
                         </div>
                     </div>
                     <div class="control-group">
                            <label class="control-label" for="noticeresultdesc">简要描述:</label>
                         <div class="controls">
                        	 <textarea name="noticeresultdesc" id="noticeresultdesc" class="EC-form-textarea easyui-validatebox" placeholder="见证结果的描述内容不能超过500个字符" rows="6" cols="40">合格</textarea>
                    	 </div>
                    </div>
                    <div id="failDIV" hidden>
                    <div class="control-group">
                         <label class="control-label" for="failType">不合格分类:</label>
                         <div class="controls">
                         	<input type="text" name="failType" id="failType" placeholder="" />
                         </div>
                     </div>
                     <div class="control-group">
                            <label class="control-label" for="remark">不合格描述:</label>
                         <div class="controls">
                        	 <textarea name="remark" id="remark" class="EC-form-textarea easyui-validatebox" placeholder="见证结果不合格的描述内容不能超过500个字符" rows="6" cols="40"></textarea>
                    	 </div>
                    </div>
                     <div class="control-group" style="margin-bottom: 0px;">
                        	<label class="control-label" style="width: 500px;text-align: left;">添加附件:<span style="width: 300px !important; color: red; font-size: 14px;" id="uploadTip"></span></label>
                        	<br clear="all"/>
                         <div id="multi_upload" class="gebo-upload" style="font-size: 14px;">你的浏览器不支持 Flash, Silverlight, Gears, BrowserPlus 或 HTML5.</div>
                     </div>
                     </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="witnssButton" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
               </form>
            </div>
        </div>
        
<link rel="stylesheet" href="${path!}/resources/plugins/plupload/js/jquery.plupload.queue/css/plupload-gebo.css" />    
    
<script type="text/javascript" src="${path!}/resources/plugins/plupload/js/plupload.full.js"></script>
<script type="text/javascript" src="${path!}/resources/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.full.js"></script>
<script type="text/javascript" src="${path!}/resources/plugins/textAreaCounter/jquery.textareaCounter.js"></script>
<style type="text/css">
	.originalTextareaInfo {
		font-size: 12px;
		color: #000000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
	.warningTextareaInfo {
		font-size: 12px;
		color: #FF0000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
</style> 
<script type="text/javascript">
var filesNumber = 0;
var maxNumber = 5;

	$(document).ready(function () {
		$("#isok").on("change", function(){
			if ($("#isok").val() == '1'){
				$("#failDIV").show();
			} else {
				$("#failDIV").hide();
			}
		});
		
		var optionsDesc = {
				'maxCharacterSize': 500,
				'originalStyle': 'originalTextareaInfo',
				'warningStyle' : 'warningTextareaInfo',
				'warningNumber': 50,
				'displayFormat' : '#input/#max | #words 个字符'
		};
		$('#noticeresultdesc').textareaCount(optionsDesc);
		
		$("#multi_upload").pluploadQueue({
			runtimes : 'html5,gears,flash,silverlight,browserplu',
			url : '${path}/witness/upload?id=${form.id!}',
			max_file_size : '5mb',
			unique_names : true,
			urlstream_upload: true,

			filters : [{title : "图片或者视频", extensions : "jpg,png,jpeg,gif,3gp,mkv,mp4,rmvb"}],

			flash_swf_url : '${path}/resources/plugins/plupload/js/plupload.flash.swf',
			silverlight_xap_url : '${path}/resources/plugins/plupload/js/plupload.silverlight.xap',
			
			init : {
				FilesAdded: function(up, files) {
					filesNumber = up.files.length;
					if (filesNumber > maxNumber){
						$("#witnssButton").hide();
						$("#uploadTip").html("你最多只能上传 " + maxNumber + " 个文件。");
					} 
				},
		
				FilesRemoved: function(up, files) {
					filesNumber = up.files.length;
					if (filesNumber > maxNumber){
						$("#witnssButton").hide();
						$("#uploadTip").html("你最多只能上传 " + maxNumber + " 个文件。");
					} else {
						$("#witnssButton").show();
						$("#uploadTip").html("");
					}
				},
				
				FileUploaded: function(up, file, info) {
					var jsonObj = eval("(" + info.response + ")");
					var message = "";
					var result = true;
					
					jsonObj = jsonObj.messenger;
					
					if (jsonObj != undefined){
						if (jsonObj === 'false'){
							result = false;
						} else if (jsonObj === 'true'){
							result = true;
						}
					}
					
					if (result){
						$.ajax({
						    type: 'post',
						    url: $("#addWitnessResult").attr('action'),
						    data: $("#addWitnessResult").serialize(),
						    success: function(data) {
						    	modal.close();
								dataTable.refresh();
						    }
						});
					} else {
						modal.close();
						dataTable.refresh();
					}
				},
				
				UploadComplete: function(up, file) {
					$("#uploadTip").html("");
				},
				
				StateChanged: function(up) {
					if (up.state == plupload.STARTED){
						$("#uploadTip").html("Uploading File to Server......");
					}
				}
			}
		});
	});

	$(function(){
		$(".plupload_start").hide();
		$("#addWitnessResult").validate({
			rules: {
				isok : {
        			required : true
        		}
			},
			submitHandler: function(form){
				if (filesNumber > 0){
					$(".plupload_start").click();
				} else {
					$.ajax({
					    type: 'post',
					    url: $("#addWitnessResult").attr('action'),
					    data: $("#addWitnessResult").serialize(),
					    success: function(data) {
					    	modal.close();
							dataTable.refresh();
					    }
					});
				}
				
				return false;
			}
		});
	}); 
</script>
    </div>
