    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>反馈见证结果</h4>
                </div>
                [@ec_witness id=form.id;p]
                <form class="form-horizontal" action="${path}/witness/myevent/launch/edit" method="post" id="editWitnessResult" >
                <div class="modal-body">
                    <div class="control-group">
                         <input type="hidden" name="id" id="id" value="${form.id!}"/>
                         <label class="control-label" for="isok">见证结果:</label>
                         <div class="controls">
                         	<select id="isok" name="isok">
                         		[#if form.fakeMap??]
									[#list form.fakeMap as fm]
										<option value="${fm.key!}" 
										[#if fm.key == p.isok?string]
											selected 
										[/#if]
										>${fm.value!}</option>
									[/#list]
								[/#if]
							</select>
                         </div>
                     </div>
                     <div class="control-group">
                            <label class="control-label" for="noticeresultdesc">见证描述:</label>
                         <div class="controls">
                        	 <textarea name="noticeresultdesc" id="noticeresultdesc" class="EC-form-textarea easyui-validatebox" placeholder="见证结果的描述内容不能超过500个字符" rows="6" cols="40">${p.noticeresultdesc!}</textarea>
                    	 </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
               </form>
               [/@ec_witness]
            </div>
        </div>
<script type="text/javascript" src="${path}/resources/plugins/textAreaCounter/jquery.textareaCounter.js"></script>
<style type="text/css">
	.originalTextareaInfo {
		font-size: 12px;
		color: #000000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
	.warningTextareaInfo {
		font-size: 12px;
		color: #FF0000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
</style> 
<script type="text/javascript">
$(document).ready(function () {
	var optionsDesc = {
			'maxCharacterSize': 500,
			'originalStyle': 'originalTextareaInfo',
			'warningStyle' : 'warningTextareaInfo',
			'warningNumber': 50,
			'displayFormat' : '#input/#max | #words 个字符'
	};
	$('#noticeresultdesc').textareaCount(optionsDesc);
});
	$(function(){
		formValidtor.modalValid({
			handler:"#editWitnessResult",
			rules : {
				isok : {
        			required : true
        		}
        	}
		})
	}); 
</script>
    </div>
