[@ec_user 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=0
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
	[#assign rolename=""/]
	[#if (u.roles)?? && (u.roles?size > 0)]
		[#list u.roles as role]
			[#assign rolename="${rolename!} ${(role.name)!}"/]
		[/#list]
	[#else]
		[#assign rolename="-"/]
	[/#if]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
    ,"providerIds":"${u.id!}"
    ,"name":"${u.name!}"
    ,"status":"[#if u.status??][#if u.status=='A']ACTIVE[#elseif u.status=='N']DEACTIVE [#elseif u.status=='T']TERMINATE[/#if][/#if]"
    ,"email":"${u.email!}"
    ,"role":"${rolename!}"
    ,"links":[
    	[@ec_privilege_check uri="/management/user/edit"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"appendFile('${path}${AUTH_MENU.uri!}?providerId=${u.id!}')"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	
    	[@ec_privilege_check uri="/management/user/role"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"appendFile('${path}${AUTH_MENU.uri!}?providerId=${u.id!}')"
	    	,"icon":"icon-key"
	    	,"clz":"btn-success"
    	},
    	[/@ec_privilege_check]
    	
    	[@ec_privilege_check uri="/management/user/password"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"appendFile('${path}${AUTH_MENU.uri!}?providerId=${u.id!}')"
	    	,"icon":"icon-unlock"
	    	,"clz":"btn-yellow"
    	},
    	[/@ec_privilege_check]
    	[@ec_privilege_check uri="/management/user/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.uri!}?ids=${u.id!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
    	},
    	[/@ec_privilege_check]
    	
    	{}
    	]
    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_user]