	<link rel="stylesheet" href="${path}/resources/plugins/progress/css/style.css" />
    <script src="${path}/resources/plugins/progress/js/prefixfree.min.js"></script>
                <div id="breadcrumbs">

                    <ul class="breadcrumb">

                        <li>
                            <i class="icon-home"></i><a href="#">首页</a><span class="divider"><i class="icon-angle-right"></i></span>
                        </li>

                        <li class="active">
                            工作台    
                        </li>
                    </ul><!--.breadcrumb-->

                </div><!--#breadcrumbs-->
                <div id="page-content" class="clearfix">
                
                <div class="row-fluid">    

</div>               

<div class="row-fluid">    
   <div class="span12">
		<div class="widget-box transparent" >
			<div class="widget-header" style="text-align: left;">
				<div class="widget-toolbar no-border">
					<ul class="nav nav-tabs" id="myTab" >
						<li class="active"><a data-toggle="tab" href="#dateCurrent" >
								总量统计
								</a></li>
					</ul>
				</div>
			</div>
			<div class="widget-body">
			 <div class="widget-main padding-5">
				 <div class="tab-content span8" style="padding-left: 45px;">
				  <div id="dateCurrent">
[#if rollingplan?? && rollingplan?size > 0]	
<h2 class="header smaller lighter" style="margin-left: -45px;">施工情况</h2>
	[#list rollingplan as rp]
		[#if rp.statistics?? && rp.user??]
<h3 class="header smaller lighter green" style="margin-left: -45px;">${rp.user.realname!} | ${rp.user.dept.name!}${rp.user.roles[0].name!}(${rp.statistics.total!})</h3>
<div class="row">
	<div class=".span12">
		<a href="javascript:void(0);" class="btn btn-app btn-danger radius-12" >
			施工中
			<span class="badge badge-pink">
				${rp.statistics.progressing!}
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-primary radius-12" >
			未施工
			<span class="badge badge-pink">
				${rp.statistics.unProgressing!}
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-success radius-12" >
			停滞中
			<span class="badge badge-pink">
				${rp.statistics.pause!}
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-warning radius-12" >
			已完成
			<span class="badge badge-pink">
				${rp.statistics.completed!}
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-info radius-12" >
			未分派
			<span class="badge badge-pink">
				${rp.statistics.unassign!}
			</span>
		</a>
	</div>
</div>
		[/#if]
	[/#list]
[/#if]

[#if witness?? && witness?size > 0]	
<h2 class="header smaller lighter" style="margin-left: -45px;">见证情况</h2>
	[#list witness as rp]
		[#if rp.statistics?? && rp.user??]
<h3 class="header smaller lighter green" style="margin-left: -45px;">${rp.user.realname!} | ${rp.user.dept.name!}${rp.user.roles[0].name!}(${rp.statistics.total!})</h3>
<div class="row">
	<div class=".span12">
		<a href="javascript:void(0);" class="btn btn-app btn-danger radius-12" >
			发起
			<span class="badge badge-pink">
				${rp.statistics.launched!}
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-warning radius-12" >
			已完成
			<span class="badge badge-pink">
				${rp.statistics.completed!}
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-info radius-12" >
			未完成
			<span class="badge badge-pink">
				${rp.statistics.uncomplete!}
			</span>
		</a>
	</div>
</div>
		[/#if]
	[/#list]
[/#if]
				  </div>
				</div>
			 </div>
			</div>
		</div>
	</div>
</div>               
</div><!--/#page-content-->
