<div id="sidebar">
                <div id="sidebar-shortcuts">
                    <div id="sidebar-shortcuts-large">
                        <button class="btn btn-small btn-warning" onclick="refreshMenu('${path}/management/menu/refresh');">
                            <i class="icon-refresh"></i>刷新菜单
                        </button>
                    </div>

                    <div id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>
                    </div>

                </div><!-- #sidebar-shortcuts -->

                <ul class="nav nav-list" id="sideNav">
                <!--绩效考核进来不展示工作台 -->
<!--                     <li class="active"> -->
<!--                         <a href="javascript:loadFile('${path}/management/dashboard')"> <i class="icon-dashboard"></i> <span>工作台</span><b class="arrow icon-angle-right"></b> </a> -->
<!--                     </li> -->

				[#if (user.menus)??]
				[#list user.menus as m]
					[#if  m.name?? && (m.name != 'f菜单管理')  ]<!-- && m.name != '菜单管理' -->
	                [#if (m.children)?? && (m.children?size>0)]
	                    <li>
	                        <a href="javascript:void(0);" class="dropdown-toggle" > <i class="${m.style!}"></i> <span>${m.name}</span> <b class="arrow icon-angle-down"></b> </a>
	                        <ul class="submenu">
	                        [#list m.children as child]
	                            <li>
	                                <a href="javascript:loadFile('${path}${(child.privilege.uri)!}')"><i class="icon-double-angle-right"></i> ${child.name}</a>
	                            </li>
	                        [/#list]
	                        </ul>
	                    </li>
	                [#else]
	                    <li>
	                        <a href="javascript:loadFile('${path}${(m.privilege.uri)!}')"> <i class="icon-dashboard"></i> <span>${m.name}</span><b class="arrow icon-angle-right"></b> </a>
	                    </li>
	                [/#if]
	                [/#if]
				[/#list]
				[/#if]

                </ul>

                <div id="sidebar-collapse">
                    <i class="icon-double-angle-left"></i>
                </div>
                [#if Session.user.cons]
				<div id="sidebar-shortcuts">
                    <div id="sidebar-shortcuts-large">
                        <button class="btn btn-small btn-info" onclick="modal.open({url:'${path}/baseservice/rollingplan/type'})">
                            <i class="icon-refresh"></i>[#if Session.type??]重新[/#if]选择类型
                        </button>
                    </div>

                    <div id="sidebar-shortcuts-large">
                    	[#if Session.type??]
	                        [@ec_modules status=Session.type;item]
								[#if item??]
									当前查看的是：${item.name!}
								[/#if]
							[/@ec_modules]
						[/#if]
                    </div>
                </div>
                [/#if]
            </div><!--/#sidebar-->