 <ul class="nav ace-nav pull-right">
    <li class="light-blue user-profile">
        <a class="user-menu dropdown-toggle" href="#" data-toggle="dropdown">
        	<span id="user_info"><small>您好,</small> ${(user.realname)!} </span> <i class="icon-caret-down"></i> </a>
        <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
            <li>
                <a href="javascript:loadFile('${path}/management/personal')"><i class="icon-user"></i> 个人资料</a>
            </li>
            <li>
                <a href="javascript:loadFile('${path}/management/personal/password')"><i class="icon-lock"></i> 修改密码</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="${path}/management/authorization/logout"><i class="icon-off"></i> 安全退出</a>
            </li>
        </ul>
    </li>
</ul>