﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:547px;
  width:400px;
  height:63px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:63px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:550px;
  width:80px;
  height:55px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:550px;
  width:80px;
  height:55px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:77px;
  width:200px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:77px;
  width:200px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:124px;
  width:405px;
  height:107px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:208px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:212px;
  top:0px;
  width:188px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:212px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:212px;
  top:30px;
  width:188px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:184px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:66px;
  width:212px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:212px;
  top:66px;
  width:188px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:184px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:60px;
  top:47px;
  width:200px;
  height:30px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:170px;
  top:552px;
  width:80px;
  height:55px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u29 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
