[@ec_witness 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=1
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${p.id!}"
    ,"no":"${p_index+1!}"
    ,"stepno":"${p.workStep.stepno!}.${p.workStep.stepname!}"
    ,"witnessdes":"${p.witnessdes!}"
    ,"witnessaddress":"${p.witnessaddress!}"
    ,"witnessdate":"${p.witnessdate!}"
   	,"noticeaqc1":"${p.workStep.noticeaqc1!"-"}"
    ,"noticeaqc2":"${p.workStep.noticeaqc2!"-"}"
    ,"noticeczecqc":"${p.workStep.noticeczecqc!"-"}"
    ,"noticeczecqa":"${p.workStep.noticeczecqa!"-"}"
    ,"noticepaec":"${p.workStep.noticepaec!"-"}"
    
    ,"witnesser":"[#if p.witness??][@ec_user id=p.witness;u][#if u??]${u.realname!}[/#if][/@ec_user][/#if]"
    
    ,"drawno":"${p.workStep.rollingPlan.drawno!}"
    ,"weldno":"${p.workStep.rollingPlan.weldno!}"
    ,"qualityplanno":"${p.workStep.rollingPlan.qualityplanno!}"
    
    ,"links":[
    	 [#if p.witness??]
   	 		[#if p.isok?? && p.isok == 0]
		    	[@ec_privilege_check uri="/witness/witnesser/modify"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});"
			    	,"icon":"icon-edit"
			    	,"clz":"btn-danger"
		    	},
		    	[/@ec_privilege_check]
		    	
		    	[@ec_privilege_check uri="/witness/witnesser/release"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${p.id!}')"
			    	,"icon":"icon-trash"
			    	,"clz":"btn-danger"
		    	},
		    	[/@ec_privilege_check]
	    	[/#if]
	    	
		    [@ec_privilege_check uri="/witness/witnesser/assign/view"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.workStep.id!}'});"
		    	,"icon":"icon-star"
		    	,"clz":"btn-success"
	    	},
	    	[/@ec_privilege_check]
    	[/#if]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_witness]