[@ec_witness 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=1
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${p.id!}"
    ,"no":"${p_index+1!}"
    ,"drawno":"${p.workStep.rollingPlan.drawno!}"
    ,"weldno":"${p.workStep.rollingPlan.weldno!}"
    ,"stepname":"${p.workStep.stepno!}.${p.workStep.stepname!}"
    ,"itpno":"${p.workStep.rollingPlan.itpno!}"
    ,"witnessdate":"[#if p.realwitnessdata??]${p.realwitnessdata}[#else]${p.witnessdate!}[/#if]"
    ,"witnessaddress":"[#if p.realwitnessaddress??]${p.realwitnessaddress}[#else]${p.witnessaddress!}[/#if]"
   	,"noticeaqc1":"${p.workStep.noticeaqc1!"-"}"
    ,"noticeaqc2":"${p.workStep.noticeaqc2!"-"}"
    ,"noticeczecqc":"${p.workStep.noticeczecqc!"-"}"
    ,"noticeczecqa":"${p.workStep.noticeczecqa!"-"}"
    ,"noticepaec":"${p.workStep.noticepaec!"-"}"
    
    [#if p.isok?? && p.isok == 0]
	    ,"isok":"未见证"
    [#elseif p.isok?? && p.isok == 1]
	    ,"isok":"不合格"
    [#elseif p.isok?? && p.isok == 2]
	    ,"isok":"合格"
    [#elseif p.isok?? && p.isok == 3]
	    ,"isok":"合格"
	[#else]
	    , "isok":"未知状态"
    [/#if]
    
    ,"links":[
    	[@ec_privilege_check uri="/construction/mytask/witness/view"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.workStep.id!}'});"
	    	,"icon":"icon-star"
	    	
	    	[#if p.workStep.noticeresult?? && p.workStep.noticeresult != ""]
	    	,"clz":"btn-success"
	    	[#else]
	    	,"clz":"btn-danger"
	    	[/#if]
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_witness]