[@kpi_link
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"
	pagesize = "${(form.rows)!}"
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
	custom="${form.custom!}"
	sId="${form.sId!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]



    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
    ,
    "kpiName":"${(u.owner.realname)!}"
	,"kpiStatus":"${u.month!},${u.kpiType!}-${u.kpiStatus!}"
    ,"links":[
		[#if (form.sId!'')=='score']
	    	[@ec_privilege_check uri="/kpi/link/pending/score"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"getValue();loadFile('${path}${AUTH_MENU.privilege.uri!}?sId=${u.id!}');"
		    	,"icon":"icon-edit"
		    	,"clz":"btn-info"
	    	},
	    	[/@ec_privilege_check]
		[#else]
	    	[@ec_privilege_check uri="/kpi/link/pending/verify"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"getValue();loadFile('${path}${AUTH_MENU.privilege.uri!}?sId=${u.id!}');"
		    	,"icon":"icon-edit"
		    	,"clz":"btn-info"
	    	},
	    	[/@ec_privilege_check]
		[/#if]
	    	{}
	    	]
    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@kpi_link]