[@kpi_lib
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"
	pagesize = "${(form.rows)!}"
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
	,"kpiName":"${u.kpiName!}"
	,"stakeholder":"${u.stakeholder.realname!}"
    ,"links":[
    	{}
    	]
    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@kpi_lib]