    <!-- Edit User Form -->
    <div class="modal fade " tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>编辑材质类型</h4>
                </div>
                [@ec_material_type id=form.id;m]
                <form class="form-horizontal" action="${path}/baseservice/material_type/edit" method="post" id="editMaterialType" >
                <input type="hidden" name="id" value="${m.id!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="materialTypeId">材质ID:</label>
                            <div class="controls">
                                <input type="text" value="${m.materialTypeId!}"  name="materialTypeId" placeholder="材质类型ID" class="valid" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="materialTypeName">材质类型:</label>
                            <div class="controls">
                                <input type="text" value="${m.materialTypeName!}"  name="materialTypeName"  placeholder="材质类型名字" class="valid"/>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
                </div>
                </form>
                [/@ec_material_type]
            </div>
<script type="text/javascript">
    $(document).ready(function(){
    	formValidtor.modalValid({
    		handler:"#editMaterialType",
    		rules : {
    			materialTypeId : {
        			required : true,
        		},
        		materialTypeName : {
        			required : true
        		}
        	},
        	messages : {
        		materialTypeName : {
        			remote:"该材质ID已存在"
        		}
        	}
    	})
    	/* var $modal = $("#editUser");
    	$modal.modal({show:true});
    	$modal.on('hidden.bs.modal', function (e) {
    		$modal.remove();
			})
      //进行表单验证
		var $form = $('#userEditForm');
		var url = $form.attr("action");
        var $btn = $form.find("a.btn").eq(0);
        
        $form.validate({
        	rules : {
        		name : {
        			required : true
        			,remote : "${path}/management/user?func=edit&id=${form.id!}"
        		},
        		realname : {
        			required : true
        		},
        		email : {
        			email:true
        		}
        	}
        	,messages : {
        		username : {
        			remote:"该用户已被占用"
        		}
        	}
        	,submitHandler: function(form){
        		var $form = $(form);
            	var url = $form.attr("action");
            	var method = $form.attr("method");
            	var nvp = $form.serialize();
            	$.ajax({
    				url:url,
    				type:method,
    				data:nvp,
    				success:function(data){
    					if(data){
    						$modal.modal('hide');
   			    		 tips.success("保存成功");
  		         	   }else{
   			    		 tips.error("保存失败");
  		         	   }
    				}
    			});
			}
        }); */
	}); 
</script>
        </div>
    </div>

