    <div class="modal fade " tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>添加材质类型</h4>
                </div>
                <form class="form-horizontal" action="${path}/baseservice/material_type/add" method="post" id="addMaterialType" >
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="materialTypeId">材质ID:</label>
                            <div class="controls">
                                <input type="text" name="materialTypeId"  placeholder=""/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="materialTypeName">材质类型:</label>
                            <div class="controls">
                                <input type="text"  name="materialTypeName"  placeholder=""/>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
                    </form>
            </div>
        </div>
<script type="text/javascript">
	$(function(){
		formValidtor.modalValid({
			handler:"#addMaterialType",
			rules : {
				materialTypeId : {
        			required : true
        			,rangelength:[2,20]
        			,remote : "${path}/baseservice/material_type?func=exist"
        		},
        		materialTypeName : {
        			 required : true
        			,rangelength : [2,20]
        		}
        	}
        	,messages : {
        		materialTypeId : {
        			remote:"该材质ID已存在"
        		}
        	}
		})
	}); 
</script>
    </div>
