[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h4 style="float:left">中国核电绩效考核员工指标库
        </h4>

        [#if (ownBase.id)?? ]
        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(Session.user.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}&nbsp;&nbsp; </div>
        [#else]
        [/#if]
    </div><!--/page-header-->


    [#if (ownBase.id)?? ]
    [#else]
    <div style="float: both;height:30px;"></div>
    <div style="background-color: lightgrey;text-align: center;height:30px;">
        你的类别信息尚未初始！需要绩效管理员在“管理指标库”中初始化信息。
    </div>
    [/#if]

<!-- Test -->
<form action="#" method="post" id="kpiLibForm" >
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled" colspan="2"> 指标名称</th>
                                    <th class="center">干系人</th>
                                    <th style="text-align:center;">
										<label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span>
                                    </label>
									</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.kpiName)!}</td>
								<td width="20%" style="text-align:center;">${(u.stakeholder.realname)!}</td>
								
								<td width="5%" align="center" style="text-align:center;">

									<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>
								
								</td>
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" valign="center" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.kpiName)!}</td>
								<td width="20%" style="text-align:center;">${(u.stakeholder.realname)!}</td>

								<td width="5%"  align="center" style="text-align:center;">
									<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>
                                    
								</td>
							    </tr>
							[/#list]
							[/#if]
							</tbody>
                        </table>
                    </div>
                </div>
				</form>
<!-- Test -->


<!--     <div class="row-fluid" style="width: 100%;float:left;" id="tablea"> -->
<!--     </div> -->
<!--     <div class="row-fluid" style="width: 100%;float:left;" id="tableb"> -->
<!--     </div> -->
    

    [#if (ownBase.id)?? ]
    <div class="modal-footer">
        <button id="tomylibsave" type="button" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>保存</button>
        <button id="tomylibshow" class="btn btn-primary" data-rel="tooltip" title="" 
        onclick="saveSelectedLib(false);" data-original-title="指标规划">
        <i class="icon-edit">指标规划</i>
        </button>
        
        
    </div>
    [/#if]

</div>
<script type="text/javascript">
    $(function() {
//         $("#tablea").empty().load("${path}${current_uri}?sId=${ownBase.user.id}&custom=general&isMustAdd=${isMustAdd}&_" + getTime());
//         $("#tableb").empty().load("${path}${current_uri}?sId=${ownBase.user.id}&custom=purpose&isMustAdd=${isMustAdd}&_" + getTime());
        
    });
    

    //已选回显
    var timesRun = 0;
//     var interval = setInterval(initPage,1000);
    var hisIds = ${hisIds};
    function initPage(){

//         //停止
        timesRun += 1;
        if(timesRun >= 5){
        	hisIds =null;
        	timesRun = null;
//         	clearInterval(interval);
        }
        
        if(hisIds!=null && hisIds.length>0){
        	var checkboxes = $(document).find("input[name='ids']");
        	if (checkboxes.length == 0) {
        	} else {
        		checkboxes.each(function(i) {
        			var key = $(this).attr("name");
        			var vv = $(this).attr("value");
        			var node = this;

        			$.each(hisIds,function(xx,already){
        				if(already==vv){
        					$(node).attr("checked",true);
        				}
        			});
        		});
        	}
        }
    }
    $(document).ready(initPage);
    
    var saveSelectedLib = function($_param){
    	
    	if($_param == false){
    		$("#tomylibshow").hide();
    	}

//      onclick="batchConfirm(dataTable.tableID,'${path}/kpi/mylib/add','你确定保存?','你确定保存?');"
 	var path = '${path}/kpi/mylib/add';

 	var checkboxes = $(document).find(":checked");
 	if (checkboxes.length == 0) {
//  		tips.warning(tip);
			alert('必须选择指标！');

 	} else {
 		var ids = "";
 		checkboxes.each(function(i) {
 			var key = $(this).attr("name");
 			ids += key + "=" + $(this).val() + "&";
 		});
 		if(path.indexOf("?") != -1) {
 			path = path + "&" + ids;
 		}else{
 			path = path + "?" + ids;
 		}

         $.ajax({
             type: 'post',
             url: path+"&mainId=${mainId}&_"+getTime(),
//              data: $(form).serialize(),
             success: function(data) {
            	    $("#tomylibsave").hide();  
                 if(data){
                	 if($_param){
                         alert("保存成功！")
                	 }else{
                		 loadFile('${path}/kpi/mylib/show?addNewLlib=Y&mainId=${mainId}&_'+getTime());
                	 }
                 }else{
                     alert("保存失败!");
                 }
             }
         });
         
 	}
 }

//     $(document).on('click','#tomylibsave',function(){saveSelectedLib(true)});
    $("#tomylibsave").click(function(){saveSelectedLib(true)});
    
</script>
[#if (ownBase.id)?? ]
[#else]
<!--未初始人员类别和岗位-->
[/#if]
