[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>指标库管理
            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?_'+getTime());">
                <i class="icon-refresh"></i>刷新
            </button>
        </h1>
        <div style="background-color: lightgrey;text-align: center;height:30px;">被考核人：${(he.realname)!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(he.parent.realname)!}
        	&nbsp;&nbsp;&nbsp;&nbsp;岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

    </div><!--/page-header-->
    <div class="row-fluid" style="width: 100%;float:left;" id="tablea">
    </div>
    <div class="row-fluid" style="width: 100%;float:left;" id="tableb">
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#tablea").empty().load("${path}${current_uri}?sId=${sId}&custom=general&_" + getTime());
        $("#tableb").empty().load("${path}${current_uri}?sId=${sId}&custom=purpose&_" + getTime());


//         $("#addBaseForm").validate({
//             submitHandler: function(form){
//                 $.ajax({
//                     type: 'post',
//                     url: $(form).attr('action'),
//                     data: $(form).serialize(),
//                     success: function(data) {
//                         if(data){
//                             loadFile('${path}${current_uri}?sId=${sId}&_'+getTime());
//                             alert("保存人员类别成功！")
//                         }else{
//                             alert("保存失败!");
//                         }
// //                        alert(data+"保存绩效岗位类别信息的结果");
// //                        modal.close();
// //                        dataTable.refresh();
//                     }
//                 });
//             }
//         });
        
//         var personnelCategory_old = $("#personnelCategory_old").val();
//         if(personnelCategory_old!=null && personnelCategory_old!=''){
//             $("select[name='personnelCategory']").val(personnelCategory_old);
//         }

    })
</script>