
        <div class="span12">
            <div class="widget-box">
                <div class="widget-body">
                    <div class="widget-main">
                    <div id="wztmpdiv"></div>
                        <table id="kpimyLibTable${form.custom!}" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center sorting_disabled">
                                    <label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>
                                    [#if form.custom=='general']通用[#else]岗位[/#if]指标名称
                                </th>
                                <th>干系人</th>
                                <th>
                                </th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
$(function() {
    dataTable.initTable({
        "tableID":"#kpimyLibTable${form.custom!}",
        "lengthChange": true,
        "processing" : true,
        "serverSide" : true,
        "autoWidth": true,
        'bSort':false,
        //对每列设置排序规则
        //列的长度必须对应，如果表格有7列，必须写7个，否则会报错
        "columns": [
                    {
                        "data":"id",
                        "sortable": false
                    },
                    {
                        "data":"kpiName"
                    },	{
                        "data":"stakeholder"
                    },
                    {
                        "data":"links",
                        "sortable": false
                    }
        ],
        "url": "${path}${current_uri}?custom=${form.custom!}&sId=${form.sId}&_"+getTime(),
        "order": [[1, "asc" ]]
        ,'bFilter':false,'bLengthChange':false
    });
    
    
})
</script>