
        <div class="span12">
            <div class="widget-box">
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="kpiLibTable${form.custom!}" class="table table-striped table-bordered table-hover" style="word-break:break-all;width: 100%">
                            <thead>
                            <tr>
                                <th align="left" width="55%">
                                    [#if form.custom=='general']通用[#else]岗位[/#if]指标名称
                                </th>
                                <th>干系人</th>
                                <th>
                                    [@ec_privilege_check uri="/kpi/lib/add"]
                                    <button class="btn btn-small btn-success" onclick="modal.open({
                                        url:'${path}${AUTH_MENU.privilege.uri!}?userId=${form.sId}&kpiType=${form.custom!}'
                                        });" >
                                        <i class="icon-plus"></i>${AUTH_MENU.name}
                                    </button>
                                    [/@ec_privilege_check]
                                    [@ec_privilege_check uri="/kpi/lib/add2"]
                                    <button class="btn btn-small btn-success" onclick="modal.open({
                                        url:'${path}${AUTH_MENU.privilege.uri!}?userId=${form.sId}&kpiType=${form.custom!}'
                                        });" >
                                        <i class="icon-plus"></i>${AUTH_MENU.name}
                                    </button>
                                    [/@ec_privilege_check]
                                </th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        
<style>
<!--
.center{text-align: left;}
-->
</style>
<script type="text/javascript">
    $(function() {
        dataTable.initTable({
            "tableID":"#kpiLibTable${form.custom!}",

            "lengthChange": true,
            "processing" : true,
            "serverSide" : true,
            "autoWidth": true,
            'bSort':false,

            //对每列设置排序规则
            //列的长度必须对应，如果表格有7列，必须写7个，否则会报错
            "columns": [
                {
                    "data":"kpiName",
                    "sClass":"center"
                },	{
                    "data":"stakeholder"
                },
                {
                    "data":"links",
                    "sortable": false
                }
            ],
            "url": "${path}${current_uri}?custom=${form.custom!}&sId=${form.sId}",
            "order": [[1, "asc" ]]
            ,'bFilter':false,'bLengthChange':false,"bPaginate" : false,"bInfo" : false
        });
    })
</script>