    <!-- Edit User Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;" style="width: 600px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">修改指标库</h4>
                </div>
                <form class="form-horizontal" action="${path}${thisurl}" method="post" id="kpiLibForm" >
                <input type="hidden" name="id" value="${kpiLib.id!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="username">指标名称:</label>
                            <div class="controls">
                                
                        		<input style="width:330px;" type="text" name="kpiName" id="kpiName" placeholder="请输入你要创建的指标名称" value="${kpiLib.kpiName}"/>
                            </div>
                        </div>
                        
                        

                        <div class="control-group">
                            <label class="control-label" for="realname">干系人:</label>
                            <div class="controls">
                                <select name="stakeholder.id" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" style="width:120px;">
		                            <option value="tip">请选择干系人...</option>
		                            [#list userList as source]
		                            	[#if (kpiLib.stakeholder.id)?? && (source.id==kpiLib.stakeholder.id)]
											<option value="${source.id!}" selected="selected">${source.realname!}</option>
										[#else]
											<option value="${source.id!}">${source.realname!}</option>
										[/#if]
		                            [/#list]
		                        </select>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#kpiLibForm").validate({
            submitHandler: function(form){
            	var stake = $("select[name='stakeholder.id']");
            	if(stake.length>0){//存在时必选择
            		if(stake.val()=='tip'){
            			alert('请选择干系人！');
            			return ;
            		}
            	}
            	
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {

                    	if(data){
                            modal.close();
                            [#if this2?? ]
                            loadFile('${path}/kpi/lib/libManger2?sId=${kpiLib.user.id!}&_'+getTime());
                            [#else]

                            loadFile('${path}/kpi/lib/libManger?sId=${kpiLib.user.id!}&_'+getTime());
                            [/#if]
                        }
                    	
                    }
                });
            }
        });
	}); 
</script>
        </div>
    </div>
