[@EC.breadcrumbs/]

<style type="text/css">
<!--
   .mycode{ width:100%; height: 30px;}  
    .mycode ul{ width:100%;}  
    .mycode li{ width:200px; float:left; display:block;}   
-->
</style>

<form class="form-horizontal" action="${path}/kpi/link/done/score" method="post" id="kpiLibForm" target="main-content">
<div id="page-content" class="clearfix">
        
        <table border="0" style="width:100%;"> 
        	<tr>
        		<td width="*"></td>
        		<td width="30%"><h4>月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;规&nbsp;划</h4></td>
        		<td width="35%">

        		</td>
        	
        	</tr>
        	<tr>
        		<td width="*"></td>
        		<td colspan="2">
        		
        		
        		        		<select id="year" name="year" style="margin-left:30px;width:130px;" onchange="yearbuttonshow();">
    	[#list yyyys as y]
    		<option value="${y}"[#if y==currentyear] selected="selected"[/#if]>${y}年</option>
    	[/#list]
    </select>
    
    <select id="month" mouth="month" style="width:130px;" onchange="monthChanged();">
    	[#list mms as m]
    		
    		<option value="${m}"[#if m==currentMonth] selected="selected"[/#if]>${m}月</option>
    	[/#list]
    </select>
    
        		
                            <button id="gobutton" class="btn btn-small btn-success" onclick="ifYearMonthChangedSearch();return false" >
                               进入指标页
                            </button>
        		</td>
        		
        		</tr>
        </table>
    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher" style="display:online; float:left;"></h4>
    
    
    </div>
    [#if (main.id)??]
    


<input type="hidden" name="sId" value="${main.id}"/>
[/#if]
</div>

</form>
    
<script type="text/javascript">
//历史绩效查询
var sYear="";
var sMonth="";

$(document).ready(function(){
	var myDate = new Date(); 
	var year1=myDate.getFullYear();
	var moonth=myDate.getMonth()+1;
	$("#year").val(year1);

	$("#month").val(moonth);
	

	sYear=$("#year").val();

	sMonth=$("#month");
});

function yearbuttonshow(){
	$("#gobutton").show();
}

function yearChanged(){
	sYear=$("#year").val();
	ifYearMonthChangedSearch();
}
function monthChanged(){
	sMonth=$("#month");
	ifYearMonthChangedSearch();
}
function ifYearMonthChangedSearch(){
	var year = $("#year").val();
	var month= $("#month").val();
	
	if(year==sYear && month==sMonth){
		//没有改变,不做处理
	}else if(sYear!='' && sMonth!=''){
		var ym = year+(month.length==1?('0'+month):month);
		//有变化,进行查询
		loadFile('${path}/kpi/mylib/show?needNewMonthMain='+ym+"&_"+Math.random());
	}
}

</script>
