[@EC.breadcrumbs/]


<form class="form-horizontal" action="${path}/kpi/mylib/addPlan" method="post" id="kpiLibForm" >
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <button type="button" class="btn btn-info" data-dismiss="modal">次月考核制定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">本月考核自评</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">查询我的绩效</button>


    </div><!--/page-header-->


    <div class="modal-footer" style="clear:both;">

    </div>
    

    [#if (ownBase.post)?? ]
    [#else]
    <div style="float: both;height:30px;"></div>
    <div style="background-color: lightgrey;text-align: center;height:30px;">
        未初始人员类别和岗位
    </div>
    [/#if]

<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase.post)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${ownBase.post.postName! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
					        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?sId=${sId}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled" colspan="2">
                                    指标名称
                                    </th>
                                    <th class="hidden-480">干系人</th>
                                    <th class="hidden-480">完成时间</th>
                                    <th class="hidden-phone">权重</th>
                                    <th style="text-align:center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}</td>
								<td>9月30日</td>
								<td></td>
								<td align="center" style="text-align:center;">
								<button onclick="confirm('${path}/kpi/mylib/delete?ids=28')" title="" data-rel="tooltip" class="btn btn-mini tooltip-info btn-danger" data-original-title="删除">
								<i class="icon-trash"></i></button>
								
								</td>
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}</td>
								<td></td>
								<td></td>
								<td align="center" style="text-align:center;">
<!-- 								<button onclick="confirm('${path}/kpi/mylib/delete?ids=28')" title="" data-rel="tooltip" class="btn btn-mini tooltip-info btn-danger" data-original-title="删除"> -->
<!-- 								<i class="icon-trash"></i></button> -->
								
								</td>
							    </tr>
							[/#list]
							[/#if]
							</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>


</div>
${main.kpiStatus}&nbsp;${main.currentStatus}&nbsp;${main.kpiType}&nbsp;${sId}

    <div class="modal-footer" style="clear:both;">
[@ec_privilege_check uri="/kpi/link/done/verify"]
        <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>${AUTH_MENU.name!}</button>
[/@ec_privilege_check]
[@ec_privilege_check uri="/kpi/link/done/score"]
        <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>${AUTH_MENU.name!}顶顶顶顶</button>
[/@ec_privilege_check]
    </div>
</form>
    
[#if (ownBase.id)?? ]
<script type="text/javascript">
    $(function() {
    	

        $("#kpiLibForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
                        modal.close();
//                        dataTable.refresh();
                        loadFile('${path}/kpi/mylib/show?_'+getTime());
                    }
                });
            }
        });
    	
    });
    
    
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]
