[@EC.breadcrumbs/]
<style type="text/css">
<!--
   .mycode{ width:100%; height: 30px;}  
    .mycode ul{ width:100%;}  
    .mycode li{ width:200px; float:left; display:block;}   
-->
</style>

      [@ec_privilege_check uri="/kpi/verify/pending"]
      		<div style="position:fixed;width:100%;height:30px;right:20px;top:80px;z-index:1000; ">
            <button class="btn btn-small btn-info" style="float:right;" data-loading-text="正在打开..." onclick="loadFile('${path}/kpi/verify/pending?_'+getTime());"><i class="icon-ok"></i>返回列表</button>
           </div>
      [/@ec_privilege_check]
<form class="form-horizontal" action="${path}/kpi/link/done/verify" method="post" id="kpiLibForm" >
<div id="page-content" class="clearfix">

    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher">月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;待&nbsp;审&nbsp;核</h4>
    </div>

<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
					        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
 							&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?sId=${sId}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled" colspan="2">
                                    指标名称
                                    </th>
                                    <th class="hidden-480">干系人</th>
                                    <th class="hidden-480"  style="text-align:center;">完成时间</th>
                                    <th class="hidden-phone" style="text-align:center;">权重</th>
<!--                                     20171020zengmao修改 -->
<!--                                     <th style="text-align:center;">自评分</th> -->
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}</td>
								<td class="center">${u.finishTime?string("yyyy-MM-dd")}</td>
								<td class="center" id="weight_${(u.id)!}">${u.weight}%</td>
<!--                                     20171020zengmao修改 -->
<!-- 								<td align="center" style="text-align:center;"> -->
								
<!-- 								</td> -->
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}</td>
								<td class="center">${u.finishTime?string("yyyy-MM-dd")}</td>
								<td class="center" id="weight_${(u.id)!}">${u.weight}%</td>
<!-- 								<td align="center" style="text-align:center;"> -->
<!-- 								<button onclick="confirm('${path}/kpi/mylib/delete?ids=28')" title="" data-rel="tooltip" class="btn btn-mini tooltip-info btn-danger" data-original-title="删除"> -->
<!-- 								<i class="icon-trash"></i></button> -->
								
<!-- 								</td> -->
							    </tr>
							[/#list]
							[/#if]
							
							<tr>
								<td style="text-align:center;" valign="center" colspan="4"> </td>
								<td style="text-align:center;" width="10%" id="sumweightdiv"></td>

							</tr>
							
								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="3">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
							</tbody>
                        </table>
                        <div class="mycode">
<!--                                     20171020zengmao修改 -->
<!-- 						    <ul> -->
<!-- 						        <li> -->
<!--                         直接上级评分:&nbsp;${main.directSuperiorScoring!} -->
<!-- 						        </li> -->
<!-- 						        <li> -->
<!--                         综合评分:&nbsp;${main.compositeScoring!} -->
<!-- 						        </li> -->
<!-- 						    </ul> -->
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>

<input type="hidden" name="sId" value="${sId}"/>
<input type="hidden" id="opinion" name="opinion" value=""/>

</div>
</form>

    <div class="modal-footer" style="clear:both;">
[@ec_privilege_check uri="/kpi/link/done/verify"]
        <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        onclick="parentScoreing('Y');"
        ><i class="icon-ok"></i>确认</button>
        <button type="submit" class="btn btn-danger" data-loading-text="正在保存..."
        onclick="parentScoreing('N');"
        ><i class="icon-remove"></i>退回</button>
[/@ec_privilege_check]
    </div>
    

<script type="text/javascript">

var plusWeightSum = function(){
	try{
		
		var tt = $("td[id^='weight_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval= $(nd).text();
			tval = tval.replace('%','');
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumweightdiv").text(total+"%");
			}
		});
	}catch(e){
	}
}
    
    function parentScoreing(yn){
    	$("#opinion").val(yn);
        $.ajax({
            type: 'post',
            url: '${path}/kpi/link/done/verify',
            data: $("#kpiLibForm").serialize(),
            success: function(data) {
                modal.close();
//                dataTable.refresh();
                loadFile('${path}/kpi/verify/pending?_'+getTime());
            }
        });
    }
    $(function(){
    	plusWeightSum();
    })
    
</script>