[@workflow_process_def 
	queryType ="list"
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='deploymentId' value='${p.deploymentId!}'/><span class='lbl'></span></label>"
    ,"deploymentId":"${p.deploymentId!}"
	,"name":"${p.name!}"
	,"key":"${p.key!}"
	,"version":"${p.version!}"
	,"resourceName":"${p.resourceName!}"
	,"dgrmResourceName":"${p.dgrmResourceName!}"
    ,"links":[
    	[@ec_privilege_check uri="/workflow/prodef/def"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?deploymentId=${p.deploymentId!}'})"
	    	,"icon":"icon-eye-open"
	    	,"clz":"btn-success"
    	},
    	[/@ec_privilege_check]
    	
    	[@ec_privilege_check uri="/workflow/prodef/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?deploymentId=${p.deploymentId!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@workflow_process_def]