
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static" style="width: 1000px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="label label-info  arrowed-right"></span>中国核电绩效考核　人员类别/岗位</h4>
            </div>

            <form class="form-horizontal" action="${path}/kpi/base/add" method="post" id="kpiPostForm">

                <div class="modal-body">
                    <div class="control-group">
                        用户名：${he.realname}
                    </div>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <select name="personnalCategory" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" >
                            <option value="tip">请选择人员类别...</option>
                            <option value="atThe">部门正、副职</option>
                            <option value="director">室主任/主管</option>
                            <option value="employees">普通员工</option>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="control-group">

                        <input type="text" name="post.name" maxlength="20" value="" id="test1"
                               onfocus="textOnfocus(this,'sel1');" autocomplete="off"
                        ><select name="post.id" id="sel1" style="display: none" disabled>
                        <option value="tip">请选择岗位...</option>
                        [#list postList as source]
                        <option value="${source.id!}">${source.postName!}</option>
                        [/#list]

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>

                临时：要为谁配置人员类别／指标库
                <input type="text" name="user.id" id="userId" value="${sId}"/>
                <br/>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function textOnfocus(obj,select){
            showSelect(obj,select,null)
        }

    </script>
</div>
