[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>待处理列表</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">待处理列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="pendingTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled">
	                                    <label>
	                                        <input type="checkbox" onclick="checkAll(this);"/>
	                                        <span class="lbl"></span>
	                                    </label> 
                                    </th>
                                    <th>用户名 </th>
                                    <th>待办状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>
<script type="text/javascript">
function getValue(){
    var oTable = $('#pendingTable').dataTable();
    var oSettings = oTable.fnSettings();
    // 获取页码值
    //alert(oSettings._iDisplayStart);
    //获取页面分割长度
    //alert(oSettings._iDisplayLength);
    dataTable.pageNum=(((oSettings._iDisplayStart)/(oSettings._iDisplayLength))+1);
    dataTable.pagesize=oSettings._iDisplayLength;
}

//返回记住的上一次的页面; 记住是调用 getValue()
var timesRunPage = 0;
var intervalPageBack = setInterval(dataTable.initPageBack,500);

</script>
<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID":"#pendingTable",
            "lengthChange": true,
            "processing" : true,
            "serverSide" : true,
            "autoWidth": true,
            'bSort':false,            
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"kpiName",
			    		  "sortable": false
			            },
			            {
			    		  "data":"kpiStatus",
			    		  "sortable": false
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}?sId=${pendinglist}",
	      "order": [[1, "asc" ]],'bFilter':false
		});
	});
</script>
