[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>指标库管理
        
        

            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?sId=${sId}&_'+getTime());">
                <i class="icon-refresh"></i>刷新
            </button>
      [@ec_privilege_check uri="/kpi/lib/kpiUserList"]
      		<div style="position:fixed;width:100%;height:30px;right:20px;top:80px;z-index:1000; ">
            <button class="btn btn-small btn-info" style="float:right;" data-loading-text="正在打开..." onclick="loadFile('${path}/kpi/lib/kpiUserList?custom=kpimodule&_'+getTime());"><i class="icon-ok"></i>返回列表</button>
           </div>
      [/@ec_privilege_check]
        </h1>
        <div style="background-color: lightgrey;text-align: center;height:30px;">被考核人：${(he.realname)!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(he.parent.realname)!}
        	&nbsp;&nbsp;&nbsp;&nbsp;岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;
        	[#if (userBase)??]
        		<input type="hidden" id="personnelCategory_old" name="personnelCategory_old" value="${userBase.personnelCategory}" />
        	[#else]
        		<input type="hidden" id="personnelCategory_old" name="personnelCategory_old" value="" />
        	[/#if]
        	
            <div style="float: both;height:30px;"></div>
            <form class="form-horizontal" action="${path}/kpi/base/add" method="post" id="addBaseForm">
                <input type="hidden" name="user.id" id="userId" value="${he.id}"/>
            <select name="personnelCategory" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" >
                <option value="tip">请选择人员类别...</option>
                <option value="atThe">部门正、副职</option>
                <option value="director">室主任/主管</option>
                <option value="employees">普通员工</option>
            </select>
        
      [@ec_privilege_check uri="/kpi/base/add"]
            <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
      [/@ec_privilege_check]
            </form>


        </div>

<!-- Test -->
<!-- <form action="#" method="post" id="kpiLibForm" > -->
<!--                 <div class="widget-body" style="margin-top: 30px;padding-top: 20px;"> -->
<!--                     <div class="widget-main"> -->
<!--                         <table id="userTable" class="table table-striped table-bordered table-hover">  -->
<!--                             <thead> -->
<!--                                 <tr> -->
<!--                                     <th class="center sorting_disabled" colspan="2"> 指标名称</th> -->
<!--                                     <th class="center">干系人</th> -->
<!--                                     <th style="text-align:center;"> -->
<!-- 										[@ec_privilege_check uri="/kpi/lib/add"] -->
<!--                                     	<button class="btn btn-small btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?userId=${form.sId}&kpiType=general'});" > -->
<!--                                         	<i class="icon-plus"></i>${AUTH_MENU.name} -->
<!--                                     	</button> -->
<!--                                     	[/@ec_privilege_check] -->
<!-- 									</th> -->
<!--                                 </tr> -->
<!--                             </thead> -->
<!--                             <tbody> -->
<!--                             [#if generalList?? && (generalList?size > 0)] -->
<!-- 							[#list generalList as u] -->
<!-- 								<tr> -->
<!-- 								[#if u_index == 0] -->
<!-- 								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td> -->
<!-- 								[/#if] -->
<!-- 								<td width="40%">${(u.kpiName)!}</td> -->
<!-- 								<td width="20%" style="text-align:center;">${(u.stakeholder.realname)!}</td> -->
<!-- 								<td align="center" style="text-align:center;"> -->
<!-- 									[@ec_privilege_check uri="/kpi/lib/delete"] -->
<!-- 									<button class="btn btn-mini tooltip-info btn-danger" title="${AUTH_MENU.name!}"  title="" onclick="confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${u.id!}')" > -->
<!--                                     	<i class="icon-trash"></i> -->
<!-- 									</button> -->
<!--     								[/@ec_privilege_check] -->
<!-- 								</td> -->
<!-- 							    </tr> -->
<!-- 							[/#list] -->
<!-- 							[/#if] -->

<!--                             [#if purposeList?? && (purposeList?size > 0)] -->
<!-- 							[#list purposeList as u] -->
<!-- 								<tr> -->
<!-- 								[#if u_index == 0] -->
<!-- 								<td style="text-align:center;" valign="center" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td> -->
<!-- 								[/#if] -->
<!-- 								<td width="40%">${(u.kpiName)!}</td> -->
<!-- 								<td width="20%" style="text-align:center;">${(u.stakeholder.realname)!}</td> -->
<!-- 								<td align="center" style="text-align:center;"> -->
<!-- 									[@ec_privilege_check uri="/kpi/lib/delete"] -->
<!-- 									<button class="btn btn-mini tooltip-info btn-danger" title="${AUTH_MENU.name!}" onclick="confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${u.id!}')" > -->
<!--                                     	<i class="icon-trash"></i> -->
<!-- 									</button> -->
<!--     								[/@ec_privilege_check] -->
<!-- 								</td> -->
<!-- 							    </tr> -->
<!-- 							[/#list] -->
<!-- 							[/#if] -->
<!-- 							</tbody> -->
<!--                         </table> -->
<!--                     </div> -->
<!--                 </div> -->
<!-- 				</form> -->
<!-- Test -->


    </div><!--/page-header-->
    <div class="row-fluid" style="width: 100%;float:left;" id="tablea">
    </div>
    <div class="row-fluid" style="width: 100%;float:left;" id="tableb">
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#tablea").empty().load("${path}${current_uri}?sId=${sId}&custom=general&_" + getTime());
        $("#tableb").empty().load("${path}${current_uri}?sId=${sId}&custom=purpose&_" + getTime());


        $("#addBaseForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
                        if(data){
                            loadFile('${path}${current_uri}?sId=${sId}&_'+getTime());
                            alert("保存人员类别成功！")
                        }else{
                            alert("保存失败!");
                        }
//                        alert(data+"保存绩效岗位类别信息的结果");
//                        modal.close();
//                        dataTable.refresh();
                    }
                });
            }
        });
        
        var personnelCategory_old = $("#personnelCategory_old").val();
        if(personnelCategory_old!=null && personnelCategory_old!=''){
            $("select[name='personnelCategory']").val(personnelCategory_old);
        }

    })
</script>