[@EC.breadcrumbs/]

<style>
<!--
.select130{width:130px;}
.optionyellow{background-color: lightyellow;}
-->
</style>

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>绩效考核人员管理</h1>
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">绩效考核人员列表</h4>
                    <div class="widget-toolbar">
                    	<div class="btn-group">
                  [@ec_privilege_check uri="/kpi/lib/kpiLibUp"]
                  <button type="button" class="btn btn-small btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}'});"><i class="icon-ok"></i>批量导入指标库</button>
                  [/@ec_privilege_check]
                        </div>
                    	<div class="btn-group">
                    		[@ec_privilege_check uri="/kpi/lib/export"]
                        	<button class="btn btn-small btn-success" onclick="exportAllKpi();">
                                <i class="icon-save"></i>${AUTH_MENU.name}
                            </button>
                        	[/@ec_privilege_check]
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}${current_uri}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled">
	                                    <label>
	                                        <input type="checkbox" onclick="checkAll(this);"/>
	                                        <span class="lbl"></span>
	                                    </label> 
                                    </th>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th class="hidden-480">真实姓名</th>
                                    <th class="hidden-480">职务</th>
                                    <th class="hidden-480">人员类别</th>
                                    <th class="hidden-phone">直接上级</th>
                                    <th class="hidden-480">所属部门</th>
                                    <th class="hidden-480">上级部门</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
function getValue(){
    var oTable = $('#userTable').dataTable();
    var oSettings = oTable.fnSettings();
    // 获取页码值
    //alert(oSettings._iDisplayStart);
    //获取页面分割长度
    //alert(oSettings._iDisplayLength);
    dataTable.pageNum=(((oSettings._iDisplayStart)/(oSettings._iDisplayLength))+1);
    dataTable.pagesize=oSettings._iDisplayLength;
}

//返回记住的上一次的页面; 记住是调用 getValue()
var timesRunPage = 0;
var intervalPageBack = setInterval(dataTable.initPageBack,500);

</script>
<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID":"#userTable",
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			'bSort':false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no",
		                    "sortable": false
			            },
			            {
			    		  "data":"name",
		                    "sortable": false
			            },
			            {
			    		  "data":"realname",
		                    "sortable": false
			            },
			            {
				    		  "data":"role",
			                    "sortable": false
				            },
				            {
					    		  "data":"role2",
				                    "sortable": false
					            },
			            {
			    		  "data":"parent",
		                    "sortable": false
			            },
			            {
			    		  "data":"department",
		                    "sortable": false
			            },
			            {
			    		  "data":"paprentDepartment",
		                    "sortable": false
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}?custom=kpimodule",
	      "order": [[1, "asc" ]]
		});

		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();
		

		var searching=function(){
		 	var searchInput=$(".dataTables_filter :input :first");
			$('#userTable').DataTable().search(searchInput.val()).draw(); 
		}
		
		searchInput.bind('blur keyup', function() {
			isSearch(searching);
		});
		
	});

	//人员类别修改处理
	function modifyCategory(id,category){
        $.ajax({
            type: 'post',
            url: '${path}/kpi/base/add',
            data: {'user.id':id,'personnelCategory':category},
            success: function(data) {
                if(data){
                    alert("人员类别成功修改！")
                }else{
                    alert("保存失败!");
                }
            }
        });
	}
	//导出指标库Excel
	function exportAllKpi(){
		var url = "${path}/kpi/lib/export";
		$.ajax({
		    type: "GET",
		    url: url,
		    success: function(response, status, request) {
		        var disp = request.getResponseHeader('Content-Disposition');
		        if (disp && disp.search('attachment') != -1) {  //判断是否为文件
		            var form = $('<form method="POST" action="' + url + '">');
		            form.append($('<input type="hidden" name="" value="">'));
		            $('body').append(form);
		            form.submit(); //自动提交
		        }
		    }
		});
	}
</script>
