<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="width: 700px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="label label-info  arrowed-right"></span>中国核电绩效考核/添加指标
                
                </h4>
            </div>

            <form action="${path}${thisurl}" method="post" id="kpiLibForm" >

                        <input style="width:550px;" type="text" name="kpiName" id="kpiName" placeholder="请输入你要创建的指标名称"/>
						

                        <select name="stakeholder.id" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" style="width:120px;">
                            <option value="tip">请选择干系人...</option>
                            [#list userList as source]
                            <option value="${source.id!}">${source.realname!}</option>
                            [/#list]
                        </select>

                <input type="hidden" name="userId" id="userId" value="${userId}"/>
                <br/>
                <input type="hidden" name="kpiType" id="kpiType" value="${kpiType}"/>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
            </form>
            
        </div>

    <script type="text/javascript">
    $(document).ready(function(){

            $("#kpiLibForm").validate({
                submitHandler: function(form){
                	
                    $.ajax({
                        type: 'post',
                        url: $(form).attr('action'),
                        data: $(form).serialize(),
                        success: function(data) {
                        	if(data){
	                            modal.close();
	                            [#if this2?? ]
	                            loadFile('${path}/kpi/lib/libManger2?sId=${userId}&_'+getTime());
	                            [#else]

	                            loadFile('${path}/kpi/lib/libManger?sId=${userId}&_'+getTime());
	                            [/#if]
                            }
                        }
                    });
                    
                    
                }
            });
            
        });
    </script>
    </div>
</div>
