[@EC.breadcrumbs/]
	<link rel="stylesheet" href="${path}/resources/plugins/progress/css/style.css" />

<div id="page-content" class="clearfix">
<!--     <div class="page-header position-relative"> -->
<!--         <button type="button" class="btn btn-small btn-info" data-dismiss="modal">次月考核制定</button> -->
<!--         <button type="button" class="btn btn-small btn-default" data-dismiss="modal" onclick="loadFile('${path}/kpi/mylib/selfScoreUI?sId=${main.id}&_'+getTime());">本月考核自评</button> -->
<!--         <button type="button" class="btn btn-small btn-default" data-dismiss="modal" onclick="loadFile('${path}/kpi/mylib/openScoreUI?sId=${main.id}&_'+getTime());">查询我的绩效</button> -->


<!--     </div>/page-header -->
    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher">月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;计&nbsp;划</h4>
    
    </div>

<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(Session.user.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
 							&nbsp;&nbsp;&nbsp;考核月（${(main.month)!}）日期：${(main.kpiCycle)!}
 							&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
 							
        	
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="/kpi/mylib/manger"]
    [#if (main.currentStatus!"")=='selfShowInit']
                            <button class="btn btn-small btn-success" onclick="loadFile('${path}${AUTH_MENU.privilege.uri!}?isMustAdd=Y&mainId=${main.id}&_'+getTime());" >
                                <i class="icon-plus"></i>添加指标
                            </button>
                            [/#if]
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?mainId=${main.id}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
				<form action="#" method="post" id="kpiLibForm" >
                <div class="widget-body">
                考核日期修改为：
                <input type="hidden" id="mainId" name="mainId" value="${main.id}"/>
				<input id="cycleStart" name="cycleStart" class="input-sm" style="width:100px;" type="text"  onFocus="WdatePicker({lang:'zh-cn'})" value="${main.cycleStart!}"/>
				~<input id="cycleEnd" name="cycleEnd" class="input-sm" style="width:100px;" type="text"  onFocus="WdatePicker({lang:'zh-cn'})" value="${main.cycleEnd!}"/>
				<span id="tempShowAlert">&nbsp;</span>
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled" colspan="2">
                                    指标名称
                                    </th>
                                    <th class="center">干系人</th>
                                    <th class="center">完成时间</th>
                                    <th class="center">权重</th>
                                    <th style="text-align:center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}
								</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}
								</td>
								<td width="20%">
								<input id="melibid_${(u.lib.id)!}" name="melibid_${(u.lib.id)!}" class="Wdate" type="text" value='${(u.finishTime?string("yyyy-MM-dd"))!}' onblur="setFinishiDateFunc(this.id,this.value);"/>
								
								</td>
								<td width="20%" class="center">
									<div class="col-sm-9">
										<input id="melibweight_${(u.lib.id)!}" name="melibweight_${(u.lib.id)!}" class="input-sm" style="width:20px;" type="text" value="${(u.weight)!}"/>%
									</div>
								</td>
								<td align="center" style="text-align:center;">

								
								 [#if u.id?? && (main.currentStatus)?? && (main.currentStatus=='selfShowInit') ]
								
									<span onclick="delconfirm(${(u.id)!});" class="btn btn-mini tooltip-info btn-danger" ><i class="icon-trash"></i></span>
								
									[/#if]
								</td>
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" valign="center" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}
								</td>
								<td>
								<input id="melibid_${(u.lib.id)!}" name="melibid_${(u.lib.id)!}" class="Wdate" type="text" value='${(u.finishTime?string("yyyy-MM-dd"))!}' onblur="setFinishiDateFunc(this.id,this.value);"/>
								</td>
								<td width="20%" class="center">
									<div class="col-sm-9">
										<input id="melibweight_${(u.lib.id)!}" name="melibweight_${(u.lib.id)!}" class="input-sm" style="width:20px;" type="text" value="${(u.weight)!}"/>%
									</div>
								</td>
								<td align="center" style="text-align:center;">
								
								 [#if u.id?? && (main.currentStatus)?? && (main.currentStatus=='selfShowInit') ]

									<span onclick="delconfirm(${(u.id)!});" class="btn btn-mini tooltip-info btn-danger" ><i class="icon-trash"></i></span>
								 [/#if]
								
								</td>
							    </tr>
							[/#list]
							[/#if]
							
							
								 
								<tr>
								<td style="text-align:center;" valign="center" colspan="4"> </td>
								<td width="10%" class="center">
									<div class="col-sm-9" id="sumweightdiv">
										
									</div>
								</td>
								<td align="center" style="text-align:center;">
								
								</td>
							    </tr>

								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="4">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
							</tbody>
                        </table>
                    </div>
                </div>
				</form>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
 注:通用指标和岗位指标权重之和为 100%。其中通用指标 2-5 条，占 20%-30%的比重；岗位指标 5-8 条，占 70%-80%的比重。任何一项具体的考核指标权重不得低于 5%或超过 20%。
 一定要满足通用指标+岗位指标的权重之和为 100%，不得多和少。
${(main.mark)!}
</div>



    [#if (ownBase.id)??  ]
    <div class="modal-footer" style="clear:both;">
    
    [#if (main.currentStatus!"")=='selfShowInit']
        <button id="submitbutton" type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>提交审核</button>
    [/#if]
    
    </div>
    [/#if]
    
[#if (ownBase.id)?? ]
<script type="text/javascript">

//
var plusallweight = function(){
	try{

	var tt = $("input[name^='melibweight_']");
	
	var total =0;
	$.each(tt,function(ind,nd){

		if(nd.value!=null && nd.value!=''){
			total=total+parseInt(nd.value);
			$("#sumweightdiv").text(total+"%");
		}
	});
	}catch(e){
	}
}

var timesRun = 0;
var interval = setInterval(initPage,2000);
function initPage(){

//     //停止
    timesRun += 1;
    if(timesRun === 2){
    	clearInterval(interval);
    }
    
// 	var purposeListsize= '${purposeList?size}';
// 	var generalListsize= '${generalList?size}';
// 	if((!purposeListsize) || purposeListsize<5 || purposeListsize>8){
// 		alert('岗位指标需要5-8条!');
		
// 		$("#submitbutton").attr("disabled","true");
// 	}
	
// 	if((!generalListsize) || generalListsize<2 || generalListsize>5){
// 		alert('通用指标需要2-5条!');
// 		$("#submitbutton").attr("disabled","true");
// 	}
}

//	/realLib/{userId}/{libId}/{weight}/{finishDate}
var realLibFunc = function(userId,libId,weight,finishDate){
	var dt = {'userId':userId,'libId':libId,'mainId':${main.id}};
	if(weight!=null && weight!=''){
		if(weight<2 || weight>20){
			return;
		}
		dt.weight = weight;
	}
	
	if(finishDate!=null && finishDate!=""){
		dt.finishDate = finishDate;
	}
	
	$.ajax({
		type:"POST",
		url:"${path}/kpi/mylib/realLib",
		data:dt,
		success:function(data){
			if(data=='true'){
				//$("#tempShowAlert").text('修改成功！');
			}else{
				if(data=='false'){//修改不成功的！
					//$("#tempShowAlert").text('修改不成功！');
				}else{
					//$("#tempShowAlert").text(data);
				}
			}
		}
	});
}

function setFinishiDateFunc (myid,myval) {
	 // alert(myid+" "+myval);
		var libId = myid.split("_")[1];
     	var newVal=myval; //获取当前值
     	if(newVal!=null && newVal!=''){
     		realLibFunc(${ownBase.user.id},libId,$("#melibweight_"+libId).val(),newVal);
     	}
}

    $(function() {

		$(document.body).on('focus',"input[name^='melibid_']",function(){
			WdatePicker({lang:'zh-cn'});
		});

// 		$(document.body).on('blur',"input[name^='melibid_']",function(){
//         		var libId = $(this).attr("id").split("_")[1];
// 	         	var newVal=($(this).val()); //获取当前值
// 	         	if(newVal!=null && newVal!=''){
// 		     		realLibFunc(${ownBase.user.id},libId,$("#melibweight_"+libId).val(),this.value);
// 	         	}
	            
	            
// 		});
		
//     	$("input[name^='melibid_']").on("blur",function(e){
//     	});

    	$("input[name^='melibweight_']").on("keyup",function(e){
    		var inputId = $(this).attr("id").split("_")[1];
			var ths = this ;
    		ths.value=ths.value.replace(/\D/g,'');
    		if(ths.value!=null && ths.value!='' && ths.value>2){

        		if(ths.value>20 || ths.value<5){
        			$("#melibweight_"+inputId).val("");
        			bootbox.alert('考核指标权重不得低于 5%或超过 20%');
        		}
    		}
    		plusallweight();
    	});
    	$("input[name^='melibweight_']").on("blur",function(e){
        	var libId = $(this).attr("id").split("_")[1];
    		realLibFunc(${ownBase.user.id},libId,this.value,$("#melibid_"+libId).val());
			var ths = this ;
    		if(ths.value!=null && ths.value!='' && (ths.value>0 && ths.value<3)){
    			$("#melibweight_"+libId).val("");
    			bootbox.alert('考核指标权重不得低于 5%或超过 20%');
    		}
    	});
    	var cycleStartOld = $("#cycleStart").val();
    	$("#cycleStart").on("blur",function(){
    		var s = $(this).val();
    		if(s!=null && s!="" && cycleStartOld!=s){
    			$.ajax({
    				type:"POST",
    				url:"${path}/kpi/mylib/realLib",
    				data:{'mainId':${main.id},"userId":${ownBase.user.id},"modifyDate":"start","newDate":s,"libId":${main.id}},
        			success:function(data){
        				var st = $("#cycleStart").val();
        				var yyyy = st.substring(0,4);
        				var mm = st.substring(5,6);
        				//构造一个日期对象：
        				var day = new Date(yyyy,mm,0); 
        				//获取天数：
        				var daycount = day.getDate();
        				var enddate2 = st.substring(0,8)+daycount;
        				
        				$("#cycleEnd").val(enddate2);
        				if(data=='true'){
    						
        					//$("#tempShowAlert").text('修改成功！');
        				}else{
        					if(data=='false'){//修改不成功的！
            					//$("#tempShowAlert").text('修改不成功！');
        					}else{
            					//$("#tempShowAlert").text(data);//thisMonthExist
            					if(data!=null && data!='' && data.indexOf('thisMonthExist=')!=-1){
            						if(data.split('=')[1]!='${main.id}'){//所选不是当前月的信息，需要切换
            							alert('所选日期不是考核月${(main.month)!}，即将切换，切换后请重新选择...');
                    					loadFile('${path}/kpi/mylib/show?mainId='+data.split('=')[1]+"&_"+getTime());
            						}
            					}else if(data!=null && data!='' && data.indexOf('needNewMonthMain=')!=-1){
        							alert('所选日期不是考核月${(main.month)!}，即将切换，切换后请重新选择...  ');
            						loadFile('${path}/kpi/mylib/show?needNewMonthMain='+data.split('=')[1]+"&_"+getTime());
            					}else{
            					}
        					}
        				}
        			}
    			});
    		}else{
    			//$("#tempShowAlert").text('不让你执行了');
    		}
    	});
    	var cycleEndOld = $("#cycleEnd").val();
    	$("#cycleEnd").on("blur",function(){
    		var s = $(this).val();
    		if(s!=null && s!="" && cycleEndOld!=s){
    			$.ajax({
    				type:"POST",
    				url:"${path}/kpi/mylib/realLib",
    				data:{'mainId':${main.id},"userId":${ownBase.user.id},"modifyDate":"end","newDate":s,"libId":${main.id}},
        			success:function(data){
        				if(data=='true'){
        					//$("#tempShowAlert").text('修改成功！');
        				}else{
        					if(data=='false'){//修改不成功的！
            					//$("#tempShowAlert").text('修改不成功！');
        					}else{
            					//$("#tempShowAlert").text(data);//thisMonthExist
            					if(data!=null && data!='' && data.indexOf('thisMonthExist=')!=-1){
            						if((data.split('=')[1]!='${main.id}')){
            							alert('所选日期不是考核月${(main.month)!}，即将切换，切换后请重新选择...   ');
            							loadFile('${path}/kpi/mylib/show?mainId='+$("#mainId").val()+"&_"+getTime());
            						}
            					}
        					}
        				}
        			}
    			});
    		}
    	});

        
    	var toServiceSave = function(form){
        	
        	
        	var len = $("input[name^='melibid_']").length;
        	if(len==null || len<1){
        		bootbox.alert('请添加指标!');
        		return ;
        	}
        	var checks2 = $("input[name^='melibweight_']");
        	var finishDateIsNull = false;
        	$.each(checks2,function(xy,nd){
        		var valx = $(this).val();
        		if(valx==null || valx==''){
        			finishDateIsNull = true;
        		}
        	});
        	if(finishDateIsNull){
        		
        			alert('权重不能为空！');
        			return ;
        	}


        	var checks = $("input[name^='melibid_']");
        	finishDateIsNull = false;
        	$.each(checks,function(xy,nd){
        		var valx = $(this).val();
        		if(valx==null || valx==''){
        			finishDateIsNull = true;
        		}
        	});
        	if(finishDateIsNull){
        		
        			alert('完成时间不能为空！');
        			return ;
        	}

            	
            	if(1>2){
            		alert('2-5条');
            		
            	}else{
             		$("#submitbutton").attr('disabled',true);  
                    $.ajax({
                        type: 'post',
                        url: '${path}/kpi/mylib/addPlan',
                        data: $("#kpiLibForm").serialize(),
                        success: function(data) {
    						if(data=='true'){
								bootbox.alert('提交审核成功!');
                                loadFile('${path}/kpi/mylib/show?mainId=${main.id}&_'+getTime());
    						}else if(data=='false'){
    							alert('提交审核失败!');
							}else{
								bootbox.alert(data);
// 								alert(data);
							}
                        }
                    });
            	}
            }

        var saveDateWeightConfirm = function(_param){
        	confirmFunc('确定提交指标规划吗？',toServiceSave,_param);
        }
        
        $("#submitbutton").click(saveDateWeightConfirm);
        
		plusallweight();
    	
    });
    
    
    function delconfirm(ids){
    	var url = '${path}/kpi/mylib/delete?ids='+ids+"&_"+getTime() ;
    	bootbox.confirm('您确定要删除?', "取消", "确定", function(result) {
    		if (result) {
    			$.ajax({
    				url : url,
    				type : "get",
    				dataType:"json",
    				success : function(data) {
//     					console.log(data);
    					if (data) {
//     						dataTable.refresh();
    						tips.success("操作成功");
    						loadFile('${path}${current_uri}?mainId=${main.id}');
    					} else {
    						tips.error("操作失败,ERROR:" + data.message);
    					}
    				}
    			});
    			// bootbox.alert("You are sure!");
    		}
    	});
    	
//     	confirm(url,'您确定要删除?');
    }
    
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]
