[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>课程分类</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">培训课程分类列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
[#--
                       [@ec_privilege_check uri="/hd/learning/section/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({url:'${path!}${AUTH_MENU.privilege.uri!}'});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="/hd/learning/section/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path!}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
--] 
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}${current_uri}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="learningSectionDataTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center" style="width: 50px;"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>序号</th>
                                    <th>课程分类</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			"tableID":"#learningSectionDataTable",
			'bSort':false,
			"searching": false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
		            {
		    		  "data":"id",
		    		  "sortable": false
		            },
		            {
		    		  "data":"no",
		    		  "sortable": false
		            },
		            {
		    		  "data":"name",
		    		  "sortable": false
		            },
		            {
		    		  "data":"links",
		    		  "sortable": false
		            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>
