
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static" style="width: 700px;top:5px;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>添加课程
				</h4>
			</div>
			<form class="form-horizontal" action="${path!}/hd/learning/management/add" method="post" id="addLearning">
				<input type="hidden" name="fold" value="${form.fold!}" />
				<div id="fileIds" style="display: none;"></div>
				<div style="margin-bottom: 0px;float:left;">
	                       <label class="control-label" for="title">标题:</label>
	                       <div class="controls">
	                           <input type="text"  name="title" id="title" placeholder="">
	                       </div>
	            </div>
				<div style="margin-bottom: 0px;float:left;">
                    <label class="control-label" for="seq">顺序编号:</label>
                    <div class="controls">
                        <input type="text" name="seq" id="seq" placeholder="" onkeyup="this.value=this.value.replace(/^[^\d]*$/,'');">用于排列课程顺序，自定义数值
                    </div>
                </div>
				<div style="margin-bottom: 0px;float:left;">
                      <label class="control-label" for="type">类型:</label>
                      <div class="controls">
                          <select id="type" name="type">
							  [#if type??]
									[#list type as at]
										<option value="${at.key!}">${at.value!}</option>
									[/#list]
								[/#if]
						  </select>
                      </div>
                  </div>
				<div style="margin-bottom: 0px;float:left;">
                   	<label class="control-label" for="description">课程简介:</label>
                    <div class="controls">
                   	 	<textarea name="description" id="description" class="EC-form-textarea easyui-validatebox" placeholder="描述信息不得大于 500字" rows="8" cols="60"></textarea>
               	 	</div>
                </div>
				<div style="margin-bottom: 0px;clear:both;">
                    <label class="control-label" for="multi_upload">文件上传:</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(wmv,flv,mp4,m4v,pdf,ppt,pptx)
                    <div class="controls">
                        <div id="multi_upload" class="gebo-upload" style="font-size: 14px;">你的浏览器不支持 Flash, Silverlight, Gears, BrowserPlus, HTML5.</div>
	   				<label style="width: 400px !important; color: red; font-size: 14px;" id="uploadTip"></label>
                    </div>
                </div>
	                     
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
		</div>
	</div>
<script type="text/javascript" src="${path}/resources/plugins/textAreaCounter/jquery.textareaCounter.js"></script>
<style type="text/css">
	.modal-body {
	    max-height: 500px;
	}
	.popover{
		max-width: 500px;
		width: 470px;
	}
	.originalTextareaInfo {
		font-size: 12px;
		color: #000000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
	.warningTextareaInfo {
		font-size: 12px;
		color: #FF0000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
</style> 
<script type="text/javascript">
var filesNumber = 0;
var maxNumber = 0;

$(document).ready(function () {
	var description = {
			'maxCharacterSize': 500,
			'originalStyle': 'originalTextareaInfo',
			'warningStyle' : 'warningTextareaInfo',
			'warningNumber': 50,
			'displayFormat' : '#input/#max 字'
	};
	$('#description').textareaCount(description);
	
	
	$("#multi_upload").pluploadQueue({
		runtimes : 'html5,gears,flash,silverlight,browserplu',
		url : '${path!}/hd/learning/management/upload',
		max_file_size : '500mb',
		unique_names : true,
		urlstream_upload: true,

//		filters : [{title : "文件", extensions : "*"}],

		flash_swf_url : 'plugins/plupload/js/plupload.flash.swf',
		silverlight_xap_url : 'plugins/plupload/js/plupload.silverlight.xap',
		filters:[
			{title:'文件格式',extensions:'pdf,ppt,pptx'}
			,{title:'视频格式',extensions:'wmv,flv,mp4,m4v'}
		],
		init : {
			FilesAdded: function(up, files) {
				filesNumber = up.files.length;
				if (filesNumber > maxNumber){
					$(".plupload_file_name").hide();
				} else {
					$(".plupload_file_name").show();
					$("#uploadTip").html("");
				}
			},
	
			FilesRemoved: function(up, files) {
				filesNumber = up.files.length;
				if (filesNumber > maxNumber){
					$(".plupload_file_name").hide();
					$("#uploadTip").html("你选择的文件不能超过１个。");
				} else {
					$(".plupload_file_name").show();
					$("#uploadTip").html("");
				}
			},
			
			FileUploaded: function(up, file, info) {					
//				dataTable.refresh();
				var jsonObj = eval("(" + info.response + ")");
				$("#fileIds").html($("#fileIds").html() + "<input type='hidden' name='fileIds' value='" + jsonObj.responseResult + "'/>");
			},
			
			UploadComplete: function(up, file) {
				$("#uploadTip").html("");
				ajaxSubmit();
			},
			
			StateChanged: function(up) {
				if (up.state == plupload.STARTED){
					$("#uploadTip").html("正在上传文件到服务器......");
				}
			}
		}
	});
	
	$(".plupload_start").hide();
	
	$("#addLearning").validate({
		rules: {
			title: {
				required: true
			},
			description: {
				required: true
			}
		},
		messages: {
			title: {
				required: "标题为必填项."
			},
			description: {
				required: "简介为必填项."
			}
		},
		submitHandler: function(form){
			if (filesNumber > 0){
				$(".plupload_start").click();
			} else {
				ajaxSubmit();
			}
			
			return false;
		}
	});
});

function ajaxSubmit(){
	$.ajax({
	    type: 'post',
	    url: $("#addLearning").attr('action'),
	    data: $("#addLearning").serialize(),
	    dataType: "JSON",
	    success: function(data) {
	    	if (data.code == "1000"){
	    		modal.close();
	    		dataTable.refresh();
	    	} else {
	    		tips.error(data.message);
	    	}
	    }
	});
}
</script>
</div>
