
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>添加试题选项
				</h4>
			</div>
			<form class="form-horizontal" action="${path!}/hd/exam/options/add" method="post" id="addExamOptions">
				<input type="hidden" name="customId" value="${form.customId!}" />
				<div class="modal-body">
					<div class="control-group">
                         <label class="control-label" for="number">标号:</label>
                         <div class="controls">
                             <input type="text"  name="number" id="number" placeholder="" style="width: 20px;">
                         </div>
                     </div>
                     <div class="control-group">
                     	  <label class="control-label" for="type">类型:</label>
	                      <div class="controls">
	                          <select id="type" name="type">
								  [#if type??]
										[#list type as at]
											<option value="${at.key!}">${at.value!}</option>
										[/#list]
									[/#if]
							  </select>
	                      </div>
                    </div>
					<div class="control-group">
                         <label class="control-label" for="content">内容:</label>
                         <div class="controls">
                             <input type="text"  name="content" id="content" placeholder="">
                         </div>
                     </div>
					<div class="control-group">
                         <label class="control-label" for="correct">是否正确:</label>
                         <div class="controls">
                             <span class="lbl">是</span><input type="radio" name="correct" value="Y"/>
                             <span class="lbl">&nbsp;&nbsp;&nbsp;&nbsp;否</span><input type="radio" name="correct" value=""/>
                         </div>
                     </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary" 
						data-loading-text="正在保存..." data-complete-text="保存完成">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
			<script type="text/javascript">
			$(function() {
				formValidtor.modalValid({
					handler : "#addExamOptions",
					rules: {
						number: {
							required: true
						},
						content: {
							required: true
						}
					},
					messages: {
						number: {
							required: "必须填写标号."
						},
						content: {
							required: "必须填写内容."
						}
					},
					submitHandler : function(form) {
						var $form = $(form);
						var url = $form.attr("action");
						var method = $form.attr("method");
						var nvp = $form.serialize();
						$.ajax({
							url : url,
							type : method,
							data : nvp,
							success : function(data) {
						    	if (data == "true"){
						    		modal.close();
						    		loadFile('${path!}/hd/exam/edit?id=${form.customId!}');
						    	} else {
						    		tips.error("保存选项出错，请退回到题目界面刷新并重新操作");
						    	}
							}
						});
					}
				})
			});
			</script>
		</div>
	</div>
</div>
