
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>添加版块
				</h4>
			</div>
			<form class="form-horizontal" action="${path!}/hd/learning/section/add" method="post" id="addLearningSection">
				<div class="modal-body">
					<div class="control-group">
                         <label class="control-label" for="type">标识码:</label>
                         <div class="controls">
                             <input type="text"  name="type" id="type" placeholder="">
                         </div>
                     </div>
					<div class="control-group">
                         <label class="control-label" for="name">名称:</label>
                         <div class="controls">
                             <input type="text"  name="name" id="name" placeholder="">
                         </div>
                     </div>
                     <div class="control-group">
                          <label class="control-label" for="needsSub">包含模块信息?:</label>
                          <div class="controls">
                          	<input type="radio" name="needsSub" value="0" checked="checked"/><span class="lbl">否</span>
                          	<input type="radio" name="needsSub" value="1"/><span class="lbl">是</span>
                          </div>
                      </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			formValidtor.modalValid({
				handler : "#addLearningSection",
				rules : {
					type : {
						required : true
					},
					name : {
						required : true
					},
					needsSub : {
						required : true
					}
				}
			})
		});
	</script>
</div>
