
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>导入试题
				</h4>
			</div>
			<div id="addExam">
				<div class="control-group">
                    <label class="control-label">（Excel试题文件）文件上传:</label>
                    <div class="controls">
                        <div id="multi_upload" class="gebo-upload" style="font-size: 14px;">你的浏览器不支持 Flash, Silverlight, Gears, BrowserPlus, HTML5.</div>
	   				<label style="width: 400px !important; color: red; font-size: 14px;" id="uploadTip"></label>
                    </div>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary" onclick="startUpload();"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var filesNumber = 0;
	var maxNumber = 1;
	
		$(function() {
			$("#multi_upload").pluploadQueue({
				runtimes : 'html5,gears,flash,silverlight,browserplu',
				url : '${path!}/hd/exam/import?module=${form.module!}&section=${form.section!}',
				max_file_size : '20mb',
				unique_names : true,
				urlstream_upload: true,

				filters : [{title : "Excel文件", extensions : "xls,xlsx"}],

				flash_swf_url : 'plugins/plupload/js/plupload.flash.swf',
				silverlight_xap_url : 'plugins/plupload/js/plupload.silverlight.xap',
				
				init : {
					FilesAdded: function(up, files) {
						filesNumber = up.files.length;
						if (filesNumber > maxNumber){
							$(".plupload_file_name").hide();
							$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
						} else {
							$(".plupload_file_name").show();
							$("#uploadTip").html("");
						}
					},
			
					FilesRemoved: function(up, files) {
						filesNumber = up.files.length;
						if (filesNumber > maxNumber){
							$(".plupload_file_name").hide();
							$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
						} else {
							$(".plupload_file_name").show();
							$("#uploadTip").html("");
						}
					},
					
					FileUploaded: function(up, file, info) {					
						var jsonObj = eval("(" + info.response + ")");
						if (jsonObj.code == "1000"){
				    		modal.close();
				    		dataTable.refresh();
				    	} else {
				    		tips.error(jsonObj.message);
				    	}
					},
					
					UploadComplete: function(up, file) {
						$("#uploadTip").html("");
					},
					
					StateChanged: function(up) {
						if (up.state == plupload.STARTED){
							$("#uploadTip").html("正在上传文件到服务器......");
						}
					}
				}
			});
			
			$(".plupload_start").hide();
		});
		
		function startUpload(){
			$(".plupload_start").click();
		}
	</script>
</div>
