<div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>编辑版块名称
				</h4>
			</div>
			[@ec_learning_section id=form.id;item]
			[#if item??]
			<form class="form-horizontal" action="${path!}/hd/learning/section/edit" method="post" id="editLearningSection">
				<input type="hidden" name="id" value="${item.id!}" />
				<div class="modal-body">
					<div class="control-group">
                         <label class="control-label" for="name">名称:</label>
                         <div class="controls">
                             <input type="text"  name="name" id="name" value="${item.name!}" placeholder="" maxlength="16">
                         </div>
                     </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
			[#else]
				没有任何课程存在
			[/#if]
			[/@ec_learning_section]
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			formValidtor.modalValid({
				handler : "#editLearningSection",
				rules : {
					name : {
						required : true
					}
				}
			})
		});
	</script>
</div>
