<style>
.ace-thumbnails>li {
    border: 0px solid #333;
    width: 180px;
    height: 220px;
}
</style>

<div id="breadcrumbs">
	<ul class="breadcrumb">
		<li><i class="icon-home"></i><a href="${path!}/management/index">首页</a><span
			class="divider"><i class="icon-angle-right"></i></span></li>
		<li class="active">在线培训</li>
	</ul>
</div>

<div id="page-content" class="clearfix">
[@ec_learning id=form.id;item]
	[#if item??]
	<div class="page-header position-relative" style="display: inline-flex;">
		[@ec_privilege_check uri="/hd/learning"]
            <button class="btn btn-small btn-purple" onclick="loadFile('${path}${AUTH_MENU.privilege.uri!}')">
                <i class="icon-arrow-left"></i>返回上一级
            </button>
        [/@ec_privilege_check]
		<h1>
			正在查看 -- ${item.title!}
		</h1>
	</div>
	<h3>培训简介</h3>
	<br clear="ALL"/>
		<p>${item.description!}</p>	
	<br clear="ALL"/>
	<!--/.page-header-->
	[#if item.learningFiles?? && item.learningFiles?size > 0]
		[#list item.learningFiles as r]
			[#if r.suffix?? && !r.conventerPath??]
				[#if r.suffix == 'pdf']
					<iframe src="${path!}/resources/plugins/pdf/web/viewer.html?file=${path!}${r.path!}&locale=zh-CN" class="span11" height="600px"></iframe>
				[#elseif r.suffix == 'mp4']
					<script type="text/javascript" src="${path!}/resources/plugins/ckplayer/ckplayer.js"></script>
					<div class="video" class="span11" style="height: 600px;"></div>
					<script type="text/javascript">
						var videoObject = {
							container: '.video',//“#”代表容器的ID，“.”或“”代表容器的class
							variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
							video:'${path!}${r.path!}',//视频地址
							crossdomain:'${path!}/resources/plugins/ckplayer/crossdomain.xml'
						};
						var player=new ckplayer(videoObject);
					</script>
				[#else]
					<p>你所查看的文件不支持在线预览，请下载查看</p>
					<a style="display: inline;" href="${path!}${r.path!}" target="_blank">${r.fileName!}</a>
				[/#if]
			[/#if]
			[#if r.conventerPath?? && r.conventerPath != '']
				[#if r.conventerPath?ends_with(".pdf")]
					<iframe src="${path!}/resources/plugins/pdf/web/viewer.html?file=${path!}${r.conventerPath!}&locale=zh-CN" class="span11" height="600px"></iframe>
				[#elseif r.conventerPath?ends_with('mp4')]
					<script type="text/javascript" src="${path!}/resources/plugins/ckplayer/ckplayer.js"></script>
					<div class="video" class="span11" style="height: 600px;"></div>
					<script type="text/javascript">
						var videoObject = {
							container: '.video',//“#”代表容器的ID，“.”或“”代表容器的class
							variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
							poster:'${path!}${r.coverPath!}',//封面图片
							video:'${path!}${r.conventerPath!}',//视频地址
							crossdomain:'${path!}/resources/plugins/ckplayer/crossdomain.xml'
						};
						var player=new ckplayer(videoObject);
					</script>
				[#else]
					<p>你所查看的文件不支持在线预览，请下载查看</p>
					<a style="display: inline;" href="${path!}${r.path!}" target="_blank">${r.fileName!}</a>
				[/#if]
			[/#if]
		[/#list]
	[/#if]
	[/#if]
[/@ec_learning]
</div>
<!--/.page-content-->
