[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>修改题目信息</h1>
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
        	[@ec_exam id=form.id;item]
			[#if item??]
			<input type="hidden" id="module" value="${item.module!}" />
			<input type="hidden" id="section" value="${item.section!}" />
            <form class="form-horizontal" action="${path!}/hd/exam/edit" method="post" id="editExam" >
              <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
              <input type="hidden" name="id" id="id" value="${item.id!}" />
              <div class="">
					[#if item.type??]<span style="color: blue;">当前题型 - [#if item.type == 'SINGLE']单项选择[#elseif item.type == 'MULTIPLE']多项选择[#elseif item.type == 'YES_OR_NO']判断[/#if] 。</span> [/#if]
					<button class="btn btn-small btn-info" onclick="javascript:loadFile('${path!}/hd/exam/edit?id=${form.id!}');">
			            <i class="icon-refresh"></i>刷新
			        </button>
					<br clear="ALL"/><br clear="ALL"/>
					<div class="control-group">
                         <label class="control-label" for="number">题号:</label>
                         <div class="controls">
                             <input type="text"  name="number" id="number" value="${item.number!}" placeholder="">
                         </div>
                     </div>
					<div class="control-group">
                         <label class="control-label" for="score">分数:</label>
                         <div class="controls">
                             <input type="text"  name="score" id="score" value="${item.score!}" placeholder="">
                         </div>
                     </div>
					<div class="control-group" style="margin-bottom: 0px;">
	                   	<label class="control-label" for="subject">题目信息:</label>
	                    <div class="controls">
	                   	 	<textarea name="subject" id="subject" class="EC-form-textarea easyui-validatebox" placeholder="输入信息不得大于 500字" rows="8" cols="60">${item.subject!}</textarea>
	               	 	</div>
	                </div>
	            </div>
			</form>
            <hr/>
            <p> 试题选项的修改将会立即生效，试题题目的修改需要保存。</p>
            <hr/>
            [@ec_privilege_check uri="/hd/exam/options/add"]
            	<button type="button" class="btn btn-small btn-info" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?customId=${item.id!}'});">增加选项</button>
    		[/@ec_privilege_check]
            <br clear="ALL"/>
            <br clear="ALL"/>
            <div class="">            
                    [#if item.examPaperOptions??]
                       	[#if item.examPaperOptions?? && (item.examPaperOptions?size > 0)]
                       		[#assign editable = 'NO']
                       		[@ec_privilege_check uri="/hd/exam/options"]
                       			[#assign editable = 'YES']
                       		[/@ec_privilege_check]
                       	
							[#list item.examPaperOptions as p]
								<div class="control-group" id="options_${p.id!}">
									<div class="controls">
				                     	[#if editable == 'YES']
				                     		<input type="checkbox" id="correct_${p.id!}" value="Y" [#if p.correct?? && p.correct == 'Y'] checked='checked' [/#if]  onclick="editOptions('${p.id!}');"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			                     			<input type="text" id="number_${p.id!}" value="${p.number!}" style="width: 20px;" onchange="editOptions('${p.id!}');"/>
			                     			<input type="text" id="content_${p.id!}" value="${p.content!}" class="span9" onchange="editOptions('${p.id!}');"/>
				                     	[#else]
				                     		[#if p.correct?? && p.correct == 'Y']<i class="icon-ok"></i>&nbsp;[#else]&nbsp;&nbsp;&nbsp;&nbsp;[/#if]${p.number!}:&nbsp;&nbsp;${p.content!}
				                     	[/#if]
				                     	[@ec_privilege_check uri="/hd/exam/options/delete"]<span onclick="removeOptions('${path!}${AUTH_MENU.privilege.uri!}', '${p.id!}');" style="cursor: pointer;">&times;</span>[/@ec_privilege_check]
				                	</div>
				                </div>
							[/#list]
						[/#if]
                    [/#if]
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="backPage();">取消</button>
				<button type="button" class="btn btn-primary"
					data-loading-text="正在保存..." data-complete-text="保存" onclick="ajaxSubmit();">
					<i class="icon-ok"></i>保存
				</button>
			</div>
		[#else]
			没有任何试题存在
		[/#if]
		[/@ec_exam]
     </div>
    </div>
<script type="text/javascript" src="${path}/resources/plugins/textAreaCounter/jquery.textareaCounter.js"></script>
<style type="text/css">
	input[type=checkbox], input[type=radio] {
    	opacity: 1;
    }
	.originalTextareaInfo {
		font-size: 12px;
		color: #000000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
	.warningTextareaInfo {
		font-size: 12px;
		color: #FF0000;
		font-family: Tahoma, sans-serif;
		text-align: right
	}
</style> 
	<script type="text/javascript">
		$(function() {
			var subject = {
					'maxCharacterSize': 500,
					'originalStyle': 'originalTextareaInfo',
					'warningStyle' : 'warningTextareaInfo',
					'warningNumber': 50,
					'displayFormat' : '#input/#max 字'
			};
			$('#subject').textareaCount(subject);
			
			formValidtor.modalValid({
				handler : "#editExam",
				rules : {
					number : {
						required : true
					}
				}
			})
		});
		
		function ajaxSubmit(){
			$.ajax({
			    type: 'post',
			    url: $("#editExam").attr('action'),
			    data: $("#editExam").serialize(),
			    dataType: "JSON",
			    success: function(data) {
			    	if (data.code == "1000"){
			    		backPage();
			    	} else {
			    		tips.error(data.message);
			    	}
			    }
			});
		}
		
		function backPage(){
    		loadFile('${path}/hd/exam?module=' + $("#module").val() + '&section=' + $("#section").val());
		}
		
		[@ec_privilege_check uri="/hd/exam/options"]
		function editOptions(id){
			var correct;
			if($('#correct_' + id).is(':checked')) {
				correct = 'Y';
			}
			
			var data = {
				id:Number(id),
				correct:correct,
				number:$("#number_" + id).val(),
				content:$("#content_" + id).val()
	        };
			
			$.ajax({
			    type: 'POST',
			    url: "${path!}${AUTH_MENU.privilege.uri!}",
			    data: JSON.stringify(data),
			    dataType: "JSON",
			    contentType: "application/json; charset=utf-8",
			    success: function(data) {
			    	$('.btn').button("reset");
			    	if (data.code == "1000"){
			    		tips.info(data.message);
			    	} else {
			    		tips.error(data.message);
			    	}
			    }
			});
		}
		[/@ec_privilege_check]
		
		[@ec_privilege_check uri="/hd/exam/options/delete"]
		function removeOptions(url, id){
			$.ajax({
			    type: 'POST',
			    url: url + "?id=" + id,
			    dataType: "JSON",
			    success: function(data) {
			    	if (data.code == "1000"){
			    		$("#options_" + id).remove();
			    	} else {
			    		tips.error(data.message);
			    	}
			    }
			});
		}
		[/@ec_privilege_check]
	</script>
</div>

