[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>解决的问题</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">解决的问题列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="loadFile('${path}${AUTH_MENU.privilege.uri!}');" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                            
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="workStepProblemTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                               		<th>序号</th>
                                   <th>焊口/支架号</th>
                                    <th>图纸号</th>
                                    <th>问题名称</th>
                                    <th>问题等级</th>
                                    <th>问题状态</th>
                                     <th>当前解决人</th>
                                      <th>关注人</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			"tableID":"#workStepProblemTable",
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
				    	  "data":"no"
				         },
			            {
			    		  "data":"weldno"
			            },
			            {
			    		  "data":"drawno"
			            },
			            {
			    		  "data":"questionname"
			            },
			            {
			    		  "data":"questionlevel"
			            },
			            {
			    		  "data":"isok"
			            },
			            {
				    		  "data":"currentsolver"
				        },
				        {
				    		  "data":"concernman"
				         },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}",
	      "order": [[ 0, "asc" ]]
		});
	})
</script>
