    <!-- detail problem Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="width: 700px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>问题解决确认</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/workstep/problem/solveconfirm" method="post" id="problemSolveConfirm" >
                <input type="hidden" name="id" value="${id!}" />
                <div class="modal-body">
                     	<div class="control-group">
						<label class="control-label" for="solvemethod">解决方案:</label>
						<div class="controls">
							<select name="isWork" >
								<option value="1">有效</option>
								<option value="0">无效</option>
							</select>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                   <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">提交</button>
                </div>
                </form>
            </div>
            </div>
<script type="text/javascript">
$(function(){
	formValidtor.modalValid({
		handler:"#problemSolveConfirm",
		callbackFunc:function(){
			loadFile("${path}/hd/workstep/problem/created/detail?tid=${id}");
			}
	})
}); 

</script>
    </div>

