    <!-- detail problem Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="width: 700px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>工序问题解决</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/workstep/problem/handle" method="post" id="handleProblem" >
                <input type="hidden" name="id" value="${id!}" />
                <div class="modal-body">
                     	<div class="control-group">
						<label class="control-label" for="solvemethod">解决方案:</label>
						<div class="controls">
							<select name="isSolve" onchange="isToSolve(this);" id="isSolve">
								<option value="1">能解决</option>
								<option value="0">不能解决</option>
							</select>
						</div>
					</div>
					<div  id="solverArea" style="display: none;">
						<div class="control-group">
							<label class="control-label" for="solverid">解决人:</label>
							<div class="controls">
								<select name="solverid" id="solverid">
									[#if solvers?? && solvers?size > 0]
										[#list solvers as s]
										<option value="${s.id}">${s.realname}</option>
										[/#list]
									[/#if]
								</select>
							</div>
						</div>
					</div>	
					<div class="control-group" id="solvemethodarea" >
						<label class="control-label" for="solvemethod">描述:</label>
						<div class="controls">
							<textarea rows="8" cols="30" name="solvemethod" placeholder=""
								id="solvemethod" style="width: 400px;height: 300px;"></textarea>
						</div>
					</div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button  type="submit" class="btn btn-primary" data-loading-text="正在保存...">提交</button>
                </div>
                </form>
	        </div>
            </div>
<script type="text/javascript">
$(document).ready(function(){
	formValidtor.modalValid({
		handler:"#handleProblem",
		rules :{
			solvemethod :{
				required : true
			}
		},
		callbackFunc:function(){
			loadFile("${path}/hd/workstep/problem");
		}
	})
}); 


function isToSolve(obj) {
	var result = $(obj).val();
	if (result == "1") {
		$("#solverArea").hide();
	} else if (result == "0") {
		$("#solverArea").show();
	}
}
</script>
    </div>

