<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>问题明细</h1>
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                       	[@ec_problem id=form.id;p]
						<form class="form-horizontal"
							action="${path}/baseservice/material_type/edit" method="post"
							id="detailProblem">
								<input type="hidden" name="id" value="${rp.id!}" />
								<div class="control-group">
									<label class="control-label" for="weldno">焊口/支架号:</label>
									<div class="controls">
										<input type="text" value="${rp.weldno!}" name="weldno"
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="stepname">图纸号:</label>
									<div class="controls">
										<input type="text" value="${rp.drawno!}" name="drawno"
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="questionname">问题名:</label>
									<div class="controls">
										<input type="text" value="${p.questionname!}" name="questionname"
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">问题描述:</label>
									<div class="controls">
										<textarea rows="8" cols="30" name="describe" placeholder=""
											id="describe" style="width: 460px;" disabled="disabled"
											draggable="false">${p.describe!}</textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">附件:</label>
									<div class="controls">
										[@ec_problem_file queryType = "list" id = "${p.id}" pageable=0
										;list] [#if list?? && (list?size > 0)] [#list list as file] <a
											onclick="window.open('${path}/problem_files/${file.path}');"
											style="cursor: pointer;">${file.fileName}</a><br /> [/#list]
										[/#if] [/@ec_problem_file]
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="solvemethod">解决方案:</label>
									<div class="controls">
										<textarea rows="8" cols="30" name="solvemethod" placeholder=""
											id="describe" style="width: 460px;" disabled="disabled"
											draggable="false">${p.solvemethod!}</textarea>
									</div>
								</div>
								
									<!-- 问题流程信息  -->
								<div class="control-group">
									<label class="control-label" for="describe">发起人:</label>
									<div class="controls">
											<input type="text" value="${p.createdByName!}" 
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">当前解决人:</label>
									<div class="controls">
											<input type="text" value="${p.currentsolver!}" 
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">问题状态:</label>
									<div class="controls">
											[#if p.isOk == 1]
												[#assign isSolve = '已解决']
												[#else]
												[#assign isSolve = '未解决']
											[/#if]
											<input type="text" value="${isSolve!}" 
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								
									<div class="control-group">
									<label class="control-label" for="describe">处理人</label>
									<div class="controls">
											<label class="control-label" for="describe">处理描述</label>
									</div>
								</div>
								[#if solvers?? && solvers?size >0]
										[#list solvers as solver]
											[#if solver_index + 1 < solvers?size]
												<div class="control-group">
													<label class="control-label" for="describe">${solver.solverName}</label>
													<div class="controls">
														<textarea rows="8" cols="30"  placeholder=""
															id="describe" style="width: 460px;" disabled="disabled"
															draggable="false">${solver.describe!}</textarea>
													</div>
												</div>
											[/#if]
										[/#list]
								[/#if]
								<!-- 问题流程结束 -->
								
								[@ec_privilege_check uri="/hd/workstep/problem/concernman/delete"]
										[#if p.confirm?? && p.confirm == 0 && isLeader?? && isLeader == true]
											[#if concernmans?? && concernmans?size > 0]
								<div class="control-group">
									<label class="control-label" for="concernman">关注人:</label>
									<div class="controls">
										<select name="concernman" id="concernman">
												[#list concernmans as concernman]
													<option value="${concernman.id}">${concernman.concernmanname}</option>
												[/#list]
										</select>
										<a  href="javascript:void(0);" onclick="deleteConcernman();" class="btn btn-success">删除关注人</a>
										</div>
									</div>
										[/#if]
											[/#if]
								[/@ec_privilege_check]
								<div class="control-group">
									<div class="controls">
									<button type="button" onclick="loadFile('${path}/hd/workstep/problem/toconcerned')" class="btn btn-default">返回</button>
									[@ec_privilege_check uri="/hd/workstep/problem/handle"]
										[#if p.confirm?? && p.confirm == 0 && isLeader?? && isLeader == true && concernmans?? && concernmans?size > 0]
										<button type="button" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});" class="btn btn-success">处理</button>
										[/#if]
									[/@ec_privilege_check]
									</div>
								</div>
						</form>
                    </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>
</div>
<script type="text/javascript">
	function deleteConcernman(){
		var id = $("#concernman").val();
		if(id==undefined && id == ""){
			return;
		}
		$.get("${path}/hd/workstep/problem/concernman/delete?id=" + id,function(result){
				if(result){
					tips.success("删除关注人成功");
				}else{
					tips.error("删除关注人失败");
				}
				loadFile('${path}/hd/workstep/problem/toconcerned/detail?tid=${p.id!}');
		});
	}			
</script>
			[/@ec_problem]