[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
	 <div class="page-header position-relative">
        <h1>问题升级时间设置 <small>均为必填项</small></h1>
    </div><!--/page-header-->
    <br clear="all"/>
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path}/baseservice/setting/problem" method="post" id="problemSetting">
      	  <input type="hidden" name="id" value="${id!}" />
            <div class="control-group">
                <label class="control-label" for="consteam">问题未处理升级间隔天数:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="duration" name="duration" value="${duration!}">
                </div>
            </div>
            
            <div class="form-actions">
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
<script type="text/javascript">
	$(function() {
		$("#problemSetting").validate({
			rules : {
				duration : {
					required : true,
					digits : true,
					maxlength:10
				}
			},
			submitHandler : function(form) {
				var $form = $(form);
				var url = $form.attr("action");
				var method = $form.attr("method");
				var nvp = $form.serialize();
				$.ajax({
					url : url,
					type : method,
					data : nvp,
					success : function(data) {
						if (data) {
							tips.success("操作成功");
						} else {
							tips.error("操作失败");
						}
					}
				});
			}
		})

	});
</script>
