[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>问题反馈</h1>

	</div>
	<!--/page-header-->

	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div
					class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
					<h4 class="lighter">提出问题反馈</h4>
					<div class="widget-toolbar"></div>
				</div>
				<div class="widget-main">
					<form class="form-horizontal" action="${path}/hd/workstep/problem/add"
						method="post" id="addProblem">
						<input type="hidden" value="${rp.id}" name="rollingPlanId"/>
						<div class="control-group">
							<label class="control-label" for="weldno" >焊口/支架号:</label>
							<div class="controls">
								<input type="text" name="weldno" id="weldno" placeholder=""
									value="${rp.weldno!}" readonly="readonly"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="drawno" >图纸号:</label>
							<div class="controls">
								<input type="text" name="stepname" id="drawno" placeholder=""
									value="${rp.drawno!}" readonly="readonly">
							</div>
						</div>
							<div class="control-group">
							<label class="control-label" for="questionname" >问题名:</label>
							<div class="controls">
								<input type="text" name="questionname" id="questionname" placeholder=""/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="describe">问题描述:</label>
							<div class="controls">
								<textarea rows="8" cols="30" name="describe" placeholder=""
									id="describe" style="width: 460px;"></textarea>
							</div>
						</div>
<!-- 						<div class="control-group">
							<label class="control-label" for="solverdepartmentid">解决人部门:</label>
							<div class="controls">
								<select name="solverdepartmentid" onchange="loadUsers();"
									id="departmentId">
									  [@EC.relationship selectId='0'/]
								</select>
							</div>
						</div> -->
						<div class="control-group">
							<label class="control-label" for="solverid">解决人:</label>
							<div class="controls">
								<select name="solverid" id="solverid">
									[#if solvers?? && solvers?size > 0]
										[#list solvers as s]
										<option value="${s.id}">${s.realname}</option>
										[/#list]
									[/#if]
								</select>
							</div>
						</div>
						<div align="left" style="padding-left: 500px;">
							<button class="btn btn-default" type="button" onclick="loadFile('${path}/construction/mytask');">返回</button>
							<button class="btn btn-primary" type="submit">保存</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS HERE -->
	</div>
</div>
<script type="text/javascript">
$(function() {
	
		$("#addProblem").validate({
		rules : {
			questionname : {
				required : true
			},
			solverid : {
				required : true
			},
			describe : {
				required : true
			}
		},
		submitHandler : function(form) {
			var $form = $(form);
			var url = $form.attr("action");
			var method = $form.attr("method");
			var nvp = $form.serialize();
			$.ajax({
				url : url,
				type : method,
				data : nvp,
				success : function(data) {
					if (data) {
						tips.success("操作成功");
						loadFile('${path}/hd/workstep/problem/upload?problemId=' + data);
					} else {
						tips.error("操作失败");
					}
				}
			});
		}
		}
	)
	
});

/* function loadUsers(){
	var departmentId = $("#departmentId").val();
	$.ajax({
				'type':'post',
				'url':'${path}/hd/workstep/problem/solvers',
				'data':{'departmentId':departmentId},
				'success':function(data){
					$("#solverid").html(data);
				}
				
		});
} */
/* function loadConcermen(){
	var departmentId = $("#concermandepartmentid").val();
	$.ajax({
				'type':'post',
				'url':'${path}/hd/workstep/problem/solvers',
				'data':{'departmentId':departmentId},
				'success':function(data){
					$("#concernmanid").html(data);
				}
				
		});
}
 */
/* function addToConcernmen(){
	var concernname = $("#concernmanid").find("option:selected").text();
	var concernmanid = $("#concernmanid").val();
	var $concernmen = $("#concernmen");
	var $concermenname = $("#concermenname");
	console.log($concermenname.val().indexOf(concernname));
	console.log($concernmen.val().indexOf(concernmanid));
	if($concermenname.val() == ""){
		$concermenname.val(concernname);
	}else{
		if($concermenname.val().indexOf(concernname) < 0){
			$concermenname.val($concermenname.val() + "|" + concernname);
		}
	}
	if($concernmen.val() == ""){
		$concernmen.val(concernmanid);
	}else{
		if($concernmen.val().indexOf(concernmanid) < 0){
			$concernmen.val($concernmen.val() + "|" + concernmanid);
		}
		
	}
	
}
function deleteConcernmen(){
	$("#concernmen").val("");
	$("#concermenname").val("");
} */
function startUpload(){
	if($("#describe").val().length > 0){
		$('#uploadify').uploadify('upload','*');
	  }
}
</script>
