[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>计划分派管理 -- 未分派到组</h1>

	</div>
	<!--/page-header-->

	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div
					class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
					<h4 class="lighter">滚动计划信息列表</h4>
					<div class="widget-toolbar">
						<div class="btn-group">

							[@ec_privilege_check uri="/construction/monitor/assign"]
	                            <button class="btn btn-small btn-danger" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}', datatable: dataTable.tableID});">
	                                <i class="icon-edit"></i>${AUTH_MENU.name}
	                            </button>
	                        [/@ec_privilege_check]
							<button class="btn btn-small btn-info"
								onclick="dataTable.refresh();">
								<i class="icon-refresh"></i>刷新
							</button>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<table id="rollingPlanTable"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center"><label> <input type="checkbox"
											onclick="checkAll(this);" /> <span class="lbl"></span></label></th>
									<th>序号</th>
									<th>作业条目编号</th>
									<th>机组号</th>
									<th>子项</th>
									<th>图纸号</th>
									<th>系统号</th>
									<th>房间号</th>
									<th>工程量类别</th>
									<th>工程量名称</th>
									<th>工程量编号</th>
									<th>焊口号</th>
									<th>工程量</th>
									<th>规格</th>
									<th>材质</th>
									<th>核级</th>
									<th>单位</th>
									<th>点值</th>
									<th>质量计划号</th>
									<th>计划施工日期</th>
									<th>施工班组</th>
									<th>状态</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>

						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS HERE -->
	</div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID" : "#rollingPlanTable",
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"sortable" : false,//统一不使用排序
			"columns" : [ {
				"data" : "id",
				"sortable" : false
			}, {
				"data" : "no"
			}, {
				"data" : "weldlistno"
			}, {
				"data" : "unitno"
			}, {
				"data" : "subItem"
			}, {
				"data" : "drawno"
			}, {
				"data" : "systemno"
			}, {
				"data" : "roomno"
			}, {
				"data" : "projectType"
			}, {
				"data" : "projectname"
			}, {
				"data" : "projectno"
			}, {
				"data" : "weldno"
			}, {
				"data" : "projectcost"
			}, {
				"data" : "specification"
			}, {
				"data" : "materialtype"
			}, {
				"data" : "corelevel"
			}, {
				"data" : "unit"
			}, {
				"data" : "spot"
			}, {
				"data" : "qualityplanno"
			}, {
				"data" : "plandate"
			}, {
				"data" : "consteam"
			}, {
				"data" : "status"
			}, {
				"data" : "remark"
			}, {
				"data" : "links",
				"sortable" : false
			} ],
			"url" : "${path}${current_uri}"
		});
		
		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();
		
		searchInput.bind('blur keyup', function() {
			isSearch(function(){
				var searchInput=$(".dataTables_filter :input :first");
				$('#rollingPlanTable').DataTable().search(searchInput.val()).draw();
			});
		});

		searchInput.keypress(function(e) {  
			if (e.which == 13) {
				var searchInput=$(".dataTables_filter :input :first");
				$('#rollingPlanTable').DataTable().search(searchInput.val()).draw();
			}
		});
	})
</script>
