
<div class="modal" tabindex="-1" role="dialog"
	data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>分派到施工组
				</h4>
			</div>
			<form class="form-horizontal"
				action="${path}/construction/monitor/assign" method="post"
				id="assignRollingPlan">
				<div class="modal-body">
					<div class="control-group">
						<span style="color: red;">正在为 [ ${form.ids?size} ] 个滚动计划信息分派班组。</span>
						<br clear="all"/>
						<label class="control-label" for="teamId">班组列表:</label>
						<div class="controls">
							[#if teams?? && teams?size > 0]
								[#assign count=0 /]
								[#list teams as team]
									[#if team.department??]
										[#assign count=count+1 /]
										<label>
											<input type="radio" name="teamId" value="${team.id!}"/>
											<span class="lbl">${team.department.name!} -- ${team.realname}
											</span>
										</label>
									[/#if]
								 	[#if team_index != (teams?size - 1)]
								    &nbsp;
								    [/#if]
								[/#list]
								[#if count == 0]
									没有任何组长成员存在
								[/#if]
							[#else]
								没有任何组长成员存在
							[/#if]
						</div>
						
						<div id="rollingPlans">
							[#list form.ids as id]
								<input type="hidden" name="ids" value="${id!}"/>
                            [/#list]
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="planfinishdate">计划完成日期:</label>
						<div class="controls">
							<input id="planfinishdate" type="text" class="EC-form-input EC-form-search Wdate" name="planfinishdate" readonly="readonly" onkeydown="repeal(event);" onFocus="datePannel();"/> 
						</div>
					</div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
                </div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			formValidtor.modalValid({
				handler : "#assignRollingPlan",
				rules : {
					teamId : {
						required : true
					},
					planfinishdate : {
						required : true
					}
				}
			})
			
			
		});
	</script>
</div>
