<div class="easyui-layout" data-options="fit:true"
	style="width: 600px; height: 750px;">
	<div data-options="region:'center',border:false,split:true">
		<div class="EC-right-content">
<h2 class="EC-title-1">当前位置:<i class="icon-user EC-icon-layout"></i>[@EC.location /]</h2>
			<div id="rdProdefToolBar" class="datagrid-toolbar"
				style="padding: 5px;">
				<table cellspacing="0" cellpadding="0">
					<tr>
						[@ec_privilege_check uri="/rd/flowzip/delete"]
						<td><a href="javascript:void(0);"
							onclick="delDialog('#rdProdefTable','${path!}/rd/prodef/delete','deploymentId');"
							class="easyui-linkbutton"
							data-options="iconCls:'icon-remove',plain:true">删除</a></td>
						<td><div class="datagrid-btn-separator"></div></td>
						[/@ec_privilege_check]
						[@ec_privilege_check uri="/rd/flowzip/delete"]
						<td><a href="javascript:void(0);"
							onclick="delDialog('#rdProdefTable','${path!}/rd/prodef/delete/demand','deploymentId');"
							class="easyui-linkbutton"
							data-options="iconCls:'icon-remove',plain:true">强制删除</a></td>
						<td><div class="datagrid-btn-separator"></div></td>
						[/@ec_privilege_check]
						<td><a href="javascript:void(0);"
							onclick="refreshData('#rdProdefTable','${path}/rd/prodef');"
							class="easyui-linkbutton"
							data-options="iconCls:'icon-reload',plain:true">刷新</a></td>
					</tr>
				</table>
			</div>
			<script type="text/javascript">
					function viewImg(value, row, index) {
						var opt = "";
	                	[@ec_privilege_check uri="/rd/prodef/def"]
						opt = "<a href=\"javascript:void(0);\" class=\"EC-btn-view\" onclick=\"openTab('查看流程图','${path!}/rd/prodef/def?deploymentId="+row.deploymentId + "','')\">查看流程图</a>";
	                    [/@ec_privilege_check]
						return opt;
					}	
				</script>
			<table id="rdProdefTable" title="流程定义列表" class="easyui-datagrid"
				data-options="
		        	singleSelect:false
		        	,method:'post'
			        ,url:'${path}/rd/prodef'
			        ,iconCls:'icon-log'
			        ,fitColumns:true
			        ,pagination:false
			        ,pageSize:20
			        ,toolbar:'#rdProdefToolBar'
			        ,onLoadSuccess:function(data){
			        	if(data.total == 0){
			        		$('#rdProdefTable').datagrid('appendRow',{
			        			deploymentId: '没有记录'
			        		});
			        		$('#rdProdefTable').datagrid('mergeCells',{
			        			index: 0,
			        			field: 'deploymentId',
			        			colspan:7
			        		});
			        	}
			        },onLoadError:function(){
			        	$.messager.alert('载入数据错误!','error');
			        }">
				<thead>
					<tr>
						<th data-options="field:'aid',checkbox:true">ID</th>
						<th data-options="field:'deploymentId',width:100,align:'center',sortable:true,styler:tdPadding">发布ID</th>
						<th data-options="field:'id',width:100,align:'center',sortable:true">序号</th>
						<th data-options="field:'name',width:100,align:'center',sortable:true">流程定义名</th>
						<th data-options="field:'key',width:100,align:'center',sortable:true">流程定义KEY</th>
						<th data-options="field:'version',width:100,align:'center',sortable:true">版本</th>
						<th data-options="field:'resourceName',width:100,align:'center',sortable:true">资源名</th>
						<th data-options="field:'opt',width:100,align:'center',formatter:viewImg">操作</th>
					</tr>
				</thead>

			</table>
		</div>
	</div>
</div>