[#assign query="${(form.query)!'all'}"/]

[#if query =="all"]
	[#assign title="所有事项" /]
[#elseif query =="doing"]
	[#assign title="进行中事项" /]
[#elseif query =="todo"]
	[#assign title="已完成事项" /]
[/#if]
<script type="text/javascript">

			        $(function(){
			        	var link = "${path}/rd/management?query=${query}";
			        	$('#rdTaskManagementTable').datagrid({
				        	singleSelect:true
				        	,method:'post'
					        ,url:link
					        ,iconCls:'icon-log'
					        ,fitColumns:true
					        [#if query == "all"]
					        ,pagination:false
			        		[#else]
					        ,pagination:true
			        		[/#if]
					        ,pageSize:20
					        ,toolbar: [{
					    		iconCls: 'icon-reload',
					    		text:'刷新',
					    		plain:true,
					    		handler: function(){
					    			refreshData('#rdTaskManagementTable',link);
								}
					    	}]
					        ,onLoadSuccess:function(data){
					        	if(data.total == 0){
					        		$('#rdTaskManagementTable').datagrid('appendRow',{
					        			id: '没有记录'
					        		});
					        		$('#rdTaskManagementTable').datagrid('mergeCells',{
					        			index: 0,
					        			field: 'id',
					        			colspan:$("#rdTaskManagementTable").find("tr").eq(0).find("th").length
					        		});
					        	}
					        }
					        ,onLoadError:function(){
					        	$.messager.alert('载入数据错误!','error');
					        }
					        ,rowStyler:function(index,row){
					        	if(row.operation == "done") {
				            		return 'background-color:#EFF7FE;';   
					        	}else if(row.operation == "doing"){
					        		if(row.statusCode == 1) {
										return 'background-color:#FFF4D0;';
									} else if (row.statusCode == 0) {
										return 'background-color:#FFC0CB;';
									}
					        	}
						   	}
						}); 
			        });
			      
					function operation(value, row, index) {
						var opt = "";
		                	[@ec_privilege_check uri="/rd/management/trace"]
		                	if(row.operation != "done"){
								opt += "<a href=\"javascript:void(0);\" class=\"EC-btn-edit\" onclick=\"openTab('跟踪进度["+row.id+"]["+row.filename+"]["+row.taskName+"]','${path!}/rd/management/trace?taskId="+row.taskId + "','')\">跟踪进度</a>";
		                	}
		                    [/@ec_privilege_check]
						return opt;
			        }
				</script>
<table id="rdTaskManagementTable" title="${title!}" class="easyui-datagrid">
	<thead>
		<tr>
			<th data-options="field:'id',width:20,align:'center',sortable:true,styler:tdPadding">序号</th>
			<th data-options="field:'filename',width:100,align:'center',sortable:true">文件名称</th>
			<th data-options="field:'fileNumber',width:100,align:'center',sortable:true">文件号</th>
			<th data-options="field:'source',width:100,align:'center',sortable:true">文件来源</th>
			<th data-options="field:'type',width:100,align:'center',sortable:true">文件类型</th>
			<th data-options="field:'deployUser',width:100,align:'center',sortable:true">发起人</th>
			<th data-options="field:'taskName',width:100,align:'center',sortable:true">进度</th>
			<th data-options="field:'assignee',width:100,align:'center',sortable:true">处理人</th>
			<th data-options="field:'createDate',width:100,align:'center',sortable:true">开始时间</th>
			<th data-options="field:'endDate',width:100,align:'center',sortable:true">结束时间</th>
			<th data-options="field:'status',width:100,align:'center',sortable:true">状态</th>
			<th data-options="field:'operation',width:100,align:'center',formatter:operation">操作</th>
		</tr>
	</thead>

</table>
