[#assign query="${(form.query)!'todo'}"/]
[#if query =="total"]
[#assign title="全部事项" /]
[#elseif query =="todo"]
[#assign title="待办事项" /]
[#elseif query =="assign"]
[#assign title="待签收事项" /]
[#elseif query =="his_handled"]
[#assign title="已办事项" /]
[/#if]
<script type="text/javascript">

			        $(function(){
			        	var link = "${path}/rd/receive?query=${query}";
			        	$('#rdTaskReceiveTable').datagrid({
				        	singleSelect:true
				        	,method:'post'
					        ,url:link
					        ,iconCls:'icon-log'
					        ,fitColumns:true
					        [#if query == "all"]
					        ,pagination:false
			        		[#else]
					        ,pagination:true
			        		[/#if]
					        ,pageSize:20
					        ,toolbar: [{
					    		iconCls: 'icon-reload',
					    		text:'刷新',
					    		plain:true,
					    		handler: function(){
					    			refreshData('#rdTaskReceiveTable',link);
								}
					    	}]
					        ,onLoadSuccess:function(data){
					        	if(data.total == 0){
					        		$('#rdTaskReceiveTable').datagrid('appendRow',{
					        			id: '没有记录'
					        		});
					        		$('#rdTaskReceiveTable').datagrid('mergeCells',{
					        			index: 0,
					        			field: 'id',
					        			colspan:$("#rdTaskReceiveTable").find("tr").eq(0).find("th").length
					        		});
					        	}
					        }
					        ,onLoadError:function(){
					        	$.messager.alert('载入数据错误!','error');
					        }
					        ,rowStyler:function(index,row){
					        	if(row.operation == "his_handled") {
				            		return 'background-color:#EFF7FE;';   
					        	}else if(row.operation == "assign"){
				            		return 'background-color:#DBEAD9;';   
					        	}else{
					        		if(row.statusCode == 1) {
										return 'background-color:#FFF4D0;';
									} else if (row.statusCode == 0) {
										return 'background-color:#FFC0CB;';
									}
					        	}
						   	}
						}); 
			        });
			      
			        function callbackSignin(data){
					   if(data == "true"){
						   $.messager.alert("成功","签收成功","info");
					   }else{
						   $.messager.alert("失败","签收失败,该任务已被签收，请刷新列表查看","error");
					   }
					   //刷新菜单
					   reload({
						  	selector:"#rdReceivePannel",
							url:"${path}/rd/receive?query=menu",
							method:"get"
					   });
			        }
			        
					function operation(value, row, index) {
						var opt = "";
						if(row.operation == "todo"){
							[@ec_privilege_check uri="/rd/receive/handle"]
							opt = "<a href=\"javascript:void(0);\" class=\"EC-btn-view\" onclick=\"openTab('处理任务','${path!}/rd/receive/handle?taskId="+row.taskId + "&tableName="+row.tableName+"','')\">处理</a>";
		                    [/@ec_privilege_check]
						}
	                    
						if((row.operation == "his_handled" || row.operation == "todo") 
								&& row.complete != 1){
		                	[@ec_privilege_check uri="/rd/receive/trace"]
							opt += "<a href=\"javascript:void(0);\" class=\"EC-btn-edit\" onclick=\"openTab('跟踪进度["+row.id+"]["+row.filename+"]["+row.taskName+"]','${path!}/rd/receive/trace?taskId="+row.taskId + "','')\">跟踪进度</a>";
		                    [/@ec_privilege_check]
						}
						
						if (row.operation == "assign"){
		                    [@ec_privilege_check uri="/rd/receive/signin"]
							opt = "<a href=\"javascript:void(0);\" class=\"EC-btn-add\" onclick=\"optDialog({selector:'#rdTaskReceiveTable',title:'签收任务',content:'您确定要签收该任务?',url:'${path!}/rd/receive/signin?taskId="+row.taskId +"',callback:callbackSignin});\">签收</a>";
			                [/@ec_privilege_check]
						}
						
						return opt;
			        }
				</script>
<table id="rdTaskReceiveTable" title="${title!}" class="easyui-datagrid">
	<thead>
		<tr>
			<th data-options="field:'id',width:20,align:'center',sortable:true,styler:tdPadding">序号</th>
			<th data-options="field:'filename',width:100,align:'center',sortable:true">文件名称</th>
			<th data-options="field:'fileNumber',width:100,align:'center',sortable:true">文件号</th>
			<th data-options="field:'source',width:100,align:'center',sortable:true">文件来源</th>
			<th data-options="field:'type',width:100,align:'center',sortable:true">文件类型</th>
			<th data-options="field:'deployUser',width:100,align:'center',sortable:true">发起人</th>
			[#if query != "his_handled"]
			<th data-options="field:'taskName',width:100,align:'center',sortable:true">进度</th>
			<th data-options="field:'handleDate',width:100,align:'center',sortable:true">接收时间</th>
			<th data-options="field:'createDate',width:100,align:'center',sortable:true">开始时间</th>
			<th data-options="field:'endDate',width:100,align:'center',sortable:true">结束时间</th>
			[#else]
			<th data-options="field:'createDate',width:100,align:'center',sortable:true">开始时间</th>
			<th data-options="field:'taskName',width:100,align:'center',sortable:true">处理环节</th>
			<th data-options="field:'handleDate',width:100,align:'center',sortable:true">处理时间</th>
			[/#if]
			[#if query != "his_handled"]
			<th data-options="field:'status',width:100,align:'center',sortable:true">状态</th>
			<th data-options="field:'operation',width:100,align:'center',formatter:operation">操作</th>
			[/#if]
		</tr>
	</thead>

</table>
