<ul>
	    		<li class="task-menu-wrap">
		    		<a href="javascript:void(0);" class="task-menu task-menu-hover EC-icon-task-receive" onclick="viewData({selector:'#managementDataView',url:'${path!}/rd/management?query=all'});menuOn({e:this,cls:'task-menu-hover'});">
		    		<span class="task-menu-text">全部 
		                	[@rd_task countType="all";count]
		                	<span class="EC-num-tips-normal">${count}</span>
		                	[/@rd_task]
		            </span>
		    		</a>
	    		</li>
	    		<li class="task-menu-wrap">
		    		<a href="javascript:void(0);" class="task-menu EC-icon-task-receive" onclick="viewData({selector:'#managementDataView',url:'${path!}/rd/management?query=doing'});menuOn({e:this,cls:'task-menu-hover'});">
		    		<span class="task-menu-text">进行中
		                	[@rd_task countType="doing";count]
		                	<span class="EC-num-tips-normal">${count}</span>
		                	[/@rd_task]
		            </span>
		    		</a>
	    		</li>
	    		<li class="task-menu-wrap">
		    		<a href="javascript:void(0);" class="task-menu EC-icon-task-receive" onclick="viewData({selector:'#managementDataView',url:'${path!}/rd/management?query=done'});menuOn({e:this,cls:'task-menu-hover'});">
		    		<span class="task-menu-text">已完成
		                	[@rd_task countType="done";count]
		                	<span class="EC-num-tips-normal">${count}</span>
		                	[/@rd_task]
		            </span>
		    		</a>
	    		</li>
	    	</ul>