<ul>
[#--
	    		<li class="task-menu-wrap">
		    		<a href="javascript:void(0);" class="task-menu task-menu-hover EC-icon-task-receive" onclick="viewData({selector:'#receiveDataView',url:'${path!}/rd/receive?query=total'});menuOn({e:this,cls:'task-menu-hover'});">
		    		<span class="task-menu-text">全部 
		                	[@rd_task userId="${(user.id!)}" countType="total";count]
		                	<span class="EC-num-tips-normal">${count}</span>
		                	[/@rd_task]
		            </span>
		    		</a>
	    		</li>
--]
	    		<li class="task-menu-wrap">
		    		<a href="javascript:void(0);" class="task-menu task-menu-hover EC-icon-task-receive" onclick="viewData({selector:'#receiveDataView',url:'${path!}/rd/receive?query=todo'});menuOn({e:this,cls:'task-menu-hover'});">
		    		<span class="task-menu-text">待办
		                	[@rd_task userId="${(user.id!)}" countType="todo";count]
		                	<span class="EC-num-tips">${count}</span>
		                	[/@rd_task]
		            </span>
		    		</a>
	    		</li>
	    		<li class="task-menu-wrap">
		    		<a href="javascript:void(0);" class="task-menu EC-icon-task-receive" onclick="viewData({selector:'#receiveDataView',url:'${path!}/rd/receive?query=assign'});menuOn({e:this,cls:'task-menu-hover'});">
		    		<span class="task-menu-text">待签收
		                	[@rd_task userId="${(user.id!)}" countType="assign";count]
		                	<span class="EC-num-tips">${count}</span>
		                	[/@rd_task]
		            </span>
		    		</a>
	    		</li>
	    		<li class="task-menu-wrap">
		    		<a href="javascript:void(0);" class="task-menu EC-icon-task-receive" onclick="viewData({selector:'#receiveDataView',url:'${path!}/rd/receive?query=his_handled'});menuOn({e:this,cls:'task-menu-hover'});">
		    		<span class="task-menu-text">已办
		                	[@rd_task userId="${(user.id!)}" countType="his_handled";count]
		                	<span class="EC-num-tips-normal">${count}</span>
		                	[/@rd_task]
		            </span>
		    		</a>
	    		</li>
	    	</ul>