<style>
.task-menu-layout{
	margin: 50px;
}
.task-menu-wrap{
	display:block;
	float:left;
	margin: 5px 10px;
}
.task-menu {
	position: relative;
	display: block;
	height: 60px;
	width: 60px;
	overflow: hidden;
	padding: 5px;
	border-radius:5px;
	border: 1px solid #fff; 
}
.task-menu:hover,.task-menu-hover{
	border: 1px solid #D3E9FE; 
	background-color: #E5F2FE;
}
.task-menu-text{
    display: block;
    position: absolute;
	bottom: 5px;
    left: 0;
    text-align: center;
    width: 100%;
}
</style>
<!-- 内容区 开始 -->
<div class="EC-right-content">
	<h2 class="EC-title-1">当前位置:<i class="icon-user EC-icon-layout"></i>[@EC.location /]</h2>
    [@ec_privilege_check uri="/rd/post/deploy"]
	<div class="easyui-panel" data-options="title:'新建事项',iconCls:'icon-add'" style="margin-bottom: 20px;" >
		<div class="EC-search-pannel EC-fieldset">
	    	<ul>
	    	[@rd_menu;menus]
	    	[#if menus?? && (menus?size > 0)]
	    	[#list menus as menu]
	    		<li class="task-menu-wrap"><a href="javascript:void(0);" class="task-menu EC-icon-task-post" onclick="openTab('新建${menu.name}','${path!}/rd/post/deploy?proceeDefKey=${menu.key}&tableName=table_task_deploy','')"><span class="task-menu-text">${menu.name}</span></a></li>
	    	[/#list]
	    	[/#if]
	    	[/@rd_menu]
	    	</ul>
	    </div>
	</div>	
    [/@ec_privilege_check]
    [#include "list_task_post.html"]
    <div style="height: 1px;"></div>
</div>
<!-- 内容区 结束 -->
