﻿[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>质量管理</h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                <h4 class="lighter">质量问题列表</h4>
                    <div class="widget-toolbar">
                    	<div class="btn-group">
                    		[@ec_privilege_check uri="/hd/quality/report"]
							<button class="btn btn-small btn-success" onclick="report();">
								统计报表
							</button>
							[/@ec_privilege_check]
						</div>
						<div class="btn-group">
							<button class="btn btn-small btn-info dropdown-toggle"
								data-toggle="dropdown">
								状态<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="min-width: 65px;" role="menu">
								<li><a href="javascript:dataTable.reload('status=', true);">所有</a></li>
								<li><a href="javascript:dataTable.reload('status=PreQCLeaderAssign', true);">待分派</a></li>
								<li><a href="javascript:dataTable.reload('status=PreQCAssign', true);">待指派</a></li>
								<li><a href="javascript:dataTable.reload('status=PreUpRenovete', true);">待整改</a></li>
								<li><a href="javascript:dataTable.reload('status=PreRenovete', true);">整改中</a></li>
								<li><a href="javascript:dataTable.reload('status=PreQCverify', true);">待审核</a></li>
								<li><a href="javascript:dataTable.reload('status=Closed', true);">已关闭</a></li>
								<li><a href="javascript:dataTable.reload('status=Finished', true);">已完成</a></li>
							</ul>
						</div>
						<div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="qualityProblemTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label>
                                    </th>
                                    <th>序号</th>
                                    <th>机组</th>
                                    <th>子项</th>
                                    <th>楼层</th>
                                    <th>房间号</th>
                                    <th>系统</th>
                                    <th>责任部门</th>
                                    <th>责任班组</th>
                                    <th>问题描述</th>
                                    <th>创建时间</th>
                                    <th>是否质量问题单</th>
                                    <th>当前状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			"tableID":"#qualityProblemTable",
			'bSort':false,
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			"bFilter" : false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
				    		  "data":"no"
				        }
			            ,
			            {
			    		  "data":"unit"
			            },
			            {
			    		  "data":"subitem"
			            },
			            {
			    		  "data":"floor"
			            },
			            {
			    		  "data":"roomnum"
			            },
			            {
			    		  "data":"system"
			            },
			            {
			    		  "data":"responsibleDept"
			            },
			            {
				    	  "data":"responsibleTeam"
				        },
			            {
					      "data":"problemDescription"
					    },
					    {
							  "data":"createDate"
							},
						    {
								  "data":"qualityFlag"
								},
						{
							  "data":"status"
							},
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
	
		//导出指标库Excel
	function report(){
		var url = "${path}/hd/quality/report";
		$.ajax({
		    type: "GET",
		    url: url,
		    success: function(response, status, request) {
		        var disp = request.getResponseHeader('Content-Disposition');
		        if (disp && disp.search('attachment') != -1) {  //判断是否为文件
		            var form = $('<form method="POST" action="' + url + '">');
		            form.append($('<input type="hidden" name="" value="">'));
		            $('body').append(form);
		            form.submit(); //自动提交
		        }
		    }
		});
	}
	
	//返回记住的上一次的页面;
	var timesRunPage = 0;
	var intervalPageBack = setInterval(dataTable.initPageBack,500);
</script>
