
    <div class="modal" id="renovateModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>提交整改结果</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/quality/renovateResult" method="post" id="renovateForm" >
                <input type="hidden" name="qcProblrmId" value="${problemId!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="renovateDescription">整改描述:</label>
                            <div class="controls">
                                <textarea name="renovateDescription" id="renovateDescription" placeholder="" rows="" cols=""></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="file">整改图片:</label>
                            <div class="controls">
                                <input type="file" name="file" id="file" placeholder=""/>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
    $(document).ready(function(){
		$("#renovateForm").validate({
			rules:{
				renovateDescription:{
					required: true,
				},
				file:{
					required: true,
					accept: ["jpg", "png", "gif"]
				}
        	},
			submitHandler:function(form){
				doUpload(form);
			}
		});
	}); 
	function doUpload(form) {
	     var formData = new FormData($(form)[0]);  
	     $.ajax({  
	          url: $(form).attr('action'),  
	          type: 'POST',  
	          data: formData,  
	          async: false,  
	          cache: false,  
	          contentType: false,  
	          processData: false,  
	          success: function (data) {
	              if(data=='true'){
	            	  modal.close();
					  tips.success("操作成功！");
					  loadFile('${path}/hd/quality/view?id=${problemId!}');
	              }else{
	            	  modal.close();
	            	  tips.error("操作失败！");
	              }
	          }
	     });  
	} 
</script>
        </div>
    </div>

