[@EC.breadcrumbs/]
<<script type="text/javascript">
<!--
var isPreQCAssign;
[#if (qcResult.qcUserId)?? && qcResult.status == 'PreQCAssign' && Session.user.id==qcResult.qcUserId ]
	isPreQCAssign=true  ;
	var deptId = '${(qcResult.responsibleDept.deptId)!}';
	var teamId = '${(qcResult.responsibleTeam.deptId)!}';
[/#if]
//-->
</script>
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>质量问题详情</h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
              <form name="form" class="form-horizontal" action="${path}/hd/quality/assign" method="post" id="createQualityProblem" enctype="multipart/form-data">
              <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
              <div class="modal-body">
              [#if qcResult??]
                  <div class="control-group">
                      <label class="control-label" for="unit">机组:</label>
                      <div class="controls">
                          <input type="text" name="unit" id="unit" value="${(qcResult.unit)!}" disabled="disabled"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="subitem">子项:</label>
                      <div class="controls">
                          <input type="text" name="subitem" id="subitem" value="${(qcResult.subitem)!}" disabled="disabled"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="floor">楼层:</label>
                      <div class="controls">
                          <input type="text" name="floor" id="floor" value="${(qcResult.floor)!}" disabled="disabled"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="roomnum">房间号:</label>
                      <div class="controls">
                          <input type="text" name="roomnum" id="roomnum" value="${(qcResult.roomnum)!}" disabled="disabled"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="system">系统:</label>
                      <div class="controls">
                          <input type="text" name="system" id="system" value="${(qcResult.system)!}" disabled="disabled"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleDept">责任部门:</label>
                      <div class="controls">
                      <!-- 待QC处理时，可以修改责任部门和责任班组 -->
                      [#if (qcResult.qcUserId)?? && qcResult.status == 'PreQCAssign' && Session.user.id==qcResult.qcUserId ]
                      		
                          <select id="responsibleDept" name="responsibleDept" class="form-control">
	                      	<option value=''>--请选择--</option>
                      	</select>
                      
                      [#else]
                          <input type="text" name="responsibleDept" id="responsibleDept"value="${(qcResult.responsibleDept.deptName)!}" disabled="disabled"/>
                      [/#if]
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleTeam">责任班组:</label>
                      <div class="controls">
                      <!-- 待QC处理时，可以修改责任部门和责任班组 -->
                      [#if (qcResult.qcUserId)?? && qcResult.status == 'PreQCAssign' && Session.user.id==qcResult.qcUserId ]
                      
                        <select id="responsibleTeam" name="responsibleTeam" class="form-control">
                      	</select>
                     
                      [#else]
                          <input type="text" name="responsibleTeam" id="responsibleTeam" value="${(qcResult.responsibleTeam.deptName)!}" disabled="disabled"/>
                      [/#if]
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="problemDescription">问题描述:</label>
                      <div class="controls">
                      	<textarea name="problemDescription" id="problemDescription" placeholder="" rows="" cols="" disabled="disabled">${(qcResult.problemDescription)!}</textarea>
                      </div>
                  </div>
                  [#if (qcResult.renovateDescription)??]
                  <div class="control-group">
                      <label class="control-label" for="renovateDescription">整改描述:</label>
                      <div class="controls">
                      	<textarea name="renovateDescription" id="renovateDescription" placeholder="" rows="" cols="" disabled="disabled">${(qcResult.renovateDescription)!}</textarea>
                      </div>
                  </div>
                  [/#if]
	              [#if (qcResult.files)?? && (qcResult.files?size > 0)]
	                  <div class="control-group">
	                      <label class="control-label" for="file">问题照片:</label>
	                      <div class="controls">
			                [#list qcResult.files as f]
			                  [#if f.fileType == 'before']
			                  <img alt="" src="${path}${(f.path)!}">
			                  [/#if]
			                [/#list]
	                      </div>
	                  </div>
	                  <div class="control-group">
	                      <label class="control-label" for="file">整改照片:</label>
	                      <div class="controls">
			                [#list qcResult.files as f]
			                  [#if f.fileType == 'after' || f.fileType == 'again']
			                  <img alt="" src="${path}${(f.path)!}">
			                  [/#if]
			                [/#list]
	                      </div>
	                  </div>
	              [/#if]
				  [#if (qcResult.notes)??]
				  <div class="control-group">
                      <label class="control-label" for="renovateDescription">备注:</label>
                      <div class="controls">
                      	<textarea name="renovateDescription" id="renovateDescription" placeholder="" rows="" cols="" disabled>${(qcResult.notes)!}</textarea>
                      </div>
                  </div>
                  [/#if]
				  <div class="control-group">
                      <label class="control-label" for="responsibleTeamId">当前状态:</label>
                      <div class="controls">
                      [#if (qcResult.status == 'PreQCLeaderAssign')]
                          <p class="form-control"><font color="red"><strong>待分派</strong></font></p>
                      [#elseif (qcResult.status == 'PreQCAssign')]
                      	  <p class="form-control"><font color="red"><strong>待指派</strong></font></p>
                      [#elseif (qcResult.status == 'PreRenovete')]
                      	  <p class="form-control"><font color="red"><strong>整改中</strong></font></p>
                      [#elseif (qcResult.status == 'PreUpRenovete')]
                      	  <p class="form-control"><font color="red"><strong>待整改</strong></font></p>
                      [#elseif (qcResult.status == 'PreQCverify')]
                      	  <p class="form-control"><font color="red"><strong>待审核</strong></font></p>
                      [#elseif (qcResult.status == 'Closed')]
                      	  <p class="form-control"><font color="red"><strong>已关闭</strong></font></p>
                      [#elseif (qcResult.status == 'Finished')]
                      	  <p class="form-control"><font color="red"><strong>已完成</strong></font></p>
               		  [/#if]
               		   </div>
                  </div>
				[/#if]
				</div>
				<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="loadFile('${path}/hd/quality?_'+getTime());">返回列表</button>
                 [#if (qcResult.status == 'PreQCLeaderAssign')]
                  	[@ec_privilege_check uri="/hd/quality/qcLeaderAssign"]
                  	<button type="button" class="btn btn-primary" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${qcResult.id!}'});"><i class="icon-ok"></i>分派QC</button>
              	  	[/@ec_privilege_check]
              	 [#elseif (qcResult.status == 'PreQCAssign')]
              	 	[@ec_privilege_check uri="/hd/quality/qcConfirm"]
                  	<button type="button" class="btn btn-success" onclick="qcConfirmFun('${path}${AUTH_MENU.privilege.uri!}?id=${qcResult.id!}');"><i class="icon-ok"></i>确认问题</button>
              	  	[/@ec_privilege_check]
              	  	[@ec_privilege_check uri="/hd/quality/qcClose"]
                  	<button type="button" class="btn btn-primary" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${qcResult.id!}'});"><i class="icon-remove"></i>关闭问题</button>
              	  	[/@ec_privilege_check]
              	 [#elseif (qcResult.status == 'PreQCverify')]
              	  	[@ec_privilege_check uri="/hd/quality/qcFinish"]
                  	<button type="button" class="btn btn-primary" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${qcResult.id!}'})"><i class="icon-remove"></i>核实整改结果</button>
              	  	[/@ec_privilege_check]
              	 [#elseif (qcResult.status == 'PreUpRenovete') && (showresponsibilityLeaderAssign=='true') ]
              	  	[@ec_privilege_check uri="/hd/quality/responsibilityLeaderAssign"]
                  	<button type="button" class="btn btn-primary" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${qcResult.id!}&responsibilityDeptId=${qcResult.responsibleDept.deptId}'});"><i class="icon-ok"></i>分派</button>
              	  	[/@ec_privilege_check]
              	 [#elseif (qcResult.status == 'PreRenovete')]
              	  	[@ec_privilege_check uri="/hd/quality/renovateResult"]
                  	<button type="button" class="btn btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${qcResult.id!}'});"><i class="icon-ok"></i>整改完成</button>
              	  	[/@ec_privilege_check]
              	 [/#if]
              	 
                        [@ec_privilege_check uri="/hd/quality/view"]
              	 	<button class="btn btn-info" onclick="loadFile('${path}${current_uri}?id=${qcResult.id!}');return false;">
    					<i class="icon-refresh"></i>刷新
					</button>
                        [/@ec_privilege_check]
                        
              </div>
              </form>
         </div>
    </div>
    <script type="text/javascript">
    
    function qcConfirmFun(inUrl){
    	var dept = $("#responsibleDept").val();
    	var team = $("#responsibleTeam").val();
    	var url = inUrl +"&responsibleDept="+dept+"&responsibleTeam="+team;
    	modal.open({url:url});
    }

	var teamArr = null;
    
    $(document).ready(function(){
    	
    	if(!(isPreQCAssign===undefined)){

    		$.ajax({
    			url : "${path}/hdxt/api/hse/v2/createUI?loginId=652&responsibleDeptId=361",
    			type : "get",
    			dataType:"json",
    			success : function(data) {
//     				console.log(data);
    				if (data && data.code=='1000') {
    					var unit = data.responseResult.unit;
    					var workshop = data.responseResult.wrokshop;
    					//workshop 是数组
    					
    					var deptArr = data.responseResult.responsibleDept;
    					//责任部门　数组对象　对象　 deptId, deptName
    					
    					teamArr = data.responseResult.responsibleTeam;
    					//责任班组　数据对象，对象　parentDeptId,deptId, deptName

    					if(deptId && deptId!=''){
        					$.each(deptArr,function(i,nd){
        						if(nd.deptId==deptId){
            						$("#responsibleDept").append("<option value='"+nd.deptId+"' selected='selected'>"+nd.deptName+"</option>");  
        						}else{
            						$("#responsibleDept").append("<option value='"+nd.deptId+"'>"+nd.deptName+"</option>");  
        						}
        					});
    					}
    					
    					if(teamId && teamId!=''){

        					$.each(teamArr,function(i,nd){
        						if(nd.parentDeptId==deptId){

            						if(nd.deptId==teamId){
                						$("#responsibleTeam").append("<option value='"+nd.deptId+"' selected='selected'>"+nd.deptName+"</option>");  
            						}else{
                						$("#responsibleTeam").append("<option value='"+nd.deptId+"'>"+nd.deptName+"</option>");  
            						}
        						}
        					});
    					}

    				} else {
    				}
    			}
    		});
    	}
    });
    
	$("#responsibleDept").on('change',function(){
		var id = $("#responsibleDept").val();
		$("#responsibleTeam").html('');
		$.each(teamArr, function(index, res){
			if(res.parentDeptId==id){
				$("#responsibleTeam").append("<option value="+res.deptId+">"+res.deptName+"</option>");
			}
		});
	});
	</script>
</div>

