[#assign path ="${rc.contextPath}" /]
<link rel="stylesheet" href="${path}/resources/css/main.css">
<!-- <link rel="stylesheet" href="${path}/resources/js/jquery-easyui-1.3.6/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${path}/resources/js/jquery-easyui-1.3.6/themes/icon.css"> -->
<link href="${path}/resources/acestyle/css/bootstrap.min.css" rel="stylesheet" />
<link href="${path}/resources/acestyle/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link rel="stylesheet" href="${path}/resources/acestyle/css/font-awesome.min.css" />
<link rel="stylesheet" href="${path}/resources/acestyle/css/chosen.css" />
<link rel="stylesheet" href="${path}/resources/js/treeview/jquery.treeview.css" />
<link rel="stylesheet" href="${path}/resources/js/messager/messenger.css" />
<link rel="stylesheet" href="${path}/resources/js/messager/messenger-theme-block.css" />
<link rel="stylesheet" href="${path}/resources/js/messager/messenger-theme-block.css" />
<link rel="stylesheet" href="${path}/resources/js/treetable/screen.css" media="screen" />
<link rel="stylesheet" href="${path}/resources/js/treetable/jquery.treetable.css" />
<link rel="stylesheet" href="${path}/resources/js/treetable/jquery.treetable.theme.default.css" />
<!--[if IE 7]>
<link rel="stylesheet" href="${path}/resources/acestyle/css/font-awesome-ie7.min.css" />
<![endif]-->
<!-- page specific plugin styles -->
		
<!-- ace styles -->
<link rel="stylesheet" href="${path}/resources/acestyle/css/ace.min.css" />
<link rel="stylesheet" href="${path}/resources/acestyle/css/ace-responsive.min.css" />
<link rel="stylesheet" href="${path}/resources/acestyle/css/ace-skins.min.css">
<link rel="stylesheet" href="${path}/resources/plugins/plupload/js/jquery.plupload.queue/css/plupload-gebo.css" />
<link rel="stylesheet" href="${path}/resources/js/select2-4/css/select2.min.css">
<!--[if lt IE 9]>
<link rel="stylesheet" href="${path}/resources/acestyle/css/ace-ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="${path!}/resources/plugins/wangEditor/css/wangEditor.min.css">
