<ul class="EC-left-menu">
 [#if "/management/index" == menuLink || "/management/personal" == menuLink || "/management/personal/password" == menuLink]
            	[#if menuLink?? && ("/management/personal" == menuLink)][#assign sideOn='side-menu-on'][#else][#assign sideOn=''][/#if]
                <li class="EC-left-menu-li">
                	<a href="javascript:void(0);" onclick="operator.openTab({title:'个人资料',url:'${path}/management/personal',icon:'icon-user'});menuOn({e:this});" class="EC-left-menu-li-a"><i class="EC-icon-layout"><img src="${path}/icons/user.png"></i>个人资料</a>
                </li>
            	[#if menuLink?? && ("/management/personal/password" == menuLink)][#assign sideOn='side-menu-on'][#else][#assign sideOn=''][/#if]
                <li class="EC-left-menu-li">
                	<a href="javascript:void(0);" onclick="operator.openTab({title:'修改密码',url:'${path}/management/personal/password',icon:'icon-key'});menuOn({e:this});" class="EC-left-menu-li-a"><i class="EC-icon-layout"><img src="${path}/icons/key.png"></i>修改密码</a> 
                </li>
            [#else]
                [#if (user.privileges)??]
				[#list user.privileges as p]
					[#if (p.parent.uri)?? && (p.parent.uri == menuLink)]
		            	[#if menuLink?? && (p.uri == menuLink)][#assign sideOn='side-menu-on'][#else][#assign sideOn='xxx'][/#if]
		                <li class="EC-left-menu-li">
		                	<a href="javascript:void(0);" onclick="operator.openTab({title:'${p.name}',url:'${path}${p.uri!}',icon:'${path}/icons/${p.icon!}'});menuOn({e:this});" class="EC-left-menu-li-a"><i class="EC-icon-layout"><img src="${path}/icons/${p.icon!}"/></i>${p.name}
		                	</a> 
		                </li>
					[/#if]
				[/#list]
				[/#if]
            [/#if]
            </ul>