[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>试题</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">培训课程试题列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="/hd/exam/import"]
                            <button class="btn btn-small btn-success" onclick="modal.open({url:'${path!}${AUTH_MENU.privilege.uri!}?module=${form.module!}&section=${form.section!}'});" >
                                <i class="icon-arrow-up"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/download"]
                            <button class="btn btn-small btn-success" onclick="download('${path}${AUTH_MENU.privilege.uri!}', '', 'GET')" >
                                <i class="icon-arrow-down"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="/hd/exam/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path!}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [#if form.module?? && form.module != '']
	                        [@ec_privilege_check uri="/hd/learning/module"]
					            <button class="btn btn-small btn-purple" onclick="loadFile('${path}${AUTH_MENU.privilege.uri!}?custom=${form.section!}')">
					                <i class="icon-arrow-left"></i>返回上一级
					            </button>
					        [/@ec_privilege_check]
				        [#else]
					        [@ec_privilege_check uri="/hd/learning/section"]
					            <button class="btn btn-small btn-purple" onclick="loadFile('${path}${AUTH_MENU.privilege.uri!}')">
					                <i class="icon-arrow-left"></i>返回上一级
					            </button>
					        [/@ec_privilege_check]
				        [/#if]
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}${current_uri}?module=${form.module!}&section=${form.section!}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="learningFoldDataTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center" style="width: 50px;"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>序号</th>
                                    <th>题型</th>
                                    <th>题目</th>
                                    <th>分值</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			"tableID":"#learningFoldDataTable",
			'bSort':false,
			"searching": false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
		            {
		    		  "data":"id",
		    		  "sortable": false
		            },
		            {
		    		  "data":"number",
		    		  "sortable": false
		            },
		            {
		    		  "data":"type",
		    		  "sortable": false
		            },
		            {
		    		  "data":"subject",
		    		  "sortable": false
		            },
		            {
		    		  "data":"score",
		    		  "sortable": false
		            },
		            {
		    		  "data":"links",
		    		  "sortable": false
		            }
	        ],
	      "url": "${path}${current_uri}?module=${form.module!}&section=${form.section!}"
		});
	})
</script>
