
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>添加模块
				</h4>
			</div>
			<form class="form-horizontal" action="${path!}/hd/learning/module/add" method="post" id="addLearningModule">
				<input type="hidden" name="section" value="${form.section!}" />
				<div class="modal-body">
					<div class="control-group">
                         <label class="control-label" for="type">类型:</label>
                         <div class="controls">
                             <input type="text"  name="type" id="type" placeholder="请输入英文字符，保存后不可修改">
                             <span id="verify"></span>
                         </div>
                     </div>
					<div class="control-group">
                         <label class="control-label" for="name">标题:</label>
                         <div class="controls">
                             <input type="text"  name="name" id="name" placeholder="标题">
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label" for="description">描述:</label>
                         <div class="controls">
                             <input type="text"  name="description" id="description" placeholder="">
                         </div>
                     </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" id="ok" class="btn btn-primary"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript"> 
	$(function() {
		formValidtor.modalValid({
			handler : "#addLearningModule",
			rules : {
				type:{
					required : true
				},
				name : {
					required : true
				}
			}
		})
	});
	$("#type").on("blur",function(){
		$("#type").val($("#type").val().replace(/^[^a-zA-Z]+$/g,''));
			var type = $("#type").val();
			if(!type){
				$("#verify").empty();
				$("#verify").append('<span for="type" id="verfy" generated="true" class="help-inline">必选字段!</span>');
			}else{
				$.ajax({
					url: "${path!}/hd/learning/module",
                    type: "PATCH",
                    data: {type: type},
	    			success: function(res){
	    				console.log(res);
	    				if(res=="true"){
	    					$("#verify").empty();
	    					$("#verify").append('<span for="type" id="verfy" generated="true" class="help-inline">类型已存在!</span>');
	    					$("#type").focus();
	    				}else{
	    					$("#verify").empty();
	    				}
	    			}
				});	
			}
		});  
	</script>
</div>
