
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>添加子项
				</h4>
			</div>
			<form class="form-horizontal" action="${path!}/hd/learning/fold/add" method="post" id="addLearningFold">
				<input type="hidden" name="module" value="${form.module!}" />
				<input type="hidden" name="section" value="${form.section!}" />
				<div class="modal-body">
					<div class="control-group">
                         <label class="control-label" for="name">标题:</label>
                         <div class="controls">
                             <input type="text"  name="name" id="name" placeholder="">
                         </div>
                     </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			formValidtor.modalValid({
				handler : "#addLearningFold",
				rules : {
					title : {
						required : true
					}
				}
			})
		});
	</script>
</div>
