<style>
.ace-thumbnails>li {
    border: 0px solid #333;
    width: 180px;
    height: 220px;
}
</style>

<div id="breadcrumbs">
	<ul class="breadcrumb">
		<li><i class="icon-home"></i><a href="${path}/management/index">首页</a><span
			class="divider"><i class="icon-angle-right"></i></span></li>
		<li class="active">在线培训</li>
	</ul>
</div>

<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>
			在线培训 <small> 包含视频，文本和图片 </small>
		</h1>
	</div>
	<!--/.page-header-->

	<div class="row-fluid">
		<div class="span12">
			<!--PAGE CONTENT BEGINS-->
			<div class="row-fluid">
				<div id="pagenationList">
					[#include "data/data_html_learning.html" /]
				</div>
			</div>
			<!--PAGE CONTENT ENDS-->
		</div>
		<!--/.span-->
	</div>
	<!--/.row-fluid-->
</div>
<!--/.page-content-->
