[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>参培人员成绩记录</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">参培人员成绩记录</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${path}/hd/learning/scoreExport"]
                            <button class="btn btn-small btn-info" onclick="report();">
                                <i class="icon-success"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}${current_uri}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled">
	                                    <label>
	                                        <input type="checkbox" onclick="checkAll(this);"/>
	                                        <span class="lbl"></span>
	                                    </label> 
                                    </th>
                                    <th>序号</th>
                                    <th class="hidden-480">姓名</th>
                                    <th class="hidden-480">考试日期</th>
                                    <th class="hidden-480">考试类别</th>
                                    <th class="hidden-phone">考试得分</th>
                                    <th class="hidden-480">及格情况</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
function report(){
	var url = "${path}/hd/learning/scoreExport";
	var forval = $(".dataTables_filter :input :first");
	if(forval.val()!=null && forval.val()!=""){
		url += "?search[value]="+forval.val();
	}
	$.ajax({
	    type: "GET",
	    url: url,
	    success: function(response, status, request) {
	        var disp = request.getResponseHeader('Content-Disposition');
	        if (disp && disp.search('attachment') != -1) {  //判断是否为文件
	            var form = $('<form method="POST" action="' + url + '">');
	            form.append($('<input type="hidden" name="" value="">'));
	            $('body').append(form);
	            form.submit(); //自动提交
	        }
	    }
	});
}


	$(function() {
		dataTable.initTable({
			"tableID":"#userTable",
			'bSort':false,
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"searching": false,
			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no"
			            },
			            {
			    		  "data":"realname"
			            },
			            {
				    		  "data":"examDate"
				            },
			            {
			    		  "data":"examType"
			            },
			            {
			    		  "data":"examScore"
			            },
			            {
			    		  "data":"examResult"
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}",
	      "order": [[1, "asc" ]]
		});

		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();

		var searching=function(){
		 	var searchInput=$(".dataTables_filter :input :first");
			$('#userTable').DataTable().search(searchInput.val()).draw(); 
		}
		
		searchInput.bind('blur keyup', function() {
			isSearch(searching);
		});

		searchInput.keypress(function(e) {  
			if (e.which == 13) {
				var searchInput=$(".dataTables_filter :input :first");
				$('#userTable').DataTable().search(searchInput.val()).draw();
			}
		});
	})
</script>
