[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>人员管理</h1>
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">人员列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/getEnpowerUsers"]
                            <button class="btn btn-small btn-danger" onclick="confirm('${path}${AUTH_MENU.privilege.uri!}','确定获取Enpower账户到APP系统？（耗时约２分钟）')">
                                <i class="icon-refresh"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}${current_uri}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled">
	                                    <label>
	                                        <input type="checkbox" onclick="checkAll(this);"/>
	                                        <span class="lbl"></span>
	                                    </label> 
                                    </th>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th class="hidden-480">真实姓名</th>
                                    <th class="hidden-480">岗位</th>
                                    <th class="hidden-phone">直接上级</th>
                                    <th class="hidden-480">所属部门</th>
                                    <th class="hidden-480">上级部门</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"tableID":"#userTable",
			'bSort':false,
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no"
			            },
			            {
			    		  "data":"name"
			            },
			            {
			    		  "data":"realname"
			            },
			            {
			    		  "data":"role"
			            },
			            {
			    		  "data":"parent"
			            },
			            {
			    		  "data":"department"
			            },
			            {
			    		  "data":"paprentDepartment"
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}",
	      "order": [[1, "asc" ]]
		});

		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();

		var searching=function(){
		 	var searchInput=$(".dataTables_filter :input :first");
			$('#userTable').DataTable().search(searchInput.val()).draw(); 
		}
		
		searchInput.bind('blur keyup', function() {
			isSearch(searching);
		});

		searchInput.keypress(function(e) {  
			if (e.which == 13) {
				var searchInput=$(".dataTables_filter :input :first");
				$('#userTable').DataTable().search(searchInput.val()).draw();
			}
		});
	})
</script>
