 [@EC.breadcrumbs/]
<style type="text/css">
table.treetable thead tr th,table.treetable tbody tr td{
padding:8px;
}
</style>
<div id="page-content" class="clearfix">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                  [@ec_privilege_check uri="${current_uri}"]
	               <h4 class="lighter">${AUTH_MENU.name!}</h4>
                  [/@ec_privilege_check]
                    <div class="widget-toolbar">
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}'});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                    </div>
                </div>
                <div class="widget-body">
                	<div class="widget-main">
                   	<table id="privilegeTable" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center" style="width: 50px;"><label>
	                                <input type="checkbox" onclick="checkAll(this);"/>
	                                <span class="lbl"></span></label>
                                </th>
                                <th>序号</th>
								<th>权限名称</th>
								<th class="hidden-480">URI</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
                   </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
    <script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			tableID:"#privilegeTable",
            url: "${path}${current_uri}",
            "columns": [
	            {
	    		  "data":"id",
	    		  "sortable": false
	            },
	            {
	    		  "data":"ids"
	            },
	            {
	    		  "data":"name"
	            },
	            {
	    		  "data":"uri"
	            },
	            {
	    		  "data":"links",
	    		  "sortable": false
	            }
	        ]
		});
	})
</script>
</div>
