[@ec_user id=form.id;u]   
    <!-- Reset Password Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>重置密码<small>正在为 [${u.name!}] 重置密码</small></h4>
                </div>
	            <form class="form-horizontal" action="${path}/management/user/password" method="post" id="resetPassword" >
                <input type="hidden" name="id" value="${u.id!}"/>
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="passwordInp">密码:</label>
                            <div class="controls">
                                <input id="password" name="password" type="hidden"/>
                                <input type="password" name="passwordInp" id="passwordInp" placeholder="password"

                                       onkeyup="$('#password').val(hex_md5($('#passwordInp').val()));"
                                />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="confirmPasswordInp">确认密码:</label>
                            <div class="controls">
                                <input id="confirmPassword" name="confirmPassword" type="hidden"/>
                                <input type="password" name="confirmPasswordInp" id="confirmPasswordInp" placeholder="confPassword"

                                onkeyup="$('#confirmPassword').val(hex_md5($('#confirmPasswordInp').val()));"
                                />
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">
                        保存
                    </button>
                </div>
           </form>
            </div>
        </div>
<script type="text/javascript">
    jQuery.validator.addMethod("hardPwd", function (value, element) {
        return this.optional(element) || /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/.test(value);
    }, "密码必须包含大小写字母和数字的组合，不能使用特殊字符，长度在8-16之间！");

    $(document).ready(function() {
		formValidtor.modalValid({
			handler:"#resetPassword",
			rules : {
        		passwordInp : {
        			required : true,
                    hardPwd:true
        		}
        		,confirmPasswordInp : {
        			required : true
        			,equalTo:$("#resetPassword").find("input[name='passwordInp']"),
                    hardPwd:true
        		}
        	}
		})
	}); 
</script>
    </div>
[/@ec_user]
