    <!-- Edit User Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>编辑用户</h4>
                </div>
                [@ec_user id=form.id;u]
                <form class="form-horizontal" action="${path}/management/user/edit" method="post" id="editUser" >
                <input type="hidden" name="id" value="${u.id!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="username">用户名:</label>
                            <div class="controls">
                                <input type="text" value="${u.name!}" name="name" placeholder="用户的登录名" class="valid"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="realname">真实姓名:</label>
                            <div class="controls">
                                <input type="text" value="${u.realname!}" name="realname"  placeholder="用户的真实姓名" class="valid"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">电子邮件:</label>
                            <div class="controls">
                                <input type="text" value="${u.email!}" name="email" placeholder="用户的电子邮件" class="valid"/>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
                </div>
                </form>
                [/@ec_user]
            </div>
<script type="text/javascript">
    $(document).ready(function(){
    	formValidtor.modalValid({
    		handler:"#editUser",
    		rules : {
        		name : {
        			required : true
        			,remote : "${path}/management/user?func=edit&id=${form.id!}"
        		},
        		realname : {
        			required : true
        		},
        		email : {
        			email:true
        		}
        	}
        	,messages : {
        		username : {
        			remote:"该用户已被占用"
        		}
        	}
    	})
    	/* var $modal = $("#editUser");
    	$modal.modal({show:true});
    	$modal.on('hidden.bs.modal', function (e) {
    		$modal.remove();
			})
      //进行表单验证
		var $form = $('#userEditForm');
		var url = $form.attr("action");
        var $btn = $form.find("a.btn").eq(0);
        
        $form.validate({
        	rules : {
        		name : {
        			required : true
        			,remote : "${path}/management/user?func=edit&id=${form.id!}"
        		},
        		realname : {
        			required : true
        		},
        		email : {
        			email:true
        		}
        	}
        	,messages : {
        		username : {
        			remote:"该用户已被占用"
        		}
        	}
        	,submitHandler: function(form){
        		var $form = $(form);
            	var url = $form.attr("action");
            	var method = $form.attr("method");
            	var nvp = $form.serialize();
            	$.ajax({
    				url:url,
    				type:method,
    				data:nvp,
    				success:function(data){
    					if(data){
    						$modal.modal('hide');
   			    		 tips.success("保存成功");
  		         	   }else{
   			    		 tips.error("保存失败");
  		         	   }
    				}
    			});
			}
        }); */
	}); 
</script>
        </div>
    </div>

