	 [@ec_privilege id=form.id;privilege]    
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>添加权限</h4>
                </div>
                <form class="form-horizontal" action="${path}/management/privilege/edit" method="post" id="addPrivilege" >
                <input type="hidden" name="id" value="${privilege.id!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="name">权限名称:</label>
                            <div class="controls">
                                <input type="text"  name="name" id="name" placeholder="" value="${privilege.name!}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="uri">权限URI:</label>
                            <div class="controls">
                                <input type="text"  name="uri" id="uri" placeholder="" value="${privilege.uri!}">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
                    </form>
            </div>
        </div>
<script type="text/javascript">
	$(function(){
		formValidtor.modalValid({
			handler:"#addPrivilege",
			rules : {
        		name :{
        			required : true
        			,remote : "${path}/management/privilege?id=${privilege.id!}&func=exist"
        		},
        		url : {
        			required : false
        		}
        	}
        	,messages : {
        		name : {
        			remote:"权限名已被占用"
        		}
        	}
		})
	}); 
</script>
    </div>
 [/@ec_privilege]
