    <div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>添加用户</h4>
                </div>
                <form class="form-horizontal" action="${path}/management/user/add" method="post" id="addUser" >
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="name">用户名:</label>
                            <div class="controls">
                                <input type="text" name="name" id="name" placeholder=""/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="realname">真实姓名:</label>
                            <div class="controls">
                                <input type="text"  name="realname" id="realname" placeholder="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">电子邮件:</label>
                            <div class="controls">
                                <input type="email" name="email" id="email" placeholder="email例如:xxx@126.com">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="password">密码:</label>
                            <div class="controls">
                                <input type="password" name="password" id="password" placeholder="password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="confirmPassword">确认密码:</label>
                            <div class="controls">
                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confPassword">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
                    </form>
            </div>
        </div>
<script type="text/javascript">
	$(function(){
		formValidtor.modalValid({
			handler:"#addUser",
			rules : {
        		name : {
        			required : true
        			,remote : "${path}/management/user?func=exist"
        		},
        		realname : {
        			required : true
        		},
        		email : {
        			email:true
        		},
        		password : {
        			required : true
        		}
        		,confirmPassword : {
        			required : true
        			,equalTo:$("#addUser").find("input[name='password']")
        		}
        	}
        	,messages : {
        		name : {
        			remote:"该用户已被占用"
        		}
        	}
		})
	}); 
</script>
    </div>
