[@ec_user id=form.id;u]
[#assign department= (u.department)!]
<div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>直接分配岗位（项目部用）<small><i class="icon-double-angle-right"></i>正在为 [${u.name!}]分配岗位${parentUserId!} </small></h4>
                </div>
                <form class="form-horizontal" action="${path}/management/user/role" method="post" id="assignRole" >
                
                
                <input type="hidden" name="func" value="${form.func!}"/>
                <input type="hidden" name="id" value="${form.id!}"/>
                <div class="modal-body">
                
		                <div class="control-group">
		                    <label class="control-label" for="departmentId">部门:</label>
		                    <div class="controls">
		                        <select name="departmentId" id="departmentId">
		                   	 	<option value="">---无---</option>
		                [@ec_department queryType="tree";list]
		                   	[@EC.ec_select_tree nodes=list selectId=(u.department.id)!0/]
		         			[/@ec_department]        
		                   </select>
		                    </div>
		                </div>
                      <div class="control-group">
                          <label class="control-label" for="name">岗位:</label>
                          <div class="controls">
                          	 <select id="roleId" name="roleId" multiple="multiple" >
						    	[#list roles as y]
						    	    [#if roles?? && (roles?size > 0)]
						    			[#assign isat=false ]
										[#list hisroles as u]
										   [#if u.id==y.id]
										      [#assign isat=true ]
										   [/#if]
										[/#list]
										[#if isat]
										<option value="${y.id}" selected="selected">${y.name}</option>
										[#else]
										<option value="${y.id}">${y.name}</option>
										[/#if]
										
									[#else]
						    		<option value="${y.id}">${y.name}</option>
								    [/#if]
						    	[/#list]
						    </select>
                          </div>
                      </div>
                      
                      <div class="control-group">
                          <label class="control-label" for="name">直接领导:</label>
                          <div class="controls">
		                   <input id="tmpParentId" name="tmpParentId" type="text" value="输入直接领导可选择" onclick="this.value='';"/>
		                   <select name="parentId" id="parentId">
		                   <option value="">--请选择--</option>
		                   	 	[#if users?? && (users?size > 0)]
							[#list users as u]	
							[#if u.id==parentUserId ]
							<option value="${u.id}" selected="selected">${u.realname}</option>
							[#else]
							<option value="${u.id}">${u.realname}</option>
							[/#if]
							
							[/#list][/#if]
		                   </select>
                          </div>
                      </div>
                      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
            </form>
            </div>
        </div>
<script type="text/javascript">
$(document).ready(function() {
	
	var searching=function(){
		$.each($("#parentId option"),function(ind,n){
			var v = $("#tmpParentId").val();
			
			if(v!=null && v.trim()==$(n).text()){
				$(n).attr("selected",true);
			}
			
		});
	}
	$("#tmpParentId").bind('blur keyup', function() {
		searching();
	});
	
	formValidtor.modalValid({
		handler:"#assignRole",
		callback:function(data){

        	if(data){
                modal.close();
                loadFile('${path}/management/user?_'+getTime());
            }else{

				tips.success("操作失败！");
            }
		}
	})
	
	//职务多选事件
	var $roleId = $("#roleId");
	
	//初始化多选框
	initSelected($roleId);
	
	
	//绑定已经定事件
	$roleId.on("select2:select", function (e) {
		initSelected($roleId);
	});
	
	//绑定取消选择事件
	$roleId.on("select2:unselect", function (e) {
		var $options = $roleId.find("option");
		var $selectOptions = $roleId.find("option:selected");
		if($selectOptions.length == 0) {
			$options.prop("disabled", false);
		}
		$roleId.select2();
	});
	
	function parseData (evt) {
	     var args = "{}";
		  if (evt) {
		      args = JSON.stringify(evt.params, function (key, value) {
		      if (value && value.nodeName) return "[DOM node]";
		      if (value instanceof $.Event) return "[$.Event]";
		      return value;
		    });
		  }
		  return args;
	}
	
	//初始化已选择事件
	function initSelected($roleId) {
		var $initOptions = $roleId.find("option");
		var $initSelectOptions = $roleId.find("option:selected");
		if($initSelectOptions.length > 0){
			$initSelectOptions.each(function(i){
				var $that = $(this);
				if($that.data("coexist") == false) {
					$initOptions.each(function(j){
						if($(this).val() != $that.val()) {
							$(this).prop("disabled", true);
							
						}
					})
				}else{
					$initOptions.each(function(j){
						if($(this).data("coexist") == false) {
							$(this).prop("disabled", true);
						}
					})
				}
			})
		}
		
		
	}
}); 
</script>
        </div>
[/@ec_user]
