    <div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>添加岗位</h4>
                </div>
                <form class="form-horizontal" action="${path}/management/role/add" method="post" id="addRole" >
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="parentId">直属上级:</label>
                            <div class="controls">
                            <select id="parentId" name="parentId" data-placeholder="选择一个角色...">
                            <option value="">--无--</option>
                            [@ec_role queryType="tree";list]
                        		[@EC.ec_select_tree nodes=list selectId=0/]
              				[/@ec_role] 
                            </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">岗位:</label>
                            <div class="controls">
                                <input type="text"  name="name" id="name" placeholder="">
                                <label>
	                            	<input type="checkbox" name="coexist" id="coexist"  value="1"/>
									<span class="lbl">多选岗位</span>
								</label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">操作权限:</label>
                            <div class="controls">
								<label>
									<input type="checkbox" id="selectAll"/>
									<span class="lbl">全选</span>
								</label>
                                [@ec_menu queryType="tree";list]
									<ul id="tree" class="treeview-black treeview">
										[#list list as menu]
										<li>
											<label>
												<input type="checkbox" name="menuId" value="${menu.id}"/>
												<span class="lbl">${menu.name}</span>
											</label>
			                                [#include "data/menuIteration.html" /]
										</li>
										[/#list]
									</ul>
								[/@ec_menu]
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
                    </form>
            </div>
        </div>
<script type="text/javascript">
	$(function(){
		treeChecked("#selectAll","#tree");
		$("#tree").treeview({cookieId: "treeview-black"});
		formValidtor.modalValid({
			handler:"#addRole",
			rules : {
        		name : {
        			required : true
        		}
        	}
		})
	}); 
</script>
    </div>
