	 [@ec_menu id=form.id;menu]    
    <div class="modal " tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>修改菜单</h4>
                </div>
                <form class="form-horizontal" action="${path}/management/menu/edit" method="post" id="editMenu" >
                <input type="hidden" name="id" value="${menu.id!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="name">上级菜单:</label>
                            <div class="controls">
                                <select name="parentId">
			                        	<option value="">---无---</option>
				                    [@ec_menu queryType="tree";list]
			                        	[@EC.ec_select_tree nodes=list selectId=(menu.parent.id)!"" /]
			              			[/@ec_menu]          
			                        </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">菜单名称:</label>
                            <div class="controls">
                                <input type="text"  name="name" id="name" placeholder="" value="${menu.name!}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="uri">权限:</label>
                            <div class="controls">
                            	 <select name="privilegeId">
			                        	<option value="">---无---</option>
				                    [@ec_privilege queryType="list" type="free";list]
				                    [#if list??]
                            		[#list list as p]
                            		<option value="${p.id!}">${p.name!} - ${p.uri!}</option>
                            		[/#list]
                            		[/#if]
			              			[/@ec_privilege]
			              			[#if (menu.privilege)??]
			                        	<option value="${menu.privilege.id}" selected="selected">${menu.privilege.name}</option>
			              			[/#if]
                        		 </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="seq">序号:</label>
                            <div class="controls">
                                <input type="text"  maxlength="200"  name="seq" id="seq" value="${menu.seq!0}" placeholder="值越大排序越靠前，取值范围:0~200">
                                <p class="text-warning">(值越大排序越靠前，取值范围:0~200正整数)</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="iconClass">图标样式:</label>
                            <div class="controls">
                                <input type="text"  name="style" id="iconClass" value="${menu.style!}" placeholder="图标的CSS样式名称，例如:icon-user ">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="uri">图标预览:</label>
                            <div class="controls">
                                <span id="showIcon" style="width:40px;float: left;overflow: hidden;"></span>
		                        [@EC.upload 
		                        	url="${path}/management/menu/upload;jsessionid=${sessionId!}"
		                        	fileSizeLimit = "20KB"
		                        	fileTypeExts = "*.jpg;*.gif;*.png"
		                        	callback = "showIcon(file,newFilename,response)"
		                        	modal ="N"
		                        /]
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                 <span style="color: #999;">上传图片文件为gip/png/jpg格式，文件大小不能大于20KB</span>
								 <div id="uploadQueue"></div>
                            </div>
                        </div>
                         <div class="control-group">
                            <label class="control-label" for="icon">图标文件:</label>
                            <div class="controls">
                                <input type="text"  name="iconPath" id="icon" placeholder="" value="${menu.iconPath!}">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
                    </form>
            </div>
        </div>
<script type="text/javascript">
	$(function(){
		formValidtor.modalValid({
			handler:"#editMenu",
			rules : {
        		name :{
        			required : true
        			,remote : "${path}/management/menu?id=${menu.id!}&func=exist"
        		},
        		url : {
        			required : false
        		},
        		seq:{
        			digits: true,
        			range: [0, 200]
        		}
        	}
        	,messages : {
        		name : {
        			remote:"菜单名已被占用"
        		},
        		seq:{
        			digits: "必须为正整数",
        			range: "必须介于0～200之间的整数"
        		}
        	}
		})
	}); 
</script> 
    </div>
 [/@ec_menu]
