[@ec_user id=form.id;u]   
    <!-- Reset Password Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>重置密码<small>正在为 [${u.name!}] 重置密码</small></h4>
                </div>
	            <form class="form-horizontal" action="${path}/management/user/password" method="post" id="resetPassword" >
                <input type="hidden" name="id" value="${u.id!}"/>
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="password">密码:</label>
                            <div class="controls">
                                <input type="password" name="password" id="password" placeholder="password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="confirmPassword">确认密码:</label>
                            <div class="controls">
                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confPassword">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">
                        保存
                    </button>
                </div>
           </form>
            </div>
        </div>
<script type="text/javascript">
	$(document).ready(function() {
		formValidtor.modalValid({
			handler:"#resetPassword",
			rules : {
        		password : {
        			required : true
        		}
        		,confirmPassword : {
        			required : true
        			,equalTo:$("#resetPassword").find("input[name='password']")
        		}
        	}
		})
	}); 
</script>
    </div>
[/@ec_user]
