       [@ec_department id=form.id;department]
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>编辑施工班组</h4>
                </div>
                <form class="form-horizontal" action="${path}/management/department/edit" method="post" id="addDepartment" >
                <input type="hidden" name="id" value="${department.id!}"/>
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="parentId">上级部门:</label>
                            <div class="controls">
                            <select id="parentId" name="parentId" data-placeholder="选择一个部门...">
                            <option value="">--无--</option>
                            [@ec_department queryType="tree";list]
                        	[@EC.ec_select_tree nodes=list selectId=(department.parent.id)!0/]
              			[/@ec_department]
                            </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">部门名称:</label>
                            <div class="controls">
                                <input type="text"  name="name" id="name" placeholder="" value="${department.name!}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="parentId">最高职务:</label>
                            <div class="controls">
                            <select id="topRoleId" name="topRoleId" data-placeholder="选择一个顶级职务...">
                            [#include "data/data_html_department_role_list.html"/]
                            </select>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
                    </form>
            </div>
        </div>
<script type="text/javascript">
	$(function(){
		formValidtor.modalValid({
			handler:"#addDepartment",
			rules : {
        		name : {
        			required : true
        		},
        		topRoleId:{
        			required : true
        		}
        	}
		})
		
		var rolePath = "${path}/management/department?func=findTopRole";
		$("#parentId").change(function(){
			var params = rolePath + "&departmentId=" + $(this).val(); 
			$("#topRoleId").load(params);
		})
	}); 
</script>
</div>
[/@ec_department]
