    [@ec_role id=form.id;role]
    
    <table id="table1" class="table table-striped table-bordered table-hover"> 
          <tr>
              <td width="30%">
                
                <div class="modal-body" style="max-height:600px ;">
                        <div class="control-group">
                            <label class="control-label" for="email">部门树:
	                            
	                            <button class="btn btn-small btn-info" onclick="loadFile('${path}/management/department/tree');">
	                                <i class="icon-refresh"></i>刷新
	                            </button>
                            
                            </label>
                            <div class="controls">
                                [@ec_department queryType="tree" lefttree="lefttree";list]
									<ul id="tree" class="treeview-black treeview">
										[#list list as menu]
										[#if (role.menus)?? && (role.menus?size > 0)]
											[#list role.menus as rp]
												[#if rp.id == menu.id]
													[#assign roleCheck ='checked="checked"' /]
													[#break]
												[#else]
													[#assign roleCheck ='' /]
												[/#if]
											[/#list]
										[/#if]
										<li>
											<label>
												<input type="radio" name="menuId" value="${menu.id}" ${pCheck!}/>
												<span class="lbl">${menu.name}</span>
											</label>
			                                [#include "data/deptIteration.html" /]
										</li>
										[/#list]
									</ul>
								[/@ec_department]
                            </div>
                        </div>
                </div>
              </td>
              <td width="*">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th width="3%" class="center sorting_disabled">
	                                    <label>
	                                        <input type="checkbox" onclick="checkAll(this);"/>
	                                        <span class="lbl"></span>
	                                    </label> 
                                    </th>
                                    <th width="3%">序</th>
                                    <th width="15%">用户名</th>
                                    <th width="15%">真实姓名</th>
                                    <th width="15%">职务</th>
                                    <th width="15%">直接上级</th>
                                    <th width="15%">所属部门</th>
                                    <th width="15%">上级部门</th>
                                    <th width="*">操作</th>
                                </tr>
                            </thead>
                        </table>
              </td>
          </tr>
    </table>
    [/@ec_role]

<script type="text/javascript">
    var initabc = false ;

    $(document).ready(function(){
    	
    	var showListFunc = function(id){
    		$("#userTable").dataTable().fnDestroy();
    		dataTable.initTable({
    			"tableID":"#userTable",
    			'bSort':false,
    			"lengthChange": true,
    			"processing" : true,
    			"serverSide" : true,
    		    "searching": false,
    			"autoWidth": true,
    			//对每列设置排序规则
    			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
    			"columns": [
    			            {
    			    		  "data":"id",
    			    		  "sortable": false
    			            },
    			            {
    			    		  "data":"no"
    			            },
    			            {
    			    		  "data":"name"
    			            },
    			            {
    			    		  "data":"realname"
    			            },
    			            {
    			    		  "data":"role"
    			            },
    			            {
    			    		  "data":"parent"
    			            },
    			            {
    			    		  "data":"department"
    			            },
    			            {
    			    		  "data":"paprentDepartment"
    			            },
    			            {
    			    		  "data":"links",
    			    		  "sortable": false
    			            }
    	        ],
    	      "url": "${path}/management/user?departmentId="+id,
    	      "order": [[1, "asc" ]]
    		});
    	}
    	
    	$("input[name='menuId']").on('click',function(){
    		var id = $(this).val();
    		showListFunc(id);
    	});
    });
</script>