<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i><a href="${path}/management/index">首页</a><span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li class="active">
            个人资料
        </li>
    </ul><!--.breadcrumb-->

    <div id="nav-search">

<!--         <form class="form-search"> -->
<!--             <span class="input-icon"> -->
<!--                 <input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..." /> -->
<!--                 <i id="nav-search-icon" class="icon-search"></i> </span> -->
<!--         </form> -->
    </div><!--#nav-search-->
</div>
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>个人资料 <small>*为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path}/management/personal" method="post" id="userProfileForm">
            <div class="control-group">
                <label class="control-label" for="username">用户名:</label>
                <div class="controls">
                    <input disabled="disabled" type="text" id="username" placeholder="Username" name="username" value="${user.name!}">
                	*
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="realname">真实姓名:</label>
                <div class="controls">
                    <input type="text" id="realname" placeholder="真实姓名" name="realname" value="${user.realname!}" >
                	*
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">电子邮件:</label>
                <div class="controls">
                    <input type="email" id="email" placeholder="电子邮件" name="email" value="${user.email!}">
                </div>
            </div>

            <div class="form-actions">
                <button class="btn" type="reset">
                    <i class="icon-undo"></i> 重置
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    	
    	formValidtor.valid({
			handler:"#userProfileForm",
			rules : {
        		name : {
        			required : true
        		},
    			realname : {
					required : true
				}
        	}
		});
    }); 
</script>