<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i><a href="${path}/management/index">首页</a><span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li class="active">
            修改密码
        </li>
    </ul><!--.breadcrumb-->

<!--     <div id="nav-search"> -->

<!--         <form class="form-search"> -->
<!--             <span class="input-icon"> -->
<!--                 <input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..." /> -->
<!--                 <i id="nav-search-icon" class="icon-search"></i> </span> -->
<!--         </form> -->
<!--     </div> -->
    <!--#nav-search-->
</div>
<div id="page-content" class="clearfix">
<div class="page-header position-relative">
        <h1>修改密码</h1>
    </div>
    <div class="row-fluid">
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path}/management/personal/password" method="post" id="passwordForm">
            <div class="control-group">
                <label class="control-label" for="oldPWD">原始密码:</label>
                <div class="controls">
                    <input type="password" id="oldPWD" placeholder="原始密码" name="oldPWD">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="newPWD">新密码:</label>
                <div class="controls">
                    <input type="password" id="newPWD" placeholder="新密码" name="newPWD" maxlength="20">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="confPWD">确认密码:</label>
                <div class="controls">
                    <input type="password" id="confPassword" placeholder="确认密码" name="confPWD" maxlength="20">
                </div>
            </div>

            <div class="form-actions">
                <button class="btn" type="reset">
                    <i class="icon-undo"></i> 重置
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn btn-success" id="btn_submit" type="button" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
//     $(document).ready(function() {
//     	formValidtor.valid({
// 			handler:"#passwordForm",
// 			rules : {
//         		oldPWD : {
//         			required : true
//         		}
//         		,newPWD:{
//         			required:true
//         		}
//         		,confPWD:{
//         			required:true
//         			,equalTo:$("#passwordForm").find("input[name='newPWD']")
//         		}
//         	}
// 		});
        
//     }); 
    

	$('#btn_submit').on('click', function(e) {
		e.preventDefault();
		
		var va = $("#passwordForm").validate({
			rules : {
        		oldPWD : {
        			required : true
        		}
        		,newPWD:{
        			required:true
        		}
        		,confPWD:{
        			required:true
        			,equalTo:$("#passwordForm").find("input[name='newPWD']")
        		}
			}
		});

	if (va.form()) {
			$.ajax({
				url : $("#passwordForm").attr('action'),
				data : $("#passwordForm").serialize(),
				type : 'post',
				dataType:'json',
				success : function(res) {
					if (res.code == '1000') {
						$.globalMessenger().post({
							message : "密码修改成功！",
							hideAfter : 2,
							type : 'success',
							showCloseButton : true
						});
					} else {
						$.globalMessenger().post({
							message : "密码修改失败！"+res.message,
							hideAfter : 2,
							type : 'error',
							showCloseButton : true
						});
					}
				}
			});
		}

	});
</script>