[@ec_witness 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=1
	type="${form.type!}"
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${p.id!}"
    ,"no":"${p_index+1!}"
    ,"stepno":"${p.workStep.stepno!}.${p.workStep.stepname!}"
    ,"witnessdes":"${p.witnessdes!}"
    ,"witnessaddress":"${p.witnessaddress!}"
    ,"witnessdate":"${p.witnessdate!}"
    ,"drawno":"${p.workStep.rollingPlan.drawno!}"
    ,"weldno":"${p.workStep.rollingPlan.weldno!}"
    ,"qualityplanno":"${p.workStep.rollingPlan.qualityplanno!}"
   	,"noticeaqc1":"${p.workStep.noticeaqc1!"-"}"
    ,"noticeaqc2":"${p.workStep.noticeaqc2!"-"}"
    ,"noticeczecqc":"${p.workStep.noticeczecqc!"-"}"
    ,"noticeczecqa":"${p.workStep.noticeczecqa!"-"}"
    ,"noticepaec":"${p.workStep.noticepaec!"-"}"
    
    ,"links":[
    	[@ec_privilege_check uri="/witness/witnesser/assign"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?stepno=${p.workStep.id!}&id=${p.id!}&witness=${p.witness!}&type=${form.type!}'});"
	    	,"icon":"icon-plus"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	
    	[#assign QC2Member = 'false']
        [#if Session.user.roleType??]
        	[#if Session.user.roleType?? && Session.user.roleType?size > 0]
        		[#list Session.user.roleType as rt]
        			[#if rt == 'witness_member_qc2']
        				[#assign QC2Member = 'true']
        			[/#if]
        		[/#list]
        	[/#if]
        [/#if]
        [#if QC2Member == 'true']
	    	[#if p.workStep.noticeresult?? && p.workStep.noticeresult != ""]
			    	{
				    	"title":"已结束"
				    	,"icon":"icon-check"
				    	,"clz":"btn-info"
			    	},
	    	[#else]
		    	[#if p.isok == 0]
			    	[@ec_privilege_check uri="/witness/myevent/launch"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});"
				    	,"icon":"icon-edit"
				    	,"clz":"btn-danger"
			    	},
			    	[/@ec_privilege_check]
		    	[/#if]
	    	[/#if]
    	[/#if]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_witness]