[@ec_witnesser 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=1
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${p.id!}"
    ,"no":"${p_index+1!}"
    ,"drawno":"${p.workStep.rollingPlan.drawno!}"
    ,"weldno":"${p.workStep.rollingPlan.weldno!}"
    ,"stepname":"${p.workStep.stepno!}.${p.workStep.stepname!}"
    ,"witnessdate":"${p.witnessdate!}"
    ,"witnessaddress":"${p.witnessaddress!}"
   	,"noticeType":"${p.noticeType!"-"}"
    ,"noticePoint":"${p.noticePoint!"-"}"
    
    ,"links":[
    	
    	[#if p.workStep.noticeresult?? && p.workStep.noticeresult != ""]
		    	{
			    	"title":"已结束"
			    	,"icon":"icon-check"
			    	,"clz":"btn-info"
		    	},
    	[#else]
	    	[#if p.isok == 0]
		    	[@ec_privilege_check uri="/witness/myevent/launch"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});"
			    	,"icon":"icon-plus"
			    	,"clz":"btn-danger"
		    	},
		    	[/@ec_privilege_check]
	    	[/#if]
    	[/#if]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_witnesser]
