[@ec_witnesser 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=1
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${p.id!}"
    ,"no":"${p_index+1!}"
    ,"drawno":"${p.workStep.rollingPlan.drawno!}"
    ,"weldno":"${p.workStep.rollingPlan.weldno!}"
    ,"stepname":"${p.workStep.stepno!}.${p.workStep.stepname!}"
    ,"witnessdate":"${p.witnessdate!}"
    ,"witnessaddress":"${p.witnessaddress!}"
   	,"noticeType":"${p.noticeType!"-"}"
    ,"noticePoint":"${p.noticePoint!"-"}"
    
    [#if p.isok?? && p.isok == 0]
	    ,"isok":"未见证"
    [#elseif p.isok?? && p.isok == 1]
	    ,"isok":"不合格"
    [#elseif p.isok?? && p.isok == 2]
	    ,"isok":"合格"
    [#elseif p.isok?? && p.isok == 3]
	    ,"isok":"合格"
	[#else]
	    , "isok":"未知状态"
    [/#if]
    
    ,"links":[
    	[@ec_privilege_check uri="/witness/myevent/launch/view"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});"
		    	,"icon":"icon-edit"
		    	,"clz":"btn-info"
	    	},
	    [/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_witnesser]