[@ec_workStep 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable=1
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as ws]
    {
    "id":"<label><input type='checkbox' name='ids' value='${ws.id!}'/><span class='lbl'></span></label>"
    ,"stepno":"${ws.stepno!}"
    ,"no":"${ws_index+1!}"
    ,"stepname":"${ws.stepname!}"
    ,"noticeaqc1":"${ws.noticeaqc1!"-"}"
    ,"noticeaqc2":"${ws.noticeaqc2!"-"}"
    ,"noticeczecqc":"${ws.noticeczecqc!"-"}"
    ,"noticeczecqa":"${ws.noticeczecqa!"-"}"
    ,"noticepaec":"${ws.noticepaec!"-"}"
    ,"status":"[@ec_workStep_tf id=ws.id;wstf][#if wstf??][#if wstf.status=='PROGRESSING']施工中[#elseif wstf.status=='COMPLETED']已完成[#elseif wstf.status=='UNPROGRESSING']未施工[#elseif wstf.status=='PAUSE']停滞中[/#if][/#if][/@ec_workStep_tf]"
    ,"links":[
    	[@ec_privilege_check uri="/witness/mylaunch/view"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${ws.id!}'});"
	    	,"icon":"icon-star"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if ws_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_workStep]