[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">文件失效通知单列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="expireNoticeTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label></th>
                                    <th>发布时间</th>
                                    <th>要求归还时间</th>
                                    <th>失效通知单编号</th>
                                    <th>编制人</th>
                                    <th>审核人</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			"tableID":"#expireNoticeTable",
			"searching": false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"releaseDate",
			    		  "sortable": false
			            },
			            {
				    		  "data":"askReturnDate",
				    		  "sortable": false
				            },
			            {
			    		  "data":"cancCode",
			    		  "sortable": false
			            },
			            {
			    		  "data":"drafter",
			    		  "sortable": false
			            },
			            {
			    		  "data":"signer",
			    		  "sortable": false
			            },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>
