﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:100px;
  width:400px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:100px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:120px;
  width:67px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:127px;
  top:120px;
  width:67px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:193px;
  top:120px;
  width:67px;
  height:70px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:120px;
  width:67px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:327px;
  top:120px;
  width:67px;
  height:70px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:393px;
  top:120px;
  width:67px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:63px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:51px;
  top:190px;
  width:76px;
  height:30px;
  font-family:'仿宋 Bold', '仿宋';
  font-weight:700;
  font-style:normal;
  color:#990099;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:90px;
  top:200px;
  width:80px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:90px;
  top:296px;
  width:80px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:90px;
  top:571px;
  width:80px;
  height:80px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:90px;
  top:391px;
  width:80px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:60px;
  top:678px;
  width:400px;
  height:63px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:63px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:683px;
  width:80px;
  height:55px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u29 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:170px;
  top:685px;
  width:80px;
  height:55px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u31 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:260px;
  top:683px;
  width:80px;
  height:55px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:497px;
  top:253px;
  width:263px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:150px;
  top:200px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:150px;
  top:393px;
  width:30px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:490px;
  top:293px;
  width:263px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:90px;
  top:481px;
  width:80px;
  height:80px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u43 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:240px;
  top:200px;
  width:76px;
  height:30px;
  font-family:'仿宋 Bold', '仿宋';
  font-weight:700;
  font-style:normal;
  color:#990099;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:304px;
  top:206px;
  width:80px;
  height:80px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u47 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:304px;
  top:302px;
  width:80px;
  height:80px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:304px;
  top:576px;
  width:80px;
  height:80px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u51 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:304px;
  top:396px;
  width:80px;
  height:80px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u53 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:364px;
  top:206px;
  width:30px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:364px;
  top:398px;
  width:30px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:304px;
  top:486px;
  width:80px;
  height:80px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u59 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
