<script type="text/javascript">
	$(document).ready(function() {
		//进行表单验证
		var $form = $('#rdTaskHandleForm');		var url = $form.attr("action");    // // var params = $form.serialize();
		// // url += "?" + params;
        var $btn = $form.find("a.btn").eq(0);
		$form.form({
		  url:url,
    		onSubmit: function(){
    		//进行表单验证
        		var isValid = $form.form('validate');       
        		if(isValid){
        		    disableBtn($btn);
        		}
                return isValid; // 返回false,将阻止表单提交 
    		},
		  success:function(data){
        	   enableBtn($btn);
        	   if(data == "true"){
        		  refreshData('#rdTaskReceiveTable','${path}/rd/receive?query=total');
			      $.messager.alert('处理成功', "处理成功");
			   	
			      //刷新菜单
				  reload({
						selector:"#rdReceivePannel",
						url:"${path}/rd/receive?query=menu",
						method:"get"
				   });
        		   closeTab();
        	   }else{
			      $.messager.alert('处理失败', "处理失败", 'error');
        	   }
		  }
		});	}); 
	
</script>
<!-- 内容区 开始 -->
<div class="EC-modal-content">
    <div class="EC-form-layout">
    [@rd_task id="${form.taskId!}";task]
        <form action="${path}/rd/receive/handle" method="post" id="rdTaskHandleForm">
        <input type="hidden" name="taskId" value="${form.taskId!}" />
        <input type="hidden" name="taskName" value="${form.taskName!}" />
        <input type="hidden" name="userId" value="${(task.dispatchUser.id)!}" />
        <input type="hidden" name="tableName" value="table_task_audit">
        <h2 class="EC-title-1 EC-title-bg">任务信息：</h2>
            <table class="EC-form-table">
                <tbody>
                    <tr>
                        <td>文件名:</td>
                        <td>
                        ${(task.file.filename)!}
                        </td>
                    </tr>
                    <tr>
                        <td>文件号:</td>
                        <td>
                        ${(task.file.fileNumber)!}
                        </td>
                    </tr>
                    <tr>
                        <td>来源:</td>
                        <td>
                        ${(task.file.fileSource.source)!}
                        </td>
                    </tr>
                    <tr>
                        <td>类型:</td>
                        <td>
                        ${(task.file.fileType.type)!}
                        </td>
                    </tr>
                    <tr>
                        <td>任务描述:</td>
                        <td>
                        ${(task.file.description)!}
                        </td>
                    </tr>
                </tbody>
            </table>
            [#if task.status == 0]
            <h2 class="EC-title-1 EC-title-bg">审核结果：</h2>
            <input type="hidden" name="audit" value="1">
            <table class="EC-form-table">
                <tbody>
                    <tr>
                        <td>状态:</td>
                        <td>
                       	[@EC.rd_status code=task.file.status success="正常" failed="未通过"/]
                        </td>
                    </tr>
                    <tr>
                        <td>历史完成情况:</td>
                        <td>
                       	 ${(task.handleMessage)!}
                        </td>
                    </tr>
                    <tr>
                        <td>审核意见:</td>
                        <td style="color: #ff0000;">
                       	 ${(task.auditMessage)!}
                        </td>
                    </tr>
                </tbody>
            </table>
            [/#if]
            <h2 class="EC-title-1 EC-title-bg">操作：</h2>
            <table class="EC-form-table">
                <tbody>
                    <tr>
                        <td>完成情况:</td>
                        <td>
                       	<textarea class="EC-form-textarea easyui-validatebox" name="handleMessage" data-options="required:true"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><a href="javascript:void(0);" onclick="submitReq(this);" class="btn easyui-linkbutton" iconCls="icon-ok">完成任务</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
       [/@rd_task]
    </div>
</div>
<!-- 内容区 结束 -->
