<script type="text/javascript">
	$(document).ready(function() {
		//进行表单验证
		var $form = $('#rdTaskForm');		var url = $form.attr("action");    // // var params = $form.serialize();
		// // url += "?" + params;
        var $btn = $form.find("a.btn").eq(0);
		$form.form({
		  url:url,
    		onSubmit: function(){
    		//进行表单验证
        		var isValid = $form.form('validate');       
        		if(isValid){
        		    disableBtn($btn);
        		}
                return isValid; // 返回false,将阻止表单提交 
    		},
		  success:function(data){
        	   enableBtn($btn);
        	   if(data == "true"){
        		   closeTab();
        		   refreshData('#rdTaskTable','${path}/rd/post/task');
			      $.messager.alert('发布成功', "发布成功");
        	   }else{
			      $.messager.alert('发布失败', "发布失败", 'error');
        	   }
		  }
		});	}); 
	
	function showRoles(e) {
		var $e = $(e);
		var key = $e.attr("name");
		var $parent = $e.parents("tr").eq(0);
		var url = $e.parents("form").eq(0).attr("action");
		var $target = $("#chooseRole");
		$.ajax({
			   type: "GET",
			   url: url,
			   data: key + "="+$e.val(),
			   success: function(data){
				   if(data){
					   if($target[0] != "undefind") {
						   $target.remove();
					   }
					   $parent.after(data);
				   }else if(data == "false"){
						   $.messager.alert("数据加载失败","数据加载失败","error");
				   }
			   }
			});
	}
</script>
<!-- 内容区 开始 -->
<div class="EC-modal-content">
    <h2 class="EC-title-1"><span class="EC-form-tips">* 表示必填项</span></h2>
    <div class="EC-form-layout">
        <form action="${path}/rd/post/deploy" method="post" id="rdTaskForm">
        <input type="hidden" name="proceeDefKey" value="${form.proceeDefKey!}">
        <input type="hidden" name="tableName" value="table_task_dispatch">
            <table class="EC-form-table">
                <tbody>
                    <tr>
                        <td>文件名:</td>
                        <td>
                        <input type="text" name="filename" value="" class="EC-form-input easyui-validatebox" placeholder="文件名" data-options="required:true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>文件号:</td>
                        <td>
                        <input type="text" name="fileNumber" value="" class="EC-form-input easyui-validatebox" placeholder="文件名" data-options="required:true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>来源:</td>
                        <td>
                        <select name="sourceId" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" >
                       	 <option value="tip">请选择...</option>
                        	[@rd_source;list]
                        	[#list list as source]
                        	<option value="${source.id!}">${source.source!}</option>
                        	[/#list]
                        	[/@rd_source]
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>类型:</td>
                        <td>
                        <select name="typeId" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" >
                        <option value="tip">请选择...</option>
                        	[@rd_type;list]
                        	[#list list as type]
                        	<option value="${type.id!}">${type.type!}</option>
                        	[/#list]
                        	[/@rd_type]
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>任务描述:</td>
                        <td>
                        <textarea class="EC-form-textarea easyui-validatebox" name="description" data-options="required:true"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>处理部门:</td>
                        <td>
                        <select name="departmentId" onchange="showRoles(this);" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" >
                        	<option value="tip">请选择...</option>
                        	[@ec_department type="tree";list]
                        		[@EC.ec_select_tree nodes=list/]
              				[/@ec_department]
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><a href="javascript:void(0);" onclick="submitReq(this);" class="btn easyui-linkbutton" iconCls="icon-ok">确定</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<!-- 内容区 结束 -->
