<script type="text/javascript">
	$(document).ready(function() {
		//进行表单验证
		var $form = $('#rdTaskHandleForm');		var url = $form.attr("action");    // // var params = $form.serialize();
		// // url += "?" + params;
        var $btn = $form.find("a.btn").eq(0);
		$form.form({
		  url:url,
    		onSubmit: function(){
    		//进行表单验证
        		var isValid = $form.form('validate');       
        		if(isValid){
        		    disableBtn($btn);
        		}
                return isValid; // 返回false,将阻止表单提交 
    		},
		  success:function(data){
        	   enableBtn($btn);
        	   if(data == "true"){
        		  refreshData('#rdTaskReceiveTable','${path}/rd/receive?query=total');
			      $.messager.alert('处理成功', "处理成功");
			    //刷新菜单
				  reload({
						selector:"#rdReceivePannel",
						url:"${path}/rd/receive?query=menu",
						method:"get"
				   });
        		   closeTab();
        	   }else{
			      $.messager.alert('处理失败', "处理失败", 'error');
        	   }
		  }
		});	}); 
	
	function showMembers(e) {
		var $e = $(e);
		var key = $e.attr("name");
		var $parent = $e.parents("tr").eq(0);
		var url = $e.parents("form").eq(0).attr("action");
		var $target = $("#chooseMembers");
		var val = $e.val();
		if(val != "tip") {
			$.ajax({
				   type: "GET",
				   url: url,
				   data: key + "="+val,
				   success: function(data){
					   if(data){
						   if($target[0] != "undefind") {
							   $target.remove();
						   }
						   $parent.after(data);
					   }else if(data == "false"){
							   $.messager.alert("数据加载失败","数据加载失败","error");
					   }
				   }
				});
		}
	}
</script>
<!-- 内容区 开始 -->
<div class="EC-modal-content">
    <h2 class="EC-title-1"></h2>
    <div class="EC-form-layout">
    [@rd_task id="${form.taskId!}";task]
        <form action="${path}/rd/receive/handle" method="post" id="rdTaskHandleForm">
        <input type="hidden" name="taskId" value="${form.taskId!}" />
        <input type="hidden" name="taskName" value="${form.taskName!}" />
        <input type="hidden" name="tableName" value="table_task_handle">
        <h2 class="EC-title-1 EC-title-bg">任务信息：</h2>
            <table class="EC-form-table">
                <tbody>
                    <tr>
                        <td>文件名:</td>
                        <td>
                        ${(task.file.filename)!}
                        </td>
                    </tr>
                    <tr>
                        <td>文件号:</td>
                        <td>
                        ${(task.file.fileNumber)!}
                        </td>
                    </tr>
                    <tr>
                        <td>来源:</td>
                        <td>
                        ${(task.file.fileSource.source)!}
                        </td>
                    </tr>
                    <tr>
                        <td>类型:</td>
                        <td>
                        ${(task.file.fileType.type)!}
                        </td>
                    </tr>
                    <tr>
                        <td>任务描述:</td>
                        <td>
                        ${(task.file.description)!}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 class="EC-title-1 EC-title-bg">操作：</h2>
            <table class="EC-form-table">
                <tbody>
                    <tr>
                        <td>处理岗位:</td>
                        <td>
                       <select name="roleId" data-options="required:true,validType:'select'"  class="EC-form-select easyui-validatebox" onchange="showMembers(this);" >
                        	<option value="tip">请选择处理该任务的岗位</option>
                        	[@ec_role id="${user.roles[0].id!}";role]
                        	[#if (role.department.roles)??]
                        	[#list role.department.roles as r]
                        	<option value="${r.id!}">${r.name!}</option>
                        	[/#list]
                        	[/#if]
                        	[/@ec_role]
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><a href="javascript:void(0);" onclick="submitReq(this);" class="btn easyui-linkbutton" iconCls="icon-ok">确定</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
       [/@rd_task]
    </div>
</div>
<!-- 内容区 结束 -->
