[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>问题明细</h1>
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                       	[@ec_problem id=form.id;p]
						<form class="form-horizontal"
							action="${path}/baseservice/material_type/edit" method="post"
							id="detailProblem">
								<input type="hidden" name="id" value="${rp.id!}" />
								<div class="control-group">
									<label class="control-label" for="weldno">焊口/支架号:</label>
									<div class="controls">
										<input type="text" value="${rp.weldno!}" name="weldno"
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="stepname">图纸号:</label>
									<div class="controls">
										<input type="text" value="${rp.drawno!}" name="drawno"
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="questionname">问题名:</label>
									<div class="controls">
										<input type="text" value="${p.questionname!}" name="questionname"
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">问题描述:</label>
									<div class="controls">
										<textarea rows="8" cols="30" name="describe" placeholder=""
											id="describe" style="width: 460px;" disabled="disabled"
											draggable="false">${p.describe!}</textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">附件:</label>
									<div class="controls">
										[@ec_problem_file queryType = "list" id = "${p.id}" pageable=0
										;list] [#if list?? && (list?size > 0)] [#list list as file] <a
											onclick="window.open('${path}/problem_files/${file.path}');"
											style="cursor: pointer;">${file.fileName}</a><br /> [/#list]
										[/#if] [/@ec_problem_file]
									</div>
								</div>
								[#if p.solvemethod ?? && p.solvemethod !=""]
								<div class="control-group">
									<label class="control-label" for="solvemethod">解决方案:</label>
									<div class="controls">
										<textarea rows="8" cols="30" name="solvemethod" placeholder=""
											id="describe" style="width: 460px;" disabled="disabled"
											draggable="false">${p.solvemethod!}</textarea>
									</div>
								</div>
								[/#if]
									<!-- 问题流程信息  -->
								<div class="control-group">
									<label class="control-label" for="describe">发起人:</label>
									<div class="controls">
											<input type="text" value="${p.createdByName!}" 
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">当前解决人:</label>
									<div class="controls">
											<input type="text" value="${p.currentsolver!}" 
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="describe">问题状态:</label>
									<div class="controls">
											[#if p.isOk == 1]
												[#assign isSolve = '已解决']
												[#else]
												[#assign isSolve = '未解决']
											[/#if]
											<input type="text" value="${isSolve!}" 
											placeholder="" class="valid" readonly="readonly" />
									</div>
								</div>
								
									<div class="control-group">
									<label class="control-label" for="describe">处理人</label>
									<div class="controls">
											<label class="control-label" for="describe">处理描述</label>
									</div>
								</div>
								[#if solvers?? && solvers?size >0]
										[#list solvers as solver]
											[#if solver_index + 1 < solvers?size]
												<div class="control-group">
													<label class="control-label" for="describe">${solver.solverName}</label>
													<div class="controls">
														<textarea rows="8" cols="30"  placeholder=""
															id="describe" style="width: 460px;" disabled="disabled"
															draggable="false">${solver.describe!}</textarea>
													</div>
												</div>
											[/#if]
										[/#list]
								[/#if]
								<!-- 问题流程结束 -->
								
								
							</div>
						</form>
                    </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>
			[/@ec_problem]

