[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>问题反馈</h1>

	</div>
	<!--/page-header-->

	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div
					class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
					<h4 class="lighter">上传问题附件</h4>
					<div class="widget-toolbar"></div>
				</div>
				<div class="widget-main">
					<form class="form-horizontal" action="${path}/hd/workstep/problem/add"
						method="post" id="addProblemUpload">
						<div class="control-group">
							<label class="control-label" for="file">上传图片或者视频:</label>
							<div class="controls">
								<div id="queue"></div>
								<input type="file" name="file" id="uploadify" placeholder="" value="">
								<a class="btn btn-small btn-purple" onclick="startUpload();"><i class="icon-cloud-upload"></i>开始上传</a>
							</div>
						</div>

						<div align="left" style="padding-left: 500px;">
							<a class="btn btn-primary" onclick="loadFile('${path}/construction/mytask/view?autoidup=${autoidup}');">返回</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS HERE -->
	</div>
</div>
<script type="text/javascript">
$(function() {
	$("#uploadify").uploadify({
		'swf':'${path}/resources/js/uploadify/uploadify.swf',
		'uploader':'${path}/hd/workstep/problem/upload',
		'formData':{'problemId':'${problemId!}'},
		'auto':false,
		'buttonClass':'',
		'buttonText':'<button class="btn btn-small btn-success"><i class="icon-folder-open-alt"></i>选择文件</button>',
		'fileSizeLimit':'10MB',
		'fileTypeExts':'*.gif;*.png;*.jpg;*.mp4;*.rmvb',
		'height':40,
		'method':'post',
		'multi':true,
		'queueID':'queue',
		'queueSizeLimit':10,
		'uploadLimit':20,//最多上传数量
		'removeTimeout':5,//进度条删除时间s
		'successTimeout':60,//上传后多少秒服务器无响应默认成功
		'width':120
	});
});

function startUpload(){
		$('#uploadify').uploadify('upload','*');
s}
</script>
