[#assign path ="${rc.contextPath}" /]
<script>
var path = "${path!}";
var global_pageList = ${LOCAL_WEBSITE.pagesizeList![10,20,50,100]};
</script>
<script type="text/javascript" src="${path}/resources/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="${path}/resources/js/json2.js"></script>
<!-- <script type="text/javascript" src="${path}/resources/js/jquery-easyui-1.3.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${path}/resources/js/jquery-easyui-1.3.6/locale/easyui-lang-zh_CN.js"></script> -->
<script type="text/javascript" src="${path}/resources/js/uploadify/jquery.uploadify.min_zh.js"></script>
<script type="text/javascript" src="${path}/resources/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="${path}/resources/js/validate/jquery.metadata.js"></script>
<script type="text/javascript" src="${path}/resources/js/validate/validate_extends.js"></script>
<script type="text/javascript" src="${path}/resources/js/validate/messages_cn.js"></script>
<script type="text/javascript" src="${path}/resources/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${path}/resources/js/treeview/jquery.treeview.min.js"></script>
<script type="text/javascript" src="${path}/resources/js/treetable/jquery.treetable.js"></script>

<script src="${path}/resources/acestyle/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->

<!--[if lt IE 9]>
<script type="text/javascript" src="${path}/resources/acestyle/js/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/bootbox.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.easy-pie-chart.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/fuelux.spinner.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.autosize-min.js"></script>
<script type="text/javascript" src="${path}/resources/acestyle/js/jquery.gritter.min.js"></script>
<script type="text/javascript" src="${path}/resources/js/messager/messenger.min.js"></script>
<script type="text/javascript" src="${path}/resources/js/messager/messenger-theme-future.js"></script>
<!-- ace scripts -->
<script src="${path}/resources/acestyle/js/ace-elements.min.js"></script>
<script src="${path}/resources/acestyle/js/ace.min.js"></script>
<script type="text/javascript" src="${path}/resources/plugins/plupload/js/plupload.full.js"></script>
<script type="text/javascript" src="${path}/resources/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.full.js"></script>
<script type="text/javascript" src="${path}/resources/plugins/plupload/js/i18n/zh_CN.js"></script>
<!-- <script type="text/javascript" src="${path}/resources/js/pms.js"></script> -->
<script type="text/javascript" src="${path}/resources/js/easycms_main.js"></script>
<script type="text/javascript" src="${path}/resources/js/easycms_func.js"></script>

<!-- fusioncharts -->
<script type="text/javascript" src="${path}/resources/FusionCharts/fusioncharts.js"></script>
<script type="text/javascript" src="${path}/resources/js/select2-4/js/select2.min.js"></script>

<script type="text/javascript" src="${path}/resources/js/spin.min.js"></script>
<script type="text/javascript" src="${path!}/resources/plugins/wangEditor/js/wangEditor.min.js"></script>
