<div class="EC-header">
<div class="EC-header-userinfo">
	<p class="greet">您好！<span id="userName" class="EC-header-userinfo-name">${(user.name)!}</span></p>
	<ul>
		<li>这是您第<span id="loginCount">${(user.loginTimes)!}</span>次登录！</li>
	</ul>
</div>
            <div class="EC-header-menu-bar">
<ul class="EC-header-menu">
[#if menuLink?? && ("/management/index" == menuLink || "/management/personal" == menuLink || "/management/personal/password" == menuLink)][#assign on='menu-on'][#else][#assign on=''][/#if]
                        <li>
                            <a href="${path}/management/index" class="EC-header-iconlink ${on!}">
                                <div class="EC-header-iconlink-icon"><i class="EC-menu-icon-layout"><img src="${path}/icons/home.png"></i></div>
                                <div class="EC-header-iconlink-txt">首页</div>
                                <div class="EC-header-iconlink-bg"><img src="${path}/resources/css/images/aluminium_hover.png" /></div>
                            </a>
                        </li>
					[#if (user.privileges)??]	
						[#list user.privileges as p]
							[#if !(p.parent)??]
							[#if menuLink?? && (p.uri == menuLink)][#assign on='menu-on'][#else][#assign on=''][/#if]
                        <li>
                            <a href="${path}${p.uri!}" class="EC-header-iconlink ${on!}">
                                <div class="EC-header-iconlink-icon">[@EC.icon filename="${p.icon!}"/]</div>
                                <div class="EC-header-iconlink-txt">${p.name}</div>
                                <div class="EC-header-iconlink-bg"><img src="${path}/resources/css/images/aluminium_hover.png" /></div>
                            </a>
                        </li>
							[/#if]
						[/#list]
					[/#if]
                    </ul>
            </div>
            </div>