<div class="EC-header-top">
	<div class="EC-header-toplink-bar">
		<a href="javascript:void(0);"
			onclick="operator.openTab({title:'个人资料',url:'${path}/management/personal',icon:'icon-user'});"
			class="EC-header-toplink"> <i class="EC-icon-layout"><img src="${path}/icons/user.png"></i>个人信息
		</a> 
		<a href="javascript:void(0);"
			onclick="operator.openTab({title:'修改密码',url:'${path}/management/personal/password',icon:'icon-key'});"
			class="EC-header-toplink"> <i class="EC-icon-layout"><img src="${path}/icons/key.png"></i>修改密码
		</a> 
		<a href="${path}/management/authorization/logout" class="EC-header-toplink"> <i class="EC-icon-layout"><img src="${path}/icons/home--arrow.png"></i>安全退出
		</a>
	</div>
</div>