    <!-- Edit Price Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>编辑单价信息</h4>
                </div>
                [@ec_price id=form.id;p]
                [#if p??]
                <form class="form-horizontal" action="${path}/baseservice/price/edit" method="post" id="editPrice" >
                <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
                <input type="hidden" id="id" name="id" value="${p.id!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="speciality">专业:</label>
                            <div class="controls">
                                <input type="text" value="${p.speciality!}" id="speciality" name="speciality" placeholder="" class="valid"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="pricetype">价格分类:</label>
                            <div class="controls">
                                <select id="pricetype" name="pricetype">
									[#if priceTypeList??]
										[#list priceTypeList as priceType]
											<option value="${priceType.setkey!}" 
											[#if priceType.setkey == p.pricetype]
												selected 
											[/#if]
											>${priceType.setvalue!}</option>
										[/#list]
									[/#if]
								</select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="unitprice">单价:</label>
                            <div class="controls">
                                <input type="text" value="${p.unitprice!}" name="unitprice" placeholder="" class="valid"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="remark">备注:</label>
                            <div class="controls">
                                <input type="text" value="${p.remark!}" name="remark" placeholder="" class="valid"/>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
                </div>
                </form>
                [/#if]
                [/@ec_price]
            </div>
<script type="text/javascript">
$(document).ready(function () {
	$("#editPrice").validate({
		rules: {
			speciality: {
				required: true
				,maxlength:20
			},
			pricetype: {
				required: true
			},
			unitprice: {
				required: true
			}
		},
		messages: {
			speciality: {
				required: "必填字段",
				maxlength: "不能超过20个字符 !"
			},
			pricetype: {
				required: "必填字段",
			},
			unitprice: {
				required: "必填字段",
			}
		},
		submitHandler: function(form){
			var result = false;
			
			var speciality = $("#speciality").val();
			var pricetype = $("#pricetype").val();
			var id = $("#id").val();
			$.ajax({
				url: "${path}/baseservice/price?func=edit&pricetype=" + pricetype + "&speciality=" + speciality + "&id=" + id,
				type: "get",
				async:false,
				dataType: "text",
				success: function(data) {
					if ("true" == data){
						//dataTable.refresh();
						result = true;
					} else if ("false" == data){
						result = false;
						$("#tips").html("该类型的专业和单价分类已存在");
						
						$("#tips").show();
						setTimeout(function(){
						   $("#tips").hide();
					    }, 3000);
					} 
				},
				error: function() {
					result = false;
				}
			});
			
			if (result){
				$.ajax({
				    type: 'post',
				    url: $(form).attr('action'),
				    data: $(form).serialize(),
				    success: function(data) {
				    	modal.close();
						dataTable.refresh();
				    }
				});
			}
		}
	});
});
</script>
        </div>
    </div>

