    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>添加单价信息</h4>
                </div>
                <form class="form-horizontal" action="${path}/baseservice/price/add" method="post" id="addPricer" >
                <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="speciality">专业:</label>
                            <div class="controls">
                                <input type="text" name="speciality" id="speciality" placeholder=""/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="pricetype">价格分类:</label>
                            <div class="controls">
                            	<select id="pricetype" name="pricetype">
									[#if priceTypeList??]
										[#list priceTypeList as priceType]
											<option value="${priceType.setkey!}">${priceType.setvalue!}</option>
										[/#list]
									[/#if]
								</select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="unitprice">单价:</label>
                            <div class="controls">
                                <input type="text" name="unitprice" id="unitprice" placeholder="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="remark">备注:</label>
                            <div class="controls">
                                <input type="text" name="remark" id="remark" placeholder="">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
                </div>
                    </form>
            </div>
        </div>
<script type="text/javascript">
$(document).ready(function () {
	$("#addPricer").validate({
		rules: {
			speciality: {
				required: true
				,maxlength:20
			},
			pricetype: {
				required: true
			},
			unitprice: {
				required: true
			}
		},
		messages: {
			speciality: {
				required: "必填字段",
				maxlength: "不能超过20个字符 !"
			},
			pricetype: {
				required: "必填字段",
			},
			unitprice: {
				required: "必填字段",
			}
		},
		submitHandler: function(form){
			var result = false;
			
			var speciality = $("#speciality").val();
			var pricetype = $("#pricetype").val();
			$.ajax({
				url: "${path}/baseservice/price?func=exist&pricetype=" + pricetype + "&speciality=" + speciality,
				type: "get",
				async:false,
				dataType: "text",
				success: function(data) {
					if ("true" == data){
						result = true;
					} else if ("false" == data){
						result = false;
						$("#tips").html("该类型的专业和单价分类已存在");
						
						$("#tips").show();
						setTimeout(function(){
						   $("#tips").hide();
					    }, 3000);
					} 
				},
				error: function() {
					result = false;
				}
			});
			
			if (result){
				$.ajax({
				    type: 'post',
				    url: $(form).attr('action'),
				    data: $(form).serialize(),
				    success: function(data) {
				    	modal.close();
						dataTable.refresh();
				    }
				});
			}
		}
	});
});

// 	$(function(){
// 		formValidtor.modalValid({
// 			handler:"#addPricer",
// 			rules : {
// 				speciality : {
//         			required : true
//         			,maxlength:20
//         			,remote : "${path}/baseservice/price?func=exist&pricetype=" + $("#pricetype option:selected").val()
//         		},
//         		pricetype : {
//         			required : true
//         		},
//         		unitprice : {
//         			required : true
//         			,number : true
//         		}
//         	}
//         	,messages : {
//         		speciality : {
//         			remote:"该类型的专业和单价分类已存在"
//         		}
//         	}
// 		})
// 	}); 
</script>
    </div>
