
<div class="modal" tabindex="-1" role="dialog"
	data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>添加双日滚动计划表
				</h4>
			</div>
			<form class="form-horizontal"
				action="${path}/baseservice/rollingplan/add" method="post"
				id="addRollingPlan">
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="weldno">焊口号/支架号:</label>
						<div class="controls">
							<input type="text" name="weldno" id="weldno" placeholder="" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="unitno">机组号:</label>
						<div class="controls">
							<input type="text" name="unitno" id="unitno" placeholder="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="areano">区域号:</label>
						<div class="controls">
							<input type="text" name="areano" id="areano" placeholder="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="drawno">图纸号:</label>
						<div class="controls">
							<input type="text" name="drawno" id="drawno" placeholder="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="weldlistno">焊口控制单号:</label>
						<div class="controls">
							<input type="text" name="weldlistno" id="weldlistno" placeholder="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="rccm">RCCM:</label>
						<div class="controls">
							<input type="text" name="rccm" id="rccm" placeholder="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="qualityplanno">质量计划号:</label>
						<div class="controls">
							<input type="text" name="qualityplanno" id="qualityplanno" placeholder="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="materialtype">材质类型:</label>
						<div class="controls">
							<select name="materialtype" id="materialtype">
							[@ec_material_type 
								queryType = "list"
								filter = "${form.filter!}"
								pageNum = "${(form.page)!1}"  
								pagesize = "${(form.rows)!}" 
								order = "${form.order!'desc'}"
								sort = "${form.sort!}"
								pageable=0
							;list]
							[#if list?? && (list?size > 0)]
								[#list list as u]
									<option value="${u.materialTypeId}">${u.materialTypeId} / ${u.materialTypeName}</option>
								[/#list]
							[/#if]
							[/@ec_material_type]
							</select>
						</div>
					</div>
						<div class="control-group">
						<label class="control-label" for="qualitynum">工程量:</label>
						<div class="controls">
							<input type="text" name="qualitynum" id="qualitynum" placeholder="">
						</div>
					</div>
						<div class="control-group">
						<label class="control-label" for="workpoint">点值:</label>
						<div class="controls">
							<input type="text" name="workpoint" id="workpoint" placeholder="">
						</div>
					</div>
						<div class="control-group">
						<label class="control-label" for="worktime">工时:</label>
						<div class="controls">
							<input type="text" name="worktime" id="worktime" placeholder="">
						</div>
					</div>
						<div class="control-group">
						<label class="control-label" for="speciality">专业:</label>
						<div class="controls">
							<input type="text" name="speciality" id="speciality" placeholder="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="consdate">施工日期:</label>
						<div class="controls">
							<input type="text" id="consdate" name="consdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',lang:'zh-cn',minDate:'%y-%M-%d'})" class="Wdate" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="technologyAsk">技术要求:</label>
						<div class="controls">
							 <textarea name="technologyAsk" id="technologyAsk" placeholder="不能超过500个字符" rows="6" cols="40"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="qualityRiskCtl">质量风险及控制措施:</label>
						<div class="controls">
							 <textarea name="qualityRiskCtl" id="qualityRiskCtl" placeholder="不能超过500个字符" rows="6" cols="40"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="securityRiskCtl">安全风险及控制措施:</label>
						<div class="controls">
							 <textarea name="securityRiskCtl" id="securityRiskCtl" placeholder="不能超过500个字符" rows="6" cols="40"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="experienceFeedback">经验反馈:</label>
						<div class="controls">
							 <textarea name="experienceFeedback" id="experienceFeedback" placeholder="不能超过500个字符" rows="6" cols="40"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="workTool">施工工具:</label>
						<div class="controls">
							<input type="text" id="workTool" name="workTool"  />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			formValidtor.modalValid({
				handler : "#addRollingPlan",
				rules : {
					weldno : {
						required : true,
					},
					unitno : {
						required : true
					},
					areano : {
						required : true
					},
					drawno : {
						required : true
					},
					weldlistno : {
						required : true
					},
					rccm : {
						required : true
					},
					qualityplanno : {
						required : true
					},
					materialtype : {
						required : true
					},
					qualitynum : {
						required : true,
						number:true
					},
					workpoint : {
						required : true
						,number:true
					},
					worktime : {
						 required : true
						,number:true
						,maxlength:11
					},
					speciality : {
						required : true
					},
					consdate : {
						required : true
					},
					technologyAsk : {
						maxlength:500
					},
					qualityRiskCtl : {
						maxlength:500
					},
					securityRiskCtl : {
						maxlength:500
					},
					experienceFeedback : {
						maxlength:500
					},
					workTool : {
						maxlength:20
					}
				}
			})
		});
	</script>
</div>
