    
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>上传滚动计划信息</h4>
                </div>
                <div id="multi_upload" class="gebo-upload" style="font-size: 14px;">You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</div>
			   	<label style="width: 400px !important; color: red; font-size: 14px;" id="uploadTip"></label>
                <hr/>
            </div>
        </div>
        
<script type="text/javascript">
var filesNumber = 0;
var maxNumber = 10;
			
$(document).ready(function () {
	$("#multi_upload").pluploadQueue({
		runtimes : 'html5,gears,flash,silverlight,browserplu',
		url : '${path}/baseservice/rollingplan/import',
		max_file_size : '5mb',
		unique_names : true,
		urlstream_upload: true,

		filters : [{title : "Excel", extensions : "xlsx,xls"}],

		flash_swf_url : 'plugins/plupload/js/plupload.flash.swf',
		silverlight_xap_url : 'plugins/plupload/js/plupload.silverlight.xap',
		
		init : {
			FilesAdded: function(up, files) {
				filesNumber = up.files.length;
				if (filesNumber > maxNumber){
					$(".plupload_file_name").hide();
					$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
				} else {
					$(".plupload_file_name").show();
					$("#uploadTip").html("");
				}
			},
	
			FilesRemoved: function(up, files) {
				filesNumber = up.files.length;
				if (filesNumber > maxNumber){
					$(".plupload_file_name").hide();
					$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
				} else {
					$(".plupload_file_name").show();
					$("#uploadTip").html("");
				}
			},
			
			FileUploaded: function(up, file, info) {
				var jsonObj = eval("(" + info.response + ")");
				var message = "";
				
				jsonObj = jsonObj.messenger;
				
				if (jsonObj.FATAL != undefined){
					message += "致命：\n";
					$.each(jsonObj.FATAL, function(index, item){
						message += (index + 1) + " : " + item + "\n";
					});
				}
				if (jsonObj.ERROR != undefined){
					message += "严重：\n";
					$.each(jsonObj.ERROR, function(index, item){
						message += (index + 1) + " : " + item + "\n";
					});
				}
				if (jsonObj.WARN != undefined){
					message += "警告：\n";
					$.each(jsonObj.WARN, function(index, item){
						message += (index + 1) + " : " + item + "\n";
					});
				}
				if (jsonObj.INFO != undefined){
					message += "消息：\n";
					$.each(jsonObj.INFO, function(index, item){
						message += (index + 1) + " : " + item + "\n";
					});
				}
				if (jsonObj.DEBUG != undefined){
					message += "调试：\n";
					$.each(jsonObj.DEBUG, function(index, item){
						message += (index + 1) + " : " + item + "\n";
					});
				}
				
				alert(message);
				
				dataTable.refresh();
			},
			
			UploadComplete: function(up, file) {
				$("#uploadTip").html("");
			},
			
			StateChanged: function(up) {
				if (up.state == plupload.STARTED){
					$("#uploadTip").html("正在上传文件到服务器......");
				}
			}
		}
	});
});
</script>
    </div>
