
<div class="modal" tabindex="-1" role="dialog"
	data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				[#if Session.type??]
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                [/#if]
				<h4 class="modal-title">
					<span class="label label-info  arrowed-right"><i
						class="icon-user"></i></span>选择滚动计划类型
				</h4>
			</div>
			<form class="form-horizontal"
				action="${path}/baseservice/rollingplan/type" method="post"
				id="chooseRollingPlanType">
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="type">查看的类型:</label>
						<div class="controls">
							<select name="type" id="type">
							[@ec_modules 
								queryType = "list"
								pageable=0
							;list]
							[#if list?? && (list?size > 0)]
								[#list list as u]
								
									[#if u.type!='WZGL']
									
									<option value="${u.type!}">${u.name!}</option>
									[/#if]
									
								[/#list]
							[/#if]
							[/@ec_modules]
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				[#if Session.type??]
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				[/#if]
					<button type="submit" class="btn btn-primary"
						data-loading-text="正在保存...">
						<i class="icon-ok"></i>保存
					</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
	$(function() {
		formValidtor.modalValid({
			handler : "#chooseRollingPlanType",
			rules : {
        		type : {
        			required : true
        		}
        	},
        	callback: function(){
        		window.location.reload();
        	}
		})
	});
	</script>
</div>
