<div id='finishData' align="center" class=".span12"></div> 
[@ec_taskHyperbolaStatisticsDirective queryType="list" startTime="${form.startTime!''}" endTime="${form.endTime!''}" category="${form.category!'currentMonth'}";task]	
	[#if task??]				
					<script type="text/javascript">
					FusionCharts.ready(function(){
						var charts = new FusionCharts({
							type: 'scrollline2d',
							dataFormat: "json",
							renderAt: "finishData",
							width: "900",
							height: "500",
							dataSource: {
							    "chart": {
							        "caption": "完成量",
							        [#if form.category??]
										[#if form.category == 'currentMonth']
							        		"subCaption": "本月${taskStatusDate.month!}",
							        	[#elseif form.category == 'search']
							        		"subCaption": "${form.startTime!} 到  ${form.endTime!}",
							        	[/#if]
							        [#else]
							        	"subCaption": "本月${taskStatusDate.month!}",
							        [/#if]
							        "xAxisName": "时间",
							        "yAxisName": "数量",
							        "showValues": "0",
					                "numberPrefix": "个",
					                "showBorder": "0",
					                "showShadow": "0",
					                "bgColor": "#ffffff",
					                "paletteColors": "#008ee4,#6baa01",
					                "showCanvasBorder": "0",
					                "showAxisLines": "0",
					                "showAlternateHGridColor": "0",
					                "divlineAlpha": "100",
					                "divlineThickness": "1",
					                "divLineIsDashed": "1",
					                "divLineDashLen": "1",
					                "divLineGapLen": "1",
					                "lineThickness": "3",  
					                "flatScrollBars": "1",
					                "scrollheight": "10",
					                "numVisiblePlot": "31",
					                "showHoverEffect":"1"
							    },
							    "categories": [
							        {
							            "category": [
[#if task?? && (task?size > 0)]
	[#list task as t] 
		[#if t.type=="weldHK"]
			[#if t.result?? && (t.result?size > 0)]
				[#list t.result as rt]
							                {
							                    "label": "${rt.day!}"
							                },
				[/#list]
			[/#if]
		[/#if]
	[/#list]
[/#if]
							                {}
							            ]
							        }
							    ],
							    "dataset": [
							        {
							            "seriesname": "焊口",
							            "data": [
[#if task?? && (task?size > 0)]
	[#list task as t] 
		[#if t.type=="weldHK"]
			[#if t.result?? && (t.result?size > 0)]
				[#list t.result as rt]
							                {
							                    "value": "${rt.amount!}"
							                },
				[/#list]
			[/#if]
		[/#if]
	[/#list]
[/#if]
							                {}
							            ]
							        },
							        {
							            "seriesname": "支架",
							            "data":  [
[#if task?? && (task?size > 0)]
	[#list task as t] 
		[#if t.type=="weldZJ"]
			[#if t.result?? && (t.result?size > 0)]
				[#list t.result as rt]
							                {
							                    "value": "${rt.amount!}"
							                },
				[/#list]
			[/#if]
		[/#if]
	[/#list]
[/#if]
									                {}
									            ]
							        }
							    ]
							}
						}).render();
					});
					</script>
	[/#if]
[/@ec_taskHyperbolaStatisticsDirective]