<h3 class="header smaller lighter green">焊口</h3>
<div class="row">
		<div class=".span12">
		<a href="#" onclick="loadFile('${path}/construction/team')" class="btn btn-app btn-mini radius-12">
			未分配
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=0 type="weldHK" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/team/already')" class="btn btn-app btn-primary btn-mini radius-12">
			计划
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=4 type="weldHK" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask/already')" class="btn btn-app btn-success btn-mini radius-12">
			完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=2 type="weldHK" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask')" class="btn btn-app btn-warning btn-mini radius-12">
			未完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=3 type="weldHK" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/problem/unsolved')" class="btn btn-app btn-info btn-mini radius-12">
			处理中
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=5 type="weldHK" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask')" class="btn btn-app btn-danger btn-mini radius-12">
			滞后
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=6 type="weldHK" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask')" class="btn btn-app btn-purple btn-mini radius-12">
			施工中
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=1 type="weldHK" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
	</div>

</div>
<h3 class="header smaller lighter green">支架</h3>
<div class="row">
	<div class=".span12">
		<a href="#" onclick="loadFile('${path}/construction/team')" class="btn btn-app btn-mini radius-12">
			未分配
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=0 type="weldZJ" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/team/already')" class="btn btn-app btn-primary btn-mini radius-12">
			计划
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=4 type="weldZJ" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask/already')" class="btn btn-app btn-success btn-mini radius-12">
			完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=2 type="weldZJ" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask')" class="btn btn-app btn-warning btn-mini radius-12">
			未完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=3 type="weldZJ" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="mloadFile('${path}/construction/problem/unsolved')" class="btn btn-app btn-info btn-mini radius-12">
			处理中
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=5 type="weldZJ" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask')" class="btn btn-app btn-danger btn-mini radius-12">
			滞后
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=6 type="weldZJ" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="#" onclick="loadFile('${path}/construction/mytask')" class="btn btn-app btn-purple btn-mini radius-12">
			施工中
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=1 type="weldZJ" taskDate="${taskDate!}" category="${category!}";task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
	</div>

</div>