[@ec_rollingPlan id="${form.autoidup!}";rp]
{
"data":[
[#if rp??]
[#if rp.workSteps?? && (rp.workSteps?size > 0)]
[#list rp.workSteps as ws]
    {
    "id":"<label><input type='checkbox' name='ids' value='${ws.id!}'/><span class='lbl'></span></label>"
    ,"stepno":"${ws.stepno!}"
    ,"no":"${ws_index+1!}"
    ,"stepname":"${ws.stepname!}"
    ,"noticeaqc1":"${ws.noticeaqc1!"-"}"
    ,"noticeaqc2":"${ws.noticeaqc2!"-"}"
    ,"noticeczecqc":"${ws.noticeczecqc!"-"}"
    ,"noticeczecqa":"${ws.noticeczecqa!"-"}"
    ,"noticepaec":"${ws.noticepaec!"-"}"
    ,"links":[
    	{}
    	]
    }
    [#if ws_index != (rp.workSteps?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
[/#if]
]}
[/@ec_rollingPlan]