[@ec_rollingPlan_original 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as rp]
	[#assign spanStart=""]
	[#assign spanEnd=""]
	[#assign have=""]
    [@ec_rollingPlan drawno="${rp.drawno!}" weldno="${rp.weldno!}"; r]
    	[#if r??]
			[#assign have="true"]
			[#assign spanStart="<span class='grey'>"]
			[#assign spanEnd="</span>"]
    	[/#if]
    [/@ec_rollingPlan]
		
    {
    [#if have="true"]
    	"id":"<label><span class='lbl'></span></label>"
    [#else]
    	"id":"<label><input type='checkbox' name='sIds' value='${rp.drawno!}:${rp.weldno!}'/><span class='lbl'></span></label>"
    [/#if]
    ,"ids":"${spanStart!}${rp.drawno!}${spanEnd!}"
    ,"no":"${spanStart!}${rp_index+1!}${spanEnd!}"
    ,"drawno":"${spanStart!}${rp.drawno!}${spanEnd!}"
    ,"weldno":"${spanStart!}${rp.weldno!}${spanEnd!}"
    ,"areano":"${spanStart!}${rp.areano!}${spanEnd!}"
    ,"weldlistno":"${spanStart!}${rp.weldlistno!}${spanEnd!}"
    ,"speciality":"${spanStart!}${rp.speciality!}${spanEnd!}"
    ,"unitno":"${spanStart!}${rp.unitno!}${spanEnd!}"
    ,"qualityplanno":"${spanStart!}${rp.qualityplanno!}${spanEnd!}"
    ,"qualitynum":"${spanStart!}${rp.qualitynum!}${spanEnd!}"
    ,"materialtype":"${spanStart!}${rp.materialtype!}${spanEnd!}"
    ,"workpoint":"${spanStart!}${rp.workpoint!}${spanEnd!}"
    ,"plandate":"${spanStart!}${rp.plandate!}${spanEnd!}"
    ,"rccm":"${spanStart!}${rp.rccm!}${spanEnd!}"
    ,"consdate":"${spanStart!}${rp.consdate!}${spanEnd!}"
    ,"welder":"${spanStart!}${rp.welder!}${spanEnd!}"
    ,"worktime":"${spanStart!}${rp.worktime!}${spanEnd!}"
    ,"links":[
    	[#if have!="true"]
	    	[@ec_privilege_check uri="/baseservice/rollingplan/original/import"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?sIds=${rp.drawno!}:${rp.weldno!}', '确定导入这一项？')"
		    	,"icon":"icon-arrow-up"
		    	,"clz":"btn-success"
	    	},
	    	[/@ec_privilege_check]
    	[/#if]
    	
    	[#if rp.workSteps?? && rp.workSteps?size > 0]
	    	[@ec_privilege_check uri="/baseservice/rollingplan/original/workstep"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?drawno=${rp.drawno!}&weldno=${rp.weldno!}')"
		    	,"icon":"icon-cogs"
		    	,"clz":"btn-pink"
	    	},
	    	[/@ec_privilege_check]
    	[/#if]
    	{}
    	]
    }
    [#if rp_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
],
"recordsTotal": ${count!0},
"recordsFiltered": ${count!0}
}
[/@ec_rollingPlan_original]