[@ec_expire_notice 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    [#if p.releaseDate??]
    	,"releaseDate":"${p.releaseDate?string('yyyy-MM-dd HH:mm:ss')} 文件失效通知"
    [#else]
    	,"releaseDate":"-"
    [/#if]
    [#if p.askReturnDate??]
    	,"askReturnDate":"${p.askReturnDate?string('yyyy-MM-dd')}"
    [#else]
    	,"askReturnDate":"-"
    [/#if]
    ,"cancCode":"${p.cancCode!}"
    ,"drafter":"${p.drafter!}"
    ,"signer":"${p.signer!}"
    ,"links":[
    	[@ec_privilege_check uri="/baseservice/expire_notice/view"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});"
	    	,"icon":"icon-star"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_expire_notice]