﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:50px;
  width:200px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:71px;
  top:110px;
  width:370px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u6 {
  position:absolute;
  left:71px;
  top:94px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:260px;
  top:94px;
  width:26px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:70px;
  top:140px;
  width:370px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u11 {
  position:absolute;
  left:70px;
  top:124px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:262px;
  top:124px;
  width:8px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:71px;
  top:203px;
  width:370px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u16 {
  position:absolute;
  left:71px;
  top:187px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:259px;
  top:187px;
  width:149px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:70px;
  top:172px;
  width:370px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u21 {
  position:absolute;
  left:70px;
  top:156px;
  width:53px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:260px;
  top:156px;
  width:19px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:71px;
  top:234px;
  width:370px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u26 {
  position:absolute;
  left:71px;
  top:218px;
  width:92px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:262px;
  top:218px;
  width:140px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:70px;
  top:264px;
  width:370px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u31 {
  position:absolute;
  left:70px;
  top:248px;
  width:52px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:264px;
  top:248px;
  width:19px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:70px;
  top:296px;
  width:370px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u36 {
  position:absolute;
  left:70px;
  top:280px;
  width:79px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:265px;
  top:280px;
  width:172px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:69px;
  top:326px;
  width:370px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u41 {
  position:absolute;
  left:69px;
  top:310px;
  width:92px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:265px;
  top:310px;
  width:58px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:90px;
  top:376px;
  width:291px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u46 {
  position:absolute;
  left:63px;
  top:346px;
  width:44px;
  height:44px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:114px;
  top:360px;
  width:79px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
