<div class="easyui-layout" data-options="fit:true" style="width: 600px;height: 750px;">
	<div data-options="region:'center',border:false,split:true">
		<div class="EC-right-content">
		    <h2 class="EC-title-1">当前位置:<i class="icon-user EC-icon-layout"></i>[@EC.location /]</h2>
		        <div id="rdSourceToolBar" class="datagrid-toolbar" style="padding: 5px;">
		            <table cellspacing="0" cellpadding="0">
		                <tr>
		                [@ec_privilege_check uri="/rd/source/add"]
		                    <td><a href="javascript:void(0);" onclick="openDialog('${path!}/rd/source/add','新建','icon-add');" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新建</a></td>
		                    <td><div class="datagrid-btn-separator"></div></td>
		                    [/@ec_privilege_check]
		                    [@ec_privilege_check uri="/rd/source/edit"]
		                    <td><a href="javascript:void(0);" onclick="editDialog('#rdSourceTable','${path!}/rd/source/edit','编辑','icon-edit');" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a></td>
		                    <td><div class="datagrid-btn-separator"></div></td>
		                    [/@ec_privilege_check]
		                    [@ec_privilege_check uri="/rd/source/delete"]
		                    <td><a href="javascript:void(0);" onclick="delDialog('#rdSourceTable','${path!}/rd/source/delete');" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a></td>
		                    <td><div class="datagrid-btn-separator"></div></td>
		                    [/@ec_privilege_check]
		                    <td><a href="javascript:void(0);" onclick="refreshData('#rdSourceTable','${path}/rd/source');" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">刷新</a></td>
		                </tr>
		            </table>
		        </div>
		        <table id="rdSourceTable" title="文件来源列表" class="easyui-datagrid"
		        data-options="
		        	singleSelect:false
		        	,method:'post'
			        ,url:'${path}/rd/source'
			        ,iconCls:'icon-log'
			        ,fitColumns:true
			        ,pagination:false
			        ,pageSize:20
			        ,toolbar:'#rdSourceToolBar'
			        ,onLoadSuccess:function(data){
			        	if(data.total == 0){
			        		$('#rdSourceTable').datagrid('appendRow',{
			        			id: '没有记录'
			        		});
			        		$('#rdSourceTable').datagrid('mergeCells',{
			        			index: 0,
			        			field: 'id',
			        			colspan:2
			        		});
			        	}
			        },onLoadError:function(){
			        	$.messager.alert('载入数据错误!','error');
			        }">
		            <thead>
		                <tr>
		                    <th data-options="field:'aid',checkbox:true">ID</th>
		                    <th data-options="field:'id',width:100,align:'center',sortable:true,styler:tdPadding">序号</th>
		                    <th data-options="field:'source',width:100,align:'center',sortable:true">来源名称</th>
		                </tr>
		            </thead>
		            
		        </table>
		</div>
	</div>
</div>