<script type="text/javascript">
	$(function() {
		$('#rdTaskTable').datagrid({
			singleSelect : true,
			method : 'post',
			url : '${path}/rd/post/task',
			fitColumns : true,
			pagination : true,
			pageSize : 20,
			toolbar : '#rdTaskToolBar',
			onLoadSuccess : function(data) {
				if (data.total == 0) {
					$('#rdTaskTable').datagrid('appendRow', {
						id : '没有记录'
					});
					$('#rdTaskTable').datagrid('mergeCells', {
						index : 0,
						field : 'id',
						colspan : $("#rdTaskTable").find("tr").eq(0).find("th").length
					});
				}
			},
			onLoadError : function() {
				$.messager.alert('载入数据错误!', 'error');
			},
			rowStyler : function(index, row) {
				if (row.complete == 1) {
					return 'background-color:#EFF7FE;';
				} else if (row.statusCode == 1) {
					return 'background-color:#FFF4D0;';
				} else if (row.statusCode == 0) {
					return 'background-color:#FFC0CB;';
				}
			}
		});
	});
</script>
[#--
<div class="easyui-panel" data-options="title:'查询信息',iconCls:'icon-search',plain:true" style="margin-bottom: 20px;">
	<div class="EC-search-pannel EC-fieldset">
		<form id="privilegeSearchForm" method="post" action="${path}/rd/post/task">
			<label>文件名:</label><input type="text" name="filename" class="EC-form-input" />
			<label>URI:</label><input type="text" name="uri" class="EC-form-input" />
			<a href="javascript:void(0);" onclick="submitReq(this);" class="btn easyui-linkbutton" iconCls="icon-search">搜索</a>
		</form>
	</div>
</div>
--]
<div id="rdTaskToolBar" class="datagrid-toolbar" style="padding: 5px;">
	<table cellspacing="0" cellpadding="0">
		<tr>
			<td><a href="javascript:void(0);"
				onclick="refreshData('#rdTaskTable','${path}/rd/post/task');"
				class="easyui-linkbutton"
				data-options="iconCls:'icon-reload',plain:true">刷新</a></td>
		</tr>
	</table>
</div>
<table id="rdTaskTable" title="我发起的事项" class="easyui-datagrid">
	<thead>
		<tr>
			<th data-options="field:'id',width:20,align:'center',sortable:true,styler:tdPadding">序号</th>
			<th data-options="field:'filename',width:100,align:'center',sortable:true">文件名称</th>
			<th data-options="field:'fileNumber',width:100,align:'center',sortable:true">文件号</th>
			<th data-options="field:'source',width:100,align:'center',sortable:true">文件来源</th>
			<th data-options="field:'type',width:100,align:'center',sortable:true">文件类型</th>
			<th data-options="field:'username',width:100,align:'center',sortable:true">发起人</th>
			<th data-options="field:'taskName',width:100,align:'center',sortable:true">进展</th>
			<th data-options="field:'assignee',width:100,align:'center',sortable:true">处理人</th>
			<th data-options="field:'createDate',width:100,align:'center',sortable:true">开始时间</th>
			<th data-options="field:'endDate',width:100,align:'center',sortable:true">结束时间</th>
			<th data-options="field:'status',width:100,align:'center',sortable:true">状态</th>
		</tr>
	</thead>

</table>
