<script type="text/javascript">
	$(document).ready(function() {
		//进行表单验证
		var $form = $('#rdTypeForm');		var url = $form.attr("action");    // // var params = $form.serialize();
		// // url += "?" + params;
        var $btn = $form.find("a.btn").eq(0);
		$form.form({
		  url:url,
    		onSubmit: function(){
    		//进行表单验证
        		var isValid = $form.form('validate');       
        		if(isValid){
        		    disableBtn($btn);
        		}
                return isValid; // 返回false,将阻止表单提交 
    		},
		  success:function(data){
        	   enableBtn($btn);
        	   if(data){
        		   refreshData('#rdTypeTable','${path}/rd/type');
			      $.messager.alert('修改成功', "修改成功");
        	   }else{
			      $.messager.alert('添加失败', "添加失败", 'error');
        	   }
		  }
		});	}); 
</script>
<!-- 内容区 开始 -->
<div class="EC-modal-content">
    <h2 class="EC-title-1"><span class="EC-form-tips">* 表示必填项</span></h2>
    <div class="EC-form-layout">
    [@rd_type id=form.id[0];type]
        <form action="${path}/rd/type/edit" method="post" id="rdTypeForm">
        <input type="hidden" name="id" value="${type.id!}">
            <table class="EC-form-table">
                <tbody>
                    <tr>
                        <td>文件类型名称:</td>
                        <td>
                        <input type="text" name="type" value="${type.type!}" class="EC-form-input easyui-validatebox" placeholder="类型名称" data-options="required:true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><a href="javascript:void(0);" onclick="submitReq(this);" class="btn easyui-linkbutton" iconCls="icon-ok">确定</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
	[/@rd_type]
    </div>
</div>
<!-- 内容区 结束 -->
