<script type="text/javascript">
$(function(){
	$("#moduleUpload").uploadify({
		//基本设置
		'swf'      : "${path}/resources/js/uploadify/uploadify.swf",
		'buttonClass'	: 'easyui-linkbutton',
		'buttonImage':'',
		'buttonText'	: '选择文件',
		'fileSizeLimit' : '5MB',	//文件大小限制
		'fileTypeExts' : "*.zip",//文件类型,格式为"*.*",若有多个格式以";"分割。例如:"*.jpg;*.gif"
		'queueID' :'uploadQueue', //显示队列的DIV
		'removeCompleted' : true,//上传成功后的文件，是否在队列中自动删除
		'preventCaching' : true,
		'auto'     : true, 
		multi: false,
		'width'			: 100,
		'height'		: 30,
		'line-height'	: 30,
		removeTimeout : 1,
		//服务器地址和方式设置
//		'checkExisting' : "${path}/rd/flowzip/upload;jsessionid=${sessionId!}?type=check",//检查上传文件是否存，触发的url，返回1/0
		'uploader' : "${path}/rd/flowzip/upload;jsessionid=${sessionId!}",
		'method'		: "post",
//		'formData' : formData,
		'onUploadError' : function(file, errorCode, errorMsg, errorString) {
			//若为-280为用户取消上传
			if(errorCode == "-280") {
				$.messager.alert("[" + file.name + "] 取消上传","info");
			}else{
				$.messager.alert('文件: <font color="#ff0000">[' + file.name + ']</font> 上传失败',
						'<font color="#ff0000">错误原因:</br> '
						+ "错误码 :" + errorCode + "</br>"
						+ "错误消息: " + errorMsg + "</br>"
						+ "错误描述 : " + errorString + "</br></font>","danger");
			}
			
		},
		//上传成功后触发的事件
		'onUploadSuccess': function(file,data,response) {
			 closeDialog();
			if(data=="true" && response) {
				$.messager.alert("[" + file.name + "] 上传成功","上传成功","info");
				 refreshData('#rdFlowzipTable','${path}/rd/flowzip');
			}else if(data == "false" && response) {
				//错误的参数
				$.messager.alert("[" + file.name + "] 上传失败","上传失败","warn");
			}
		}
	});
})

</script>
<div class="EC-modal-content">
    <div class="EC-form-layout">
    <h2>上传流程图压缩包文件为ZIP格式，文件大小不能大于5MB</h2>
	<div style="width: 100px;margin: 30px auto;">
		<a href="javascript:void(0);" id="moduleUpload" class="easyui-linkbutton" >上传文件</a>
	</div>
	<div id="uploadQueue"></div>
	</div>
</div>
