[#if (form.deploymentId[0])??]
<img src="${path}/rd/prodef/def?deploymentId=${form.deploymentId[0]}&type=img" />
[#elseif highLight??]
<style>
.location{
	position: absolute;
	left: ${highLight.x -3}px;
	top:${highLight.y - 3}px;
	border: 3px solid #ff0000;
	width:${highLight.width}px;
	height:${highLight.height}px;
	border-radius: 15px;
}
</style>
<div style="position: relative;">
	<img src="${path}/rd/receive/trace?deploymentId=${highLight.deploymendId}&type=img" />
	<div class="location"></div>
</div>
[#else]
文件丢失!
[/#if]