<style>
.task-menu-layout{
	margin: 50px;
}
.task-menu-wrap{
	display:block;
	float:left;
	margin: 5px 10px;
}
.task-menu {
	position: relative;
	display: block;
	height: 60px;
	width: 60px;
	overflow: hidden;
	padding: 5px;
	border-radius:5px;
	border: 1px solid #fff; 
}
.task-menu:hover,.task-menu-hover{
	border: 1px solid #D3E9FE; 
	background-color: #E5F2FE;
}
.task-menu-text{
    display: block;
    position: absolute;
	bottom: 5px;
    left: 0;
    text-align: center;
    width: 100%;
}
</style>
<!-- 内容区 开始 -->
<div class="EC-right-content">
	<h2 class="EC-title-1">当前位置:<i class="icon-user EC-icon-layout"></i>[@EC.location /]</h2>
	<div class="easyui-panel" data-options="title:'查看内容',iconCls:'icon-search'" style="margin-bottom: 20px;" >
		<div class="EC-search-pannel EC-fieldset" id="rdReceivePannel">
	    	[#include "menu_task_receive.html"/]
	    </div>
	</div>
	<div id="receiveDataView">
	[#include "list_task_receive.html"/]
	</div>
</div>
<!-- 内容区 结束 -->
