[@ec_rollingplan_conference_statistics
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	rollingPlanType = "${form.rollingPlanType!}"
	custom = "${form.custom!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
  	,"no":"${p_index+1}"
    [#if p.createdOn??]
    	,"createdOn":"${p.createdOn?string('yyyy-MM-dd')}"
    [#else]
    	,"createdOn":"-"
    [/#if]
    
    ,"total":"${p.total}"
    ,"links":[
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_rollingplan_conference_statistics]