[@EC.breadcrumbs/]

	<link rel="stylesheet" href="${path!}/resources/plugins/progress/css/style.css" />
    <script src="${path!}/resources/plugins/progress/js/prefixfree.min.js"></script>

                <div id="page-content" class="clearfix">

				<div id='finishData' align="center" class=".span12"></div> 				
					<script type="text/javascript">
[@ec_department pageable=0 queryType="list" filter="${form.filter!}";departments]
[#if departments??]					
					$(function(){
						var charts = new FusionCharts({
							type: "msstackedcolumn2dlinedy",
							renderAt: "finishData",
							width: "800",
							height: "400",
							dataFormat: "json",
							dataSource: {
							    "chart": {
							        "caption": "班组任务分配",
							        "subcaption": "",
							        "xAxisName": "班组",
							        "pYAxisName": "分段量",
							        "sYAxisName": "百分比 %",
							        "numberPrefix": "",
							        "numbersuffix": "",
							        "sNumberSuffix": "%",
							        "sYAxisMaxValue": "",
							        "paletteColors": "#5598c3,#2785c3,#31cc77,#1aaf5d,#f45b00",
							        "baseFontColor": "#333333",
							        "baseFont": "Helvetica Neue,Arial",
							        "captionFontSize": "14",
							        "subcaptionFontSize": "14",
							        "subcaptionFontBold": "0",
							        "showBorder": "0",
							        "bgColor": "#ffffff",
							        "showShadow": "0",
							        "canvasBgColor": "#ffffff",
							        "canvasBorderAlpha": "0",
							        "divlineAlpha": "100",
							        "divlineColor": "#999999",
							        "divlineThickness": "1",
							        "divLineDashed": "1",
							        "divLineDashLen": "1",
							        "divLineGapLen": "1",
							        "usePlotGradientColor": "0",
							        "showplotborder": "0",
							        "valueFontColor": "#ffffff",
							        "placeValuesInside": "1",
							        "showXAxisLine": "1",
							        "xAxisLineThickness": "1",
							        "xAxisLineColor": "#999999",
							        "showAlternateHGridColor": "0",
							        "legendBgAlpha": "0",
							        "legendBorderAlpha": "0",
							        "legendShadow": "0",
							        "legendItemFontSize": "10",
							        "legendItemFontColor": "#666666"
							    },
							    "categories": [
							        {
							            "category": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
											{
											    "label": "${d.name!}"
											},
		[/#list]
	[/#if]
[/#list]
							                {}
							            ]
							        }
							    ],
							    "dataset": [
							        {
							            "dataset": [
							                {
							                    "seriesname": "焊口－已完成",
							                    "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldHK";task]
				[#if task??]
									                        {
									                            "value": "${task.complate!}"
									                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
							                        {}
							                    ]
							                },
							                {
							                    "seriesname": "焊口－未完成",
							                    "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldHK";task]
				[#if task??]
									                        {
									                            "value": "${task.surplus!}"
									                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
						                        {}
							                    ]
							                }
							            ]
							        },
							        {
							            "dataset": [
							                {
							                    "seriesname": "支架－已完成",
							                    "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldZJ";task]
				[#if task??]
									                        {
									                            "value": "${task.complate!}"
									                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
													{}
							                    ]
							                },
							                {
							                    "seriesname": "支架－未完成",
							                    "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldZJ";task]
				[#if task??]
									                        {
									                            "value": "${task.surplus!}"
									                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
													{}
							                        ]
							                }
							            ]
							        }
							    ],
							    "lineset": [
							        {
							            "seriesname": "焊口完成率",
							            "showValues": "0",
							            "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldHK";task]
				[#if task??]
								                        {
								                            "value": "${task.percent!}%"
								                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
												{}
							            ]
							        },
							        {
							            "seriesname": "支架完成率",
							            "showValues": "0",
							            "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldZJ";task]
				[#if task??]
								                        {
								                            "value": "${task.percent!}%"
								                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
												{}
							            ]
							        }
							    ]
							}
						});
					charts.render();
					});
	[/#if]
[/@ec_department]
					</script>

                </div><!--/#page-content-->
