[@EC.breadcrumbs/]

	<link rel="stylesheet" href="${path!}/resources/plugins/progress/css/style.css" />
    <script src="${path!}/resources/plugins/progress/js/prefixfree.min.js"></script>

                <div id="page-content" class="clearfix">

				<div id='finishData' align="center" class=".span12"></div> 				
					<script type="text/javascript">
[@ec_department pageable=0 queryType="list" filter="${form.filter!}";departments]
[#if departments??]
					$(function(){
						var charts = new FusionCharts({
							type: "stackedcolumn3dlinedy",
							renderAt: "finishData",
							width: "800",
							height: "400",
							dataFormat: "json",
							dataSource: {
							    "chart": {
							        "caption": "完成量价格统计",
							        "subCaption": "",
							        "xAxisname": "班组",
							        "pYAxisName": "完成量",
							        "sYAxisName": "总价",
							        "numberPrefix": "",
							        "sNumberSuffix": "￥",
							        "sYAxisMaxValue": "",
							        "paletteColors": "#0075c2,#1aaf5d,#f2c500",
							        "bgColor": "#ffffff",
							        "borderAlpha": "20",
							        "showCanvasBorder": "0",
							        "usePlotGradientColor": "0",
							        "plotBorderAlpha": "10",
							        "legendBorderAlpha": "0",
							        "legendShadow": "0",
							        "legendBgAlpha": "0",
							        "valueFontColor": "#ffffff",
							        "showXAxisLine": "1",
							        "xAxisLineColor": "#999999",
							        "divlineColor": "#999999",
							        "divLineDashed": "1",
							        "showAlternateHGridColor": "0",
							        "subcaptionFontBold": "0",
							        "subcaptionFontSize": "14",
							        "showHoverEffect": "1"
							    },
							    "categories": [
							        {
							            "category": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
											{
											    "label": "${d.name!}"
											},
		[/#list]
	[/#if]
[/#list]
							                {}
							            ]
							        }
							    ],
							    "dataset": [
							        {
							            "seriesname": "焊口数",
							            "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldHK";task]
				[#if task??]
								                        {
								                            "value": "${task.complate!}"
								                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
							                {}
							            ]
							        },
							        {
							            "seriesname": "支架数",
							            "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskTeamStatistics id="${d.id!}" type="weldZJ";task]
				[#if task??]
								                        {
								                            "value": "${task.complate!}"
								                        },
				[/#if]
			[/@ec_taskTeamStatistics]
		[/#list]
	[/#if]
[/#list]
							                {}
							            ]
							        },
							        {
							            "seriesname": "价格",
							            "renderAs": "line",
							            "parentYAxis": "S",
							            "showValues": "0",
							            "data": [
[#list departments as dep]
   	[#if dep.children??]
   		[#list dep.children as d]
			[@ec_taskPriceStatistics id="${d.id!}";task]
				[#if task??]
								                        {
								                            "value": "${task.cost!}"
								                        },
				[/#if]
			[/@ec_taskPriceStatistics]
		[/#list]
	[/#if]
[/#list]
							                {}
							            ]
							        }
							    ]
							}
						});
					charts.render();
					});
	[/#if]
[/@ec_department]
					</script>

                </div><!--/#page-content-->

                <div id="ace-settings-container">
                    <div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
                        <i class="icon-cog"></i>
                    </div>
                    <div id="ace-settings-box">
                        <div>
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hidden">
                                    <option data-class="default" value="#438EB9">#438EB9</option>
                                    <option data-class="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-class="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-class="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; Choose Skin</span>
                        </div>
                        <div>
                            <input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" />
                            <label class="lbl" for="ace-settings-header"> Fixed Header</label>
                        </div>
                        <div>
                            <input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" />
                            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                        </div>
                    </div>
                </div><!--/#ace-settings-container-->