	<link rel="stylesheet" href="${path!}/resources/plugins/progress/css/style.css" />
    <script src="${path!}/resources/plugins/progress/js/prefixfree.min.js"></script>
                <div id="breadcrumbs">

                    <ul class="breadcrumb">

                        <li>
                            <i class="icon-home"></i><a href="#">首页</a><span class="divider"><i class="icon-angle-right"></i></span>
                        </li>

                        <li class="active">
                            工作台
                        </li>
                    </ul><!--.breadcrumb-->

                    <div id="nav-search">

                        <form class="form-search">

                            <span class="input-icon">
                                <input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..." />
                                <i id="nav-search-icon" class="icon-search"></i> </span>

                        </form>

                    </div><!--#nav-search-->

                </div><!--#breadcrumbs-->
                
                <div id="page-content" class="clearfix">

<script type="text/javascript">
$(document).ready(function() {
	$(".row-fluid a").click(function(){
		var target =  $(this).attr("href");
		var id = target.substr(1,target.length)
		$.post("${path!}/statistics/taskstatus",{date:$(this).attr("name"), category: id},function(result){
		    $(target).empty().append(result);
		});
	});
});
</script>
                </div><!--/#page-content-->
                
<div class="row-fluid">    
   <div class="span12">
		<div class="widget-box">
			<div class="widget-header" style="text-align: left;">
				<div class="widget-toolbar no-border">
					<ul class="nav nav-tabs" id="myTab">
						<li><a data-toggle="tab" href="#dateAfter" name="${taskStatusDate.after!}" >
								${taskStatusDate.after!}
								</a></li>
						<li class="active"><a data-toggle="tab" href="#dateCurrent"  name="${taskStatusDate.current!}" >
								${taskStatusDate.current!}
								</a></li>
						<li><a data-toggle="tab" href="#dateBefore" name="${taskStatusDate.before!}">
								${taskStatusDate.before!}
								</a></li>
						<li><a data-toggle="tab" href="#dateWeek"  name="${taskStatusDate.week!}">
								周
								</a></li>
						<li><a data-toggle="tab" href="#dateMonth"  name="${taskStatusDate.month!}">
								月
								</a></li>
						<li><a data-toggle="tab" href="#dateYear"  name="${taskStatusDate.year!}">
								年
								</a></li>
					</ul>
				</div>
			</div>
			<div class="widget-body">
			 <div class="widget-main padding-5">
				 <div class="tab-content" style="padding-left: 45px;">
				  <div id="dateAfter" class="tab-pane in active">
					[#include 'data/data_html_task_status.html']
				  </div>
				  <div id="dateCurrent" class="tab-pane">
					[#include 'data/data_html_task_status.html']
				  </div>
				  <div id="dateBefore" class="tab-pane">
					[#include 'data/data_html_task_status.html']
				  </div>
				  <div id="dateWeek" class="tab-pane">
					[#include 'data/data_html_task_status.html']
				  </div>
				  <div id="dateMonth" class="tab-pane">
					[#include 'data/data_html_task_status.html']
				  </div>
				  <div id="dateYear" class="tab-pane">
					[#include 'data/data_html_task_status.html']
				  </div>
				</div>
			 </div>
			</div>
		</div>
	</div>
</div>