	<link rel="stylesheet" href="${path!}/resources/plugins/progress/css/style.css" />
    <script src="${path!}/resources/plugins/progress/js/prefixfree.min.js"></script>
                <div id="breadcrumbs">

                    <ul class="breadcrumb">

                        <li>
                            <i class="icon-home"></i><a href="#">首页</a><span class="divider"><i class="icon-angle-right"></i></span>
                        </li>

                        <li class="active">
                            工作台
                        </li>
                    </ul><!--.breadcrumb-->

                    <div id="nav-search">

                        <form class="form-search">

                            <span class="input-icon">
                                <input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..." />
                                <i id="nav-search-icon" class="icon-search"></i> </span>

                        </form>

                    </div><!--#nav-search-->

                </div><!--#breadcrumbs-->
                <div id="page-content" class="clearfix">
                <div class="control-group">
                    <label class="control-label" style="display:inline;" for="teamId">选择班组:</label>
                    <select name="teamId" id="teamId">
                       	[@ec_department pageable=0 queryType="list" filter="${form.filter!}";departments]
                  		    [#list departments as dep]
                  		    	[#if dep.children??]
                  		    		[#list dep.children as d]
                  		    			<option value="${d.id!}">${d.name!}</option>
                        			[/#list]
								[/#if]
                     		[/#list]
                       [/@ec_department] 
					</select>
                </div>
<script type="text/javascript">
$(document).ready(function() {
	$("#teamId").change(function (){
		$.post("${path!}/statistics/taskgroup",{teamId:$(this).val()},function(result){
		    $("#taskGroup").empty().append(result);
		});
		
		return false;
	});
});
</script>
                <div class="row">
				<div class=".span6">
					<div id="taskGroup">
						[#include 'data/data_html_task_group.html']
					</div>
				</div>
				</div>
                </div><!--/#page-content-->

                <div id="ace-settings-container">
                    <div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
                        <i class="icon-cog"></i>
                    </div>
                    <div id="ace-settings-box">
                        <div>
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hidden">
                                    <option data-class="default" value="#438EB9">#438EB9</option>
                                    <option data-class="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-class="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-class="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; Choose Skin</span>
                        </div>
                        <div>
                            <input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" />
                            <label class="lbl" for="ace-settings-header"> Fixed Header</label>
                        </div>
                        <div>
                            <input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" />
                            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                        </div>
                    </div>
                </div><!--/#ace-settings-container-->