[@ec_material_type 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id}'/><span class='lbl'></span></label>"
    ,"materialTypeId":"${u.materialTypeId}"
    ,"no":"${u_index+1!}"
    ,"materialTypeName":"${u.materialTypeName!}"
    ,"links":[
    	[@ec_privilege_check uri="/baseservice/material_type/edit"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}'});"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	
    	[@ec_privilege_check uri="/baseservice/material_type/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_material_type]