<link rel="stylesheet" href="${path}/resources/plugins/plupload/js/jquery.plupload.queue/css/plupload-gebo.css" />
    
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>上传工序信息</h4>
                </div>
                <form class="form-horizontal" action="${path}/baseservice/rollingplan/workstep/import" method="post" id="addworkStepImport" style="display: none;" >
	                <div class="modal-body">
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                    <button type="submit" class="btn btn-primary" data-loading-text="正在上传..."><i class="icon-ok"></i>上传</button>
	                </div>
                </form>
                <div id="multi_upload" class="gebo-upload" style="font-size: 14px;">You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</div>
			   	<label style="width: 400px !important; color: red; font-size: 14px;" id="uploadTip"></label>
                <hr/>
            </div>
        </div>
        
<script type="text/javascript" src="${path}/resources/plugins/plupload/js/plupload.full.js"></script>
<script type="text/javascript" src="${path}/resources/plugins/plupload/js/jquery.plupload.queue/jquery.plupload.queue.full.js"></script>
<script type="text/javascript" src="${path}/resources/plugins/plupload/js/i18n/zh_CN.js"></script>
        
<script type="text/javascript">
var filesNumber = 0;
var maxNumber = 10;
			
$(document).ready(function () {
	$("#multi_upload").pluploadQueue({
		runtimes : 'html5,gears,flash,silverlight,browserplu',
		url : '${path}/baseservice/rollingplan/workstep/import',
		max_file_size : '5mb',
		unique_names : true,
		urlstream_upload: true,

		filters : [{title : "Excel", extensions : "xlsx,xls"}],

		flash_swf_url : 'plugins/plupload/js/plupload.flash.swf',
		silverlight_xap_url : 'plugins/plupload/js/plupload.silverlight.xap',
		
		init : {
			FilesAdded: function(up, files) {
				filesNumber = up.files.length;
				if (filesNumber > maxNumber){
					$(".plupload_file_name").hide();
					$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
				} else {
					$(".plupload_file_name").show();
					$("#uploadTip").html("");
				}
			},
	
			FilesRemoved: function(up, files) {
				filesNumber = up.files.length;
				if (filesNumber > maxNumber){
					$(".plupload_file_name").hide();
					$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
				} else {
					$(".plupload_file_name").show();
					$("#uploadTip").html("");
				}
			},
			
			FileUploaded: function(up, file, info) {
				alert(info.response);
			},
			
			UploadComplete: function(up, file) {
				$("#uploadTip").html("");
			},
			
			StateChanged: function(up) {
				if (up.state == plupload.STARTED){
					$("#uploadTip").html("正在上传文件到服务器......");
				}
			}
		}
	});
});

	$(function(){
		formValidtor.modalValid({
			handler:"#addworkStepImport"
		})
	}); 
</script>
    </div>
