    <!-- Edit Price Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>编辑工序信息</h4>
                </div>
                [@ec_workStep id=form.id;ws]
                <form class="form-horizontal" action="${path}/baseservice/rollingplan/workstep/edit" method="post" id="editWorkStep" >
                <input type="hidden" name="id" value="${ws.id!}" />
                       <div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="stepno">步骤号:</label>
						<div class="controls">
							<input type="text" name="stepno" id="stepno" placeholder=""  value="${ws.stepno!}"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="stepname">步骤名:</label>
						<div class="controls">
							<input type="text" name="stepname" id="stepname" placeholder=""  value="${ws.stepname!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeaqc1">通知点A-QC1:</label>
						<div class="controls">
							<input type="text" name="noticeaqc1" id="noticeaqc1" placeholder="" value="${ws.noticeaqc1!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeaqc2">通知点A-QC2:</label>
						<div class="controls">
							<input type="text" name="noticeaqc2" id="noticeaqc2" placeholder="" value="${ws.noticeaqc2!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeaqa">通知点A-QA:</label>
						<div class="controls">
							<input type="text" name="noticeaqa" id="noticeaqa" placeholder="" value="${ws.noticeaqa!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticeb">通知点B:</label>
						<div class="controls">
							<input type="text" name="noticeb" id="noticeb" placeholder="" value="${ws.noticeb!}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticec">通知点C:</label>
						<div class="controls">
							<input type="text" id="noticec" name="noticec"  value="${ws.noticec!}"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="noticed">通知点D:</label>
						<div class="controls">
							<input type="text" id="noticed" name="noticed"  value="${ws.noticed!}"/>
						</div>
					</div>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">保存</button>
                </div>
                </form>
                [/@ec_workStep]
            </div>
<script type="text/javascript">
$(function() {
	formValidtor.modalValid({
		handler : "#editWorkStep",
		rules : {
			stepno: {
				required : true
				,digits : true
				,maxlength:20
			},
			stepname : {
				required : true
				,maxlength:20
			}
		}
	})
});
</script>
        </div>
    </div>

