    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="upload">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="widget-header">
				<h5 class="bigger lighter">上传文件</h5>
				<div class="widget-toolbar">
					<a href="#" data-dismiss="modal"><i class="icon-remove"></i></a>
				</div>
			</div>
                <div class="widget-body">
				<div class="widget-main padding-18">
					上传的文件将在这里显示
				</div>
				<div class="widget-toolbox">
					<div class="btn-toolbar">
						<div class="btn-group">
						[@EC.upload 
                        	url="${path}${AUTH_MENU.privilege.uri!}"
                        	buttonText="${AUTH_MENU.name}" 
							buttonClass="btn btn-small btn-success"
                        /]
							<button class="btn btn-small btn-info"><i class="icon-cloud-upload"></i> 添加文件</button>
						</div>
					</div>
				</div>
				
			</div>
            </div>
        </div>
    </div>
