  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="width: 90%;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
			    <div class="widget-header">
					<h5 class="lighter">流程图</h5>
					<div class="widget-toolbar">
						<a href="#" data-dismiss="modal"><i class="icon-remove"></i></a>
					</div>
				</div>
	            <div class="widget-body">
		            <div class="modal-body"> 
							<div class="widget-main padding-18">
								[#if (form.deploymentId[0])??]
								<img src="${path}/workflow/prodef/def?deploymentId=${form.deploymentId[0]}&type=img" />
								[#elseif highLight??]
								<div style="position: relative;">
									<img src="${path}/workflow/receive/trace?deploymentId=${highLight.deploymendId}&type=img" />
									<div style="position: absolute;
									left: ${highLight.x -3}px;
									top:${highLight.y - 3}px;
									border: 3px solid #ff0000;
									width:${highLight.width}px;
									height:${highLight.height}px;
									border-radius: 15px;" ></div>
								</div>
								[#else]
								文件丢失!
								[/#if]
							</div>
					</div>
		        </div>
            </div>
        </div>
    </div>

