﻿[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>安全文明施工</h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">安全问题列表</h4>
                    <div class="widget-toolbar">
                    	<div class="btn-group">
							<button class="btn btn-small btn-info dropdown-toggle"
								data-toggle="dropdown">
								状态<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="min-width: 65px;" role="menu">
								<li><a href="javascript:dataTable.reload('problemStatus=', true);">所有</a></li>
								<li><a href="javascript:dataTable.reload('problemStatus=Need_Handle', true);">待审核</a></li>
								<li><a href="javascript:dataTable.reload('problemStatus=Renovating', true);">待整改</a></li>
								<li><a href="javascript:dataTable.reload('problemStatus=Need_Check', true);">待核实</a></li>
								<li><a href="javascript:dataTable.reload('problemStatus=None', true);">已关闭</a></li>
								<li><a href="javascript:dataTable.reload('problemStatus=Finish', true);">已结束</a></li>
							</ul>
						</div>
                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="dataTable.refresh();">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="pualityProblemTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"><label>
                                        <input type="checkbox" onclick="checkAll(this);"/>
                                        <span class="lbl"></span></label>
                                    </th>
                                    <th>序号</th>
                                    <th>标题</th>
                                    <th>机组</th>
                                    <th>厂房</th>
                                    <th>标高</th>
                                    <th>房间号</th>
                                    <th>责任部门</th>
                                    <th>责任班组</th>
                                    <th>问题描述</th>
                                    <th>创建时间</th>
                                    <th>当前状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		dataTable.initTable({
			"serverSide": true,
			"tableID":"#pualityProblemTable",
			'bSort':false,
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			"bFilter" : false,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },{"data":"no"},
			            {
			    		  "data":"problemTitle"
			            },
			            {
			    		  "data":"unit"
			            },
			            {
			    		  "data":"wrokshop"
			            },
			            {
			    		  "data":"eleration"
			            },
			            {
			    		  "data":"roomno"
			            },
			            {
			    		  "data":"responsibleDept"
			            },
			            {
				    	  "data":"responsibleTeam"
				        },
			            {
					      "data":"description"
					    },
					    {
						  "data":"createDate"
						},
					    {
							  "data":"problemStatus"
							},
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}"
		});
	})
</script>
