﻿[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>创建安全问题</h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
              <form class="form-horizontal" action="${path}/hd/hseproblem/add" method="post" id="createHseProblem" >
              <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
              <div class="modal-body">
              [#if resultData??]
                  <div class="control-group">
                      <label class="control-label" for="code1Id">标题:</label>
                      <div class="controls">
                      	<select id="code1Id" name="code1Id" class="form-control">
                      	[#if (resultData.codeLevel1)?? && (resultData.codeLevel1?size > 0)]<option value=''>--请选择--</option>
                      		[#list resultData.codeLevel1 as w]
                      		<option value='${w.id}'>${w.codeDesc}</option>
                      		[/#list]
                      	[/#if]
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="code2Id">二级编码:</label>
                      <div class="controls">
                      	<select id="code2Id" name="code2Id" class="form-control">
                      		<option value=''>--请选择--</option>
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="code3Id">隐患描述:</label>
                      <div class="controls">
                      	<select id="code3Id" name="code3Id" class="form-control">
                      		<option value=''>--请选择--</option>
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="unit">机组:</label>
                      <div class="controls">
                      	<select id="unit" name="unit" class="form-control">
                      	[#if (resultData.unit)?? && (resultData.unit?size > 0)]
                      		[#list resultData.unit as u]
                      		<option value='${(u?split(","))[0]}'>${(u?split(","))[0]}</option>
                      		[/#list]
                      	[/#if]
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="wrokshop">厂房:</label>
                      <div class="controls">
                      	<select id="wrokshop" name="wrokshop" class="form-control">
                      	[#if (resultData.wrokshop)?? && (resultData.wrokshop?size > 0)]<option value=''>--请选择--</option>
                      		[#list resultData.wrokshop as w]
                      		<option value='${(w?split(","))[0]}'>${(w?split(","))[0]}</option>
                      		[/#list]
                      	[/#if]
                      	</select>
                      </div>
                  </div>
                  
                  <div class="control-group">
                      <label class="control-label" for="roomno">房间号:</label>
                      <div class="controls">
                      	<select id="roomno" name="roomno" class="form-control">
                      		<option value=''>--请选择--</option>
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="eleration">标高:</label>
                      <div class="controls">
                      	<select id="eleration" name="eleration" class="form-control">
                      		<option value=''>--请选择--</option>
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleDeptId">责任部门:</label>
                      <div class="controls">
                          <select id="responsibleDeptId" name="responsibleDeptId" class="form-control">
                      	[#if (resultData.responsibleDept)?? && (resultData.responsibleDept?size > 0)]
                      		[#list resultData.responsibleDept as rd]
                      		<option value='${(rd.deptId)!}'>${(rd.deptName)!}</option>
                      		[/#list]
                      	[/#if]
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleTeamId">责任班组:</label>
                      <div class="controls">
                          <select id="responsibleTeamId" name="responsibleTeamId" class="form-control">
                      	[#if (resultData.responsibleTeam)?? && (resultData.responsibleTeam?size > 0)]
                      		[#list resultData.responsibleTeam as rt]
                      		<option value='${(rt.deptId)!}'>${(rt.deptName)!}</option>
                      		[/#list]
                      	[/#if]
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="description">问题描述:</label>
                      <div class="controls">
                      	<textarea name="description" id="description" placeholder="" rows="" cols=""></textarea>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="file">问题照片:</label>
                      <div class="controls">
                          <input type="file" name="file" id="file" placeholder=""/>
                      </div>
                  </div>
               [#else]
               	<div class="control-group text-danger">
               		<h2><small>服务器内部错误：数据异常!</small></h2>
               	</div>
               [/#if]
              </div>
              <div class="modal-footer">
                  <button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
              </div>
              </form>
         </div>
    </div>
    <script type="text/javascript">

    [#if (resultData.codeLevel23)?? && (resultData.codeLevel23?size > 0)]
    var cl23=[];
		[#list resultData.codeLevel23 as w]
		cl23[cl23.length]={'id':'${w.id}','pid':'${w.parentId}','codeDesc':'${w.codeDesc}'}; 
		[/#list]
	[/#if]
	//房间号和标高供选项
    [#if (resultData.roomLevel)?? && (resultData.roomLevel?size > 0)]
    var rl=[];
		[#list resultData.roomLevel as w]
		rl[rl.length]={'room':'${w.room}','level':[
			[#if w.level?? && (w.level?size > 0)]
			[#list w.level as u][#if (u)??]'${u}',[/#if][/#list][/#if]
		                                           ]}; 		
		[/#list]
	[/#if]
		//获取二级编码
		$("#code1Id").on('change',function(){
			var id = $("#code1Id").val();
			$("#code3Id").html('');
			$("#code2Id").html('');
			$("#code2Id").append("<option value='''>--请选择--</option>");
			$.each(cl23, function(index, n){
				if(n.pid==id){
					$("#code2Id").append("<option value="+n.id+">"+n.codeDesc+"</option>");
				}
			});
		});
		//获取隐患描述
		$("#code2Id").on('change',function(){
			var id = $("#code2Id").val();
			$("#code3Id").html('');
			$("#code3Id").append("<option value='''>--请选择--</option>");
			$.each(cl23, function(index, n){
				if(n.pid==id){
					$("#code3Id").append("<option value="+n.id+">"+n.codeDesc+"</option>");
				}
			});
		});
		$("#wrokshop").on('change',function(){
			var id = $("#wrokshop").val();
			$("#roomno").html('');
			$("#roomno").append("<option value='''>--请选择--</option>");
			$("#eleration").html('');
			$("#eleration").append("<option value='''>--请选择--</option>");
			$.each(rl, function(index, n){
				if(n.room!=null && n.room.indexOf(id)!=-1){
					$("#roomno").append("<option value="+n.room+">"+n.room+"</option>");

					if(index==0){
						$("#eleration").append("<option value='''>--请选择--</option>");
						$.each(n.level, function(index2, res2){
							$("#eleration").append("<option value="+res2+">"+res2+"</option>");
						});
					}
				}
			});
		});

		//房间号切换设置标高
		$("#roomno").on('change',function(){
			var id = $("#roomno").val();
			$("#eleration").html('');
			$.each(rl, function(index, res){
				if(res.room==id){
					$("#eleration").append("<option value='''>--请选择--</option>");
					$.each(res.level, function(index2, res2){
						$("#eleration").append("<option value="+res2+">"+res2+"</option>");
					});
				}
			});
		});
	$(document).ready(function () {
		$("#createHseProblem").validate({
			rules:{
				code1Id:{
					required: true,
				},
				code2Id:{
					required: true,
				},
				code3Id:{
					required: true,
				},
				unit:{
					required: true,
				},
				wrokshop:{
					required: true,
				},
				eleration:{
					required: true,
				},
				roomno:{
					required: true,
				},
				responsibleDeptId:{
					required: true,
				},
				description:{
					required: true,
				},
				file:{
					required: true,
					accept: ["jpg", "png", "gif"]
				}
        	},
			submitHandler:function(form){
				doUpload(form);
			}
		});
	});
	
	//上传表单数据及图片
	function doUpload(form) {
	     var formData = new FormData($(form)[0]);  
	     $.ajax({  
	          url: $(form).attr('action'),  
	          type: 'POST',  
	          data: formData,  
	          async: false,  
	          cache: false,  
	          contentType: false,  
	          processData: false,  
	          success: function (data) {  
	              if(data == 'true'){
	            	  loadFile('${path}/hd/hseproblem?_'+getTime());
	              }else{
						tips.error("操作失败！");
	              }
	          }
	     });  
	}
	
	//获取责任部门下属班组
	$("#responsibleDeptId").on('change',function(){
		var id = $("#responsibleDeptId").val();
		$.ajax({
			url : '${path}/hdxt/api/department/deptList',
			data : {'loginId':'${user.id}','parentId':id},
			type : 'get',
			success : function(data) {
				var result = $.parseJSON(data);
				if(result.code='1000'){
					$("#responsibleTeamId").empty();
					$("#responsibleTeamId").append("<option value='''>--请选择--</option>");
					$.each(result.responseResult, function(index, res){
						$("#responsibleTeamId").append("<option value="+res.id+">"+res.name+"</option>");
					});
				}else{
					$("#responsibleTeamId").empty();
				}
			}
		});
	});
	
	</script>
</div>

