
    <div class="modal" id="assginFormModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>执行分派</h4>
                </div>
                <form class="form-horizontal" action="${path}/hdxt/api/question/assign" method="post" id="assginForm" >
                <input type="hidden" name="questionId" value="${questionId!}" />
                <input type="hidden" name="loginId" value="${user.id}" />
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="designatedUserId">选择处理人:</label>
                            <div class="controls">
	                            <select id="designatedUserId" name="designatedUserId" class="form-control">
                				[#if (userList)?? && (userList?size > 0)]
	                				[#list userList as u]
		                            	<option value='${(u.id)!}'>${(u.realname)!}</option>
	                            	[/#list]
                 				[/#if]
	                            </select>
                            </div>
					</div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#assginForm").validate({
			rules : {
				designatedUserId : {
					required : true,
				}
			},
			submitHandler : function(form) {
				$.ajax({
					url : $(form).attr('action'),
					data : $(form).serialize(),
					type : 'post',
					dataType : 'json',
					success : function(data) {
						 $.parseJSON(data);
						if (data.responseResult) {
							modal.close();
							tips.success(data.message);
							loadFile('${path}/hd/workstep/question/detail?qid=${questionId!}');
						} else {
							modal.close();
							tips.error(data.message);
						}
					}
				});
			}
		});
	});
	
</script>
        </div>
    </div>

