[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>问题详情</h1>
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
			<form class="form-horizontal" action="${path}/baseservice/material_type/edit" method="post" id="detailProblem">
			<div class="modal-body" style="height:100%;">
			<label id="tips" style="margin-left:30px; float: center;color: red;"></label>
			[#if questionResult??]
				<input type="hidden" name="id" value="${questionResult.id!}" />
				[#if (questionResult.designee.realname)??]
					<div class="control-group">
						<label class="control-label" for="describe">指派给:</label>
						<div class="controls">
							<p class="form-control"><font color="red"><strong>${questionResult.designee.realname!}</strong></font></p>
						</div>
					</div>
				[/#if]
				
					<div class="control-group">
						<label class="control-label" for="questionType">问题类型:</label>
						<div class="controls">
							[#if (questionResult.questionType) == 'technicalMatters']
								[#assign questionType = '技术问题']
							[#elseif (questionResult.questionType) == 'coordinationProblem']
								[#assign questionType = '协调问题']
							[#elseif (questionResult.questionType) == 'resourceMatters']
								[#assign questionType = '物资问题']
							[/#if]
							<input type="text" value="${questionType!}" name="questionType"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="describe">问题描述:</label>
						<div class="controls">
							<textarea rows="3" cols="10" name="describe" placeholder=""
								id="describe" disabled="disabled"
								draggable="false" style="width: 400px;">${questionResult.describe!}</textarea>
						</div>
					</div>
					[#if (questionResult.files)?? && (questionResult.fileSize)>0]
					<div class="control-group">
						<label class="control-label" for="describe">问题照片:</label>
						<div class="controls">
						[#list questionResult.files as f]
						<div style="margin-top:5px;width:300px;height:200px;overflow: hidden;">
							<a href="#" class="thumbnail">
								<img class="pimg"  alt="${(f.fileName)!}" src="${path}${(f.path)!}" width="300" height="300">
							</a>
						</div>
						<div id="outerdiv"
								style="position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); z-index: 2; width: 100%; height: 100%; display: none;">
								<div id="innerdiv" style="position: absolute;">
									<img id="bigimg" style="border: 5px solid #fff;" src="" />
								</div>
							</div>
						[/#list]
						</div>
					</div>
					[/#if]
					[#if questionResult.unableReason??]
					<div class="control-group">
						<label class="control-label" for="describe">不能解决原因:</label>
						<div class="controls">
							<textarea rows="3" cols="10" name="describe" placeholder=""
								id="describe" disabled="disabled"
								draggable="false" style="width: 400px;">${questionResult.unableReason!}</textarea>
						</div>
					</div>
					[/#if]
					[#if (questionResult.feedback)?? && (questionResult.feedback?size>0)]
						[#list (questionResult.feedback) as feedback]
						<div class="control-group">
							<label class="control-label" for="questionname">问题反馈:</label>
							<div class="controls">
							<div class='col-sm-12'>
								<textarea rows="3" cols="10" name="describe" placeholder=""
									id="describe" disabled="disabled"
									draggable="false" style="width: 400px;">${feedback.describe!}</textarea>
							</div>
							[#if (feedback.files)??]
							[#list feedback.files as feedbackFile]
							<div style="margin-top:5px;width:300px;height:200px;overflow: hidden;">
							<a href="#" class="thumbnail">
								<img class="pimg" alt="${(feedbackFile.fileName)!}" src="${path}${(feedbackFile.path)!}" width="300" height="300">
							</a>
							</div>
							<div id="outerdiv"
								style="position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); z-index: 2; width: 100%; height: 100%; display: none;">
								<div id="innerdiv" style="position: absolute;">
									<img id="bigimg" style="border: 5px solid #fff;" src="" />
								</div>
							</div>

							[/#list]
							[/#if]
							<br>
							</div>
						</div>
						[/#list]
					[/#if]
					[#if (questionResult.rollingPlan)??]
					<div class="control-group">
						<label class="control-label" for="workListNo">作业条目编号:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.workListNo!}" name="workListNo"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="points">点数:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.points!}" name="points"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="unitNo">机组号:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.unitNo!}" name="unitNo"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="qualityplanno">质量计划号:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.qualityplanno!}" name="qualityplanno"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="drawingNo">图纸号:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.drawingNo!}" name="drawingNo"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="roomNo">房间号:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.roomNo!}" name="roomNo"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="projectNo">工程量编号:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.projectNo!}" name="projectNo"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="projectType">工程量类别:</label>
						<div class="controls">
							<textarea rows="3" cols="10" name="describe" placeholder=""
								id="projectType" disabled="disabled"
								draggable="false"  style="width: 400px;">${questionResult.rollingPlan.projectType!}</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="weldno">焊口/支架号:</label>
						<div class="controls">
							<input type="text" value="${questionResult.rollingPlan.weldno!}" name="weldno"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					[/#if]
					<div class="control-group">
						<label class="control-label" for="questionTime">提问时间:</label>
						<div class="controls">
							<input type="text" value="${questionResult.questionTime!}" name="questionTime"
								placeholder="" class="valid" readonly="readonly" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="status">问题状态:</label>
						    [#if questionResult.status == 'pre']
						    	[#assign questionStatus = '待解决']
						    [#elseif questionResult.status == 'undo']
						   		[#assign questionStatus = '待确认']
						    [#elseif questionResult.status == 'unsolved']
						    	[#assign questionStatus = '仍未解决']
						    [#elseif questionResult.status == 'solved']
						    	[#assign questionStatus = '已解决']
						    [#else]
						    	[#assign questionStatus = '-']
						    [/#if]
						<div class="controls">
							<p class="form-control"><font color="red"><strong>${questionStatus!}</strong></font></p>
						</div>
					</div>
					<div style="border:1px solid gray;">
					
                                       [#if questionResult.opList?? && (questionResult.opList?size > 0)]
							[#list questionResult.opList as u]	
							
							
                  <div class="control-group">
                      <label class="control-label" for="roomno" style="display:inline;">${(u.realname)!}</label>
                      <label class="control-label" for="roomno" style="display:inline;">${(u.createTime?string('yyyy-MM-dd HH:mm:ss'))!}</label>
                      <label class="control-label" for="roomno" style="display:inline;">${(u.statusName)!}</label>
                      <label class="control-label" for="roomno" style="display:inline;">${(u.reason)!}</label>
                  </div>
							
							[/#list][/#if]
					</div>
					<div class="modal-footer">
						<div class="control-group">
							<div class="controls">
							<button type="button" onclick="loadFile('${path}/hd/workstep/question')" class="btn btn-default">返回</button>
							[@ec_privilege_check uri="/hd/workstep/question/handle"]
								[#if questionResult.status == 'pre' || questionResult.status == 'unsolved']
								<button type="button" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${questionResult.id}'});" class="btn btn-success">处理</button>
								[/#if]
							[/@ec_privilege_check]
							[@ec_privilege_check uri="/hd/workstep/question/unable"]
								[#if questionResult.status == 'pre' || questionResult.status == 'unsolved' ]
								<button type="button" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${questionResult.id}'});" class="btn btn-warning">不能处理</button>
								[/#if]
							[/@ec_privilege_check]
							[@ec_privilege_check uri="/hd/workstep/question/assgin"]
								[#if (questionResult.status == 'pre')]
									[#if (questionResult.designee.realname??)]
									[#else]
									<button type="button" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${questionResult.id}'});" class="btn btn-primary">分派</button>								
									[/#if]
								[/#if]
							[/@ec_privilege_check]
							[@ec_privilege_check uri="/hd/workstep/question/detail"]
              	 				<button class="btn btn-info" onclick="loadFile('${path}${current_uri}?qid=${questionResult.id!}');">
    								<i class="icon-refresh"></i>刷新
								</button>
                        	[/@ec_privilege_check]
                        
							</div>
						</div>
					</div>
			[/#if]
			</div>
			</form>
        <div class="span12">
			<div class="modal-body">
			
							</div></div>
    </div>
</div>
</div>
<script>  
    $(function(){  
        $(".pimg").click(function(){  
            var _this = $(this);//将当前的pimg元素作为_this传入函数  
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);  
        });  
    });  

    function imgShow(outerdiv, innerdiv, bigimg, _this){  
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性  
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性  
      
            /*获取当前点击图片的真实大小，并显示弹出层及大图*/  
        $("<img/>").attr("src", src).load(function(){  
            var windowW = $(window).width();//获取当前窗口宽度  
            var windowH = $(window).height();//获取当前窗口高度  
            var realWidth = this.width;//获取图片真实宽度  
            var realHeight = this.height;//获取图片真实高度  
            var imgWidth, imgHeight;  
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放  
              
            if(realHeight>windowH*scale) {//判断图片高度  
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放  
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度  
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度  
                    imgWidth = windowW*scale;//再对宽度进行缩放  
                }  
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度  
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放  
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度  
            } else {//如果图片真实高度和宽度都符合要求，高宽不变  
                imgWidth = realWidth;  
                imgHeight = realHeight;  
            }  
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放  
              
            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距  
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距  
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性  
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg  
        });  
          
        $(outerdiv).click(function(){//再次点击淡出消失弹出层  
            $(this).fadeOut("fast");  
        });  
    }  
</script>
