<tr id="chooseMembers">
	<td>处理人员:</td>
	<td>
		[@ec_role id="${form.roleId[0]!}";r]
		[#if r??]
		[#assign users = r.users]
		[/#if]
		[#if users?? && (users?size > 0)]
		[#list users as u]
		<input type="radio" class="easyui-validatebox" name="userId" value="${u.id!}" id="${u.id!}"/><label for="${u.id!}">${u.username!}</label>
		[/#list]
		[#else]
		该岗位暂无人员
		[/#if]
		[/@ec_role]
	</td>
</tr>