<tr id="chooseRole">
	<td>处理岗位:</td>
	<td>
		[@ec_department id="${form.departmentId!}";d]
		[#list d.roles as r]
		<input type="checkbox" name="roleId" value="${r.id!}"/>${r.name!}
		[/#list]
		[/@ec_department]
	</td>
</tr>