	<link rel="stylesheet" href="${path!}/resources/plugins/progress/css/style.css" />
    <script src="${path!}/resources/plugins/progress/js/prefixfree.min.js"></script>
                <div id="breadcrumbs">

                    <ul class="breadcrumb">

                        <li>
                            <i class="icon-home"></i><a href="#">首页</a><span class="divider"><i class="icon-angle-right"></i></span>
                        </li>

                        <li class="active">
                            工作台
                        </li>
                    </ul><!--.breadcrumb-->

                    <div id="nav-search">

                        <form class="form-search">

                            <span class="input-icon">
                                <input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..." />
                                <i id="nav-search-icon" class="icon-search"></i> </span>

                        </form>

                    </div><!--#nav-search-->

                </div><!--#breadcrumbs-->
                <div id="page-content" class="clearfix">
                
<div class="row-fluid">    
   <div class="span12">
		<div class="widget-box transparent" >
			<div class="widget-header"  style="text-align: left;">
				<div class="widget-toolbar no-border">
					<ul class="nav nav-tabs" id="myTab2" >
						<li class="active"><a data-toggle="tab" href="#hyperbola" id="currentMonth">
								当月完成量
								</a></li>
						<li>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input id="startTime" type="text" class="EC-form-input EC-form-search Wdate" value="${taskStatusDate.before!}" name="startTime" readonly="readonly" 
						onkeydown="repeal(event);"
						onFocus="timePannel();"/> 
						<label style="display: inline-block;">到</label>
						<input id="endTime" type="text" class="EC-form-input EC-form-search Wdate" value="${taskStatusDate.current!}" name="endTime" readonly="readonly" 
						onkeydown="repeal(event);"
						onFocus="timePannel({min:'startTime'});"/>
						<a data-toggle="tab" href="#hyperbola" id="search" style="display: inline;">
								搜索
								</a></li>
					</ul>
				</div>
			</div>
			<div class="widget-body">
			 <div class="widget-main padding-5">
				 <div class="tab-content" style="padding-left: 45px;">
						<div id='finishData' align="center" class=".span12"></div> 
				</div>
			 </div>
			</div>
		</div>
	</div>
</div> 
 <br clear="all"/>               
 <br clear="all"/> 
 
 <script type="text/javascript">
$(document).ready(function() {
	$("#currentMonth").click(function(){
		var target =  $(this).attr("href");
		var id = target.substr(1,target.length)
		$.post("${path!}/statistics/hyperbola",{category: "currentMonth"},function(result){
		    $(target).empty().append(result);
		});
	});
	
	$("#search").click(function(){
		var target =  $(this).attr("href");
		var id = target.substr(1,target.length)
		$.post("${path!}/statistics/hyperbola",{startTime: $("#startTime").val(), endTime: $("#endTime").val(), category: "search"},function(result){
		    $(target).empty().append(result);
		});
	});
});
</script>              
                <!-- 双曲线 -->
                <div class="row">
				<div class=".span6" id="hyperbola">
					[#include 'data/data_html_task_hyperbola.html']
				</div>
				</div>
                </div><!--/#page-content-->
