
    <div class="modal" id="assignTeamModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>指派QC</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/quality/qcLeaderAssign" method="post" id="assignForm" >
                <input type="hidden" name="qcProblrmId" value="${qcProblemId!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="assignedId">QC:</label>
                            <div class="controls">
	                            <select id="assignedId" name="assignedId" class="form-control">
                				[#if (qcList)?? && (qcList?size > 0)]
	                				[#list qcList as q]
		                            	<option value='${(q.id)!}'>${(q.realname)!}</option>
	                            	[/#list]
                 				[/#if]
	                            </select>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
    $(document).ready(function(){
		$("#assignForm").validate({
			rules:{
				assignedId:{
					required: true,
				}
        	},
			submitHandler:function(form){
				$.ajax({
					url : $(form).attr('action'),
					data : $(form).serialize(),
					type : 'post',
					dataType : 'json',
					success : function(data) {
						if (data.responseResult) {
							modal.close();
							tips.success(data.message);
							loadFile('${path}/hd/quality/view?id=${qcProblemId!}');
						} else {
							modal.close();
							tips.error("操作失败！"+data.message);
						}
					}
				});
			}
		});
	}); 
</script>
        </div>
    </div>

