
    <div class="modal" id="assignTeamModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>关闭问题</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/quality/qcClose" method="post" id="assignForm" >
                <input type="hidden" name="qcProblrmId" value="${qcProblemId!}" />
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="note">备注:</label>
						<div class="controls">
							<textarea class="form-control" name="note" id="note" placeholder="请输入备注"
								rows="" cols=""></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="note">是否开启质量问题单:</label>
						<div class="controls">
							<select class="form-control" name="qualityFlag">
								<option value="false">否</option>
								<option value="true">是</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#assignForm").validate({
			rules : {
				note : {
					required : true,
				}
			},
			submitHandler : function(form) {
				$.ajax({
					url : $(form).attr('action'),
					data : $(form).serialize(),
					type : 'post',
					dataType : 'json',
					success : function(data) {
						if (data.responseResult) {
							modal.close();
							tips.success(data.message);
							loadFile('${path}/hd/quality/view?id=${qcProblemId!}');
						} else {
							modal.close();
							tips.error("操作失败！" + data.message);
						}
					}
				});
			}
		});
	});
</script>
        </div>
    </div>

