
    <div class="modal" id="assignTeamModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>确认问题</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/quality/qcConfirm" method="post" id="assignTeam" >
                <input type="hidden" name="id" value="${problemId!}" />
                <input type="hidden" name="responsibleDept" value="${responsibleDept!}" />
                <input type="hidden" name="responsibleTeam" value="${responsibleTeam!}" />
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="timelimit">整改期限:</label>
                        <div class="controls">
                            <input id="timelimit" name="timelimit" class="input-sm"  type="text" onFocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
    $(document).ready(function(){
		$("#assignTeam").validate({
			rules:{
				timelimit:{
					required: true,
				},
        	},
			submitHandler:function(form){
				$.ajax({
					url : $(form).attr('action'),
					data : $(form).serialize(),
					type : 'post',
					success : function(data) {
						if (data == 'true') {
							modal.close();
							tips.success("操作成功！");
							loadFile('${path}/hd/quality/view?id=${problemId!}');
						} else {
							modal.close();
							tips.error("操作失败！");
						}
					}
				});
			}
		});
	}); 
</script>
        </div>
    </div>

