
    <div class="modal" id="assignTeamModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>指派责任班组人员</h4>
                </div>
                <form class="form-horizontal" action="${path}/hd/quality/responsibilityLeaderAssign" method="post" id="assignForm" >
                <input type="hidden" name="qcProblrmId" value="${qcProblemId!}" />
                <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label" for="assignedId">责任班组人员:</label>
                            <div class="controls">
	                            <select id="assignedId" name="assignedId" class="form-control">
                				[#if (qcList)?? && (qcList?size > 0)]
	                				[#list qcList as q]
		                            	<option value='${(q.id)!}'>${(q.realname)!}</option>
	                            	[/#list]
                 				[/#if]
	                            </select>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="正在保存...">确认</button>
                </div>
                </form>
            </div>
<script type="text/javascript">
    $(document).ready(function(){
		$("#assignForm").validate({
			rules:{
				assignedId:{
					required: true,
				}
        	},
			submitHandler:function(form){
				$.ajax({
					url : $(form).attr('action'),
					data : $(form).serialize(),
					type : 'post',
					dataType : 'json',
					success : function(data) {
						if (data.responseResult) {
							modal.close();
							tips.success(data.message);
							loadFile('${path}/hd/quality/view?id=${qcProblemId!}');
						} else {
							modal.close();
							tips.error("操作失败！"+data.message);
						}
					}
				});
			}
		});
	});
    
  //初始化责任班组人员
    function getUserValToView(aUsers){
	  if(aUsers){
		  $.each(aUsers,function(xx,aUser){

		    	var ret = aUser.realname + " | ";
		    	if(aUser.roles!=null)
		    	$.each(aUser.roles,function(i,nd){
		    		ret += nd.name +" | ";
		    		if(nd.department){
		    			ret += nd.department.name ;
		    		}
		    	});
				$("#assignedId").append("<option value='"+aUser.id+"'>"+ret+"</option>");
		  });
	  }
    }
    $.ajax({
    		url : "${path}/hdxt/api/department/memberOfChild?loginId=${Session.user.id}&departmentId=${responsibilityDeptId}",
    		type : "get",
    		dataType:"json",
    		success : function(data) {
    			if (data && data.code=='1000') {
    				//第班层
    				var children1 = data.responseResult[0].children;
    				if(children1!=null)
    				$.each(children1,function(i,nd){
    					
    					var usr = getUserValToView(nd.users);
    					
    					if(nd.children!=null)
    					$.each(nd.children,function(j,nd2){
    						
    						var usr2 = getUserValToView(nd2.users);
    					
    					});
    					
    				});
    				

    			} else {
    			}
    		}
    	});

    
</script>
        </div>
    </div>

