﻿[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>创建质量问题</h1>
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
              <form name="form" class="form-horizontal" action="${path}/hd/quality/add" method="post" id="createQualityProblem" enctype="multipart/form-data">
              <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
              <div class="modal-body">
              	  <div class="control-group">
                      <label class="control-label" for="subitem">类别:</label>
                      <div class="controls">
	                      <select id="type" name="type" class="form-control">
	                      	<option value='PRODUCTP_ROTECTION'>成品保护</option>
	                      	<option value='CLEANLINESS'>清洁度</option>
	                      	<option value='SIGN'>标识</option>
	                      	<option value='ANTI_FOREIGN_BODY'>防异物</option>
	                      	<option value='INSTALL'>安装</option>
	                      	<option value='PRECUT'>预制</option>
	                      </select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="unit">机组:</label>
                      <div class="controls">
                        <select id="unit" name="unit" class="form-control">
	                      	<option value=''>--请选择--</option>
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="subitem">厂房:</label>
                      <div class="controls">
                          <select name="subitem" id="subitem" placeholder="">
	                      	<option value=''>--请选择--</option>
                          </select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="subitem">区域（选填）:</label>
                      <div class="controls">
                          <input type="text" name="area" id="area" placeholder="" maxlength="50"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="roomnum">房间号:</label>
                      <div class="controls">
                          <select name="roomnum" id="roomnum" placeholder="">
	                      	<option value=''>--请选择--</option>
                          </select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="floor">标高:</label>
                      <div class="controls">
                          <select name="floor" id="floor" placeholder="">
	                      	<option value=''>--请选择--</option>
                          </select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="system">系统（选填）:</label>
                      <div class="controls">
                          <input type="text" name="system" id="system" placeholder="" maxlength="50"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleDept">责任部门:</label>
                      <div class="controls">
                          <select id="responsibleDept" name="responsibleDept" class="form-control">
	                      	<option value=''>--请选择--</option>
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="responsibleTeam">责任班组:</label>
                      <div class="controls">
                        <select id="responsibleTeam" name="responsibleTeam" class="form-control">
                      	</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="problemDescription">问题描述:</label>
                      <div class="controls">
                      	<textarea name="problemDescription" id="problemDescription" placeholder="" rows="" cols="" maxlength="400"></textarea>
                      </div>
                  </div>
				  <div class="control-group">
						<label class="control-label" for="file">问题照片:</label>
						<div class="controls">
							<input type="file" name="file" id="file"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
              </div>
              </form>
         </div>
    </div>
    <script type="text/javascript">
  //初始化上报质量问题的选项
	var teamArr = null;
	var roomLevel = null;
	
	$(document).ready(function () {
		$("#createQualityProblem").validate({
			rules:{
				type:{
					required: true,
				},
				area:{
					required: false,
				},
				unit:{
					required: true,
				},
				subitem:{
					required: true,
				},
				floor:{
					required: true,
				},
				roomnum:{
					required: true,
				},
				responsibleDept:{
					required: true,
				},
				problemDescription:{
					required: true,
				},
				system:{required: false},
				file:{
					required: true,
					accept: ["jpg", "png", "gif"]
				}
        	},
			submitHandler:function(form){
				doUpload(form);
			}
		});
		
		$.ajax({
			url : "${path}/hdxt/api/hse/v2/createUI?loginId=${Session.user.id}",
			type : "get",
			dataType:"json",
			success : function(data) {
// 				console.log(data);
				if (data && data.code=='1000') {
					var unit = data.responseResult.unit;
					var workshop = data.responseResult.wrokshop;
					//workshop 是数组
					
					var deptArr = data.responseResult.responsibleDept;
					//责任部门　数组对象　对象　 deptId, deptName
					
					teamArr = data.responseResult.responsibleTeam;
					//责任班组　数据对象，对象　parentDeptId,deptId, deptName
					
					roomLevel = data.responseResult.roomLevel;
					//房间号　数组对象　对象　room ,level
					
					$.each(unit,function(i,nd){
						$("#unit").append("<option value='"+nd+"'>"+nd+"</option>");  
					});
					
					$.each(workshop,function(i,nd){
						$("#subitem").append("<option value='"+nd+"'>"+nd+"</option>");  
					});
					
					$.each(deptArr,function(i,nd){
						$("#responsibleDept").append("<option value='"+nd.deptId+"'>"+nd.deptName+"</option>");  
					});

				} else {
				}
			}
		});
		
		
	});
	//提交表单数据及图片
	function doUpload(form) {
	     var formData = new FormData($(form)[0]);  
	     $.ajax({  
	          url: $(form).attr('action'),  
	          type: 'POST',  
	          data: formData,  
	          async: false,  
	          cache: false,  
	          contentType: false,  
	          processData: false,  
	          success: function (data) {  
	              if(data == 'true'){
	            	  loadFile('${path}/hd/quality?_'+getTime());
	              }else{
						$.globalMessenger().post({
							message : "操作失败！",
							hideAfter : 3,
							type : 'error',
							showCloseButton : true
						});
	              }
	          }
	     });  
	} 
	//获取责任部门下属班组
	$("#responsibleDept").on('change',function(){
		var id = $("#responsibleDept").val();
		$("#responsibleTeam").html('');
		$("#responsibleTeam").append("<option value='''>--请选择--</option>");
		$.each(teamArr, function(index, res){
			if(res.parentDeptId==id){
				$("#responsibleTeam").append("<option value="+res.deptId+">"+res.deptName+"</option>");
			}
		});
	});
	//厂房切换设置房间号和标高
	$("#subitem").on('change',function(){
		var id = $("#subitem").val();
		$("#roomnum").html('');
		$("#floor").html('');
		$("#roomnum").append("<option value='''>--请选择--</option>");
		$.each(roomLevel, function(index, res){
			if(res.room.indexOf(id)!=-1){
				$("#roomnum").append("<option value="+res.room+">"+res.room+"</option>");

				if(index==0){
					$("#floor").append("<option value='''>--请选择--</option>");
					$.each(res.level, function(index2, res2){
						$("#floor").append("<option value="+res2+">"+res2+"</option>");
					});
				}
			}
		});
	});
	//房间号切换设置标高
	$("#roomnum").on('change',function(){
		var id = $("#roomnum").val();
		$("#floor").html('');
		$.each(roomLevel, function(index, res){
			if(res.room==id){
				$("#floor").append("<option value='''>--请选择--</option>");
				$.each(res.level, function(index2, res2){
					$("#floor").append("<option value="+res2+">"+res2+"</option>");
				});
			}
		});
	});
	</script>
</div>

