[@ec_rollingPlan 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	custom = "${form.custom!}"
	pageable= 0
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as rp]
    {
    "id":"<label><input type='checkbox' name='ids' value='${rp.id!}'/><span class='lbl'></span></label>"
    ,"ids":"${rp.id!}"
    ,"no":"${rp_index+1!}"
    ,"drawno":"${rp.drawno!}"
    ,"weldno":"${rp.weldno!}"
    ,"consdate":"${rp.plandate!}"
    
    [#if rp.consteam?? && rp.consteam != ""]
    	,"consteam":"${rp.consteamName!}"
    [#else]
     	,"consteam":"--未指派施工班组--"
    [/#if]
    
    [#if rp.consendman?? && rp.consendman != ""]
    	,"consendman":"${rp.consendmanName!}"
    [#else]
     	,"consendman":"--未指派施工组长--"
    [/#if]
    
    [#if rp.rollingplanflag?? && rp.rollingplanflag == 'PROBLEM']
    	,"isend":"处理中"
    [#else]
	    [#if rp.isend?? && rp.isend == 0]
	    	,"isend":"初始"
	    [#elseif rp.isend?? && rp.isend == 1]
	     	,"isend":"施工"
	    [#elseif rp.isend?? && rp.isend == 2]
	     	,"isend":"完成"
	    [#elseif rp.isend?? && rp.isend == 3]
	     	,"isend":"退回"
	    [#elseif rp.isend?? && rp.isend == 4]
	     	,"isend":"计划"
	    [#else]
	    	,"isend":"未知状态"
	    [/#if]
	 [/#if]
    
    ,"links":[
    	[#if rp.workSteps?? && rp.workSteps?size > 0]
	    	[@ec_privilege_check uri="/construction/mytask/view"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?autoidup=${rp.id!}')"
		    	,"icon":"icon-arrow-right"
		    	,"clz":"btn-warning"
	    	},
	    	[/@ec_privilege_check]
	    	[#if rp.isend?? && rp.isend == 2]
	    		[#if rp.enddate?? || rp.welder??]
	    			[@ec_privilege_check uri="/construction/mytask/rollingplan/result/edit"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
				    	,"icon":"icon-plus"
				    	,"clz":"btn-info"
			    	},
			    	[/@ec_privilege_check]
	    		[#else]
			     	[@ec_privilege_check uri="/construction/mytask/rollingplan/result"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
				    	,"icon":"icon-check"
				    	,"clz":"btn-warning"
			    	},
			    	[/@ec_privilege_check]
			    [/#if]
			[#else]
				[#if rp.backFillWorkStepId?? && rp.backFillWorkStepId?size > 0]
					[@ec_privilege_check uri="/construction/mytask/workstep/result/batch"]
				    	{
					    	"title":"${AUTH_MENU.name!}"
					    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
					    	,"icon":"icon-check"
					    	,"clz":"btn-info"
				    	},
				    [/@ec_privilege_check]
			    [/#if]
		    [/#if]
		    
	    	[@ec_privilege_check uri="/hd/workstep/problem/add"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}');"
		    	,"icon":"icon-plus"
		    	,"clz":"btn-info"
	    	},
	    	[/@ec_privilege_check]
	    	
	    	[@ec_privilege_check uri="/construction/mytask/batch_witness"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
		    	,"icon":"icon-bullhorn"
		    	,"clz":"btn-info"
	    	},
	    	[/@ec_privilege_check]
		[#else]
			[#if rp.isend == 2 && (rp.enddate?? || rp.welder??)]
    			[@ec_privilege_check uri="/construction/mytask/rollingplan/result/edit"]
		    	{
			    	"title":"${AUTH_MENU.name!}"
			    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
			    	,"icon":"icon-plus"
			    	,"clz":"btn-info"
		    	},
		    	[/@ec_privilege_check]
    		[#else]
    			[#if rp.rollingplanflag?? && rp.rollingplanflag == 'PROBLEM']
    			
    			[#else]
			     	[@ec_privilege_check uri="/construction/mytask/rollingplan/result"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}'});"
				    	,"icon":"icon-check"
				    	,"clz":"btn-warning"
			    	},
			    	[/@ec_privilege_check]
		    	[/#if]
			    	[@ec_privilege_check uri="/hd/workstep/problem/add"]
			    	{
				    	"title":"${AUTH_MENU.name!}"
				    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?id=${rp.id!}');"
				    	,"icon":"icon-plus"
				    	,"clz":"btn-info"
			    	},
			    	[/@ec_privilege_check]
		    [/#if]
		[/#if]
	    	[@ec_privilege_check uri="/hd/workstep/problem/rollingplan"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?rollingPlanId=${rp.id!}');"
		    	,"icon":"icon-external-link"
		    	,"clz":"btn-purple"
	    	},
	    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if rp_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_rollingPlan]