[@EC.breadcrumbs/]
[@ec_website id=0;website]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>系统设置 <small>*为必填项</small></h1>
    </div><!--/page-header-->
    <div class="row-fluid">
        <!-- PAGE CONTENT BEGINS HERE -->
        <form class="form-horizontal" action="${path!}/management/settings/website" method="post" id="userProfileForm">
            <div class="control-group">
                <label class="control-label" for="sitename">系统名称:</label>
                <div class="controls">
                    <input type="text" placeholder="" id="sitename" name="sitename" value="${website.sitename!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="domain">域名:</label>
                <div class="controls">
                    <input type="text" id="domain" placeholder="" name="domain" value="${website.domain!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="keywords">关键字:</label>
                <div class="controls">
                    <input type="text" id="keywords" placeholder="" name="keywords" value="${website.keywords!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="describe">描述:</label>
                <div class="controls">
                    <input type="text" id="describe" placeholder="" name="describe" value="${website.describe!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="root">站点根目录:</label>
                <div class="controls">
                    <input type="text" id="root" placeholder="" name="root" value="${website.root!}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="pagesizeList">页面大小范围:</label>
                <div class="controls">
                    <input type="text" id="pagesizeList" placeholder="" name="pagesizeList" value="${website.pagesizeList!'[10,50,100]'}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="defaultPagesize">默认页面大小:</label>
                <div class="controls">
                    <input type="text" id="defaultPagesize" placeholder="" name="defaultPagesize" value="${website.defaultPagesize!'10'}">
                </div>
            </div>

            <div class="form-actions">
                <button class="btn" type="reset">
                    <i class="icon-undo"></i> 重置
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn btn-success" type="submit" data-loading-text="正在保存...">
                    <i class="icon-ok"></i> 保存
                </button>
            </div>
        </form>
    </div>
</div>
[/@ec_website]
<script type="text/javascript">
    $(document).ready(function() {
        formValidtor.valid({
			handler:"#userProfileForm",
			rules : {
				sitename : {
        			required : true
        		},
        		domain : {
        			required : true
        		},
        		keywords : {
        			required : true
        		},
        		describe : {
        			required : true
        		},
        		root : {
        			required : true
        		},
        		pagesizeList : {
        			required : true
        		}
        	}
		})
    }); 
</script>
