[@kpi_summary
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"
	pagesize = "${(form.rows)!}"
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
	custom="${form.custom!}"
	sId="${form.sId!}"
	loginId = "${form.loginId!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]

[#if (!u.del) ]

    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
    ,
    "month":"${(u.month?date('yyyyMM')?string('yyyy年MM月'))!}"
    ,
    "departmentName":"${u.departmentName!}"
	,"realName":"${u.realName!}"
	,"selfScoring":"${u.selfScoring!}"
	,"stakeholderScoring":"${u.stakeholderScoring!}"
	,"directSuperiorScoring":"${u.directSuperiorScoring!}"
	,"generalManagerScoring":"${u.generalManagerScoring!}"
	,"compositeScoring":"${u.compositeScoring!}"
    ,"links":[
	    	[@ec_privilege_check uri="/kpi/link/seeScoreUI"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?sId=${u.monthlyMainId!}',notExistDatatable:'false'})"
		    	,"icon":"icon-search"
		    	,"clz":"btn-info"
	    	},
	    	[/@ec_privilege_check]
	    	[@ec_privilege_check uri="/kpi/summary/sheet/deleteHistoryByMainId"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?mainId=${u.id!}')"
		    	,"icon":"icon-trash"
		    	,"clz":"btn-danger"
	    	},
	    	[/@ec_privilege_check]
	    	{}
	    	]
    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
    [/#if]
[/#list]
[/#if]
]}
[/@kpi_summary]