[@ec_kpending
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
	custom="${form.custom!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
    ,"no":${u_index+1!}
	,"departmentName":"${u.departmentName!}"
	,"realName":"${u.realName!}"
	,"month":"${u.month!}"
	,"parentOk1":
	[#if (u.parentok1)??]"${u.parentok1!}"
	[#else]""[/#if]
	,"selfScore2":
	[#if (u.u.selfscore2)??]"${u.selfscore2!}"
	[#else]""[/#if]
	,"parentScore3":
	[#if (u.parentscore3)??]"${u.parentscore3!}"
	[#else]""[/#if]
	,"stakeholderScore3":
	[#if (u.stakeholderscore3)??]"${u.stakeholderscore3!}"
	[#else]""[/#if]
	,"parentScore4":
	[#if (u.u.parentscore4)??]"${u.parentscore4!}"
	[#else]""[/#if]
	,"departmentManagerScore4":
	[#if (u.departmentmanagerscore4)??]"${u.departmentmanagerscore4!}"
	[#else]""[/#if]
	,"chargeLeaderScore4":
	[#if (u.u.chargeleaderscore4)??]"${u.chargeleaderscore4!}"
	[#else]""[/#if]
	,"generalScore5":
	[#if (u.u.generalscore5)??]"${u.generalscore5!}"
	[#else]""[/#if]
	,"generalScore26 ":
	[#if (u.u.generalscore26)??]"${u.generalscore26!}"
	[#else]""[/#if]
    ,"links":[

			[@ec_privilege_check uri="/kpi/summary/sheet/pendingDetail"]
			{
			"title":"${AUTH_MENU.name!}"
			,"onclick":"getValue();modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?mainId=${u.id!}'});"
			,"icon":"icon-edit"
			,"clz":"btn-info"
			},
			[/@ec_privilege_check]

			{}
			]


    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_kpending]