[@EC.breadcrumbs/]
<style>
    .in70{
        width: 55px;
    }
</style>
<div id="page-content" class="clearfix">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">审核情况待办列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/getEnpowerUsers"]
                            <button class="btn btn-small btn-danger" onclick="confirm('${path}${AUTH_MENU.privilege.uri!}','确定获取Enpower账户到APP系统？（耗时约２分钟）')">
                                <i class="icon-refresh"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/add"]
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}${current_uri}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled">
	                                    <label>
	                                        <input type="checkbox" onclick="checkAll(this);"/>
	                                        <span class="lbl"></span>
	                                    </label> 
                                    </th>
                                    <th>序号</th>
                                    <th>部门名称</th>
                                    <th>姓名</th>
                                    <th>月份</th>
                                    <th>待领导审核</th>
                                    <th>待自评分</th>
                                    <th>待领导评分</th>
                                    <th>待干系人评分</th>
                                    <th>待领导评分</th>
                                    <th>待部门经理评分</th>
                                    <th>待分管领导评分</th>
                                    <th>待总经理评分</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
    function getValue(){
        var oTable = $('#userTable').dataTable();
        var oSettings = oTable.fnSettings();
        // 获取页码值
        //alert(oSettings._iDisplayStart);
        //获取页面分割长度
        //alert(oSettings._iDisplayLength);
        dataTable.pageNum=(((oSettings._iDisplayStart)/(oSettings._iDisplayLength))+1);
        dataTable.pagesize=oSettings._iDisplayLength;
    }

    //返回记住的上一次的页面; 记住是调用 getValue()
    var timesRunPage = 0;
    var intervalPageBack = setInterval(dataTable.initPageBack,500);



    $(function() {
		dataTable.initTable({
			"tableID":"#userTable",
			'bSort':false,
			"lengthChange": true,
			"processing" : true,
			"serverSide" : true,
			"autoWidth": true,
			//对每列设置排序规则
			//列的长度必须对应，如果表格有7列，必须写7个，否则会报错
			"columns": [
			            {
			    		  "data":"id",
			    		  "sortable": false
			            },
			            {
			    		  "data":"no"
			            },
			            {
			    		  "data":"departmentName"
			            },
			            {
			    		  "data":"realName"
			            },
			            {
			    		  "data":"month"
			            },
                {
                    "data":"parentOk1"
                },
                {
                    "data":"selfScore2"
                },
                {
                    "data":"parentScore3"
                },
                {
                    "data":"stakeholderScore3"
                },
                {
                    "data":"parentScore4"
                },
                {
                    "data":"departmentManagerScore4"
                },
                {
                    "data":"chargeLeaderScore4"
                },
                {
                    "data":"generalScore5"
                },
			            {
			    		  "data":"links",
			    		  "sortable": false
			            }
	        ],
	      "url": "${path}${current_uri}",
	      "order": [[1, "asc" ]]
		});

		var searchInput=$(".dataTables_filter :input :first");
		searchInput.unbind();

		var searching=function(){
		 	var searchInput=$(".dataTables_filter :input :first");
			$('#userTable').DataTable().search(searchInput.val()).draw(); 
		}
		
		searchInput.bind('blur keyup', function() {
			isSearch(searching);
		});

		searchInput.keypress(function(e) {  
			if (e.which == 13) {
				var searchInput=$(".dataTables_filter :input :first");
				$('#userTable').DataTable().search(searchInput.val()).draw();
			}
		});
	})
</script>
