[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h4 class="lighter">绩效在途评分列表</h4>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-small btn-info" onclick="javascript:loadFile('${path}/kpi/summary/sheet/current');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="pendingTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>部门</th>
                                    <th>姓名</th>
                                    <th>自评分</th>
                                    <th>干系人评分</th>
                                    <th>直接上级评分</th>
                                    <th>总经理评分</th>
                                    <th>综合得分</th>
                                    <th>查看</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if kpiCurrentSheetList?? && (kpiCurrentSheetList?size > 0)]
							[#list kpiCurrentSheetList as u]
                            <tr>
                            	<td>${(u.month?date('yyyyMM')?string('yyyy年MM月'))!}</td>
                            	<td>${(u.departmentName)!}</td>
                            	<td>${(u.realName)!}</td>
                            	<td>${(u.selfScoring)!}</td>
                            	<td>${(u.stakeholderScoring)!}</td>
                            	<td>${(u.directSuperiorScoring)!}</td>
                            	<td>${(u.generalManagerScoring)!}</td>
                            	<td>${(u.compositeScoring)!}</td>
                            	<td>
                            		[@ec_privilege_check uri="/kpi/link/seeScoreUI"]
                            		<button class="btn btn-mini tooltip-info btn-info" data-rel="tooltip" data-original-title="${AUTH_MENU.name!}" onclick="modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?sId=${u.monthlyMainId!}',notExistDatatable:'true'});">
                            			<i class="icon-search"></i>
                            		</button>
                            		[/@ec_privilege_check]
                            		[@ec_privilege_check uri="/kpi/summary/sheet/deleteByMainId"]
                            		<button class="btn btn-mini tooltip-info btn-danger" data-rel="tooltip" data-original-title="${AUTH_MENU.name!}" onclick="deleteByMainId('${u.monthlyMainId!}')">
                            			<i class="icon-trash"></i>
                            		</button>
                            		[/@ec_privilege_check]
                            		
                            		
                            	</td>
                            </tr>
                            [/#list]
							[/#if]
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		
	});

	function deleteByMainId(mainId){
		
		confirm_loadFile('${path}/kpi/summary/sheet/deleteByMainId?mainId=' + mainId,
				"确定删除吗？",	'${path}/kpi/summary/sheet/current?_'
				+ getTime()
		);
		return ;
	}
</script>
