
<div class="modal" id="assignTeamModal" tabindex="-1" role="dialog"  style="width: 1000px;">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>修改待办人</h4>

            </div>
			<form class="form-horizontal" action="${path}/kpi/link/done/score" method="post" id="kpiLibForm" target="main-content">
			<div class="modal-body">
			<div class="row-fluid">
			        <div class="span12">
			            <div class="widget-box">
			                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
			                    <div class="text-center">
			                    [#if (ownBase)?? ]
							        <span class="label label-info">岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
							        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
										&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
							         </span>
						        [#else]
						        [/#if]
			                    </div>
			                </div>
			                <div class="widget-body">
			                    <div class="widget-main">
			                        <table id="userTable" class="table table-striped table-bordered table-hover" style="word-break:break-all;"> 
			                            <thead>
			                                <tr>
												<th class="center">处理步骤</th>
												<th class="center">状态</th>
												<th class="center">处理人</th>
												<th class="hidden-480 center">修改【处理人】【提交】</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                            [#if dbFlows?? && (dbFlows?size > 0)]
										[#list dbFlows as a]
											<tr [#if a.visitStatus=='待处理中']style="color:red;"[/#if] >
												<td width="20%" class="center">${(a.segmentName)!}</td>
												<td width="20%" class="center">${(a.visitStatus)!}</td>
												<td width="20%" class="center" id="handleUserName_${(a.id)!}">${(a.handleUserName)!}</td>
												<td width="40%">

													[#if a.visitStatus=='待处理中']
													<select name="handleId_${(a.id)!}" id="handleId_${(a.id)!}">
														<option value="">--请选择--</option>${a.visitStatus}
														[#if users?? && (users?size > 0)]
														[#list users as u]
														[#if u.id==a.handleUserId ]
														<option value="${u.id}" selected="selected">${u.realname}</option>
														[#else]
														<option value="${u.id}">${u.realname}</option>
														[/#if]

														[/#list][/#if]
													</select>
													<button type="button" value="提交" onclick="updateHandl('${(a.id)!}','handleId_${(a.id)!}')">保存</button>
													[/#if]


												</td>
										    </tr>
										[/#list]
										[/#if]

										</tbody>
			                        </table>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<input type="hidden" name="sId" value="${main.id}"/>
			</form>
        </div>
    </div>
</div>
[#if (ownBase.id)?? ]
<script type="text/javascript">

	function updateHandl(exchangeId, newHandleUserId) {
        var newUserId = $("#"+newHandleUserId).val();
        $.ajax({
            type: 'post',
            url: '${path}/kpi/summary/sheet/pendingDetail',
            data: {exchangeId:exchangeId,handleUserId:newUserId},
            success: function(data) {
                console.log($("#"+newHandleUserId+":selected").text())
				$("#handleUserName_"+exchangeId).text($("#"+newHandleUserId+":selected").text());

                modal.close();
                dataTable.initPageBack();
            }
        });
    }

var plusStakeholderScoreSum = function(ScoreID,sumScoreID){
	try{
		
		var tt = $("td[id^='"+ScoreID+"_']");
		var total =0;
		$.each(tt,function(ind,nd){
			var tval= $(nd).text();
			/* tval = tval.replace('%',''); */
	
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#"+sumScoreID+"").text(total);
			}
		});
	}catch(e){
	}
}

    $(function() {
    	
        $("#kpiLibForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
                        modal.close();
//                        dataTable.refresh();
                        loadFile('${path}${current_uri}?sId=${main.id}&_'+getTime());
                    }
                });
            }
        });
    	
        plusStakeholderScoreSum('stakeholderScore','sumstakeholderScore');
        plusStakeholderScoreSum('selfScore','sumselfScore');
    });
    
    
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]

