[@EC.breadcrumbs/]

<style type="text/css">
<!--
   .mycode{ width:100%; height: 30px;}  
    .mycode ul{ width:100%;}  
    .mycode li{ width:200px; float:left; display:block;}   
-->
</style>

<form class="form-horizontal" action="${path}/kpi/link/done/score" method="post" id="kpiLibForm" target="main-content">
<div id="page-content" class="clearfix">
        
        <table border="0" style="width:100%;"> 
        	<tr>
        		<td width="*"></td>
        		<td width="30%"><h4>月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;查&nbsp;询</h4></td>
        		<td width="35%">
        		<select id="year" name="year" style="margin-left:30px;width:130px;" onchange="yearChanged();">
    	[#list yyyys as y]
    		<option value="${y}"[#if y==currentyear] selected="selected"[/#if]>${y}年</option>
    	[/#list]
    </select>
    
    <select id="month" mouth="month" style="width:130px;" onchange="monthChanged();">
    	[#list mms as m]
    		
    		<option value="${m}"[#if m==currentMonth] selected="selected"[/#if]>${m}月</option>
    	[/#list]
    </select>
        		</td>
        	
        	</tr>
        </table>
    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher" style="display:online; float:left;"></h4>
    
    
    </div>
    [#if (main.id)??]
    
<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(Session.user.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
					        &nbsp;考核月：${(main.month)!}&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}&nbsp;
 							&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                        
    					[#if (main.currentStatus!"")=='selfShowInit']
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                            [/#if]
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                        	[#if (main.id)??]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?year=${main.month?substring(0,4)}&month=${main.month?substring(4,6)}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                            [/#if]
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled" colspan="2">指标名称</th>
                                    [#if ownBase.personnelCategory == 'employees' ]
                                    	<th class="hidden-480 center" colspan="2">直接上级及评分</th>
                                    [#else]
                                    	<th class="hidden-480 center" colspan="2">干系人及评分</th>
					       	 		[/#if]
                                    <th class="hidden-480">完成时间</th>
                                    <th class="hidden-phone">权重</th>
                                    <th style="text-align:center;">自评分</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
<!-- 								20171020zengmao更改开始 -->
								[#if ownBase.personnelCategory == 'employees' ]
                                    	<td width="10%">${(ownBase.immediateSuperior.realname)!} </td>
                                    	<td id="stakeholderScore_${(u.id)!}" width="10%">${(u.stakeholderScoring)!}</td>
                                [#else]
                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
                                    	<td id="stakeholderScore_${(u.id)!}" width="10%">${(u.stakeholderScoring)!}</td>
					       	 	[/#if]
<!-- 								20171020zengmao更改结束 -->
								
								<td>${(u.finishTime?string("yyyy-MM-dd"))!}</td>
								<td id="weight_${(u.id)!}">${(u.weight)!0}%</td>
								<td id="selfScore_${(u.id)!}" align="center" style="text-align:center;">
									${(u.selfScoring)!}
								</td>
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
<!-- 								20171020zengmao更改开始 -->
								[#if ownBase.personnelCategory == 'employees' ]
                                    	<td width="10%">${(ownBase.immediateSuperior.realname)!} </td>
                                    	<td id="stakeholderScore_${(u.id)!}" width="10%">${(u.stakeholderScoring)!}</td>
                                [#else]
                                    	<td width="10%">${(u.lib.stakeholder.realname)!} </td>
                                    	<td id="stakeholderScore_${(u.id)!}" width="10%">${(u.stakeholderScoring)!}</td>
					       	 	[/#if]
<!-- 								20171020zengmao更改结束 -->
								<td>${(u.finishTime?string("yyyy-MM-dd"))!}</td>
								<td id="weight_${(u.id)!}">${(u.weight)!0}%</td>
								<td id="selfScore_${(u.id)!}" align="center" style="text-align:center;">
									${(u.selfScoring)!}
								</td>
							    </tr>
							[/#list]
							[/#if]
								<tr>
								<td width="70%" style="text-align:center;" colspan="3"></td>
								<td width="5%" id="sumStakeholderScore"></td>
								<td width="10%"></td>
								<td width="5%" id="sumWeightdiv"></td>
								<td width="10%" align="center" style="text-align:center;" id="sumSelfScore"></td>
							    </tr>
								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="4">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
							</tbody>
                        </table>
                        <div class="mycode">
						    <ul>
<!-- 								20171020zengmao更改开始 -->
						        [#if ownBase.personnelCategory == 'atThe' ]
						        	<li>分管领导评分: ${main.directSuperiorScoring!}</li>
                                   	<li>总经理评分: ${main.generalManagerScoring!}</li>
                                [/#if]
                                [#if ownBase.personnelCategory == 'director' ]
                                   	<li>部门经理评分:${main.directSuperiorScoring!} </li>
                                [/#if]

<!-- 								20171020zengmao更改结束 -->
						        <li>
                        综合评分:&nbsp;${main.compositeScoring!}
						        </li>

<!-- 						        <li> -->
<!--                         考核系数:&nbsp;${main.kpiCoefficient!} -->
<!-- 						        </li> -->
						    </ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>

<input type="hidden" name="sId" value="${main.id}"/>
[/#if]

</div>

</form>
    
<script type="text/javascript">
//历史绩效查询
var sYear="";
var sMonth="";
function yearChanged(){
	sYear=$("#year").val();
	ifYearMonthChangedSearch();
}
function monthChanged(){
	sMonth=$("#month");
	ifYearMonthChangedSearch();
}
function ifYearMonthChangedSearch(){
	var year = $("#year").val();
	var month= $("#month").val();
	
	if(year==sYear && month==sMonth){
		//没有改变,不做处理
	}else if(sYear!='' && sMonth!=''){
		
		//有变化,进行查询
		loadFile('${path}/kpi/mylib/openScoreUI?year='+year+"&month="+month+"&_"+Math.random());
	}
	
}

var plusScoreSum = function(ScoreID,sumScoreID){
	try{
		var tt = $("td[id^='"+ScoreID+"_']");
		var total =0;
		$.each(tt,function(ind,nd){
			var tval= $(nd).text();
			if(ScoreID == 'weight'){
				tval = tval.replace('%',''); 
				if(tval!=null && tval!='' ){
					total=total+parseInt(tval);
					$("#"+sumScoreID+"").text(total+'%');
				}
			}else{
				if(tval!=null && tval!='' ){
					total=total+parseInt(tval);
					$("#"+sumScoreID+"").text(total);
				}				
			}
		});
	}catch(e){
	}
}


    $(function() {
    	
    	sYear = $("#year").val();
    	

    	
        plusScoreSum('stakeholderScore','sumStakeholderScore');
//         plusScoreSum('weight','sumWeightdiv');
        plusScoreSum('selfScore','sumSelfScore');
        
    });
    
</script>
