[@EC.breadcrumbs/]
<style type="text/css">
<!--
   .mycode{ width:100%; height: 30px;}  
    .mycode ul{ width:100%;}  
    .mycode li{ width:200px; float:left; display:block;}
    
    
-->
</style>
<style>
<!--
.tank_box5{background-color: rgba(0,0,0,0.2);width: 100%;z-index: 200;position: fixed;top:0;height: 100%;display: none;}
.tank_box5 .diz_bj{padding:0 20px;box-sizing:border-box;width:100%;max-width:640px;z-index: 201;margin:110px auto 0;}
.tank_box5 .xnum_div{background: #fff;padding: 15px 10px 0;border-radius: 8px;}
.tank_box5 .shur_div{height: 130px;border: 1px solid #dddddd;border-radius: 5px;position: relative;}
.tank_box5 .shur_div input{width:100%;color:#383838;border: none;outline: none;height: 130px;background: transparent;text-indent: 15px;}
.tank_box5 .shur_div .fdj_img{position: absolute;right: 10px;display: block;width: 40px;top:3px;}
.tank_box5 .close_xhao{width:30px;height: 30px;margin: 15px auto 0;}
.tank_box5 .close_xhao img{width: 100%;}
.tank_box5 .yzm_ttt{border: 1px solid #dddddd;border-radius: 5px;outline: none;height: 45px;line-height: 45px;width: 100%;text-indent:15px;color:#383838;}
.tank_box5 .msgs{position:absolute;right:0;top:0;cursor:pointer;height:46px;text-decoration:none;line-height:46px;width: 90px;color: #927744;font-size: 14px;text-align: center;display: block;border-radius:5px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
.tank_box5 .msgs1{height:46px;text-decoration:none;line-height:46px;width: 90px;color: #999;font-size: 14px;text-align: center;display: block;float: left;border-radius:5px;margin-left:10px;}
-->
</style>


      [@ec_privilege_check uri="/kpi/score/pending"]
      		<div style="position:fixed;width:100%;height:30px;right:20px;top:80px;z-index:1000; ">
            <button class="btn btn-small btn-info" style="float:right;" data-loading-text="正在打开..." onclick="loadFile('${path}/kpi/score/pending?custom=kpimodule&_'+getTime());"><i class="icon-ok"></i>返回列表</button>
           </div>
      [/@ec_privilege_check]

<form class="form-horizontal" action="${path}/kpi/link/done/score" method="post" id="kpiLibForm" target="main-content">
<div id="page-content" class="clearfix">
    <div class="footer-content" style="text-align:center;">
    <h4 class="widget-title ligher">月&nbsp;度&nbsp;工&nbsp;作&nbsp;目&nbsp;标&nbsp;绩&nbsp;效&nbsp;考&nbsp;核&nbsp;待&nbsp;评&nbsp;分</h4>
    </div>
    
<div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
                    <h6>
                            [#if (ownBase)?? ]
					        <div style="text-align: center;height:30px;text-align: right;">岗位名称：${(he.roles[0].name)! }&nbsp;&nbsp;&nbsp;&nbsp;被考核人：${ownBase.user.realname!}&nbsp;&nbsp;&nbsp;&nbsp;直接上级：${(ownBase.immediateSuperior.realname)!}
					        &nbsp;&nbsp;&nbsp;考核日期：${(main.kpiCycle)!}
 							&nbsp;&nbsp;&nbsp;考核状态：${(main.kpiType)!}-${(main.kpiStatus)!}
					         </div>
					        [#else]
					        [/#if]
        			</h6>
        
                    <div class="widget-toolbar">
                        <div class="btn-group">
                        [@ec_privilege_check uri="${current_uri}/add"]
                        
    [#if (main.currentStatus!"")=='selfShowInit']
                            <button class="btn btn-small btn-success" onclick="modal.open({
                            	url:'${path}${AUTH_MENU.privilege.uri!}'
                            	});" >
                                <i class="icon-plus"></i>${AUTH_MENU.name}
                            </button>
                            [/#if]
                        [/@ec_privilege_check]
                        [@ec_privilege_check uri="${current_uri}/delete"]
                            <button class="btn btn-small btn-danger" onclick="batchConfirm(dataTable.tableID,'${path}${AUTH_MENU.privilege.uri!}')">
                                <i class="icon-remove"></i>${AUTH_MENU.name}
                            </button>
                        [/@ec_privilege_check]
                            <button class="btn btn-small btn-info" onclick="loadFile('${path}${current_uri}?sId=${main.id}');">
                                <i class="icon-refresh"></i>刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table id="userTable" class="table table-striped table-bordered table-hover"> 
                            <thead>
                                <tr>
                                    <th class="center sorting_disabled" colspan="2">指标名称</th>
                                    <th class="hidden-480">干系人</th>
                                    <th class="hidden-480">完成时间</th>
                                    <th class="hidden-phone">权重</th>
                                    <th style="text-align:center;">干系人评分<br/>(权重的120%以内)</th>
                                </tr>
                            </thead>
                            <tbody>
                            [#if generalList?? && (generalList?size > 0)]
							[#list generalList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${generalList?size}" width="5%">通<br/>用<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}</td>
								<td>${u.finishTime?string("yyyy-MM-dd")}</td>
								<td id="weight_${(u.id)!}">${u.weight}%</td>
								<td align="center" style="text-align:center;">
								
									<div class="col-sm-9">
									<input id="stakeholderScore_${(u.id)!}" name="stakeholderScore_${(u.id)!}" class="input-sm" style="width:40px;" type="text" value="${(u.stakeholderScoring)!}" onkeyup="scorever(this,${(u.id)});"/>
									<a href="javascript:void(0);" class="btn-small btn-refresh" onclick="oneTicket(${(u.id)!},this)">否</a>
									<input id="melibselfReason_${(u.id)!}" name="melibselfReason_${(u.id)!}" class="input-sm" style="width:40px;" type="hidden" value=""/>
									<input id="melibVetoReason_${(u.id)!}" name="melibVetoReason_${(u.id)!}" class="input-sm" style="width:40px;" type="hidden" value=""/>
									
									</div>
								
								</td>
							    </tr>
							[/#list]
							[/#if]

                            [#if purposeList?? && (purposeList?size > 0)]
							[#list purposeList as u]
								<tr>
								[#if u_index == 0]
								<td style="text-align:center;" rowspan="${purposeList?size}" width="5%">岗<br/>位<br/>指<br/>标</td>
								[/#if]
								<td width="40%">${(u.lib.kpiName)!}</td>
								<td width="20%">${(u.lib.stakeholder.realname)!}</td>
								<td>${u.finishTime?string("yyyy-MM-dd")}</td>
								<td id="weight_${(u.id)!}">${u.weight}%</td>
								<td align="center" style="text-align:center;">
									
									<div class="col-sm-9">
									<input id="stakeholderScore_${(u.id)!}" name="stakeholderScore_${(u.id)!}" class="input-sm" style="width:40px;" type="text" value="${(u.stakeholderScoring)!}" onkeyup="scorever(this,${(u.id)});"/>
									<a href="javascript:void(0);" class="btn-small btn-refresh" onclick="oneTicket(${(u.id)!},this)">否</a>
									<input id="melibselfReason_${(u.id)!}" name="melibselfReason_${(u.id)!}" class="input-sm" style="width:40px;" type="hidden" value=""/>
									<input id="melibVetoReason_${(u.id)!}" name="melibVetoReason_${(u.id)!}" class="input-sm" style="width:40px;" type="hidden" value=""/>
									</div>
								</td>
							    </tr>
							[/#list]
							[/#if]
<!-- 							20171021zengmao添加 -->
							<tr>
								<td style="text-align:center;" valign="center" colspan="5"> </td>

								<td align="center" style="text-align:center;" id="sumstakeholderScore"></td>

							    </tr>
								<tr>
									<td style="text-align:center;" valign="center" width="5%">备注</td>
									<td style="text-align:center;" valign="center" colspan="4">
									 [#if (main.currentStatus)?? && (main.currentStatus=='selfShowInit'||main.currentStatus=='2.selfScore') ]
											<textarea rows="2" cols="300" maxlength="250" style="width:500px;" name="mark">${(main.mark)!}</textarea>
									[#else]
									${(main.mark)!}
									 [/#if]
									</td>
									<td width="10%" class="center">
										<div class="col-sm-9" id="sumweightdiv">
											
										</div>
									</td>
							    </tr>
							</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>


</div>
<input type="hidden" name="sId" value="${main.id}"/>

<div class="tank_box5" style="display: none;" id="tq_yanz">
    <div class="diz_bj">
        <div class="xnum_div" style="padding:15px;">
            <div class="yanz_tq" style="margin-bottom: 0px;">一票否决该员工本月绩效考核，请输入详细理由
            <div class="shur_div" style="margin-bottom:15px;margin-top:15px;">
            	<textarea id="selfreason" name="selfreason" rows="10" cols="70" maxlength="200" style="width:555px;height:125px;"></textarea>
            </div>
            <div class="tq_btn">
                <a class="btn btn-small btn-danger" onclick="setReasonFun();">确定</a>
                <a class="btn btn-small btn-refresh" onclick="closeOneTicket();">取消</a>
            </div>
        </div>
        </div>
    </div>
</div>


[#if main.currentStatus=='3.stakeholderScore']

    <div class="modal-footer" style="clear:both;">
[@ec_privilege_check uri="/kpi/link/done/score"]
        <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."
        ><i class="icon-ok"></i>保存并提交</button>
[/@ec_privilege_check]
    </div>
[#else]
<br/>

[/#if]
</form>
    
[#if (ownBase.id)?? ]
<script type="text/javascript">

function scorever(ths,id){
	
	ths.value=ths.value.replace(/\D/g,'');
	
	var youscore = $("#melibselfScoring_"+id).val();
	var youweight=$("#weight_"+id).html();
	youweight = parseInt(youweight.replace(/\D/g,''));

	var youmax = youweight*120/100;

	var resultmax = parseInt(youmax);
	
	if(ths.value>resultmax){
		ths.value=resultmax;
	}
	plusStakeholderScoreSum();
}
/* 20171021zengmao添加  干系人评分累加*/
var plusStakeholderScoreSum = function(){
	try{
		
		var tt = $("input[name^='stakeholderScore_']");
		
		var total =0;
		$.each(tt,function(ind,nd){
			
			var tval = $(nd).val();
			if(tval!=null && tval!='' ){
				total=total+parseInt(tval);
				$("#sumstakeholderScore").text(total);					
			}
		});
	}catch(e){
	}
}

var melibselfId_tmp = "";
var ths = "";
function setReasonFun(id){
	$("#melibVetoReason_"+melibselfId_tmp).val($("#selfreason").val());
	
	if($("#selfreason").val()==null || $("#selfreason").val().trim()==''){
		bootbox.alert('一票否决该员工本月绩效考核，请输入详细理由');
		return ;
	}
	$("input[name^='stakeholderScore_']").val(0);
	
	$('#tq_yanz').hide();
}

function oneTicket(id,thsx){
	ths = thsx;
	$(thsx).css("background-color","gray");
	melibselfId_tmp = id ;
	$("#tq_yanz").show();
	
}

function closeOneTicket(){
	$("#melibVetoReason_"+melibselfId_tmp).val('');
	$(ths).css("background-color","white");
	$('#tq_yanz').hide();
}

    $(function() {
    	

        $("#kpiLibForm").validate({
            submitHandler: function(form){
                $.ajax({
                    type: 'post',
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    success: function(data) {
                    	
                    	if(data=='true'){

                            modal.close();
//                            dataTable.refresh();
                            loadFile('${path}/kpi/score/pending?sId=${main.id}&_'+getTime());
                    	}else{

                        	alert(data);
                    	}
                    }
                });
            }
        });
        
        $("input[name^='melibselfScoring_']").on("blur", function (e) { 
        	e.preventDefault();

        	melibselfId_tmp = $(this).attr("id").split("_")[1];
        	var score = $(this).val();
        	
        	var weight = $("#weight_"+melibselfId_tmp).html();
        	weight = weight.replace("%","");
        	//alert(melibselfId_tmp+" "+ score+"="+weight+"=")
        	if(weight==score){
        		//alert('评分相同');
        	}else{
            	$("#selfreason").val($("#melibselfReason_"+melibselfId_tmp).val());
    			$("#tq_yanz").show();
        	}
        	

        });
    	
        plusStakeholderScoreSum();
    });
    
    
</script>
[#else]
<!--未初始人员类别和岗位-->
[/#if]
