﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:50px;
  width:200px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:71px;
  top:110px;
  width:370px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u6 {
  position:absolute;
  left:71px;
  top:94px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:70px;
  top:198px;
  width:370px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u9 {
  position:absolute;
  left:71px;
  top:125px;
  width:49px;
  height:32px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:71px;
  top:218px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:70px;
  top:248px;
  width:40px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:130px;
  top:90px;
  width:300px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:130px;
  top:124px;
  width:300px;
  height:74px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:70px;
  top:234px;
  width:370px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u18 {
  position:absolute;
  left:134px;
  top:212px;
  width:200px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:130px;
  top:249px;
  width:75px;
  height:16px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:71px;
  top:446px;
  width:370px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u21 {
  position:absolute;
  left:215px;
  top:249px;
  width:125px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:130px;
  top:273px;
  width:75px;
  height:16px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:215px;
  top:273px;
  width:125px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:130px;
  top:293px;
  width:125px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:77px;
  top:337px;
  width:53px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:140px;
  top:331px;
  width:160px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30_input:disabled {
  color:grayText;
}
#u31 {
  position:absolute;
  left:306px;
  top:336px;
  width:50px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:140px;
  top:387px;
  width:100px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:140px;
  top:355px;
  width:160px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:306px;
  top:362px;
  width:50px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:70px;
  top:315px;
  width:370px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u39 {
  position:absolute;
  left:355px;
  top:430px;
  width:75px;
  height:16px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
