<h3 class="header smaller lighter green" style="margin-left: -45px;">焊口</h3>
<div class="row">
		<div class=".span12">
		<a href="javascript:void(0);" class="btn btn-app btn-mini radius-12" onclick="toNotAssigned('${loginUserRole!}');">
			未分配
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=0 type="weldHK" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-primary btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			计划
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=4 type="weldHK" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-success btn-mini radius-12" onclick="toFinishPlan('${loginUserRole!}');">
			完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=2 type="weldHK" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-warning btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			未完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=3 type="weldHK" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]

			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-info btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			处理中
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=5 type="weldHK" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-danger btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			滞后
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=6 type="weldHK" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-purple btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			施工中
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=1 type="weldHK" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
	</div>

</div>
<h3 class="header smaller lighter green" style="margin-left: -45px;">支架</h3>
<div class="row">
	<div class=".span12">
		<a href="javascript:void(0);" class="btn btn-app btn-mini radius-12" onclick="toNotAssigned('${loginUserRole!}');">
			未分配
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=0 type="weldZJ" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-primary btn-mini radius-12" onclick="toPlan('${loginUserRole!}');"s>
			计划
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=4 type="weldZJ" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-success btn-mini radius-12" onclick="toFinishPlan('${loginUserRole!}');">
			完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=2 type="weldZJ" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-warning btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			未完成
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=3 type="weldZJ" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-info btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			处理中
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=5 type="weldZJ" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-danger btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			滞后
			<span class="badge badge-pink">
			[@ec_taskStatusStatistics status=6 type="weldZJ" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
		<a href="javascript:void(0);" class="btn btn-app btn-purple btn-mini radius-12" onclick="toPlan('${loginUserRole!}');">
			施工中
			<span class="badge badge-pink"> 
			[@ec_taskStatusStatistics status=1 type="weldZJ" taskDate="${taskDate!}" category="${category!}" id="${id!}" isByUser='true';task]
				${task!}
			[/@ec_taskStatusStatistics]
			</span>
		</a>
	</div>

</div>
<script>
function toNotAssigned(loginUserRole){
	console.log(loginUserRole);
	if(loginUserRole == null || loginUserRole == ""){
		[@ec_privilege_check uri="/construction/team"]
			loadFile('${path}${AUTH_MENU.privilege.uri!}');
		[/@ec_privilege_check]
	}else if(loginUserRole == 'clasz'){
		[@ec_privilege_check uri="/construction/endman"]
		loadFile('${path}${AUTH_MENU.privilege.uri!}');
		[/@ec_privilege_check]
	}
}
function toPlan(loginUserRole){
	 if(loginUserRole == 'group' || loginUserRole  == 'clasz'){
		[@ec_privilege_check uri="/construction/mytask"]
		loadFile('${path}${AUTH_MENU.privilege.uri!}');
		[/@ec_privilege_check]
	}
}
function toFinishPlan(loginUserRole){
	 if(loginUserRole == 'group' || loginUserRole  == 'clasz'){
		[@ec_privilege_check uri="/construction/mytask/already"]
		loadFile('${path}${AUTH_MENU.privilege.uri!}');
		[/@ec_privilege_check]
	}
}
</script>