﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:50px;
  width:200px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:61px;
  top:98px;
  width:403px;
  height:139px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:96px;
  top:0px;
  width:170px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:266px;
  top:0px;
  width:132px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:30px;
  width:96px;
  height:52px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:92px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:96px;
  top:30px;
  width:170px;
  height:52px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:166px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:266px;
  top:30px;
  width:132px;
  height:52px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:52px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:82px;
  width:96px;
  height:52px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:52px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:92px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:96px;
  top:82px;
  width:170px;
  height:52px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:52px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:166px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:266px;
  top:82px;
  width:132px;
  height:52px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:52px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:335px;
  top:145px;
  width:55px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:333px;
  top:190px;
  width:57px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:402px;
  top:145px;
  width:55px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:400px;
  top:190px;
  width:57px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
