[@ec_notification 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	type="${form.type!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as p]
    {
    "id":"<label><input type='checkbox' name='ids' value='${p.id!}'/><span class='lbl'></span></label>"
    ,"subject":"${p.subject!"-"}"
    ,"department":"${p.department!"-"}"
    [#if p.startTime??]
    	,"startTime":"${p.startTime?string('yyyy-MM-dd HH:mm:ss')}"
    [#else]
    	,"startTime":"-"
    [/#if]
    [#if p.endTime??]
    	,"endTime":"${p.endTime?string('yyyy-MM-dd HH:mm:ss')}"
    [#else]
    	,"endTime":"-"
    [/#if]
    ,"links":[
	    [#if p.type?? && p.type == "DRAFT"]
	    	[@ec_privilege_check uri="/baseservice/notification/edit"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"loadFile('${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}');"
		    	,"icon":"icon-edit"
		    	,"clz":"btn-info"
	    	},
	    	[/@ec_privilege_check]
    	[/#if]
    	
    	[#if p.type?? && (p.type == "DRAFT" || p.type == "SEND") && (!form.type?? || (form.type?? && form.type != "RECEIVE"))]
	    	[@ec_privilege_check uri="/baseservice/notification/delete"]
	    	{
		    	"title":"${AUTH_MENU.name!}"
		    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${p.id!}')"
		    	,"icon":"icon-trash"
		    	,"clz":"btn-danger"
	    	},
	    	[/@ec_privilege_check]
    	[/#if]
    	
    	[@ec_privilege_check uri="/baseservice/notification/view"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${p.id!}'});"
	    	,"icon":"icon-star"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if p_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_notification]