[@workflow_zips 
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"  
	pagesize = "${(form.rows)!}" 
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=0
;list]
{
"data":[
[#if list?? && (list?size > 0)]
[#list list as f]
    {
    "id":"<label><input type='checkbox' name='id' value='${u.id!}'/><span class='lbl'></span></label>"
    ,"filename":"${f.filename!}"
	,"path":"${f.path!}"
	,"uploadDate":"${f.uploadDate?string('yyyy-MM-dd HH:mm:ss')}"
	,"version":"${f.version}"
	,"status":"[@EC.rd_status code=f.status/]"
	,"deploymentId":"${f.deploymentId!}"
	,"deploymentName":"${f.deploymentName!}"
	,"deploymentDate":"${(f.deploymentDate?string('yyyy-MM-dd HH:mm:ss'))!}"
    ,"links":[
    	[@ec_privilege_check uri="/workflow/zips/deploy"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"appendFile('${path}${AUTH_MENU.uri!}?id=${u.id!}')"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]
    	{}
    	]
    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@ec_user]