﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:547px;
  width:400px;
  height:63px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:63px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:547px;
  width:80px;
  height:55px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:89px;
  width:405px;
  height:101px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:141px;
  top:0px;
  width:93px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:234px;
  top:0px;
  width:66px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:141px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:141px;
  top:30px;
  width:93px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:234px;
  top:30px;
  width:66px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:66px;
  width:141px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:141px;
  top:66px;
  width:93px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:234px;
  top:66px;
  width:66px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:300px;
  top:66px;
  width:100px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:60px;
  top:50px;
  width:200px;
  height:30px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
