    <!-- Edit Price Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="width: 600px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>失效通知详情</h4>
                </div>
                [@ec_expire_notice id=form.id;item]
                [#if item??]
                	<div class="modal-body">
                        <div class="control-group">
                            	各位领导，各部门负责人：
                            	<div>
                            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            	下列文件已失效，不再使用，请在
                            	<span style="color:red;">
                            	[#if item.askReturnDate??]
							    	${item.askReturnDate?string('yyyy年MM月dd日')}
							    [#else]
							    	-
							    [/#if]
							    </span>
							    前，将失效文件（纸质版）退回文档组，同时请自行删除电子版（PDF版），以避免误用。
							    文件失效通知单编号　:	${item.cancCode!}
							    </div>
                        </div>
                        <div class="control-group" align="right">
                            	发布时间:
                                [#if item.releaseDate??]
							    	${item.releaseDate?string('yyyy-MM-dd HH:mm')}
							    [#else]
							    	-
							    [/#if]
                        </div>
                        <div class="control-group">
                            
                        [#if item.cancFileList??]
                        	[#if item.cancFileList?? && (item.cancFileList?size > 0)]
							[#list item.cancFileList as p]
								<div class="control-group">
				                     	${p.cancId!}
				                     	&nbsp;&nbsp;
				                     	
				                     	${p.CTitle!}
				                     	&nbsp;&nbsp;
				                     	(${p.revsion!})
				                 </div>
								<div class="control-group">
				                     	状态:	${p.status!}
				                 </div>
								<div class="control-group">
									[#if p.userList??]
										[#if p.userList?? && (p.userList?size > 0)]
											[#list p.userList as p]
				                     			使用人：${p.borrower!}&nbsp;&nbsp;&nbsp;
				                     			借阅人：${p.loginname!}&nbsp;&nbsp;&nbsp;
				                     			份数：${p.borNum!}
											[/#list]
										[/#if]
									[/#if]
								
				                 </div>
							[/#list]
						[/#if]
                        [/#if]
                        </div>
                        
                        <hr/>
                        
                            
                	</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
                [/#if]
                [/@ec_expire_notice]
            </div>
        </div>
    </div>

