[@kpi_base
	queryType = "list"
	filter = "${form.filter!}"
	pageNum = "${(form.page)!1}"
	pagesize = "${(form.rows)!}"
	order = "${form.order!'desc'}"
	sort = "${form.sort!}"
	pageable=1
	searchValue = "${form.searchValue!}"
;list]
{
"recordsFiltered":${count!0} ,
"recordsTotal":${count!0} ,
"data":[
[#if list?? && (list?size > 0)]
[#list list as u]
    {
    "id":"<label><input type='checkbox' name='ids' value='${u.id!}'/><span class='lbl'></span></label>"
	
	,"id":"${u.id!}"	
	,"userId":"${u.userId!}"	
	,"personnelCategory":"${u.personnelCategory!}"	
	,"stakeholder":"${u.stakeholder!}"	
	,"immediateSuperior":"${u.immediateSuperior!}"	
	,"postId":"${u.postId!}"	
	,"mark":"${u.mark!}"	
	,"isDel":"${u.isDel!}"	
	,"createTime":"${u.createTime!}"
    ,"links":[
    	[@ec_privilege_check uri="/kpi/base/edit"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}'});"
	    	,"icon":"icon-edit"
	    	,"clz":"btn-info"
    	},
    	[/@ec_privilege_check]

    	[@ec_privilege_check uri="/kpi/base/role"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}'});"
	    	,"icon":"icon-key"
	    	,"clz":"btn-success"
    	},
    	[/@ec_privilege_check]

    	[@ec_privilege_check uri="/kpi/base/password"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"modal.open({url:'${path}${AUTH_MENU.privilege.uri!}?id=${u.id!}'});"
	    	,"icon":"icon-unlock"
	    	,"clz":"btn-yellow"
    	},
    	[/@ec_privilege_check]

    	[@ec_privilege_check uri="/kpi/base/delete"]
    	{
	    	"title":"${AUTH_MENU.name!}"
	    	,"onclick":"confirm('${path}${AUTH_MENU.privilege.uri!}?ids=${u.id!}')"
	    	,"icon":"icon-trash"
	    	,"clz":"btn-danger"
    	},
    	[/@ec_privilege_check]

    	{}
    	]
    }
    [#if u_index != (list?size - 1)]
    ,
    [/#if]
[/#list]
[/#if]
]}
[/@kpi_base]