﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:30px;
  width:400px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:396px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:547px;
  width:400px;
  height:63px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:63px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:550px;
  width:80px;
  height:55px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:552px;
  width:80px;
  height:55px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:550px;
  width:80px;
  height:55px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:83px;
  width:405px;
  height:153px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:139px;
  top:0px;
  width:214px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:353px;
  top:0px;
  width:47px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:139px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:139px;
  top:30px;
  width:214px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:353px;
  top:30px;
  width:47px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:66px;
  width:139px;
  height:41px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:41px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:139px;
  top:66px;
  width:214px;
  height:41px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:41px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:353px;
  top:66px;
  width:47px;
  height:41px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:107px;
  width:139px;
  height:41px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:41px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:139px;
  top:107px;
  width:214px;
  height:41px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:41px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:210px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:353px;
  top:107px;
  width:47px;
  height:41px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:60px;
  top:47px;
  width:200px;
  height:30px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:60px;
  top:77px;
  width:400px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:383px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:400px;
  height:1px;
}
#u39 {
  position:absolute;
  left:430px;
  top:124px;
  width:20px;
  height:16px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:430px;
  top:162px;
  width:20px;
  height:16px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:430px;
  top:204px;
  width:20px;
  height:16px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
