<script type="text/javascript">
    $(function(){
        //进行表单验证
        var $form = $('#userSearchForm');
        var table = "#dbDataTable";
        var $table = $(table);
        var colLength = $table.find("tr").eq(0).find("th").length;

        var url = $form.attr("action");    // // var params = $form.serialize();

        // // url += "?" + params;
        var $btn = $form.find("a.btn").eq(0);
        $form.form({
          url:url,
            onSubmit: function(){
            //进行表单验证
                if(isFormEmpty($form)) {
                    $.messager.alert("警告","请输入查询内容!","warning");
                    return false
                }
                var isValid = $form.form('validate');       
                if(isValid){
                    disableBtn($btn);
                }
                return isValid; // 返回false,将阻止表单提交 
            },
          success:function(data){
              enableBtn($btn);
              operator.refresh({table:table});
          }
       });
        
        
        $table.datagrid({
        		method:'post'
        		,checkOnSelect:false
    	        ,url:'${path}/management/settings/db'
    	        ,iconCls:'icon-database'
    	        ,fitColumns:true
    	        ,rowStyler:function(index,row){
                	return {'class':'EC-table-row'};
                }
                ,toolbar: [
       	            	[@ec_privilege_check uri="/management/settings/db/backup"]
       			    	{
       		            	iconCls: 'icon-add',
       				    	text:'${AUTH_MENU.name}',
       				    	plain:true,
       				    	cls:"easyui-linkbutton",
       				    	handler: function(){
       				    		operator.remote({
       				    			title:'${AUTH_MENU.name}'
       				    			,url:'${path!}${AUTH_MENU.privilege.uri!}'
       				    			,content:"您确定要立即备份数据库?"
       				    			,table:table
       				    		});
       						}
       	            	},
       	            	[/@ec_privilege_check]
       	            	
       	            	{
       			    		iconCls: 'icon-reload',
       		 		    	text:'刷新',
       		 		    	plain:true,
       		 		    	handler: function(){
       		 		    		operator.refresh({
       		 		    			table:table
    	   		 		    	});
       		 				}
       	            	}
       			    ]
                ,onLoadSuccess:function(data){
        	        	if(data.total == 0){
        	        		$('#dbDataTable').datagrid('appendRow',{
        	        			databaseName: '没有记录'
        	        		});
        	        		$('#dbDataTable').datagrid('mergeCells',{
        	        			index: 0,
        	        			field: 'databaseName',
        	        			colspan:colLength - 1
        	        		});
        	        	}
        	        }
        });
    }) 
    
</script>
<!-- 工具栏 -->
<div class="EC-right-content">
    <h2 class="EC-title-1">当前位置:<i class="icon-user EC-icon-layout"></i>[@EC.location /]</h2>
    <!-- <div class="easyui-panel" title="查询信息" style="margin-bottom: 20px;">
        <div class="EC-search-pannel EC-fieldset">
        <form id="userSearchForm" method="post" action="javascript:void(0);">
                <label>数据库文件名:</label><input type="text" name="databaseName" class="EC-form-input"/>
                <a href="javascript:void(0);" onclick="submitReq(this);" class="btn easyui-linkbutton" iconCls="icon-search">搜索</a>
        </form>
        </div>
    </div> -->
    
    <div id="dataWrap">
        <table id="dbDataTable" title="数据库列表">
            <thead>
                <tr>
                    <th data-options="field:'id',checkbox:true,styler:tdPadding">name</th>
                    <th data-options="field:'databaseName',width:100,align:'center',sortable:true">数据库文件名</th>
                    <th data-options="field:'size',width:100,align:'center',sortable:true">文件大小</th>
                    <th data-options="field:'createtime',width:100,align:'center',sortable:true">生成日期</th>
                    <th data-options="field:'links',width:100,align:'center',formatter:operator.links">操作</th>
                </tr>
            </thead>
            
        </table>
    </div>
</div>