    <!-- Edit Price Form -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><span class="label label-info  arrowed-right"><i class="icon-user"></i></span>通知详情</h4>
                </div>
                [@ec_notification id=form.id;item]
                [#if item??]
                	<div class="modal-body">
                        <div class="control-group">
                            	主题:   ${item.subject!}
                        </div>
                        <div class="control-group">
                            <label class="control-label">正文:</label>
                            <div class="controls">
                                ${item.content!}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">参与人:</label>
                            <div class="controls">
                                [#if item.participants?? && item.participants?size > 0]
                                	[#list item.participants as user]
                                		${user.realname!}&nbsp;&nbsp;&nbsp;
                                	[/#list]
                                [/#if]
                            </div>
                        </div>
                        <div class="control-group">
                            	通知类别:	
                            	[#if category??]
									[#list category as at]
										[#if at.key == item.category]${at.value!}[/#if]
									[/#list]
								[/#if]
                        </div>
                        <div class="control-group">
                            	部门:	${item.department!}
                        </div>
                        <div class="control-group">
                            	开始时间:
                                [#if item.startTime??]
							    	${item.startTime?string('yyyy-MM-dd HH:mm:ss')}
							    [#else]
							    	-
							    [/#if]
                        </div>
                        <div class="control-group">
                            	结束时间:
                                [#if item.endTime??]
							    	${item.endTime?string('yyyy-MM-dd HH:mm:ss')}
							    [#else]
							    	-
							    [/#if]
                        </div>
                        <div class="control-group">
                            	提醒时间:
                                [#if alarmTime??]
									[#list alarmTime as at]
										[#if at.key == item.alarmTime]${at.value!}[/#if]
									[/#list]
								[/#if]
                        </div>
                        <div class="control-group">
                            	存档类型:
                                [#if type??]
									[#list type as at]
										[#if at.key == item.type]${at.value!}[/#if]
									[/#list]
								[/#if]
                        </div>
                        <hr/>
                        <div class="control-group">
                            	文件列表:
                        </div>
                        [#if item.notificationFiles?? && item.notificationFiles?size > 0]
			   			  	[#list item.notificationFiles as file]
			   			  		<a style="display: inline;" href="${path!}/hdxt/api/files/notification/${file.path!}" target="_blank">${file.fileName!}</a><br/>
			   			  	[/#list]
			   			[/#if]
                	</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
                [/#if]
                [/@ec_notification]
            </div>
        </div>
    </div>

