[@EC.breadcrumbs/]
<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>修改通知</h1>
    </div><!--/page-header-->

    <div class="row-fluid">
        <div class="span12">
        	[@ec_notification id=form.id;c]
              <form class="form-horizontal" action="${path!}/baseservice/notification/add" method="post" id="editNotification" >
              <label id="tips" style="margin-left:30px; float: center;color: red;"></label>
              <input type="hidden" name="id" id="id" value="${c.id!}" />
              <div id="fileIds" style="display: none;"></div>
              [#if currentTime??]
              	<input type="hidden" id="currentTime" name="currentTime" value="${currentTime?string('yyyy-MM-dd HH:mm:ss')}"></input>
              [/#if]
              <div class="">
                  <div class="control-group">
                      <label class="control-label" for="subject">主题:</label>
                      <div class="controls">
                          <input type="text" name="subject" id="subject" placeholder="" value="${c.subject!}"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="content">正文:</label>
                      <input type="hidden" name="content" id="content" />
                      <div class="controls">
                      	[@EC.full_text content=c.content/]
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="participants">参会人:</label>
                      <div class="controls">
                      	[#if department??]
                      		[@EC.ec_department_tree nodes=department title="参会人" name="participants" selected=c.participants /]
                      	[/#if]
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="category">通知类别:</label>
                      <div class="controls">
                          <select id="category" name="category">
								[#if category??]
									[#list category as at]
										<option value="${at.key!}" [#if at.key == c.category]selected[/#if]>${at.value!}</option>
									[/#list]
								[/#if]
						  </select>
                      </div>
                  </div>
                 <div class="control-group">
                      <label class="control-label" for="department">部门:</label>
                      <div class="controls">
                          <input type="text" name="department" id="department" placeholder="" value="${c.department!}"/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="startTime">开始时间:</label>
                      <div class="controls">
                      		[#if c.startTime??]
                         		<input id="startTime" type="text" class="Wdate" name="startTime" value="${c.startTime?string('yyyy-MM-dd HH:mm:ss')}" readonly="readonly" onkeydown="repeal(event);"  placeholder="开始时间" onFocus="dateTimePannel({min:'currentTime'});"/> 
                         	[#else]
                         		<input id="startTime" type="text" class="Wdate" name="startTime" readonly="readonly" onkeydown="repeal(event);"  placeholder="开始时间" onFocus="dateTimePannel({min:'currentTime'});"/> 
                         	[/#if]
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="endTime">结束时间:</label>
                      <div class="controls">
                      		[#if c.endTime??]
                         		<input id="endTime" type="text" class="Wdate" name="endTime" value="${c.endTime?string('yyyy-MM-dd HH:mm:ss')}" readonly="readonly" onkeydown="repeal(event);"  placeholder="结束时间" onFocus="dateTimePannel({min:'startTime'});"/> 
                         	[#else]
                         		<input id="endTime" type="text" class="Wdate" name="endTime" readonly="readonly" onkeydown="repeal(event);"  placeholder="结束时间" onFocus="dateTimePannel({min:'startTime'});"/> 
                         	[/#if]
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="alarmTime">提醒时间:</label>
                      <div class="controls">
                          <select id="alarmTime" name="alarmTime">
								[#if alarmTime??]
									[#list alarmTime as at]
										<option value="${at.key!}" [#if at.key == c.alarmTime]selected[/#if]>${at.value!}</option>
									[/#list]
								[/#if]
							</select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label" for="type">存档类型:</label>
                      <div class="controls">
                          <select id="type" name="type">
							  [#if type??]
									[#list type as at]
										<option value="${at.key!}" [#if at.key == c.type]selected[/#if]>${at.value!}</option>
									[/#list]
								[/#if]
						  </select>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">文件上传:</label>
                      <div class="controls">
                          <div id="multi_upload" class="gebo-upload" style="font-size: 14px;">You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</div>
			   			  <label style="width: 400px !important; color: red; font-size: 14px;" id="uploadTip"></label>
			   			  <hr/>
			   			  [#if c.notificationFiles?? && c.notificationFiles?size > 0]
			   			  	[#list c.notificationFiles as file]
			   			  	<a id="file_${file.id!}" style="display: inline;" href="${path!}/hdxt/api/files/notification/${file.path!}" target="_blank">${file.fileName!}</a><span onclick="removeFiles(this, '${file.id!}');" style="cursor: pointer;">&times;</span><br/>
			   			  	[/#list]
			   			  [/#if]
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="submit" class="btn btn-primary" data-loading-text="正在保存..."><i class="icon-ok"></i>保存</button>
              </div>
              </form>
              [/@ec_notification]
         </div>
    </div>
	<script type="text/javascript">
	var filesNumber = 0;
	var maxNumber = 5;
				
	$(document).ready(function () {
		$("#multi_upload").pluploadQueue({
			runtimes : 'html5,gears,flash,silverlight,browserplu',
			url : '${path!}/baseservice/notification/add/upload',
			max_file_size : '5mb',
			unique_names : true,
			urlstream_upload: true,
	
//			filters : [{title : "文件", extensions : "*"}],
	
			flash_swf_url : 'plugins/plupload/js/plupload.flash.swf',
			silverlight_xap_url : 'plugins/plupload/js/plupload.silverlight.xap',
			
			init : {
				FilesAdded: function(up, files) {
					filesNumber = up.files.length;
					if (filesNumber > maxNumber){
						$(".plupload_file_name").hide();
						$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
					} else {
						$(".plupload_file_name").show();
						$("#uploadTip").html("");
					}
				},
		
				FilesRemoved: function(up, files) {
					filesNumber = up.files.length;
					if (filesNumber > maxNumber){
						$(".plupload_file_name").hide();
						$("#uploadTip").html("你选择的文件不能超过 " + maxNumber + " 个。");
					} else {
						$(".plupload_file_name").show();
						$("#uploadTip").html("");
					}
				},
				
				FileUploaded: function(up, file, info) {					
//					dataTable.refresh();
					var jsonObj = eval("(" + info.response + ")");
					$("#fileIds").html($("#fileIds").html() + "<input type='hidden' name='fileIds' value='" + jsonObj.responseResult + "'/>");
				},
				
				UploadComplete: function(up, file) {
					$("#uploadTip").html("");
					ajaxSubmit();
				},
				
				StateChanged: function(up) {
					if (up.state == plupload.STARTED){
						$("#uploadTip").html("正在上传文件到服务器......");
					}
				}
			}
		});
		
		$(".plupload_start").hide();
		
		$("#editNotification").validate({
			rules: {
				type: {
					required: true
				}
			},
			messages: {
				type: {
					required: "必须选择存档类型."
				}
			},
			submitHandler: function(form){
				if (filesNumber > 0){
					$(".plupload_start").click();
				} else {
					ajaxSubmit();
				}
				
				return false;
			}
		});
	});
	
	function ajaxSubmit(){
		// 获取编辑器区域完整html代码
		var html = editor.$txt.html();
        // 获取编辑器纯文本内容
        var text = editor.$txt.text();
		
		$("#content").val(html); 
		
		$.ajax({
		    type: 'post',
		    url: $("#editNotification").attr('action'),
		    data: $("#editNotification").serialize(),
		    dataType: "JSON",
		    success: function(data) {
		    	if (data.code == "1000"){
		    		loadFile('${path!}/baseservice/notification?type=' + $("#type").val());
		    	} else {
		    		tips.error(data.message);
		    	}
		    }
		});
	}
	
	function removeFiles(e, id){
		$.ajax({
		    type: 'post',
		    url: "${path!}/baseservice/notification/file/" + id,
		    dataType: "JSON",
		    success: function(data) {
		    	if (data.code == "1000"){
		    		$(e).hide();
		    		$("#file_" + id).hide();
		    	} else {
		    		tips.error(data.message);
		    	}
		    }
		});
	}
	</script>
</div>

